/*#less_info#(
"handle"  => "page-title-skin1",
"deps"    => array(),
"ver"     => "1.0.0",
"media"   => "all"
)#
*/
.module-page-title.page-title-skin1{
  .item-page-title{
    background-color: @main-color;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    padding: 2*@padding-lg 0;
    text-align: center;
    width: 100%;
    .page-title-inner {
        display: table;
        height: 100%;
        margin: 0 auto;
        overflow: hidden;
        //padding: 0 30px;
        position: relative;
        width: 100%;
        .page-title-continer {
            display: table-cell;
            vertical-align: middle;
            text-align: center;
            &.module-title > *{
                line-height: @line-height-small;
                margin: 0;
                .high-color(@main-color);
            }
        }
    }
  }
.breadcrumbs-skin2,
.breadcrumbs-skin3,
.breadcrumbs-skin4{
  margin-top: 8px;
}
.breadcrumbs-skin5,.breadcrumbs-default{
    border-top:0px solid @base-border-color-light;
}
@media (max-width: @screen-sm-max) {
  .item-page-title{
    padding: @padding-lg 0;
  }
}

}

