 /* slider */
.ui-slider-horizontal {
    background: none repeat scroll 0 0 #eee !important;
    border: 0 solid transparent !important;
    border-radius: 20px !important;
    box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.3) inset !important;
    float: right;
    height: 3px !important;
}
.ui-slider {
    margin: 7px 0;
    position: relative;
    text-align: left;
    width: 100%;
}
.ui-state-default, .ui-widget-content .ui-state-default, .ui-widget-header .ui-state-default {
  /*  background: none repeat scroll 0 0  transparent;    */
    color: #555555;
}
.ui-slider-horizontal .ui-slider-handle {
    margin-left: -0.6em !important;
    top: -0.4em !important;
}
.ui-slider .ui-slider-handle {
    border: 4px solid #00ccff;
    border-radius: 50px !important;
    box-shadow: 0 0 1px rgba(0, 0, 0, 0.1);
    cursor: pointer !important;
    height: 13px !important;
    position: absolute !important;
    width: 13px !important;
    z-index: 2 !important;
}