/*
#less_info#(
"handle"  =>"main-tab-skin9",
"deps"    => array("main-tab"),
"ver"     => "1.0.0",
"media"   => "all",
"import"  => array(
    "@sed-modules-root/tab/less/main.less"
)
)#
*/
@import "../../../less/main.less";
.module-tab.tab-skin9{
    position: relative;
    //background: #eee;
    //border-bottom: 2px solid @main-color;
    .nav-tabs {
        display: block;
        border: none;
        > li {
            float: left;
            // Make the list-items overlay the bottom border
            margin-bottom: -1px;
            @media (max-width: @screen-xs-max) {
              float: none;
              display: block;
              width: 100%;
            }
            &,&.active{
                &:first-child{
                    > a{
                         &,
                         &:hover,
                         &:focus,
                         &:active{
                            background-color: #222;
                            .high-color(#222);
                         }
                         &::before {
                            content: "\f0c9";
                            font-family: FontAwesome;
                            width: 1em;
                            height: 1em;
                            display: inline-block;
                            line-height: 1em;
                            font-size: 15px;
                            vertical-align: middle;
                            margin-left: 5px;
                        }
                    }
                }
            }

            > a {
                outline: none;
                .high-color(@nav-tabs-bg);
                margin-right: 0;
                line-height: @line-height-base;
                border: 0px solid !important;
                padding: 10px 15px;
                .border-radius(0);
                text-align: center;
                &:hover {
                    background: none;
                    color: @main-color-darker;
                }
                &::after {
                    content: "\f107";
                    font-family: FontAwesome;
                    width: 1em;
                    height: 1em;
                    display: inline-block;
                    line-height: 1em;
                    font-size: 15px;
                    vertical-align: middle;
                    margin-right: 5px;
                }
            }
            // Active state, and its :hover to override normal :hover
            &.active > a {
                &,
                &:hover,
                &:focus {
                    .high-color(@main-color);
                    background-color: @main-color;
                    cursor: default;
                    &::after {
                        content: "\f106";
                    }
                }
            }
        }
    }

    .tab-content {
        > div{
            .transition(all 0.5s ease-in-out);
            .high-color(@main-color);
            background-color: @main-color;
            position: absolute;
            z-index: 999;
            top: 100%;
            left:0;
            right: 0;
            min-height: 50px;
            .module-megamenu.megamenu-defult.navbar-wrap{
                z-index: 1000;
                .container-megamenu .navbar .navbar-nav > li > a {
                    min-height: 50px;
                }
                &.vertical-megamenu.navbar-wrap{
                    .container-megamenu .navbar .navbar-nav > li > a {
                        min-height: 40px;
                    }
                }

            }
            .module-megamenu.megamenu-defult.vertical-megamenu.navbar-wrap .container-megamenu .navbar .navbar-nav > .dropdown.dropdown-vertical-submenu-right > .dropdown-menu {
                margin-top: -40px !important;
            }

        }
        > div:first-child {
            background: @body-bg;
            border: 1px solid @base-border-color-light;
            width: 250px;
            height: 0;
            .left(0);
            .transition(all 2s ease);
        }
        > div.active:first-child {
            height: auto;
        }
        > .tab-pane {
            display: none;
        }
        > .active {
            display: block;
        }
    }

}

.module.module-tab.tab-skin9.tab-resize-responsive{
    display: block;
    .nav-tabs{
        display: block;
        > li{
            float: none;
            display: block;
            width: 100%;
        }
    }

}

.rtl-body .module.module-tab.tab-skin9{
    .nav-tabs {
        > li {
            float: right;
        }
    }
}

