
.module.module-button .btn {
    margin: 0;
    padding: 6px 24px;
    border-radius: 0px;
    min-width: 96px;
    border: 1px solid transparent;
    display: inline-block;
    font-weight: normal;
    text-align: center;
    vertical-align: middle;
    touch-action: manipulation;
    cursor: pointer;
    background-image: none;
    white-space: nowrap;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-box-shadow: none;
    box-shadow: none; 
    -webkit-transition: all .35s ease;
    -o-transition: all .35s ease;
    transition: all .35s ease
}
  
.module.module-button .btn:focus,
.module.module-button .btn:active:focus,
.module.module-button .btn.active:focus,
.module.module-button .btn.focus,
.module.module-button .btn:active.focus,
.module.module-button .btn.active.focus {
    outline: thin dotted;
    outline: 5px auto -webkit-focus-ring-color;
    outline-offset: -2px
}

.module.module-button .btn:hover,
.module.module-button .btn:focus,
.module.module-button .btn.focus {
    text-decoration: none
}

.module.module-button .btn:active,
.module.module-button .btn.active {
    outline: 0;
    background-image: none;
    -webkit-box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
    box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125)
}

.module.module-button .btn.disabled,
.module.module-button .btn[disabled],
fieldset[disabled] .btn {
    cursor: not-allowed;
    opacity: .65;
    filter: alpha(opacity=65);
    -webkit-box-shadow: none;
    box-shadow: none
}

a.btn.disabled,
fieldset[disabled] a.btn {
    pointer-events: none
}

.module.module-button .btn-success {
    color: #fff;
    background-color: #75bb15;
    border-color: #75bb15
}

.module.module-button .btn-success:hover,
.module.module-button .btn-success:focus,
.module.module-button .btn-success.focus,
.module.module-button .btn-success:active,
.module.module-button .btn-success.active {
    color: #fff;
    background-color: #588d10;
    border-color: #2d4808
}

.module.module-button .btn-success-outline {
    color: #75bb15;
    background-color: transparent;
    border-color: #75bb15
}

.module.module-button .btn-success-outline:focus,
.module.module-button .btn-success-outline.focus,
.module.module-button .btn-success-outline:hover,
.module.module-button .btn-success-outline:active,
.module.module-button .btn-success-outline.active {
    color: #fff;
    background-color: #75bb15;
    border-color: #75bb15
}

.module.module-button .btn-info {
    color: #fff;
    background-color: #2ca5dd;
    border-color: #2ca5dd
}

.module.module-button .btn-info:hover,
.module.module-button .btn-info:focus,
.module.module-button .btn-info.focus,
.module.module-button .btn-info:active,
.module.module-button .btn-info.active {
    color: #fff;
    background-color: #1e87b8;
    border-color: #135776
}

.module.module-button .btn-info-outline {
    color: #2ca5dd;
    background-color: transparent;
    border-color: #2ca5dd
}

.module.module-button .btn-info-outline:focus,
.module.module-button .btn-info-outline.focus,
.module.module-button .btn-info-outline:hover,
.module.module-button .btn-info-outline:active,
.module.module-button .btn-info-outline.active {
    color: #fff;
    background-color: #2ca5dd;
    border-color: #2ca5dd
}

.module.module-button .btn-warning {
    color: #fff;
    background-color: #e6a100;
    border-color: #e6a100
}

.module.module-button .btn-warning:hover,
.module.module-button .btn-warning:focus,
.module.module-button .btn-warning.focus,
.module.module-button .btn-warning:active,
.module.module-button .btn-warning.active {
    color: #fff;
    background-color: #b37d00;
    border-color: #b37d00
}

.module.module-button .btn-warning-outline {
    color: #e6a100;
    background-color: transparent;
    border-color: #e6a100
}

.module.module-button .btn-warning-outline:focus,
.module.module-button .btn-warning-outline.focus,
.module.module-button .btn-warning-outline:hover,
.module.module-button .btn-warning-outline:active,
.module.module-button .btn-warning-outline.active {
    color: #fff;
    background-color: #e6a100;
    border-color: #e6a100
}

.module.module-button .btn-danger {
    color: #fff;
    background-color: #d9020d;
    border-color: #d9020d
}

.module.module-button .btn-danger:hover,
.module.module-button .btn-danger:focus,
.module.module-button .btn-danger.focus,
.module.module-button .btn-danger:active,
.module.module-button .btn-danger.active {
    color: #fff;
    background-color: #a6020a;
    border-color: #a6020a
}

.module.module-button .btn-danger-outline {
    color: #d9020d;
    background-color: transparent;
    border-color: #d9020d
}

.module.module-button .btn-danger-outline:focus,
.module.module-button .btn-danger-outline.focus,
.module.module-button .btn-danger-outline:hover,
.module.module-button .btn-danger-outline:active,
.module.module-button .btn-danger-outline.active {
    color: #fff;
    background-color: #d9020d;
    border-color: #d9020d
}

.module.module-button .btn-gray {
    color: #fff;
    background-color: #9da3b1;
    border-color: #9da3b1
}

.module.module-button .btn-gray:hover,
.module.module-button .btn-gray:focus,
.module.module-button .btn-gray.focus,
.module.module-button .btn-gray:active,
.module.module-button .btn-gray.active {
    color: #fff;
    background-color: #81889a;
    border-color: #5c6373
}

.module.module-button .btn-gray-outline {
    color: #9da3b1;
    background-color: transparent;
    border-color: #9da3b1
}

.module.module-button .btn-gray-outline:focus,
.module.module-button .btn-gray-outline.focus,
.module.module-button .btn-gray-outline:hover,
.module.module-button .btn-gray-outline:active,
.module.module-button .btn-gray-outline.active {
    color: #fff;
    background-color: #9da3b1;
    border-color: #9da3b1
}

.module.module-button .btn-black {
    color: #fff;
    background-color: #212121;
    border-color: #212121
}

.module.module-button .btn-black:hover,
.module.module-button .btn-black:focus,
.module.module-button .btn-black.focus,
.module.module-button .btn-black:active,
.module.module-button .btn-black.active {
    color: #fff;
    background-color: #080808;
    border-color: #000
}

.module.module-button .btn-black-outline {
    color: #212121;
    background-color: transparent;
    border-color: #212121
}

.module.module-button .btn-black-outline:focus,
.module.module-button .btn-black-outline.focus,
.module.module-button .btn-black-outline:hover,
.module.module-button .btn-black-outline:active,
.module.module-button .btn-black-outline.active {
    color: #fff;
    background-color: #212121;
    border-color: #212121
}



.module.module-button .btn-white {
    color: #000;
    background-color: #fff;
    border-color: #fff
}

.module.module-button .btn-white:hover,
.module.module-button .btn-white:focus,
.module.module-button .btn-white.focus,
.module.module-button .btn-white:active,
.module.module-button .btn-white.active {
    color: #000;
    background-color: #e6e6e6;
    border-color: #e0e0e0
}

.module.module-button .btn-white-outline {
    color: #fff;
    background-color: transparent;
    border-color: #fff
}

.module.module-button .btn-white-outline:focus,
.module.module-button .btn-white-outline.focus,
.module.module-button .btn-white-outline:hover,
.module.module-button .btn-white-outline:active,
.module.module-button .btn-white-outline.active {
    color: #000;
    background-color: #fff;
    border-color: #fff
}


.module.module-button .btn-link {
    font-weight: normal;
    border-radius: 0
}

.module.module-button .btn-link,
.module.module-button .btn-link:active,
.module.module-button .btn-link.active,
.module.module-button .btn-link[disabled],
fieldset[disabled] .btn-link {
    background-color: transparent;
    -webkit-box-shadow: none;
    box-shadow: none
}

.module.module-button .btn-link,
.module.module-button .btn-link:hover,
.module.module-button .btn-link:focus,
.module.module-button .btn-link:active {
    border-color: transparent
}

.module.module-button .btn-link:hover,
.module.module-button .btn-link:focus {
    text-decoration: none;
    background-color: transparent
}

.module.module-button .btn-link[disabled]:hover,
fieldset[disabled] .btn-link:hover,
.module.module-button .btn-link[disabled]:focus,
fieldset[disabled] .btn-link:focus {
    text-decoration: none
}


.module.module-button .btn-lg {
    padding: 10px 30px;  
    font-size: 17px;
    line-height: 1.3333333;
    border-radius: 0px
}

.module.module-button .btn-sm {
    padding: 5px 10px;
    font-size: 12px;
    line-height: 1.5;
    border-radius: 0px
}

.module.module-button .btn-xs {
    padding: 1px 5px;
    font-size: 12px;
    line-height: 1.5;
    border-radius: 0px
}

.module.module-button .btn-block { 
    display: block;
    width: 100%
}

.btn-block + .btn-block {
    margin-top: 5px
}

input[type="submit"].btn-block,
input[type="reset"].btn-block,
input[type="button"].btn-block {
    width: 100%
}

