/* testimonial-skin3 Variables
================================= */
@skin-border-color:         transparent;
@skin-bar-bg:               mix(@main-color, #888);

@panel-border-radius:       @border-radius-base;

@skin-panel-bg:             @main-color;
@skin-heading-bg:           @skin-panel-bg;
@skin-body-bg:              @skin-panel-bg;
@skin-footer-bg:            @skin-panel-bg;

@skin-arrow:                9px;
@skin-arrow-border:         10px;