

@separator-main-bg:            @main-color;
@separator-base-b-ltr-bg:      @base-color-b-lighter;
@separator-border-color:       @base-border-color-light;
@separator-border-radius:      @border-radius-base;
@separator-line-height:        @line-height-base;
@separator-font-size:          @font-size-base;
@separator-color:              @main-color;