/*
#less_info#(
"handle" => "parallax-slider-default-less",
"deps" => array(),
"ver" => "1.0.0",
"media" => "all"
)#
*/
/* Slider Style */
.module.parallax-slider{
	width:100%;
	position:relative;
	overflow:hidden;
    background-color:rgba(0,0,0,0.03);
	.box-shadow(0 0 8px rgba(0, 0, 0, 0.8));

.pxs_bg1{
    background-image: url("@{sed-modules-root}parallax-slider/images/bg/bg1.png");
}
.pxs_bg2{
    background-image: url("@{sed-modules-root}parallax-slider/images/bg/bg2.png");
}
.pxs_bg3{
    background-image: url("@{sed-modules-root}parallax-slider/images/bg/bg3.png");
}
.pxs_bg div{
	position:absolute;
	top:0px;
	left:0px;
	width:7584px; /*1264px window width times number of images*/
	height:100%;
	background-repeat:repeat;
	background-position:top left;
	background-color:transparent;
}
.pxs_slider_wrapper{
	display:none;
}
.parallax-slider ul{
	margin:0px;
	padding:0px;
	list-style:none;
}
ul.pxs_slider{
    height: 100%;
    left: 0;
    overflow: hidden;
    position: absolute;
    top: 0;
}
ul.pxs_slider li {
    float: left;
    height: 100%;
    overflow: hidden;
    position: relative;
}
.image-container {
    border: 10px solid transparent;
	-moz-border-radius:3px;
	-webkit-border-radius:3px;
	border-radius:3px;
	-moz-box-shadow:0 0 9px rgba(0, 0, 0, 0.4);
	-webkit-box-shadow:0 0 9px rgba(0, 0, 0, 0.4);
	box-shadow:0 0 9px rgba(0, 0, 0, 0.4);
    overflow: hidden;
    position: absolute;
    vertical-align: middle;
}
/*
ul.pxs_slider li{
    display: inline-block;
    float: left;
    height: 79%;
    margin: 60px 0;
    overflow: hidden;
}
ul.pxs_slider li:before {
    background: none repeat scroll 0 0 transparent;
    border: 10px solid transparent;
	-moz-border-radius:4px;
	-webkit-border-radius:4px;
	border-radius:4px;
	-moz-box-shadow:0px 0px 7px #222;
	-webkit-box-shadow:0px 0px 7px #222;
	box-shadow:0px 0px 7px #222;
    content: "";
    height: 83.7%;
    margin-bottom: 0 !important;
    margin-right: auto !important;
    margin-top: -10px;
    position: absolute;
    text-align: center;
}     */
ul.pxs_slider li img{
	display:block;
	margin:0 auto;
}
ul.pxs_thumbnails{
	height:35px;
	position:absolute;
	bottom: 12%;
	left:50%;
}
ul.pxs_thumbnails li{
	border: 5px solid @body-bg;
	-moz-box-shadow:1px 1px 10px rgba(0, 0, 0, 0.4);
	-webkit-box-shadow:1px 1px 10px rgba(0, 0, 0, 0.4);
	box-shadow:1px 1px 10px rgba(0, 0, 0, 0.4);
    display: block;
    max-height: 60px;
    max-width: 85px;
    opacity: 0.7;
    overflow: hidden;
    position: absolute;
    width: 100%;
    @media screen and (max-width: 767px) {
      max-height: 40px;
      max-width: 60px;
      border-width: 3px;
    }
}

ul.pxs_thumbnails li.selected{
	opacity:1.0;
}
ul.pxs_thumbnails li img{
	cursor:pointer;
	display:block;
    width: 100%;
}
.pxs_navigation span:hover{
	opacity:0.9;
}
.pxs_navigation span.pxs_next,
.pxs_navigation span.pxs_prev{
    display: inline-block;
    font: normal normal normal 14px/1 FontAwesome;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    transform: translate(0, 0);
}
.pxs_navigation span.pxs_next,
.pxs_navigation span.pxs_prev{
    width: 1.3em;
    height: 2.6em;
    text-align: center;
    line-height: 2.4em;
    opacity: 0.6;
    background-color: rgba(0,0,0,0.8);
    .border-radius(3px);
    color: #fff;
    font-size: 24px;
	cursor:pointer;
    margin-top: -1.3em;
    top: 50%;
    position: absolute;
    z-index: 1;
}
.pxs_navigation span.pxs_prev{
	//background:rgba(0, 0, 0, 0.6) url("@{sed-modules-root}parallax-slider/skins/default/images/prev.png") no-repeat center center;
    //background-size: 13px;
    &:before {
    	content: "\f104";
    }
}
.pxs_navigation span.pxs_next{
	//background:rgba(0, 0, 0, 0.6) url("@{sed-modules-root}parallax-slider/skins/default/images/next.png") no-repeat center center;
    //background-size: 13px;
    &:before {
    	content: "\f105";
    }

}
.pxs_loading{
	color:#fff;
	font-size:20px;
	padding:15px 15px 15px 50px;
	position:absolute;
	background:#333 url("@{sed-modules-root}parallax-slider/skins/default/images/ajax-loader.gif") no-repeat 10px 50%;
	-moz-border-radius:15px;
	-webkit-border-radius:15px;
	border-radius:15px;
	opacity:0.7;
	width:180px;
	position:absolute;
	top:150px;
	left:50%;
	margin-left:-90px;
}
    @media screen and (max-width: 767px) {
      .parallax-slider{
        max-height: 350px !important;
      }

    }

    @media screen and (max-width: 550px) {
      .parallax-slider{
        max-height: 260px !important;
      }
      .image-container {
        width: 78% !important;
        top: 20px !important;
        bottom: 55px !important;
        left: 11% !important;
      }
      .pxs_navigation span.pxs_next{
        right:12.5% !important;
      }

      .pxs_navigation span.pxs_prev{
        left: 12.5% !important;
      }

    }


    @media screen and (max-width: 767px) {
      max-height: 300px !important;
    }

    @media screen and (max-width: 550px) {
      max-height: 200px !important;
    }


}