/*#less_info#(
"handle"	=> "separator-skin7",
"deps"		=> array("separator-main-less"),
"ver"		=> "1.0.0",
"media"		=> "all"
)#
*/
.module-separator.separator-skin7{
  .special-spr{
      border-top: 4px solid @main-color;
      display: inline-block;
      left: 0;
      margin-top: -2px !important;
      padding: 0 15px;
      position: absolute;
      text-align: center;
      top: 50%;
      max-width: 100%;
  }
}
.rtl-body .module-separator.separator-skin7{
  .special-spr{
      left: auto;
      right: 0;
  }
}


