@import url("font-extra.css");

@font-face {
	font-family: 'siteeditor';
	src:url('../fonts/siteeditor.eot?-gomp5c');
	src:url('../fonts/siteeditor.eot?#iefix-gomp5c') format('embedded-opentype'),
		url('../fonts/siteeditor.ttf?-gomp5c') format('truetype'),
		url('../fonts/siteeditor.woff?-gomp5c') format('woff'),
		url('../fonts/siteeditor.svg?-gomp5c#siteeditor') format('svg');
	font-weight: normal;
	font-style: normal;
}

[class^="icon-"], [class*="icon-"].menu_item_icon,.f-sed {
    font-family: 'siteeditor';
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;

    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}


.icon-breadcrumb:before {
	content: "\e60a";
}
.icon-duplicate:before {
	content: "\e040";
}
.icon-portfolio2:before {
	content: "\e04b";
}
.icon-undo:before {
	content: "\e050";
}
.icon-redo:before {
	content: "\e052";
}
.icon-subtheme:before {
	content: "\e600";
}
.icon-changeskin:before {
	content: "\64";
}
.icon-accordionslider:before {
	content: "\e601";
}
.icon-accardion:before {
	content: "\e602";
}
.icon-bbpress:before {
	content: "\e603";
}
.icon-changestyle:before {
	content: "\e604";
}
.icon-font2:before {
	content: "\e605";
}
.icon-footer:before {
	content: "\e606";
}
.icon-header:before {
	content: "\e607";
}
.icon-portfolio:before {
	content: "\e608";
}
.icon-woo:before {
	content: "\e609";
}
.icon-rewind:before {
	content: "\e051";
}
.icon-fast-forward:before {
	content: "\e055";
}
.icon-menu:before {
	content: "\e120";
}
.icon-ellipsis:before {
	content: "\e129";
}
.icon-aligncenter1:before {
	content: "\e800";
}
.icon-justify1:before {
	content: "\e801";
}
.icon-alignleft1:before {
	content: "\e802";
}
.icon-alignright1:before {
	content: "\e803";
}
.icon-drawer:before {
	content: "\e804";
}
.icon-arrow-down:before {
	content: "\e805";
}
.icon-arrow-left:before {
	content: "\e806";
}
.icon-arrow-right:before {
	content: "\e807";
}
.icon-arrow-up:before {
	content: "\e808";
}
.icon-book:before {
	content: "\e809";
}
.icon-border-inner:before {
	content: "\e80a";
}
.icon-borderstyle3:before {
	content: "\e80b";
}
.icon-chevron-left:before {
	content: "\e80c";
}
.icon-chevron-right:before {
	content: "\e80d";
}
.icon-clipboard:before {
	content: "\e80e";
}
.icon-columns1:before {
	content: "\e810";
}
.icon-content-right:before {
	content: "\e811";
}
.icon-contract:before {
	content: "\e812";
}
.icon-done:before {
	content: "\e813";
}
.icon-accordionslider1:before {
	content: "\e814";
}
.icon-cornersizes2:before {
	content: "\e815";
}
.icon-expand-more:before {
	content: "\e816";
}
.icon-expand-less:before {
	content: "\e817";
}
.icon-addanimation:before {
	content: "\e818";
}
.icon-alert:before {
	content: "\e819";
}
.icon-file-xml:before {
	content: "\e81a";
}
.icon-filter-list:before {
	content: "\e81b";
}
.icon-format-indent-decrease:before {
	content: "\e81d";
}
.icon-format-indent-increase:before {
	content: "\e81e";
}
.icon-format-line-spacing:before {
	content: "\e820";
}
.icon-format-list-bulleted:before {
	content: "\e821";
}
.icon-format-list-numbered:before {
	content: "\e822";
}
.icon-alert1:before {
	content: "\e823";
}
.icon-aligncenter:before {
	content: "\e825";
}
.icon-insert-template:before {
	content: "\e827";
}
.icon-laptop:before {
	content: "\e829";
}
.icon-layers:before {
	content: "\e82a";
}
.icon-layout2:before {
	content: "\e82b";
}
.icon-loader:before {
	content: "\e82c";
}
.icon-alignleft:before {
	content: "\e82d";
}
.icon-minimize:before {
	content: "\e82f";
}
.icon-desktop2:before {
	content: "\e830";
}
.icon-alignright:before {
	content: "\e831";
}
.widget_archive:before {
	content: "\e832";
}
.icon-paragraph1:before {
	content: "\e833";
}
.widget_archive1:before {
	content: "\e834";
}
.icon-phone1:before {
	content: "\e835";
}
.icon-audio:before {
	content: "\e836";
}
.icon-quote:before {
	content: "\e837";
}
.icon-quote1:before {
	content: "\e838";
}
.icon-settings-ethernet:before {
	content: "\e839";
}
.icon-backgroundposition:before {
	content: "\e83a";
}
.icon-spellcheck:before {
	content: "\e83b";
}
.icon-star-outline:before {
	content: "\e83c";
}
.icon-colorfont:before {
	content: "\e83d";
}
.icon-text-height:before {
	content: "\e83e";
}
.icon-text-width:before {
	content: "\e83f";
}
.icon-underline:before {
	content: "\e840";
}
.icon-user-female:before {
	content: "\e841";
}
.icon-twitter1:before {
	content: "\e842";
}
.icon-facebook1:before {
	content: "\e843";
}
.icon-social-dropbox:before {
	content: "\e844";
}
.icon-social-dribbble:before {
	content: "\e845";
}
.icon-tablet2:before {
	content: "\e84a";
}
.icon-tablet:before {
	content: "\e846";
}
.icon-volume-2:before {
	content: "\e847";
}
.icon-volume-off:before {
	content: "\e848";
}
.icon-users:before {
	content: "\e849";
}
.icon-user-follow:before {
	content: "\e84b";
}
.icon-user-following:before {
	content: "\e84d";
}
.icon-earphones-alt:before {
	content: "\e84e";
}
.icon-earphones:before {
	content: "\e84f";
}
.icon-user-unfollow:before {
	content: "\e850";
}
.icon-bubbles:before {
	content: "\e851";
}
.icon-basket-loaded:before {
	content: "\e852";
}
.icon-basket:before {
	content: "\e853";
}
.icon-user:before {
	content: "\e855";
}
.icon-share-alt:before {
	content: "\e856";
}
.icon-share:before {
	content: "\e857";
}
.icon-question:before {
	content: "\e858";
}
.icon-edit2:before {
	content: "\e859";
}
.icon-settings1:before {
	content: "\e85b";
}
.icon-gideline:before {
	content: "\e85c";
}
.icon-blockquote2:before {
	content: "\e85d";
}
.icon-blockquote1:before {
	content: "\e85e";
}
.icon-blog:before {
	content: "\e85f";
}
.icon-bold:before {
	content: "\e860";
}
.icon-bold1:before {
	content: "\e861";
}
.icon-border1:before {
	content: "\e862";
}
.icon-border:before {
	content: "\e863";
}
.icon-bordercolor1:before {
	content: "\e864";
}
.icon-bordercolor:before {
	content: "\e865";
}
.icon-borderslide:before {
	content: "\e866";
}
.icon-borderslide1:before {
	content: "\e867";
}
.icon-borderstyle:before {
	content: "\e868";
}
.icon-borderstyle1:before {
	content: "\e869";
}
.icon-BorderStyle3:before {
	content: "\e86a";
}
.icon-borderwitdth:before {
	content: "\e86b";
}
.icon-boxshadow1:before {
	content: "\e86c";
}
.icon-boxshadow:before {
	content: "\e86d";
}
.icon-background:before {
	content: "\e86e";
}
.icon-bringtofront:before {
	content: "\e86f";
}
.icon-bubbleSlider:before {
	content: "\e870";
}
.icon-buttons:before {
	content: "\e871";
}
.icon-buttons1:before {
	content: "\e872";
}
.widget_calendar2:before {
	content: "\e873";
}
.widget_calendar1:before {
	content: "\e874";
}
.icon-carousel:before {
	content: "\e875";
}
.widget_categories:before {
	content: "\e876";
}
.icon-categories1:before {
	content: "\e877";
}
.icon-changeimageitem:before {
	content: "\e878";
}
.icon-checklist:before {
	content: "\e879";
}
.icon-collagegallery:before {
	content: "\e87a";
}
.icon-colorfonts:before {
	content: "\e87b";
}
.icon-colorfonts1:before {
	content: "\e87c";
}
.icon-color:before {
	content: "\e87d";
}
.icon-colorpalette:before {
	content: "\e87e";
}
.icon-column1:before {
	content: "\e87f";
}
.icon-contactform:before {
	content: "\e880";
}
.icon-iconcontentboxmulti:before {
	content: "\e881";
}
.icon-iconcontentboxsingle:before {
	content: "\e882";
}
.icon-cornersizes1:before {
	content: "\e883";
}
.icon-cornersizes:before {
	content: "\e884";
}
.icon-counterbox:before {
	content: "\e885";
}
.icon-countercircle2:before {
	content: "\e886";
}
.icon-countercircle21:before {
	content: "\e887";
}
.icon-countercircle:before {
	content: "\e888";
}
.icon-cursor3:before {
	content: "\e889";
}
.icon-cursor2:before {
	content: "\e88a";
}
.icon-cursor1:before {
	content: "\e88b";
}
.icon-cursor:before {
	content: "\e88c";
}
.icon-customhtml:before {
	content: "\e88d";
}
.widget_nav_menu:before {
	content: "\e88e";
}
.icon-customizefonts:before {
	content: "\e88f";
}
.icon-customizepalette:before {
	content: "\e890";
}
.icon-delete2:before {
	content: "\e891";
}
.icon-delete:before {
	content: "\e892";
}
.icon-delete3:before {
	content: "\e893";
}
.icon-delete4:before {
	content: "\e894";
}
.icon-desktop1:before {
	content: "\e895";
}
.icon-diamondgallery:before {
	content: "\e896";
}
.icon-document:before {
	content: "\e897";
}
.icon-drag:before {
	content: "\e898";
}
.icon-edit1:before {
	content: "\e899";
}
.icon-edit3:before {
	content: "\e89a";
}
.icon-elasticslider:before {
	content: "\e89b";
}
.icon-facebook:before {
	content: "\e89c";
}
.icon-file:before {
	content: "\e89d";
}
.icon-fontsset:before {
	content: "\e89e";
}
.icon-format:before {
	content: "\e89f";
}
.icon-freestylegallery:before {
	content: "\e8a0";
}
.icon-freestylegallery1:before {
	content: "\e8a1";
}
.icon-googlemap1:before {
	content: "\e8a2";
}
.icon-googlemap:before {
	content: "\e8a3";
}
.icon-googleplus:before {
	content: "\e8a4";
}
.icon-gradient1:before {
	content: "\e8a5";
}
.icon-gradient:before {
	content: "\e8a6";
}
.icon-gridgallery:before {
	content: "\e8a7";
}
.icon-gridgallery1:before {
	content: "\e8a8";
}
.icon-home:before {
	content: "\e8a9";
}
.icon-honycombgallery:before {
	content: "\e8aa";
}
.icon-icons:before {
	content: "\e8ab";
}
.icon-imagecontentboxmulti:before {
	content: "\e8ac";
}
.icon-imagecontentboxsingle:before {
	content: "\e8ad";
}
.icon-imagescalling:before {
	content: "\e8ae";
}
.icon-imagescalling1:before {
	content: "\e8af";
}
.icon-image:before {
	content: "\e8b0";
}
.icon-italic:before {
	content: "\e8b1";
}
.icon-italic1:before {
	content: "\e8b2";
}
.icon-justify:before {
	content: "\e8b3";
}
.icon-layerslider2:before {
	content: "\e8b4";
}
.icon-video:before {
	content: "\e8b5";
}
.icon-info:before {
	content: "\e8b6";
}
.icon-key:before {
	content: "\e8b7";
}
.icon-link:before {
	content: "\e8b8";
}
.icon-lock:before {
	content: "\e8b9";
}
.icon-lock-open:before {
	content: "\e8ba";
}
.icon-bringforward:before {
	content: "\e8bb";
}
.icon-settingitem:before {
	content: "\e8bc";
}
.icon-star:before {
	content: "\e8bd";
}
.icon-volume-1:before {
	content: "\e8be";
}
.icon-smartphone2:before {
	content: "\e8c2";
}
.icon-smartphone:before {
	content: "\e8bf";
}
.icon-desktop:before {
	content: "\e8c0";
}
.icon-moustache:before {
	content: "\e8c1";
}
.icon-energy:before {
	content: "\e8c3";
}
.icon-emoticon-smile:before {
	content: "\e8c4";
}
.icon-cursor-move:before {
	content: "\e8c5";
}
.icon-layerslider:before {
	content: "\e8c9";
}
.icon-tag:before {
	content: "\e8cc";
}
.icon-size-fullscreen:before {
	content: "\e8cd";
}
.icon-size-actual:before {
	content: "\e8ce";
}
.icon-shuffle:before {
	content: "\e8cf";
}
.icon-custommenu1:before {
	content: "\e8d1";
}
.icon-table2:before {
	content: "\e8d2";
}
.icon-layerslider1:before {
	content: "\e8d3";
}
.icon-layout:before {
	content: "\e8d4";
}
.icon-layout1:before {
	content: "\e8d5";
}
.icon-length1:before {
	content: "\e8d6";
}
.icon-length:before {
	content: "\e8d7";
}
.icon-library:before {
	content: "\e8d8";
}
.icon-linktoitem:before {
	content: "\e8d9";
}
.icon-margin:before {
	content: "\e8da";
}
.icon-masonrygallery:before {
	content: "\e8db";
}
.widget_meta:before {
	content: "\e8dc";
}
.icon-minus2:before {
	content: "\e8dd";
}
.icon-minus:before {
	content: "\e8de";
}
.icon-minus1:before {
	content: "\e8df";
}
.icon-mobile2:before {
	content: "\e8e0";
}
.icon-mobile:before {
	content: "\e8e1";
}
.icon-modal:before {
	content: "\e8e2";
}
.icon-modules1:before {
	content: "\e8e3";
}
.icon-modules:before {
	content: "\e8e4";
}
.icon-padding:before {
	content: "\e8e5";
}
.icon-padding1:before {
	content: "\e8e6";
}
.icon-pages1:before {
	content: "\e8e7";
}
.icon-pages:before {
	content: "\e8e8";
}
.icon-blockquote:before {
	content: "\e8e9";
}
.icon-paragraph:before {
	content: "\e8ea";
}
.icon-parallaxslider1:before {
	content: "\e8eb";
}
.icon-parallaxslider:before {
	content: "\e8ec";
}
.icon-pinterest:before {
	content: "\e8ed";
}
.icon-plus:before {
	content: "\e8ee";
}
.icon-plus2:before {
	content: "\e8ef";
}
.icon-plus1:before {
	content: "\e8f0";
}
.icon-popover:before {
	content: "\e8f1";
}
.icon-position:before {
	content: "\e8f2";
}
.icon-position1:before {
	content: "\e8f3";
}
.glyph-244:before {
	content: "\e8f4";
}
.glyph-245:before {
	content: "\e8f5";
}
.icon-eye:before {
	content: "\e8f6";
}
.icon-pricingtable:before {
	content: "\e8f7";
}
.icon-pricingtable1:before {
	content: "\e8f8";
}
.icon-promenu:before {
	content: "\e8f9";
}
.icon-progressbar1:before {
	content: "\e8fa";
}
.icon-progressbar:before {
	content: "\e8fb";
}
.widget_calendar:before {
	content: "\e8fd";
}
.icon-bar-chart:before {
	content: "\e8fe";
}
.icon-check:before {
	content: "\e8ff";
}
.icon-delete1:before {
	content: "\e901";
}
.icon-cloud-download:before {
	content: "\e902";
}
.icon-cloud-upload:before {
	content: "\e903";
}
.icon-search:before {
	content: "\e905";
}
.icon-magnifier-add:before {
	content: "\e906";
}
.icon-magnifier-remove:before {
	content: "\e907";
}
.icon-paper-clip:before {
	content: "\e908";
}
.icon-paper-plane:before {
	content: "\e909";
}
.icon-twitter:before {
	content: "\e90a";
}
.icon-power:before {
	content: "\e90b";
}
.icon-revslider:before {
	content: "\e941";
}
.icon-refresh:before {
	content: "\e90c";
}
.icon-reload:before {
	content: "\e90d";
}
.icon-qustion1:before {
	content: "\e90e";
}
.icon-qustion2:before {
	content: "\e90f";
}
.widget_recent_comments:before {
	content: "\e910";
}
.widget_recent_comments1:before {
	content: "\e911";
}
.widget_recent_entries:before {
	content: "\e912";
}
.icon-revolutationsder2:before {
	content: "\e913";
}
.icon-row:before {
	content: "\e94c";
}
.icon-column:before {
	content: "\e914";
}
.icon-row1:before {
	content: "\e915";
}
.widget_rss1:before {
	content: "\e916";
}
.widget_rss2:before {
	content: "\e917";
}
.widget_rss:before {
	content: "\e918";
}
.icon-savepublish:before {
	content: "\e919";
}
.icon-scrollbackground:before {
	content: "\e91a";
}
.icon-search2:before {
	content: "\e91b";
}
.icon-search3:before {
	content: "\e91c";
}
.icon-selecttemplate:before {
	content: "\e91d";
}
.icon-sendbackward:before {
	content: "\e91e";
}
.icon-sendtoback:before {
	content: "\e91f";
}
.icon-separator:before {
	content: "\e920";
}
.icon-settings:before {
	content: "\e921";
}
.icon-sheetwidth:before {
	content: "\e922";
}
.icon-socialbar2:before {
	content: "\e923";
}
.icon-socialbar1:before {
	content: "\e924";
}
.icon-socialbar:before {
	content: "\e925";
}
.icon-socialbar3:before {
	content: "\e926";
}
.icon-soundcloud:before {
	content: "\e927";
}
.icon-edit:before {
	content: "\e928";
}
.icon-tab:before {
	content: "\e929";
}
.icon-table1:before {
	content: "\e92a";
}
.icon-table:before {
	content: "\e92b";
}
.icon-tablet22:before {
	content: "\e92c";
}
.icon-tablet1:before {
	content: "\e92d";
}
.widget_tag_cloud:before {
	content: "\e92e";
}
.icon-tag1:before {
	content: "\e92f";
}
.icon-taglinebox:before {
	content: "\e930";
}
.icon-taglineeditor:before {
	content: "\e931";
}
.icon-testimonial:before {
	content: "\e932";
}
.icon-textheight:before {
	content: "\e933";
}
.icon-textshadow:before {
	content: "\e934";
}
.icon-font:before {
	content: "\e935";
}
.icon-timelineslider:before {
	content: "\e936";
}
.icon-timeline:before {
	content: "\e937";
}
.icon-title:before {
	content: "\e938";
}
.icon-transform:before {
	content: "\e939";
}
.icon-transform1:before {
	content: "\e93a";
}
.icon-transition:before {
	content: "\e93b";
}
.icon-transparency:before {
	content: "\e93c";
}
.icon-transparency1:before {
	content: "\e93d";
}
.icon-trash:before {
	content: "\e93e";
}
.icon-Twitter:before {
	content: "\e93f";
}
.icon-underline1:before {
	content: "\e940";
}
.icon-uploadfont1:before {
	content: "\e942";
}
.icon-uploadfont:before {
	content: "\e943";
}
.icon-video1:before {
	content: "\e944";
}
.icon-video2:before {
	content: "\e945";
}
.icon-video3:before {
	content: "\e946";
}
.icon-video4:before {
	content: "\e947";
}
.icon-wedget1:before {
	content: "\e948";
}
.icon-wedget:before {
	content: "\e949";
}
.icon-youtube1:before {
	content: "\e94a";
}
.icon-youtube2:before {
	content: "\e94b";
}
.icon-separator1:before {
	content: "\e94d";
}
.icon-video5:before {
	content: "\e94e";
}
.icon-window:before {
	content: "\e94f";
}
.icon-spin:before {
	content: "\e950";
}
