.spcial-bar.social-bar-skin2 li a {
    color: inherit;
    background: transparent;
    -webkit-border-radius: 99px;
    padding: 8px;
    border-radius: 100%;
    border: 1px solid transparent;
    text-align: center;
    -webkit-transition: all 500ms;
    -moz-transition: all 500ms;
    -ms-transition: all 500ms;
    -o-transition: all 500ms;
    transition: all 500ms
} 

.spcial-bar.social-bar-skin2 li a:hover {
    color: #fff
}

.spcial-bar.social-bar-skin2 .vine a {
    color: #7ac043;
    border-color: #7ac043
}

.spcial-bar.social-bar-skin2 .vine a:hover {
    background-color: #7ac043;
    border-color: #7ac043
}

.spcial-bar.social-bar-skin2 .linked-in a {
    color: #0079bc;
    border-color: #0079bc
}

.spcial-bar.social-bar-skin2 .linked-in a:hover {
    background-color: #0079bc;
    border-color: #0079bc
}

.spcial-bar.social-bar-skin2 .tumblr a {
    color: #395976;
    border-color: #395976
}

.spcial-bar.social-bar-skin2 .tumblr a:hover {
    background-color: #395976;
    border-color: #395976
}

.spcial-bar.social-bar-skin2 .facebook a {
    color: #3e5a9b;
    border-color: #3e5a9b
}

.spcial-bar.social-bar-skin2 .facebook a:hover {
    background-color: #3e5a9b;
    border-color: #3e5a9b
}

.spcial-bar.social-bar-skin2 .pinterest a {
    color: #c42122;
    border-color: #c42122
}

.spcial-bar.social-bar-skin2 .pinterest a:hover {
    background-color: #c42122;
    border-color: #c42122
}

.spcial-bar.social-bar-skin2 .dribbble a {
    color: #f4498b;
    border-color: #f4498b
}

.spcial-bar.social-bar-skin2 .dribbble a:hover {
    background-color: #f4498b;
    border-color: #f4498b
}

.spcial-bar.social-bar-skin2 .twitter a {
    color: #28a9e0;
    border-color: #28a9e0
}

.spcial-bar.social-bar-skin2 .twitter a:hover {
    background-color: #28a9e0;
    border-color: #28a9e0
}

.spcial-bar.social-bar-skin2 .google-plus a {
    color: #dc4937;
    border-color: #dc4937
}

.spcial-bar.social-bar-skin2 .google-plus a:hover {
    background-color: #dc4937;
    border-color: #dc4937
}

.spcial-bar.social-bar-skin2 .behance a {
    color: #0093fb;
    border-color: #0093fb
}

.spcial-bar.social-bar-skin2 .behance a:hover {
    background-color: #0093fb;
    border-color: #0093fb
}