/*
#less_info#(
"handle" => "text-icon-module-default",
"deps" => array(),
"ver" => "1.0.0",
"media" => "all"
)#
*/
.text-icon-module.text-icon-module-default{
    display: table;
    table-layout: fixed;
    .module-icons {
        display: table-cell !important;
        vertical-align: top;
        padding-left: 6px;
        position: relative;
        table-layout: fixed;
    }
    .module-title {
        display: table-cell;
        position: relative;
        width: 100%;
        vertical-align: middle;
        table-layout: fixed;
    }
}
