
//borders , bg
@woo-border-color:      @base-border-color-light;
@woo-border-dark:       @base-border-color-b;
@woo-bg-color-dark:     @base-border-color-light;
@woo-bg-color-light:    @base-color-b-lighter;
@woo-body-bg:           @body-bg;
@woo-main-color:        @main-color;
@woo-input-bg:          lighten(@base-color-b-lighter,2%);
@woo-media-width:       @screen-xs-max;

//titles
@woo-title-lg:          @font-size-h4;
@woo-line-height-lg:    @font-size-h4 + 9;
@woo-title-md:          @font-size-h4;
@woo-line-height-md:    @font-size-h4 + 9;
@woo-title-sm:          @font-size-base;
@woo-line-height-sm:    @font-size-base + 9;

//price
@woo-price-color:       @main-color;
@woo-price-color-del:   @base-color-b-darker;
@woo-price-size:        @font-size-base;
@woo-price-size-del:    @font-size-base - 2;

//colors
@woo-success-color:     @success-color;
@woo-info-color:        #9da3b1;
@woo-warning-color:     @warning-color;
@woo-danger-color:      @danger-color;

//rating
@woo-rating-color:      #F0E72B;
@woo-rating-size:       @font-size-base;


