/*#less_info#(
"handle"	=> "accordion-skin1" ,
"deps"		=> array() ,
"ver"		=> "1.0.0",
"media"		=> "all"
)#
*/
.module-accordion.accordion-skin1{

    /* header
    ------------------------*/
    .ui-accordion-header {
        display: block;
        cursor: pointer;
        position: relative;
        margin: 5px 0px 0px;
        padding: @padding-base;
        min-height: 0px;
        font-size: @font-size-base;
        font-weight: normal;
    }
    .ui-accordion-icons {
        padding-right: 2 * @padding-xl;
    }
    .ui-icon{
        background: none;
        text-indent: 0;
        text-align: center;
        padding-top: 0;
        font-size: ceil(@font-size-base * 1.4);
        font-weight: @headings-font-weight;
        top: 50%;
        left: auto;
        right: 0px;
        float: right;
        height: 20px;
        margin-top: -11px;
        width: 40px;
        position: absolute;
    }

    .ui-icon-free-plus:before{ content: "+"; .low-color(@body-bg);}
    .ui-icon-free-minus:before{ content: "-"; .high-color(@main-color);}

    .ui-state-default,
    .ui-widget-content .ui-state-default,
    .ui-widget-header .ui-state-default {
        border: 1px solid @base-border-color;
        //background: @body-modules-bg;
        font-weight: normal;
    }

    .ui-state-active,
    .ui-widget-content .ui-state-active,
    .ui-widget-header .ui-state-active {
        border: 1px solid @main-color;
        border-bottom: none;
        background: @main-color;
        .high-color(@main-color);
    }

    /* Corner radius
    ------------------------ */
    .ui-corner-all,
    .ui-corner-top,
    .ui-corner-left,
    .ui-corner-tl {
        border-top-left-radius: @border-radius-base;
    }
    .ui-corner-all,
    .ui-corner-top,
    .ui-corner-right,
    .ui-corner-tr {
        border-top-right-radius: @border-radius-base;
    }
    .ui-corner-all,
    .ui-corner-bottom,
    .ui-corner-left,
    .ui-corner-bl {
        border-bottom-left-radius: @border-radius-base;
    }
    .ui-corner-all,
    .ui-corner-bottom,
    .ui-corner-right,
    .ui-corner-br {
        border-bottom-right-radius: @border-radius-base;
    }

    /* Corner radius
    ------------------------ */
    .ui-widget-content {
        font-weight: normal;
        //background: @body-bg;
    }
    .module-paragraph{
        padding: 0;    
    }
    .module-title{
        display: block;
        padding: 0;
    }
    .ui-accordion .ui-accordion-header .ui-accordion-header-icon {
    	position: absolute;
    }
    .ui-accordion-content {
        padding: @padding-lg;
        border: 1px solid @base-border-color;
        margin-top: 0;
        overflow: auto;
        border-top: none;
         p{
            overflow: hidden;
            text-align: left;
            margin: 0;
         }
    }

    .ui-widget-content a {
        .high-color (@main-color);
    }

}
.rtl-body .module-accordion.accordion-skin1{
    .ui-accordion-icons {
        padding-right: @padding-base !important ;
        padding-left:  2 * @padding-xl;
    }
    .ui-icon{
        left: 0px !important;
        right: auto !important;
        float: left !important;
    }
    .ui-accordion-content {
         p{
            text-align: right !important;
         }
    }
}