
.left_palette {
      bottom: 0.7em;
      left: 0;
      position: absolute;
      top: 9.8em;
}

.plate2 {
      background: radial-gradient(circle at center 40px , #F1F1F1 100px, #E3E3E3, #D0D0D0 700px) repeat scroll 0 0 rgba(0, 0, 0, 0);
      background-image: -webkit-gradient(linear, 0 0, 0 100%, from(100px,#f1f1f1), color-stop(#e3e3e3), to(700px ,#d0d0d0));
      background-image: -webkit-linear-gradient(#f1f1f1 100px, #e3e3e3, #d0d0d0 700px);
      background-image: -moz-linear-gradient(top,#f1f1f1 100px, #e3e3e3, #d0d0d0 700px);
      background-image: -ms-linear-gradient(#f1f1f1 100px, #e3e3e3, #d0d0d0 700px);
      background-image: -o-linear-gradient(#f1f1f1 100px, #e3e3e3, #d0d0d0 700px);
      background-image: linear-gradient(#f1f1f1 100px, #e3e3e3, #d0d0d0 700px);
      filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#f1f1f1', endColorstr='#d0d0d0', GradientType=0);
      border: 1px solid #CCCCCC;
      border-radius: 6px;
      -moz-border-radius:6px;
      -webkit-border-radius:6px;
      -moz-box-shadow: 1px 1px 9px 0 rgba(0, 0, 0, 0.12);
      -webkit-box-shadow: 1px 1px 9px 0 rgba(0, 0, 0, 0.12);
      box-shadow: 1px 1px 9px 0 rgba(0, 0, 0, 0.12);
      height: 100%;
      left: 4.5em;
      position: absolute;
      top: 0;
      width: 22em;
      z-index: 198;
}


.cut2{
  background-image: url(../images/iOS-7-UI-Components3.png);
}

      /*.fa-deactive{
      color: #838383 !important;

} */



.format-edit .icon{
  float: left;
}

      /*
.btn-default {
      background: none repeat scroll 0 0 #f4f4f4;
      border-color: #FAFAFA;
      border-radius: 5px;
      border-style: solid;
      border-width: 0 2px 2px 0;
      box-shadow: 2px 2px 4px -3px rgba(0, 0, 0, 0.6) inset;
      color: #333333;
      height: 2.5em;
      padding: 0 4px !important;
}    */


.form-control {
      border-radius: 30px 0 0 30px !important;
      -moz-border-radius: 30px 0 0 30px !important;
      -webkit-border-radius: 30px 0 0 30px !important;
      display: block;
      height: 2.2em;
      margin-left: 120px;
      margin-right: -8px !important;
      padding: 0 6px !important;
      width: 156px !important;
      background-color: #FFFFFF;
      background-image: none;
      border: 1px solid #CCCCCC;
      -moz-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset;
      -webkit-box-shadow:0 1px 1px rgba(0, 0, 0, 0.075) inset;
      box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset;
      color: #555555;
      font-size: 12px;
      line-height: 1.42857;
      transition: border-color 0.15s ease-in-out 0s, box-shadow 0.15s ease-in-out 0s;
      vertical-align: middle;
}
.form-group .fa {
      width: 2.4em;

}
.form-group .btn,.footer .btn{
      margin: 0;
}


.sprf12 {
      float: left;
      margin: 0 !important;
}
.sprf1 {
      float: lefts;
      height: 28px !important;
      line-height: 28px;
      margin: 0 !important;
      padding: 0 10px;
}

.sprf {
      border-right: 1px solid #CCCCCC;
      float: left;
      height: 2em;
      margin: 0;
      overflow: hidden;
}


.highlight{
  background: rgba(33, 150, 243, 0.09);
  border-radius: 5px;
}


.nav1 > li > a {
      display: block;
}

.nav1 {
      list-style: none outside none;
      padding-right: 0;
}
.nav1 {
      list-style: none outside none;
}
.open > .dropdown-menu {
      display: block;
}

.fade.in {
      opacity: 1;
      -khtml-opacity: 1;
      -moz-opacity : 1;
      opacity : 1;
      zoom : 1;
      -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
      filter: alpha(opacity=100);

}
.fade {
  /*    opacity: 0 ;
      -khtml-opacity: 0;
      -moz-opacity : 0;
      opacity : 0;
      zoom : 1;
      -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
      filter: alpha(opacity=0);
      transition: opacity 0.15s linear 0s;     */

}
.popover.in {
      opacity: 1 ;
      -khtml-opacity:1;
      -moz-opacity : 1;
      opacity :1;
      zoom : 1;
      -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
      filter: alpha(opacity=100);
      display: block;
      z-index: 1010 !important;
}
.popover {
      opacity: 0 ;
       -khtml-opacity: 0;
      -moz-opacity : 0;
      opacity : 0;
      zoom : 1;
      -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
      filter: alpha(opacity=0);
      transition: opacity 0.15s linear 0s;
      display: none ;
}
.popover.fade.in{
      /*display: block !important;*/
}
.popover.fade{
      /* display: none  !important;  */
}

.btn-group, .btn-group-vertical {
      display: inline-block;
      margin: 3px;
      position: relative;
      vertical-align: middle;
}
.btn-group > .btn-defaultf3 {
      float: none !important;
      position: relative;
}
.btn-group .btn-defaultf3 {
      margin: 0 !important;
}
.btn-group > .btn, .btn-group-vertical > .btn {
      float: left;
      position: relative;
}

.btn-defaultf3 {
      background: linear-gradient(#FFFFFF, #FFFFFF 25%, #E6E6E6) repeat scroll 0 0 rgba(0, 0, 0, 0);
      background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#ffffff), color-stop(25%, #ffffff), to(#e6e6e6));
      background-image: -webkit-linear-gradient(#ffffff, #ffffff 25%, #e6e6e6);
      background-image: -moz-linear-gradient(top, #ffffff, #ffffff 25%, #e6e6e6);
      background-image: -ms-linear-gradient(#ffffff, #ffffff 25%, #e6e6e6);
      background-image: -o-linear-gradient(#ffffff, #ffffff 25%, #e6e6e6);
      background-image: linear-gradient(#ffffff, #ffffff 25%, #e6e6e6);
      filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#e6e6e6', GradientType=0);
      border: 1px solid #CCCCCC;
      border-radius: 4px !important;
      -moz-border-radius:4px !important;
      -webkit-border-radius:4px !important;
      color: #333333;
      height: 62px !important;
      padding: 6px 12px;
}
.sprf2 {
      border-top: 1px solid #CCCCCC;
      margin: 0 0 4px;
      overflow: hidden;
      width: 100%;
}
.btn-group.open .dropdown-toggle:active {
      box-shadow: 0 3px 5px rgba(0, 0, 0, 0.125) inset !important;
      -moz-box-shadow: 0 3px 5px rgba(0, 0, 0, 0.125) inset !important;
      -webkit-box-shadow: 0 3px 5px rgba(0, 0, 0, 0.125) inset !important;
}
.btn-group > .btn-defaultf, .btn-group-vertical > .btn-defaultf {
      float: left;
      position: relative;
}
.btn-group .btn-defaultf {
      margin: 0 !important;
}

.dropdown-menu-f {
      min-width: 50px !important;
}
.sprf11 {
      color: #404040;
      float: left;
      font-family: tahoma;
      font-size: 13px !important;
      height: 28px !important;
      line-height: 28px;
      margin: 0 !important;
      min-width: 78px !important;
      text-align: center !important
}
.clr {
      border: medium none !important;
      clear: both;

}
.img {
      height: 100%;
      width: 100%;
}
img {
      vertical-align: middle;
      border: 0 none;
}

.plate{
      padding:7px ;
}
.btn111 {
      -moz-user-select: none;
      background-image: none;
      cursor: pointer;
      display: block;
      font-weight: normal;
      line-height: 1.42857;
      padding: 0 !important;
      text-align: center;
      vertical-align: middle;
      white-space: nowrap;
}
.btn-default111 {
      color: #333333 !important;
      height: 36px !important;
      line-height: 36px !important;
      width: 36px;
}
.btn-default112:hover ,
.btn-default111:hover{
      background: none repeat scroll 0 0 #00AEEF !important;
      color: #333333 !important;
      opacity: 0.75;
      -khtml-opacity: 0.75;
      -moz-opacity : 0.75;
      opacity : 0.75;
      zoom : 1;
      -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=75);
      filter: alpha(opacity=75);
}

.btn112{
      -moz-user-select: none;
      background-image: none;
      cursor: pointer;
      display: block;
      font-size: 14px;
      font-weight: normal;
      line-height: 1.42857;
      padding: 0 !important;
      text-align: center;
      vertical-align: middle;
      white-space: nowrap;
}
.btn-default112 {
      color: #333333 !important;
      height: 36px !important;
      line-height: 36px;
      width: 36px;
}
.btn-default113 .arrow2:after {
      border-right-color: #f3f3f3 !important;
      border-width: 7px !important;
      bottom: -5px;
      content: "";
      left: -5px;
}
.btn-default113 .arrow2, .btn-default113 .arrow2:after {
      border-color: rgba(0, 0, 0, 0);
      border-style: solid;
      display: block;
      height: 0;
      position: absolute;
      width: 0;
}
.btn-default113 .arrow2 {
      border-width: 10px;
      margin-top: 14px;
      right: -2px;
}

.fa111 {
      color:#765ABE;
      display: block;
      font-family: zmind;
      font-style: normal;
      font-weight: normal;
      height: 30px !important;
      line-height: 36px !important;
      text-align: center;
}
.fa-lg111 {
      font-size: 1.4em;
}


#caption_sidebar{
      font-size: 20px !important;
      padding: 2px 5px 2px 0 !important;
}
#caption_sidebar {
      color: #5B636B;
      cursor: default;
      font-weight: bold !important;
      margin:4px 0 13px !important;
}
.panel-default > .panel-heading {
      background: -moz-linear-gradient(center top , #FFFFFF 25%, #EDEDED 100%) repeat scroll 0 0 rgba(0, 0, 0, 0) !important;
      background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#ffffff), color-stop(25%, #ffffff), to(#e6e6e6));
      background-image: -webkit-linear-gradient(#ffffff, #ffffff 25%, #e6e6e6);
      background-image: -moz-linear-gradient(top, #ffffff, #ffffff 25%, #e6e6e6);
      background-image: -ms-linear-gradient(#ffffff, #ffffff 25%, #e6e6e6);
      background-image: -o-linear-gradient(#ffffff, #ffffff 25%, #e6e6e6);
      background-image: linear-gradient(#ffffff, #ffffff 25%, #e6e6e6);
      filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#e6e6e6', GradientType=0);
      border-color: #CCCCCC !important;
      color: #333333;
}
.panel-title {
      font-size: 13x !important;
}
.panel-heading {
      padding: 12px 15px;
}
.panel-title {
      font-family: tahoma !important;
      font-size: 14px !important;
}

.modal-dialog {
      left: auto;
      margin-left: auto;
      margin-right: auto;
}
.modal-dialog {
      margin: 30px auto;
      width: 600px;
}
.modal-dialog {
      margin: 10px;
      position: relative;
      width: auto;
      z-index: 1050;
}
.modal-content {
      box-shadow: 0 5px 15px rgba(0, 0, 0, 0.5);
      -moz-box-shadow: 0 5px 15px rgba(0, 0, 0, 0.5);
      -webkit-box-shadow:0 5px 15px rgba(0, 0, 0, 0.5);
}
.modal-content {
      background-clip: padding-box;
      background-color: #FFFFFF;
      border: 1px solid rgba(0, 0, 0, 0.2);
      border-radius: 6px;
      -moz-border-radius:6px ;
      -webkit-border-radius:6px ;
      box-shadow: 0 3px 9px rgba(0, 0, 0, 0.5);
      -moz-box-shadow: 0 3px 9px rgba(0, 0, 0, 0.5);
      -webkit-box-shadow:0 3px 9px rgba(0, 0, 0, 0.5);
      outline: 0 none;
      position: relative;
}
.modal-header {
      border-bottom: 1px solid #E5E5E5;
      min-height: 16.4286px;
      padding: 15px;
}
.modal-header .close {
      margin-top: -2px;
}

.modal-title {
      line-height: 1.42857;
      margin: 0;
}
      h4, .h4 {
      font-size: 18px;
}
.modal-body {
      padding: 20px;
      position: relative;
}
.modal-footer:after {
      clear: both;
}
.modal-footer:before, .modal-footer:after {
      content: " ";
      display: table;
}
.modal-footer {
      border-top: 1px solid #E5E5E5;
      margin-top: 15px;
      padding: 19px 20px 20px;
      text-align: right;
}
.modal-footer .btn + .btn {
      margin-bottom: 0;
      margin-left: 5px;
}
.btn-primary {
      background-color: #428BCA;
      border-color: #357EBD;
      color: #FFFFFF;
}
.navbar-form {
      margin: 0 !important;
      border: 0 none;
      box-shadow: none;
      padding-bottom: 0;
      padding-top: 0;
      width: auto;
}
.navbar-left {
      float: left !important;
}
.navbar-form .form-group {
      display: inline-block;
      margin-bottom: 0;
      vertical-align: middle;
}
.navbar-form .form-control {
      display: inline-block;
}


.form-control::-moz-placeholder {
      color: #999999;
}
.fb {
      float: none !important;
}



a:hover,
a:focus {
text-decoration: none;
}






      /* jquery ui dialog :::: edit by parsa */






.mce-btn-small .mce-ico, .mce-btn-small .mce-ico:before, .mce-btn-small .mce-ico:before{
      font-family: 'tinymce-small',Arial !important;
      margin: 0 !important;
      text-shadow: none !important;
}
.mce-ico:before, .mce-ico:before{
      font-family: 'tinymce',Arial !important;
}

#note_dialog,#dialog_link,#dialog_email,#dialog_attachments{
      display: none;
}



.attachment_box,.img_attachment_box{
      width: 0;
      height: 0;
      visibility: hidden;
}

#container {
      width: 150px;
}
#insert-attachment,#insert-attachment-img{
      display: none;
}
      /* start ::  1392/12/1 change baran zarghani */
#myTabContent2 {
      float: left;
      padding: 5px;
      width: 175px;
}

.Title {
      background: none repeat scroll 0 0 #EFEFEF;
      border-radius: 14px;
      -moz-border-radius:14px;
      -webkit-border-radius:14px ;
      opacity: 1;
      -khtml-opacity: 1;
      -moz-opacity : 1;
      opacity : 1;
      zoom : 1;
      -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
      filter: alpha(opacity=100);
      padding: 0 8px;
      position: relative;
      right: 55px;
}
.circleimg {
      background: none repeat scroll 0 0 #FFFFFF;
      border-radius: 25px;
      -moz-border-radius:25px;
      -webkit-border-radius:25px ;
      box-shadow: 0 1px 1px rgba(0, 17, 26, 0.1), 0 0 0 1px rgba(23, 25, 26, 0.05) inset;
      -moz-box-shadow:0 1px 1px rgba(0, 17, 26, 0.1), 0 0 0 1px rgba(23, 25, 26, 0.05) inset;
      -webkit-box-shadow:0 1px 1px rgba(0, 17, 26, 0.1), 0 0 0 1px rgba(23, 25, 26, 0.05) inset;
      display: block;
      float: right;
      height: 45px;
      margin: 3px;
      padding: 9px;
      width: 45px;

}
/*.icona {
      background: linear-gradient(#FFFFFF, #FFFFFF 25%, #F1F1F1) repeat scroll 0 0 rgba(0, 0, 0, 0);
      background: -moz-linear-gradient(left,  #FFFFFF 0% , #FFFFFF 25%, #F1F1F1);
      background: -webkit-gradient(linear, left top, right top, color-stop(0%,#fff), color-stop(25%,#fff), color-stop(0%,#f1f1f1));
      background: -webkit-linear-gradient(left,  #FFFFFF 0% ,#FFFFFF 25%,#F1F1F1);
      background: -o-linear-gradient(left,  #FFFFFF 0% ,#FFFFFF 25%,#F1F1F1);
      background: -ms-linear-gradient(left,  #FFFFFF 0% ,#FFFFFF 25%,#F1F1F1);
      background: linear-gradient(to right,  #FFFFFF 0% ,#FFFFFF 25%,#F1F1F1);
      filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fff', endColorstr='#f1f1f1',GradientType=1 );

      border: 1px solid #CCCCCC;
      border-radius: 8px;
      -moz-border-radius:8px;
      -webkit-border-radius:8px ;
      height: 100% !important;
      list-style-type: none;
      margin: 5px 10px;
      padding: 0;
}
.add {
      border: 3px dashed #D5D5D5;
      border-radius: 6px;
      -moz-border-radius:6px;
      -webkit-border-radius:6px ;
      color: #B9B9B9;
      height: 87px;
      padding-top: 29px;
      text-align: center;
      width: 164px;
}

.images {
      height: 64px;
      margin: 5px;
      width: 64px;
      float: right;
}
.imgp {
      background: none repeat scroll 0 0 #FFFFFF;
      border: 1px solid #CCCCCC;
      border-radius: 6px;
      -moz-border-radius:6px;
      -webkit-border-radius:6px ;
      display: none;
      margin: 5px;
      max-height: 167px;
      min-height: 83px;
      overflow-y: scroll;
      padding: 5px;
      width: 195px;
}              */



.images1 {
      border-radius: 35px;
      -moz-border-radius:35px;
      -webkit-border-radius:35px ;
      margin: -7px 0 0 -8px;
      padding: 0;
}
.box {
      float: right;
      margin: 0 0 15px;
}
.box > div {
      float: right;

}

.hr-inner-style
      {
      background-color: #f1f1f1;
      border:2px solid #c8c8c8;
      width: 8px;
      height: 8px;
      border-radius: 20px;
      -moz-border-radius:20px;
      -webkit-border-radius:20px ;
      display: block;
      position: absolute;
      margin:-2px 0 0 -4px !important;
}
.hr-inner-style1 {
      background-color: #E3E3E3;
      border: 2px solid #C8C8C8;
      border-radius: 20px;
      -moz-border-radius:20px;
      -webkit-border-radius:20px ;
      bottom: 0 !important;
      display: block;
      height: 8px;
      margin:0 0 -4px -4px !important;
      position: absolute;
      width: 8px;

}
#myTabIcons .hr-inner-style ,
#myTabIcons .hr-inner-style1 ,
#myTab4 .hr-inner-style ,
#myTab4 .hr-inner-style1 {
      background-color: #fff;
}

.Tapline1{
      border-left: 1px solid #C8C8C8;
      height: 45%;
      position: absolute;
      left: 5.5%;
      width: 0 !important;
}

.navbar-form1 .form-group1 {
      display: inline-block !important;
      margin: 0;
      position: absolute;
      vertical-align: middle;
}
.navbar-left1 {
      left: 0 !important;
      margin: 0 auto !important;
      padding: 11px 3px 1px 4px;
}
.form-control1{
      margin-left: 0 !important;
      float: left !important;
      border-radius: 6px 0 0 6px !important;
      -moz-border-radius: 6px 0 0 6px !important;
      -webkit-border-radius: 6px 0 0 6px !important;

}
      /* end 1392/12/1 change baran zarghani */
.form-contro {
      padding: 0.37em;
      width: 15em;
}
#img_gallery li ul li {
      float: right;
}

.as {
      width: 35px;
      height: 35px;


}

.color {
      border-radius: 5px;
      -moz-border-radius: 5px;
      -webkit-border-radius: 5px;
      display: block;
      float: right;
      height: 17px;
      margin: 2px;
      width: 21px;
}
.color:hover{

      border: 3px solid #51B5EA;
      border-radius: 4px;
      -moz-border-radius: 4px;
      -webkit-border-radius: 4px;
      display: block;
      float: right;
      height: 17px;
      margin: 2px;
      width: 21px;
}
.colorpicker_pl{
      list-style-type: none !important;

}
.circleimg2 {
      background: none repeat scroll 0 0 #DEDEDE;

      border-radius: 60px;
      -moz-border-radius: 60px;
      -webkit-border-radius: 60px;
      display: block;
      float: right;
      padding: 3px;
      margin: 2px;
}
.circleimg2:hover {
      background: none repeat scroll 0 0 #51B5EA !important;
      border-radius: 65px;
      -moz-border-radius: 65px;
      -webkit-border-radius: 65px;
      display: block;
      float: right;
}
.at-selected{
      background: none repeat scroll 0 0 #51B5EA !important;
}

.imgup-selected{
       background: none repeat scroll 0 0 #51B5EA !important;
}

/* 65BFE2*/
.dig {
      border-radius: 2px;
      -moz-border-radius: 2px;
      -webkit-border-radius: 2px;
      height: 70px !important;
      width: 92px !important;
}
.popover-content .theme-map {
      background: none repeat scroll 0 0 #FFFFFF;
      float: right;
      padding: 4px;
      margin: 3px 1px;
}
#map_theme .theme-map {
      border: 1px solid #ccc;
      border-radius:4px;
      -moz-border-radius: 4px;
      -webkit-border-radius: 4px;
      float: right;
      padding: 0px;
      margin: 4px 6px 3px 2px;
}
#map_theme .theme-map span {
      border: 0px solid #ccc;
}
#map_theme a:hover{
      border: 1px solid #33ccff;

}
.theme-map span {
      border: 1px solid #33ccff;
      border-radius:2px;
      -moz-border-radius: 2px;
      -webkit-border-radius: 2px;
}

.theme_box_inner  a:hover{
      background: #33ccff;
      border-radius:4px;
      -moz-border-radius: 4px;
      -webkit-border-radius: 4px;
}

.active .btn-default111 .arrow_pl:after {
       border-right-color: #f3f3f3 !important;
      border-width: 7px !important;
      bottom: -5px;
      content: "";
      left: -5px;
}
.active .btn-default111 .arrow_pl,.active .btn-default111 .arrow_pl:after {
      border-color: rgba(0, 0, 0, 0);
      border-style: solid;
      display: block;
      height: 0;
      position: absolute;
      width: 0;
}
.active .btn-default111 .arrow_pl {
      border-width: 10px;
      margin-top: 14px;
      right: -2px;
}

      /* 1/12/92 */

.divider1 {
      border-top: 1px solid #CCCCCC !important;
      margin: 2px 0 2px !important;
}


#myTab3 .active {
      background: none repeat scroll 0 0 #A9FF7A;
      border:3px solid #66D62E!important;

}

#zmind-platte .active .btn-default111 {
      background: none repeat scroll 0 0 #00aeef;
      color: #333333 !important;
      height: 40px !important;
      width: 3em;
}
.popover-content > ul {
      list-style-type: none;
}
.theme_box_inner{
      height: 254px;
      overflow-y: scroll;
}
/* 1392/12/2 edit by parsa */
.txt-area-hide{
      height: 0;
      width: 0;
}


#zmind-footer {

}
/* 6/12/93  */
#myTab3 > ul {
      list-style-type: none;
}
#myTab4 > ul {
      list-style-type: none;
}
.form-control2 {
      float: right;
      margin: 0 28px !important;
      padding: 0.37em;
      text-align: right;
      width: 15em;
}
.tab-pane1 {
      display: none;
}
.tab-pane1.in {
      display: block;
}
.fd {
      margin-top: 42px;
}

.border_ra_pl {
      border-radius: 0 6px 6px 0 !important;
      -moz-border-radius:  0 6px 6px 0 !important;
      -webkit-border-radius:  0 6px 6px 0 !important;
}



.circleimg2 img {
      background: none repeat scroll 0 0 #EEEEEE;
      border-radius: 50px !important;
      -moz-border-radius: 50px !important;
      -webkit-border-radius: 50px !important;
      height: 70px !important;
      width: 70px !important;
}
.attach-icon {
      border-radius: 60px;
      -moz-border-radius: 60px;
      -webkit-border-radius: 60px;
      height: 70px !important;
      width: 70px !important;
}




#zmind-footer ul{
      list-style-type: none;
}
#zmind-footer ul li{
      float: right;
      position: relative;
}

.jqibox {
      height: auto !important;
      position: relative !important;
}
.jqifade {
      background-color: #777777;
      display: none !important;
      position: absolute;
}

#custom_shapes{
      background-color: #F3F4F9 !important;
      border: 1px solid #cccccc !important;
}
#img_gallery li ul li a {
      background: none repeat scroll 0 0 #CCCCCC;
      -moz-border-radius: 30px;
      -webkit-border-radius:30px;
      border-radius: 30px;
      display: block;
      margin: 2px;
      padding: 1px;
      float: right;
}
.as span
      {
      background: none repeat scroll 0 0 #FFFFFF !important;
      border-radius: 30px;
      -moz-border-radius:30px;
      -webkit-border-radius: 30px;
      padding: 3px;
}
.as span img{
      background-color: #FFFFFF;
      border-radius: 30px;
      -moz-border-radius:30px;
      -webkit-border-radius: 30px;
}
#img_gallery ul {
      list-style-type: none;
}
#img_gallery li ul li a:hover {
      background: none repeat scroll 0 0 #33CCFF !important;
      border-radius:30px;
      -moz-border-radius:30px;
      -webkit-border-radius: 30px;
}

.sp-container {
      border: 1px solid rgba(0, 0, 0, 0.13) !important;
      border-radius: 4px !important;
      -moz-border-radius:4px !important;
      -webkit-border-radius: 4px !important;
      box-shadow: 0 5px 6px -1px rgba(0, 0, 0, 0.2) !important;
      -moz-box-shadow:0 5px 6px -1px rgba(0, 0, 0, 0.2) !important;
      -webkit-box-shadow:0 5px 6px -1px rgba(0, 0, 0, 0.2) !important;
      padding: 0;
}
.sp-palette-container {
      border-right: none;
}

.li-img-mg {
      height: 38px !important;
}
#myTabIcons > ul {
      list-style-type: none;
      float: right;
}
.Tap-icon-edit {
    background: url(../images/block_vidget.png) no-repeat ;
    width: 122px;
    height: 130px;
    position: absolute;
    margin: -23px 0 0 -4px;
}

#lib_tbico_box_1 > ul {
      list-style-type: none;
}

#icon_gallery li ul li {
      float: right;
}
#icon_gallery li ul li a {
      background: none repeat scroll 0 0 #CCCCCC;
      border-radius: 30px;
      -moz-border-radius:30px;
      -webkit-border-radius: 30px;
      display: block;
      float: right;
      margin: 2px;
      padding: 1px;
}
.as {
      height: 35px;
      width: 35px;
}
.as span {
      background: none repeat scroll 0 0 #FFFFFF !important;
      border-radius: 30px;
      -moz-border-radius:30px;
      -webkit-border-radius: 30px;
      padding: 3px;
}
.img-menu-gallery.bttrlazyloading-loaded {
      background-color: #FFFFFF;
}
.as span img {
      background-color: #FFFFFF;
      border-radius: 30px;
      -moz-border-radius:30px;
      -webkit-border-radius: 30px;
}
#icon_gallery li{
      list-style-type: none;
}
#zmind_library_ico li a,
#lib_tbico_content_2 li a{
      background: none repeat scroll 0 0 #FFFFFF;
      border-radius: 4px;
      -moz-border-radius:4px;
      -webkit-border-radius: 4px;
      display: block;
      margin: 4px;
      padding: 2px;
      box-shadow: 0 1px 1px rgba(0, 17, 26, 0.1), 0 0 0 1px rgba(23, 25, 26, 0.05) inset;
      -moz-box-shadow:0 1px 1px rgba(0, 17, 26, 0.1), 0 0 0 1px rgba(23, 25, 26, 0.05) inset;
      -webkit-box-shadow:0 1px 1px rgba(0, 17, 26, 0.1), 0 0 0 1px rgba(23, 25, 26, 0.05) inset;

}
#zmind_library_ico li .ico-library-selected, #lib_tbico_content_2 li .ico-library-selected{
      background-color: #33CCFF !important;
      box-shadow: 0 0 0;
      display: block;

}
#zmind_library_ico li .ico-library-selected span img,
#lib_tbico_content_2 li .ico-library-selected span img {
      background-color: #33CCFF !important;
}
#zmind_library_ico li a:hover,
#lib_tbico_content_2 li a:hover {
      background: none repeat scroll 0 0 #51B5EA;
      border-radius: 4px;
      -moz-border-radius:4px;
      -webkit-border-radius: 4px;
}
#icon_gallery li ul li a:hover {
      background: none repeat scroll 0 0 #33CCFF !important;
      border-radius:30px;
      -moz-border-radius:30px;
      -webkit-border-radius:30px;
}

.ico-library {
      height:20px !important;
      width: 20px !important;
      padding: 3px;
      background: #fff ;
      display: block;
}
#lib_tbico_content_2 {
      list-style-type: none;
}
#lib_tbico_content_2 li,
#zmind_library_ico li {
      float: right;
}
.ico-lib-link span {
      height: 20px !important;
      width: 20px !important;
      background: #fff !important;

}
.li-ico-h {
      height: 30px !important;
      margin-top: 0px !important;
}
.li-mg-h {
      height: 30px !important;
        margin-bottom: 0px !important;
}

.li-ico-mg {
      height: 28px !important;
      margin-top: 5px;
}
.theme_box_panel {
      overflow-y: scroll;
      height: 100%;
}
.theme_box_panel .bttrlazyloading-clone{
      width: 92px !important;
      height: 70px !important;
}

.plate {
      height: 100%;
}
.tab-content {
      height: 100%;
}

#text_background_ico {
      width: 3.3em;
}
#text_color_ico {
      width: 3.4em;
}
.link_education_wizard {
      margin-right: 125px !important;
}
#lib_tbico_box_1 {
      padding: 10px;
}

#mySavedModel{
      height:0 !important;
}



.rate{
      background-image: url(../images/stars.png);
      background-position: right 2px;
      background-repeat: no-repeat;
      display: inline-block;
      height: 25px;
      text-decoration: none;
      width: 20px;
}
.star-o{
      background-position: right -21px;
}
.star-g{
      background-position: right -44px;
}

.score_box_inner{
      padding: 10px;
}

.usersrating .success,.usersrating .sending,.usersrating .error2{
      display: none;
}


#score_box {
      background-color: #FFFFFF;
      border: 1px solid #CCCCCC;
      border-radius: 6px;
      -moz-border-radius:6px;
      -webkit-border-radius: 6px;
      bottom: 2.3em;
      display: none;
      position: absolute;
      right: -5em;
      width: 12em;
}




.Costomize_Style,
#dialog_Costomize,
.image_Scaling > li {
      color: #555555;
      font-family: tahoma;
      font-size: 12px;
}
.no-text-shadow,
.colorpicker-text-shadow  .input-colorpicker {
    margin: 8px !important;
}
.height_hd_dropdown {
      padding: 8px;
      width: 170px;
}
.height_hd_dropdown select {
      height: 23px;
      margin-left: 7px;
      width: 56px;
}
.height_hd_dropdown > li {
      margin: 5px 0;
}
.BorderRadius_mi {
      margin-left: 9px;
      margin-right: 27px;
}

/*.mCSB_scrollTools {
      display: block !important;
}*/
.mCSB_container.mCS_no_scrollbar ul {
      background: none repeat scroll 0 0 #FFFFFF;
      display: table;
      height: 100%;
      width: 100%;
}
.image_Scaling li a {
      color: #555555 !important;
}
.image_Scaling li a:hover  {
      color: #33CCFF !important;
      background: none !important;
}
.image_Scaling {
      min-width: 131px;
      padding: 5px 2px 6px;
}
.dropdown_Link ul li ul {
      float: left;
      padding:9px 5px 9px 7px !important;
}
.dropdown_Customize_Header,
.dropdown_Sticky_Header,
.dropdown_menu_hd,
.dropdown_Banner_Code,
.dropdown_Text,
.dropdown_Logo_hd,
.dropdown_Search_hd,
.dropdown_Link,
.dropdown_Contact_Info {
      background: none repeat scroll 0 0 #F8F8F8;
      width: 210px;
      padding: 5px 0 10px;
}
.Costomize_Style,
.social_add a span{
      padding: 0 0 5px 5px !important;
}
.dropdown_custom_font a span,
.dropdown_Customize_Header a span,
.dropdown_Sticky_Header a span,
.dropdown_menu_hd a span,
.dropdown_Banner_Code a span,
.dropdown_Text a span,
.dropdown_Logo_hd a span,
.dropdown_Search_hd a span,
.dropdown_Contact_Info a span {
      padding: 0 0 5px 5px !important;
}
.dropdown_Sticky_Header select,
.dropdown_menu_hd select{
      width: 10em;
}
.height_hd_dropdown input {
      background: none repeat scroll 0 0 #FFFFFF !important;

}
.dropdown_Link input,
.dropdown_custom_font input,
.dropdown_Sticky_Header input,
.dropdown_Text input,
.dropdown_Logo_hd input,
.dropdown_Contact_Info input {
      background: none repeat scroll 0 0 #FFFFFF !important;
      margin: 0;
      padding: 2px 5px;
}

.checkbox_hd {
      padding: 0 !important;
      width: 1em !important;
}

.dropdown_Sticky_Header {
      width: 240px !important;

}
.dropdown_Logo_hd {
      width: 200px !important;
}
.dropdown_Customize_Header textarea {
      margin: 11px 6px;
}
.Select_Menu,
.Retina_Logo {
      font-family: tahoma !important;
      font-size: 12px;
}
.dropdown_Banner_Code{
      padding: 5px 3px 10px !important;
}

.dropdown_custom_font{
      width: 275px !important;
      background: none repeat scroll 0 0 #F8F8F8;
      padding: 5px 0 10px;
}
.dropdown_Search_hd li ul {
      padding: 10px;
}
.bground-dropdown ul li ul {
      background: none repeat scroll 0 0 #FFFFFF;
      border-radius: 4px;
      -moz-border-radius: 4px ;
      -webkit-border-radius:4px;
      box-shadow: -6px 13px 47px 1px #F2F2F2 inset;
      -moz-box-shadow: -6px 13px 47px 1px #F2F2F2 inset;
      -webkit-box-shadow:-6px 13px 47px 1px #F2F2F2 inset;
}
.bground-dropdown ul li ul{
      display: block;
      float: left;
      padding: 10px;
}
.header-dropdown,
.background-dropdown {
      background-color: #F8F8F8;
}


.color-shadow {
    box-shadow: none !important;
}
.dropdown_container-img-controll {
      height: 500px;
      padding: 0 !important;
      width: 250px !important;
}
.dropdown_container-img-controll ul li {
      float: left;


}
.uplod-img-controll{
      width: 100%;
}
.dropdown_container-img-controll ul li ul {
      padding: 10px 5px;
}
.dropdown_Logo_hd a span{
      float: left;
}
.btn-logo {
      float: right;
      margin-right: 25px;
}
.uplod_pic {
      background: -moz-linear-gradient(center bottom , #FFFFFF 0%, #F0F0F0 100%, #F0F0F0 100%);
      background: rgb(255,255,255); /* Old browsers */
      background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,255,255,1)), color-stop(100%,rgba(240,240,240,1)), color-stop(100%,rgba(240,240,240,1))); /* Chrome,Safari4+ */
      background: -webkit-linear-gradient(top,  rgba(255,255,255,1) 0%,rgba(240,240,240,1) 100%,rgba(240,240,240,1) 100%); /* Chrome10+,Safari5.1+ */
      background: -o-linear-gradient(top,  rgba(255,255,255,1) 0%,rgba(240,240,240,1) 100%,rgba(240,240,240,1) 100%); /* Opera 11.10+ */
      background: -ms-linear-gradient(top,  rgba(255,255,255,1) 0%,rgba(240,240,240,1) 100%,rgba(240,240,240,1) 100%); /* IE10+ */
      background: linear-gradient(to bottom,  rgba(255,255,255,1) 0%,rgba(240,240,240,1) 100%,rgba(240,240,240,1) 100%); /* W3C */
      filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#f0f0f0',GradientType=0 ); /* IE6-9 */
      border: 1px solid #DDDDDD;
      border-radius: 3px;
      -moz-border-radius: 3px ;
      -webkit-border-radius:3px;
      box-shadow: 0 8px 6px -3px #DDDDDD;
      -moz-box-shadow: 0 8px 6px -3px #DDDDDD;
      -webkit-box-shadow:0 8px 6px -3px #DDDDDD;
      display: block;
      float: left;
      height: 52px;
      padding: 1px !important;
      position: relative !important;
      text-align: center !important;
      width: 52px;
}
.uplod_pic div div a img, .img-icon {
      border: 1px solid #DDDDDD;
      box-shadow: 1px 2px 4px -2px #DCDCDC inset;
      -moz-box-shadow: 1px 2px 4px -2px #DCDCDC inset;
      -webkit-box-shadow:1px 2px 4px -2px #DCDCDC inset;
      display: block;
      height: 48px;
      position: absolute;
      width: 48px;
      z-index: 1;
}
.uplod_pic > img {
      border: 1px solid #DDDDDD;
      box-shadow: 1px 2px 4px -2px #DCDCDC inset;
      -moz-box-shadow: 1px 2px 4px -2px #DCDCDC inset;
      -webkit-box-shadow:1px 2px 4px -2px #DCDCDC inset;
      display: block;
      height: 48px;
      position: absolute !important;
      width: 48px;
}
.btn-retina-logo {
      float: right;
      margin-right: 25px;
}
.btn-img-controll {
      float: right;
      margin-right: 60px;
}
.uplod-img-controll a span {
      float: left;
      margin: 13px 0 4px;
}
.icon_social_links {
      background: none repeat scroll 0 0 #FFFFFF !important;
      box-shadow: -6px 13px 47px 1px #F2F2F2 inset;
      -moz-box-shadow: -6px 13px 47px 1px #F2F2F2 inset;
      -webkit-box-shadow:-6px 13px 47px 1px #F2F2F2 inset;
      border-bottom: 1px solid #DFDFDF;
      display: block;
      float: left;
      height:240px;
}
.dropdown_Link {
      width: 290px;
}
.address_fl li{
      float: none !important;
}
.address_fl ul {
      float: left;
      padding:0 3px 5px 7px !important;
}
.address_fl img {
      display: block;
      width: 85px;
      border-radius: 6px;
      -moz-border-radius: 6px ;
      -webkit-border-radius:6px;
}
.address_fl span {
      font-family: tahoma !important;
      font-size: 13px !important;
}
.icon_social_links li {
      box-shadow: none !important;
}
.img_ps{
      border: 1px solid #CCCCCC;
      border-radius: 8px;
      -moz-border-radius: 8px ;
      -webkit-border-radius:8px;
      box-shadow: 1px 2px 4px -2px #DCDCDC;
      -moz-box-shadow: 1px 2px 4px -2px #DCDCDC;
      -webkit-box-shadow:1px 2px 4px -2px #DCDCDC;
      display: block;
      height: 87px;
      margin-left: 2px !important;
      position: relative;
      width: 87px;
}

.img_op{
      background-color: rgba(250, 250, 250, 0.5);
      border-radius: 0 0 8px 8px;
      -moz-border-radius:0 0 8px 8px ;
      -webkit-border-radius:0 0 8px 8px;
      bottom: 0;
      left: 0;
      padding: 5px 0;
      position: absolute;
      text-align: center;
      width: 100%;
      height: 30px;
}
.img_op .uplod_lg {
      background: rgb(255,255,255); /* Old browsers */
      background: -moz-linear-gradient(top,  rgba(255,255,255,1) 0%, rgba(238,238,238,1) 100%); /* FF3.6+ */
      background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,255,255,1)), color-stop(100%,rgba(238,238,238,1))); /* Chrome,Safari4+ */
      background: -webkit-linear-gradient(top,  rgba(255,255,255,1) 0%,rgba(238,238,238,1) 100%); /* Chrome10+,Safari5.1+ */
      background: -o-linear-gradient(top,  rgba(255,255,255,1) 0%,rgba(238,238,238,1) 100%); /* Opera 11.10+ */
      background: -ms-linear-gradient(top,  rgba(255,255,255,1) 0%,rgba(238,238,238,1) 100%); /* IE10+ */
      background: linear-gradient(to bottom,  rgba(255,255,255,1) 0%,rgba(238,238,238,1) 100%); /* W3C */
      filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#eeeeee',GradientType=0 ); /* IE6-9 */
      border-color: #C4C4C4 !important;
      border-image: none;
      border-radius: 4px;
      -moz-border-radius: 4px ;
      -webkit-border-radius:4px;
      border-style: solid;
      border-width: 1px;
      color: #3B81DE !important;
      font-size: 12px;
      font-weight: normal;
      line-height: 1;
      padding: 3px 12px;
      text-align: center;
      vertical-align: middle;
}
.img_op .uplod_lg:hover{
      background-image: none !important;
}
.upload_btn {
      float: left;
}
.add-img-header-uploader {
      margin: -72px 25px 21px 24px;
}
.dropdown_container-img-controll .uplod_image {
      float: left;
      margin: 29px 29px 0 5px;
}
.dropdown_container-img-controll .uplod_pic {
      height: 74px !important;
      margin: 16px 0;
      width: 74px !important;
}
.dropdown_container-img-controll .uplod_pic div div a img,.dropdown_container-img-controll .img-icon {
      height: 70px !important;
      width: 70px !important;
}
.dropdown_container-img-controll ul li .uplod_pic img {
      height: 70px !important;
      width: 70px !important;
}
.address_fl .fa{
      margin: 0 0 0 -2px !important;
}
.address_fl .uplod_lg {
      display: block;
      height: 24px;
      margin: 2px auto;
      padding: 0 !important;
      width: 24px;
}
.address_fl .img_op {
      padding:0;
}
.dropdown_Link .uplod_image {
      float: left;
      margin: 10px 5px 15px 80px;
      padding: 0 !important;
}
.add_social {
      color: #F3F3F3;
      font-family: tahoma;
      font-size: 13px;
      margin: 0 2px !important;
      padding: 0 !important;
}
.bground_select{
      background-color: #33ccff !important;
      background-image: none !important;
      border-bottom-color: #33ccff !important;
      border-right-color: #33ccff !important;
}
.bground_select span span{
      background-color: #33ccff !important;
}
.bground_select span span img{
      background-color: #33ccff !important;
      border-color: #33ccff !important;
}
.icon_sc_select{
      background-color: #33ccff !important;
      background-image: none !important;
      border-color: #33ccff !important;
}
.icon_sc_select span span{
      background-color: #33ccff !important;
}
.icon_sc_select span span img{
      background-color: #33ccff !important;
      border-color: #33ccff !important;
}
.widget_sb_dropdown ul li {
      width: 100%;
      box-shadow: none;
}

.widget_add {
      background: none repeat scroll 0 0 #FAFAFA;
      border: 1px solid #E5E5E5;
      box-shadow: 0 1px 1px rgba(0, 0, 0, 0.04);
      -moz-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.04);
      -webkit-box-shadow:0 1px 1px rgba(0, 0, 0, 0.04);
      display: block;
      margin: 11px;
}
.widget_add h4{
      color: #858585;
      font-family: arial;
      font-size: 16px;
      font-weight: 700;
      line-height: 1;
      margin: 0;
      overflow: hidden;
      padding: 15px;
      text-overflow: ellipsis;
      white-space: nowrap;
}
.widget_sb_dropdown {
      height: 507px;
      width: 230px;
}
.widget_sb_dropdown ul {
      padding: 25px 6px 10px 0;
}
.layout-sty img {
      background-color: #FFFFFF;
      border: 1px solid #F2F2F2;
      border-radius: 5px !important;
      -moz-border-radius: 5px !important ;
      -webkit-border-radius:5px !important;
      display: block;
      height: 58px !important;
      margin: 2px !important;
      width: 58px !important;
}
.layout-sty {
      clear: none !important;
      display: block !important;
      float: left !important;
      height: 64px !important;
      width: 64px !important;
      border: 1px solid #EFEFEF;
      border-radius: 4px;
      -moz-border-radius: 4px ;
      -webkit-border-radius:4px;
      display: block;
      margin: 3px !important;
}
.layout-dropdown ul li ul {
      display: block;
      float: left;
      height: 100%;
      margin: 0 16px 0 10px !important;
      padding: 10px 0 !important;
      width: 210px;
}
.layout-dropdown {
      background: none repeat scroll 0 0 #F8F8F8;
      height: 512px;
      min-width: 237px;
}


#add-img-header,#add-img-footer{
      display: none;
}



.settings-uploader .uplod_image {
    margin: 21px 23px 25px 10px !important;
}
.settings-uploader .el_txt3 {
    padding: 0 !important;
}
.settings-uploader .img-icon {
    height: 62px !important;
    width: 62px !important;
}
.settings-uploader .el_txt3 > img {
    height: 62px;
    width: 62px;
}
.settings-uploader {
    height: 91px;
}


.selection-list-images {
     height: 365px;
    overflow: auto;
    position: relative;
    visibility: visible;
    width: 160px;
}

.selection-list-images-collection {
     margin-top: 6px;
    min-height: 365px;
}
.selection-list-images-skin {
    cursor: pointer;
    overflow: hidden;
    padding-bottom: 10px;
    position: relative;
    width: 125px;
}

.selection-list-images-imgwrap {
    border: 1px solid #CCCCCC;
    height: 95px;
    margin: 2px 2px 2px 22px;
    width: 95px;
}
.selection-list-images-darkbar {
    background-color:rgba(255, 255, 255, 0.73);
    bottom: 13px;
    height: 20px;
    left: 23px;
    position: absolute;
    text-align: center;
    width: 93px;
    z-index: 999;
}

.selection-list-images-trashbutton {
    cursor: pointer;
    height: 20px;
    margin: 0 auto;
    position: relative;
    width: 20px;
}
.selection-list-images-trashbutton .fa {
    color: #FF3300;
    margin: -3px 0 0;
}