/* dialog  */
.ui-dialog {
    background-clip: padding-box;
    background-color: #ffffff;
    border: 1px solid rgba(0, 0, 0, 0.06);
    border-radius: 0px;
    box-shadow: 0 3px 7px rgba(0, 0, 0, 0.06);
 /*   left: 0;            */
    outline: medium none;
    overflow: hidden;
/*    padding: 0;      */
    position: fixed;
  /*  top: 0;    */
    display: none;
    width: auto;
    z-index: 1050;
}

/* header */
.ui-dialog .ui-widget-header {
    border: 1px solid #666;
    font-weight: bold;
}
.ui-dialog .ui-dialog-titlebar {
    background: none repeat scroll 0 0 rgba(0, 0, 0, 0);
    border-bottom-left-radius: 0;
    border-bottom: 1px solid transparent;
    border-color: white white #f9f9f9 !important;
    font-size: 18px;
    padding: 5px 15px;
    position: relative;
    text-decoration: none;
    border-bottom-style: solid;
    border-bottom-width: 1px;
    padding: 8px 10px !important;
    border-radius: 0 !important;
}
.ui-dialog .ui-dialog-titlebar {
}
.ui-dialog .ui-helper-clearfix {
    display: block;
    min-height: 0;
}
.ui-dialog .ui-helper-clearfix:after {
    clear: both;
    content: ".";
    display: block;
    height: 0;
    visibility: hidden;
}
.ui-dialog .ui-helper-clearfix:before,.ui-dialog .ui-helper-clearfix:after {
    content: "";
    display: table;
}
.ui-dialog .ui-dialog-title {
    font-weight: normal !important;
    margin-bottom: 0 !important;
    margin-top: 0 !important;
    padding: 0 !important;
}
.ui-dialog .ui-dialog-titlebar .ui-button {
    background: none repeat scroll 0 0 rgba(0, 0, 0, 0);
    text-shadow: 0 1px 0 #fff;
    color: #000;
    float: right;
    font-size: 16px;
    font-weight: 700;
    line-height: 1;
    opacity: 0.2;
    border: 0 none;
    cursor: pointer;
    padding: 0;
}
.ui-dialog .ui-dialog-titlebar .ui-button:hover{
    opacity: 0.4;
}
.ui-dialog .ui-dialog-titlebar .ui-button:active,
.ui-dialog .ui-dialog-titlebar .ui-button:focus{
    opacity: 0.6;
}
.ui-dialog .ui-dialog-titlebar .ui-dialog-titlebar-close .ui-button-text {
    border: 0 none;
    clip: rect(0px, 0px, 0px, 0px);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}
.ui-dialog .ui-dialog-titlebar .ui-dialog-titlebar-close span {
    display: block;
    margin: 1px;
    font-weight: bold;
}
.ui-dialog .ui-dialog-titlebar .ui-dialog-titlebar-close .ui-icon {
    float: left !important;
}
/* end header */

/* content */
.ui-dialog .ui-widget-content{
    background-color: #f9f9f9;
}
.ui-dialog .ui-dialog-content {
    border: 0 none;
    height: 470px !important;
    max-height: 570px !important;
    min-height: 200px !important;
    overflow: hidden;
    padding: 0 !important;
    position: relative;
}

/* end content */

/* button */
.ui-dialog .ui-dialog-buttonpane {
    background-color: #f5f5f5;
    background-image: none;
    border-radius: 0;
    border-top: 1px solid #ddd;
    border-width: 1px 0 0;
    /*  box-shadow: 0 1px 0 #ffffff inset;  */
    margin: 0.5em 0 0;
    padding: 10px 15px;
    text-align: left;
}
.ui-dialog .ui-dialog-buttonpane {
    margin: 0 !important;
}
.library-dialog .ui-dialog-buttonpane {
    background-color: #f3f3f3 !important;
}

.ui-dialog .ui-dialog-buttonpane .ui-dialog-buttonset {
    float: right;
}
.ui-dialog-buttonset .ui-button{
  position: relative !important;
  opacity: 1 !important;
  float:  right;
  margin-left: 10px;
}

/* end button */
 /*

@media screen and (max-width: 238px) {
  .ui-dialog {
    min-width: 160px !important;

}
}
@media screen and (max-width: 850px) {
.library-dialog {
    margin: 1.5% !important;
    width: 97% !important;
}
}
@media screen and (max-width: 294px) {
  .ui-dialog {
    min-width: 240px !important;

}
}
@media screen and (max-width: 900px){
.ui-dialog {
    bottom: auto;
    height: auto !important;
    margin:0px !important;
    padding: 0 !important;
    width: auto !important;
    min-width: 295px;

}
}*/
#sed-dialog-settings {
    display: none;
}
.ui-widget-overlay.ui-front{
    position: absolute;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,.5);
    z-index: 100;
}
.icon-library-dialog.ui-dialog,
.library-dialog.ui-dialog{
    z-index: 1052;
}