
.media-loading,
#map-loading{
      height: 30px;
      text-align: center;
      width: 30px;
      z-index: 1100;
      display: none;
      background: url(../../images/loading.gif) no-repeat center center;
      background-size: 20px;
}

.media-loading{
      top: 5px;
      left: 50%;
      margin-left:-15px;
      position: relative;
      display: none;
}

.success-font-icon-remove,
.error-font-icon-remove,
.error-icon-items-lib,
.empty-icon-items,
.error-font-icon-load ,
.success-font-icon-load{
  display: none;
}

.error-font-icon-load p,
.success-font-icon-load p{
   margin: 0 !important ;
}
.empty-media-items{
    display: block;
    text-align: center;
}
/************** module loading*********/
.module-loading-container{
  position: relative;
}

.sed-loading-continer {
    top:0;
    left:50%;
    background: #000;
}
/************** manage pages*********/

#sed_full_editor_loading {
    display: none;
}
.sed-loading-continer {
    background: none repeat scroll 0 0 rgba(0, 0, 0, 0);
    display: table;/* table */
    height: 100%;
    position: absolute;
    width: 100%;
    z-index: 2147483647;

}
.sed-loading-continer .sed-loading{
    background-image: url("../../images/loading.gif");
    background-position: center center;
    background-repeat: no-repeat;
    display: table-cell;
    height: 100px;
    margin: 0 auto;
    overflow: hidden;
    text-align: center;
    vertical-align: middle;
    width: 100px;
}
.sed-loading-small-continer {
    background: none repeat scroll 0 0 rgba(0, 0, 0, 0);
    display:none;
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 2147483647;

}

.sed-loading-small-continer .sed-loading{
    background-image: url("../../images/loading.gif");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: 21px 21px;
    display: inline-block;
    height: 30px;
    overflow: hidden;
    right: 0;
    vertical-align: middle;
    width: 30px;
}

.sed-loading-medium-continer{
    background: none repeat scroll 0 0 rgba(0, 0, 0, 0);
    display: none;
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 2147483647;

}
.sed-loading-medium-continer .sed-loading{
    background-image: url("../../images/loading.gif");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: 27px 27px;
    display: inline-block;
    height: 30px;
    overflow: hidden;
    right: 0;
    vertical-align: middle;
    width: 30px;
}
#sed_full_editor_loading .sed-loading-continer {
    background: none repeat scroll 0 0 rgba(255, 255, 255, 0.7);
    left: 0;
}
.link-pages > .sed-loading-medium-continer {
    bottom: 30px !important;
    height: auto;
    text-align: center !important;
    top: auto;
}
.link-pages-scrollbar .sed-loading-medium-continer {
    text-align: center;
}
.link-pages .sed-loading-small-continer {
    padding: 4px;
}
.link-pages .sed-loading-small-continer .sed-loading {
    float: right;
}

.search-pages .sed-loading-small-continer{
    padding: 4px 20px 0 0;
}
.search-pages .sed-loading-small-continer .sed-loading {
    float: right;
}
/* save & publish */
.save-publish .button-primary.save .icon-spin {
    display: none;
    color: #fff;
    line-height: 0;
    font-size: 13px;
}
.saving .save-publish .button-primary.save .icon-spin {
    display: inline-block;
}
.save-publish button[disabled] {
    background-color: #2AA7E0;  
    border: 1px solid #2AA7E0;
}
.sedico-spin {
  -webkit-animation: sedico-spin 2s infinite linear;
  animation:sedico-spin 2s infinite linear;
}
.sedico-pulse {
  -webkit-animation: sedico-spin 1s infinite steps(8);
  animation: sedico-spin 1s infinite steps(8);
}
@-webkit-keyframes sedico-spin {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(359deg);
    transform: rotate(359deg);
  }
}
@keyframes sedico-spin {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(359deg);
    transform: rotate(359deg);
  }
}