

.multi-level-box{
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-transition: left 0.3s ease 0s;
       -moz-transition: left 0.3s ease 0s;
        -ms-transition: left 0.3s ease 0s;
         -o-transition: left 0.3s ease 0s;
            transition: left 0.3s ease 0s;
            z-index: 1;
}
.multi-level-box-title{
    width: 100%;
    height: 100%;
    padding: 8px 10px 8px 30px;
    position: absolute;
    top: 0;
    -webkit-transition: left 0.3s ease 0s;
       -moz-transition: left 0.3s ease 0s;
        -ms-transition: left 0.3s ease 0s;
         -o-transition: left 0.3s ease 0s;
            transition: left 0.3s ease 0s;
    cursor: move;
}
.multi-level-box-title.first {
    padding: 8px 10px;
}
div[data-self-level-box="dialog-level-box-settings-sed_row-container"] {
    padding-left: 30px !important;
}
.icon-close-level-box {
    border-color: #ddd;
    border-image: none;
    border-radius: 0;
    border-style: solid;
    border-width: 0 1px 0 0;
    display: table;
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 24px;
    cursor: pointer;
}
.icon-close-level-box i{
    color: #00ccff;
    display: table-cell;
    font-size: 14px;
    font-weight: bold;
    padding: 0 4px;
    vertical-align: middle;
}
.multi-level-box-next{
    left:100%;
}
.multi-level-box-prev{
    left:-100% !important;
}
.multi-level-box-current{
    left:0 !important;
}
.level-box-transition-none{
    -webkit-transition: none 0s ease 0s !important;
       -moz-transition: none 0s ease 0s !important;
        -ms-transition: none 0s ease 0s !important;
         -o-transition: none 0s ease 0s !important;
            transition: none 0s ease 0s !important;
}

