
.row_setting_box,
.settings-uploader {
    border: 1px solid #E6E6E6;
    border-radius: 0px;
    margin: 15px 12px;
    padding: 8px 12px;
  /*  width: 92%; */
}
.row_setting_box .row_setting_box {
  margin: 12px 0px;
}
.row_setting_box .row_settings {
    margin-bottom: 12px;
}
.row_setting_box .row_settings:last-child {
    margin-bottom: 0;
}
.row_setting_box .el_txt{
    float: none !important;
}
.sed-container-control-element, .sed-style-editor-element{
    position: relative;
}
.sed-container-control-element::after, .sed-container-control-element::before,
.sed-container-control-element .colorpicker::after, .sed-container-control-element .colorpicker::before {
    content: "";
    display: table;
}
.sed-container-control-element::after ,
.sed-container-control-element .colorpicker::after {
    clear: both;
}
.add-new-template label,
.clearfix label {
    margin: 0 !important;
    padding: 0 !important;
    line-height: 25px;
}
.row_setting_box .colorpicker .el_txt,
.add-new-template input,
.add-new-template textarea,
.add-new-template label ,
.row_setting_box label ,
.clearfix > textarea,.clearfix > input,
.row_setting_box > input  {
    font-size: 12px;
    margin: 0;
    padding: 5px 10px;
    vertical-align: middle;

}
.row_setting_box .colorselector,
.row_settings .after_field,
.row_settings .ui-spinner {
    float: right;
    display: block;
}
.row_settings .after_field{
  line-height: 25px;
  padding-left: 5px;
  min-width: 23px;
}

.flt-help{
   float: right;
   margin: 0 0 5px 7px
}
#sed-dialog-front_page_displays select ,
.add-new-template select ,
.add-new-template input,
.row_setting_box   select ,
.row_setting_box   textarea ,
.row_setting_box   input{
    background-color: #fff !important; 
    border: 1px solid #d5d5d5;
    border-radius: 0px;
    box-shadow: none;
    color: #666;
    font-size: 12px;
    margin: 0;
    padding: 5px 10px;
    width: 100%;
}
.sed-bp-checkbox-input,
.sed-bp-radio-input,
input[type="checkbox"],
input[type="rodio"]
{
    margin: 0 5px 0 0 !important;
    vertical-align: middle;
    width: 13px !important;
}
.setting-icon,
.setting-img {
    margin: 0 auto;
    width: 100%;
    display: table;
}
.change-icon-setting,
.change-img-setting {
    display: table-cell;
    margin: 0 auto;
    vertical-align: middle;
    text-align: center;
}
.change_image {
    width: 100%;
}
.change-icon-container .sed-bp-icon-empty.sed-bp-icon-demo{
    color: #ced0d2;    
}
.change-icon-container .sed-bp-icon-demo {
    font-size: 26px;
    height: 58px;
    vertical-align: top;
    line-height: 58px;
}
.images-organize-box .item-image,
.icons-organize-box .item-icon, 
.change-icon-container,
.change-img-container{
    border: 1px solid #E6E6E6;   
    /*box-shadow: 2px 2px 3px -2px #DCDCDC;*/   
    height: 64px;
    line-height: 64px;
    margin: 0 20px 0 0;
    position: relative !important;
    width: 64px;
    overflow: visible;
    border: 1px solid #e6e6e6;
    background: #fff;
    display: block;
    text-align: center;
}
.images-organize-box ,
.icons-organize-box {
    margin: 3px -3px;
}
.images-organize-box .item-image,
.icons-organize-box .item-icon {
    margin: 2px;
    display: inline-block;
    width: 54px;
    height: 54px;
    line-height: 54px;
    cursor: move;
    overflow: visible;
}
.icons-organize-box .item-icon > span{
    font-size: 20px;
}
.change-icon-setting .remove-icon-action,
.change-img-setting .remove-img-action, 
.images-organize-box .item-image > span.remove-img-action,
.icons-organize-box .item-icon > span.remove-icon-action {
    position: absolute;
    background: rgba(0,0,0,0.7);
    color: #fff;
    font-size: 11px;
    height: 1.2em;
    width: 1.2em;
    line-height: 1.3em;
    top: -3px;
    right: -3px;
    opacity: 0;
    cursor: pointer;
    z-index: 1;
}
.change-icon-setting .change-icon-container:hover .remove-icon-action,
.change-img-setting .change-img-container:hover .remove-img-action, 
.images-organize-box .item-image:hover > span.remove-img-action,
.icons-organize-box .item-icon:hover > span.remove-icon-action {
    opacity: 1;
}
.images-organize-box .item-image > img {
    max-width: 100%;
    height: auto;
    width: 100%;
}
.change_img {
    width:100%;
    height: auto;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    transform: translateY(-50%);    
    margin-top: 50%;
}
.pb-skins-modules-container:after,.pb-skins-modules-container:before {
    display: table;
    content: "";
}
.pb-skins-modules-container:after{
    clear: both;
}

.pb-skins-modules-container li {
    display: inline-block;
}
.pb-skins-modules-container a {
    display: block;
    margin: 5px 9px;
    padding: 5px;
    border: 1px solid #eee;
    border-radius: 0px;
    -moz-transition: all 400ms;
    -o-transition: all 400ms;
    -webkit-transition: all 400ms;
    transition: all 400ms;
}
.pb-skins-modules-container a:hover , a.pb-skin-item.pb-skin-item-selected,.hover-effect-item-selected {
    border: 1px solid #00CCFF;
    box-shadow: 0px 0px 5px #00B2DF;
}

.pb-skins-modules-container li a img {
    width: 100px;
}
button.change_image{
     cursor: pointer !important;
}
input.media-url-field {
  width: 90%;
  margin-bottom: 8px;
}
.remove-media-src-btn .fa{
    color: #aaa;
    border: 1px solid #ccc;
    border-radius: 1000px;
    margin-left: 3px;
    font-size: 12px;
    padding: 0;
    width: 1.32em;
    height: 1.3em;
    line-height: 1.2em;
    text-align: center; 
}
.remove-media-src-btn:hover .fa{
    color: #333;
    border: 1px solid #999;
}

