
#myTab .dropdown li a {
      border-color: rgba(0, 0, 0, 0);

}
#myTab .dropdown-menu a {
      background: none repeat scroll 0 0 rgba(0, 0, 0, 0) !important;
}

.tab-content > .tab-pane {
      display: none;
}
.tab-content > .active {
      display: block;
}
.tab-pane {
      height: 100%;
}
.nav .open > a .caret, .nav .open > a:hover .caret, .nav .open > a:focus .caret {
      border-bottom-color: #000000;
      border-top-color: #000000;
}
.nav-tabs .dropdown-menu {
      border-top-left-radius: 0;
      -moz-border-top-left-radius: 0;
      -webkit-border-top-left-radius: 0;
      border-top-right-radius: 0;
      -moz-border-top-right-radius: 0;
      -webkit-border-top-right-radius:0;
      margin-top: -1px;
}
.nav .open > a, .nav .open > a:hover, .nav .open > a:focus {
      background-color: #000000;
      border-color: #000000;
}
.nav li a:hover,
.nav li a:focus {
      text-decoration: none;
      background-color: #eee ;
}
      /*  by baran --- table for toolbar */
.row1 > td, .row2 > td {
      vertical-align: top;
}

      /* end table for toolbar */

.ert2, .gfd2, .profile2, .home2,.element_group {
      float: left;
      height: 7em;
      padding: 0 1.2em;
      position: relative;
}

#modules-tab-content .tab_inner , #widgets-tab-content .tab_inner {
    overflow: hidden;
    width: 97%;
}
.other_panel{
    text-align: center;
    width: 2.7%;
}

.other_panel ,#modules-tab-content .tab_inner , #widgets-tab-content .tab_inner {
    float: left;
    height: 7em;
}
.tab_inner_content {
  float: left;
  height: 7em;
  position: relative;
  width: 500000px;
}
#key_module {
  width: 92%;
  margin: 15px 10px;
  padding: 5px;
}
#other_modules_panel , #other_widgets_panel{
  display: none;
}
#other_modules_panel > a.btn, #other_widgets_panel > a.btn{
    line-height: 70px !important;
    padding: 3px 6px;
}

#other_modules_panel > a.btn .sedico-2x, #other_widgets_panel > a.btn .sedico-2x {
    font-size: 20px;
    color: #999;
}

#search-module-title{
  display: block !important;
}


.index_inner {
  height: 100%;
  text-align: center;
}
.index_inner #container {

      width: 100% !important;
}

.index {
      background-color: #F3F4F9;
      height: auto;
      position: relative;
}
.index {
    display: block;
    position: absolute;
    width: 100% !important;
    top: 115px; 
    bottom: 0;
    z-index: 9;
}


#website {
      width: 100%;
      height: 100%;
}

.spr {
      border-left: 1px solid #D8D8D8;
      border-right: 1px solid #FFFFFF;
      display:block;
      float: left;
      height: 64px;
      margin: 9px auto;
      width: 0;
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}
input[type="text"],
input[type="password"],
.ui-autocomplete-input,
textarea,
.uneditable-input {
      background-color: #FAFAFA !important;
      border: 1px solid #d5d5d5;
      border-radius: 0px;
      -moz-border-radius:0px;
      -webkit-border-radius:0px;
      box-shadow: none;
      color: #666;
      font-size: 12px;
}
select:focus,
input:focus,
textarea:focus,
input[type="text"]:focus,
input[type="password"]:focus,
.ui-autocomplete-input:focus,
.uneditable-input:focus {
      border:1px solid #ccc;
      box-shadow: 1px 1px 3px rgba(0,0,0,0.1) inset !important;
}
.ui-widget {
      font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
      font-size: 13px;
}


.ui-icon{
      float: left !important;
}
.ui-icon-carat-1-e{
      background: none !important;
      background-image: none !important;
      text-indent: 0 !important;
      height: 20px !important;
}
.ui-menu .ui-menu-item{
      /* float: none !important;   */
}
button.close {
      background: none repeat scroll 0 0 rgba(0, 0, 0, 0);
      border: 0 none;
      cursor: pointer;
      padding: 0;
}
.close {
      color: #000000;
      float: right;
      font-size: 21px;
      font-weight: bold;
      line-height: 1;
      opacity: 0.2;
      -khtml-opacity: 0.2;
      -moz-opacity : 0.2;
      opacity : 0.2;
      zoom : 1;
      -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=20);
      filter: alpha(opacity=20);
      text-shadow: 0 1px 0 #FFFFFF;
}
input, button, select, textarea {
      font-family: tahoma !important;
      line-height: normal !important;
      margin: 0 ;
}
*,
*:before,
*:after {
      -webkit-box-sizing: border-box;
      -moz-box-sizing: border-box;
      box-sizing: border-box;
}
.title {
      bottom: 2px !important;
      color: #555555;
      font-family: tahoma;
      font-size: 11px;
      left: 0;
      position: absolute !important;
      right: 0;
      text-align: center;
      width: 100%;
}






















body {
    color: #333333;
    font-family: Arial,Helvetica,sans-serif;
    font-size: 12px;
    line-height: 1.42857;
    margin: 0 auto !important;
    overflow: hidden;
    padding: 0 !important;
    width: 100%;
}
.ui-tooltip, .arrow:after {
    background: black;
    border: 2px solid white;
  }


/*
 * jQuery UI Tooltip 1.9.0
 *
 * Copyright 2012-10-11, AUTHORS.txt (http://jqueryui.com/about)
 * Dual licensed under the MIT or GPL Version 2 licenses.
 * http://jquery.org/license
 *
 * http://jqueryui.com/tooltip/
 */
.ui-tooltip {
  position: absolute;
  color: #363636;
  background: #FFFFFF;
  border: 2px solid #E3E3E3;
  line-height: 30px;
  text-align: center;
  border-radius: 0px;
  box-shadow: 2px 1px 5px #B3B1B1;
  z-index:9999;
  padding: 5px;
  max-width: 300px;
}
/* app */
#site-editor-header {
    height: 114px;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 10;
}
#site-editor-header .bs-example {
   /*     box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12);
    box-shadow: 0 -3px 20px -2px rgba(0, 0, 0, 0.28);  */
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.05);
    background: none repeat scroll 0 0 #fff;
    height: 114px;
    position: relative;
}

/*  app tabs  */

#site-editor-header #myTab {
    display: inline-block;
  /*  height: 32px;   */
    padding: 5px 0 0;
    text-align: left;
    width: 54%;
    min-width: 415px;
}
#site-editor-header  #myTab li{
      display: inline-block;
}
#myTab li a {
     /*
      background: none repeat scroll 0 0 rgba(255, 255, 255, 0.9);
      box-shadow: 0 -1px 1px rgba(200, 200, 200, 0.3), 0 3px 11px rgba(255, 255, 255, 0.5) inset;
      border-color: #DDDDDD #DDDDDD #DFDFDF;
      border-style: solid;
      border-width: 1px !important;   */
      background: #fff;
      border-color: #e6e6e6;
      border-style: solid;
      border-width: 1px !important;
      display: block;
      padding: 4px 20px !important;
      border-radius: 0;
      -moz-border-radius:0;
      -webkit-border-radius:0;
}

#myTab li.active a {
    background-color: #f5f5f5;
    background-image: none;
    border-bottom-color: #f5f5f5;
    border-bottom-width: 4px;
    color: #33ccff;
}
#myTab li a .sedico {
   display: none;
}





.site-editor-app-tools-button {
    /*width: 45%; */
    display: inline-block;
    height: 32px;
    line-height: 32px;
    margin: -1px 0 0;
    min-width: 180px;
    position: absolute;
    right: 0;
    text-align: right;
}
.site-editor-app-tools-button:after,
.site-editor-app-tools-button:before{
    display: table;
    content: "";
}
.site-editor-app-tools-button:after{
  clear: both;
}

.site-editor-app-tools-button li {
    display: block;
    float: left;
    line-height: 32px;
    margin-right: 5px;
    min-width: 30px;
    text-align: center;
    top: 0;
}

.save-publish, .style-editor {
    margin-right: 35px !important;
}
.resize-desktop-editor a,
.help-editor a,
.save-publish a{
  height: 24px
}

.back-to-editor button,
.save-publish button{
    background-color: #00aaff;
    border: 1px solid #24a9f1;
}
/*.back-to-editor button{
    background: none repeat scroll 0 0 #f5f5f5;
    border: 1px solid #eee;
} */
.preview button{
/*    background-color: #00aaff;
    border: 1px solid rgba(0, 0, 0, 0.1);       */
    background: none repeat scroll 0 0 #333;
    border-color: rgba(0, 0, 0, 0.9);
}
.preview button:active,
.preview button:hover,
.preview button:focus{
    background: none repeat scroll 0 0 #111;
    border-color: rgba(0, 0, 0,1);
 }
.back-to-editor button:active,
.back-to-editor button:hover,
.back-to-editor button:focus,
.save-publish button:active,
.save-publish button:hover,
.save-publish button:focus{
    box-shadow: 0 1px 0px rgba(0, 0, 0, 0.15) inset;
    background-color: #0099E6 ;
}
 .save-publish button:active,
.back-to-editor button:active,
.preview button:active{
    box-shadow: inset 0 3px 5px rgba(0,0,0,.125);
}
.style-editor button, .preview button, .save-publish button,.back-to-editor button {
 /*   border-bottom: medium none;             */
 /*   border-right: medium none;               */
 /*   box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.3);   */
    border-radius: 0px;
    font-size: 12px;
/*     line-height: 32px;   */
    margin: 0;
    padding: 2px 10px;
    transition: all 0.2s ease 0s;

}
.style-editor button:focus, .preview button:focus, .save-publish button:focus{
   /* box-shadow: 0 1px 0px rgba(0, 0, 0, 0.15),*/
}
.style-editor button:hover, .preview button:hover, .save-publish button:hover{
   /* box-shadow:0 0 0 1px #fff inset;   */
}
.style-editor .btn {
    background: none repeat scroll 0 0 #fff;
    border-color: #fff;
}
.preview button .el_txt , .save-publish button .el_txt,.back-to-editor button .el_txt{
    color: #fff ;
    line-height: 18px;
}
.back-to-editor .icon-back-to-editor{
    color: #fff;
    line-height: 17px;
    margin-left: -8px;
    width: 1em;
}
.style-editor-off .circle-btn {
  background-color: #e5e5e5;
}

.style-editor-on .circle-btn {
    background-color: #00ff33;
}
.circle-btn {
    border: 1px solid rgba(0, 0, 0, 0.2);
    border-radius: 100px;
    display: inline-block;
    padding: 5px;
    position: relative;
    top: 2px;
}
.style-editor .el_txt {
    display: inline-block;
    font-family: Arial,Helvetica,sans-serif;
    line-height: 1.25em !important;
}
.site-editor-app-tools-button .style-editor .sedico,
.site-editor-app-tools-button .preview .sedico,
.site-editor-app-tools-button .save-publish .sedico {
  display: none;
}

.help-editor span,
.settings-site-editor span,
.preview-mode span{
    font-size: 20px;
    line-height: 30px;
}





#myTabContent {
      background: none repeat scroll 0 0 #f7f7f7;
      border-bottom: 1px solid #e0e0e0;
      border-top: 1px solid #e6e6e6;
      height: 84px;
      margin-top: -1px;
}










.nav li #dropdownMenu1 {
      display: block;
      padding: 0.3em 1.4em !important;
      position: relative;
}
.nav:after {
      clear: both;
}
.nav {
      list-style: none outside none;
      margin: 0;
      padding: 0;
}
ul, ol {
      margin-top: 0;
}
a {
      color: #000000;
      text-decoration: none;
      background: none repeat scroll 0 0 rgba(0, 0, 0, 0);
}








































/* Common Between All buttons software */
.btn {
    display: inline-block;
    margin-bottom: 0;
    font-weight: normal;
    text-align: center;
    vertical-align: middle;
    touch-action: manipulation;
    cursor: pointer;
    background-image: none;
    border: 1px solid transparent;
    white-space: nowrap;
    padding: 5px 12px;
    font-size: 13px;
    line-height: 1.1 !important;
    border-radius: 0px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    margin-bottom: 0;
    margin-top: 5px;
}

.button-primary {
    color: #fff;
    background-color: #0099E6;
    border-color: #0099E6
}

.button-primary:focus,
.button-primary.focus {
    color: #fff;
    background-color: #008dd4;
    border-color: #008dd4
}

.button-primary:hover {
    color: #fff;
    background-color: #008dd4;
    border-color: #008dd4
}

.button-primary:active,
.button-primary.active,
.open > .dropdown-toggle.button-primary {
    color: #fff;
    background-color: #008dd4;
    border-color: #008dd4
}

.button-primary:active:hover,
.button-primary.active:hover,
.open > .dropdown-toggle.button-primary:hover,
.button-primary:active:focus,
.button-primary.active:focus,
.open > .dropdown-toggle.button-primary:focus,
.button-primary:active.focus,
.button-primary.active.focus,
.open > .dropdown-toggle.button-primary.focus {
    color: #fff;
    background-color: #008dd4;
    border-color: #008dd4
}

.button-primary:active,
.button-primary.active,
.open > .dropdown-toggle.button-primary {
    background-image: none
}

.button-primary.disabled:hover,
.button-primary[disabled]:hover,
fieldset[disabled] .button-primary:hover,
.button-primary.disabled:focus,
.button-primary[disabled]:focus,
fieldset[disabled] .button-primary:focus,
.button-primary.disabled.focus,
.button-primary[disabled].focus,
fieldset[disabled] .button-primary.focus {
    background-color: #0099E6;
    border-color: #0099E6
}

.sedico{
    color: #00A9E8;        /* #24a9f1 #00aaff*/
    display: inline-block;
    font-style: normal;
    font-weight: 400;
    line-height: 1;
    position: relative;
    top: 2px;
}
.sedico-lg {
    font-size: 1.3em;
}
.el_txt {
    margin: 0 2px;
    font-family: Arial, Helvetica, sans-serif;
    color: #000;
}

.btn-default {
    color: #606366;
}



/*buttons upload */
.btn-default1 {
      border-radius: 0px;
      -moz-border-radius:0px;
      -webkit-border-radius:0px;
      border-style: solid;
      box-shadow: 2px 2px 4px -3px rgba(0, 0, 0, 0.6) inset;
      -moz-box-shadow: 2px 2px 4px -3px rgba(0, 0, 0, 0.6) inset;
      -webkit-box-shadow:2px 2px 4px -3px rgba(0, 0, 0, 0.6) inset;
      color: #333333;
      padding: 5px 8px !important;
      vertical-align: middle;
      border-color: #fdfdfd;
      border-width: 0 1px 1px 0;
}
.el_txt3 > img {
       border: 1px solid #E6E6E6;
      box-shadow: 2px 2px 4px -2px #DCDCDC;
      -moz-box-shadow: 2px 2px 4px -2px #DCDCDC;
      -webkit-box-shadow: 2px 2px 4px -2px #DCDCDC;
      height: 48px;
      width: 48px;
}
.el_txt3 {
    float: left;
    width: 52%;
}
.el_txt4 {
    float: left;
    width: 48%;
}
.sedico-2x {
      font-size: 26px;
}
.el_txt2{
    font-size: 12px;
    margin: 0 4px 0 0;
}

/*buttons modules */
.btn-default3 {
    height: 65px !important;
    width: 72px !important;
}
.btn-default3 ,
.module-menu .btn-default3{
    background-color: rgba(0, 0, 0, 0);
    border-color: rgba(0, 0, 0, 0);
    border-radius: 0px !important;
    border-style: solid;
    border-width: 1px;
    box-shadow: none;
    color: #333333;
    display: block;
    line-height: 1.1em;
    padding: 4px 2px;
    white-space: normal !important;
    overflow: hidden;
}
.btn-default3:hover,
.module-menu .btn-default3:hover{
    background-color: rgba(0,0,0, 0.02) !important;  
    border-color: #e6e6e6 ;
    box-shadow: none;
    color: #33ccff;
}
.btn-default3 .sedico-lg,
.module-menu .btn-default3 .sedico-lg {
    font-size: 18px;
    margin: 0 auto !important;
}
 .btn-default3 .el_txt ,
 .module-menu .btn-default3 .el_txt{
    display: block;
    font-size: 11px;
    margin: 4px auto 0;
    overflow: hidden;
}
.btn-default3 .sedico,
.module-menu  .btn-default3 .sedico{
    display: block;
    margin: 0 auto 6px;
}

/*buttons font */
.default {
      border: 1px solid #DDDDDD;
      border-radius:0px;
      color: #333333;
      display: block;
      height: 2.2em;
      margin: 0.5em 0.2em 0 0;
}
.default1 {
      border: 1px solid #DDDDDD;
      border-radius: 0;
      border-style: solid solid solid none;
      border-width: 1px 1px 1px 0;
      color: #333333;
      display: block;
      float: right;
      height: 2.2em;
      margin: 0.5em 0.2em 0 0;
}
.default2 {
/*      background: -moz-linear-gradient(left,  #FFFFFF 0%, #FFFFFF 30% ,  #E6E6E6 129% );
      background: -webkit-gradient(linear, left top, right top, color-stop(0%,#FFFFFF), color-stop(50%,#fff), color-stop(51%,#fff), color-stop(129%,#e6e6e6));
      background: -webkit-linear-gradient(left,  #FFFFFF 0%,#FFFFFF 30% ,  #E6E6E6 129% );
      background: -o-linear-gradient(left,  #FFFFFF 0%,#FFFFFF 30% ,  #E6E6E6 129% );
      background: -ms-linear-gradient(left,  #FFFFFF 0%,#FFFFFF 30% ,  #E6E6E6 129% );
      background: linear-gradient(to right,  #FFFFFF 0%,#FFFFFF 30% ,  #E6E6E6 129% );
      filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#FFFFFF', endColorstr='#e6e6e6',GradientType=1 );
      background: linear-gradient(#FFFFFF, #FFFFFF 30%, #E6E6E6 129%) repeat scroll 0 0 rgba(0, 0, 0, 0);   */
      border-color: #ddd #ddd #ddd -moz-use-text-color;
      border-radius: 0;
      border-style: solid solid solid none;
      border-width: 1px 1px 1px 0;
      color: #333333;
      display: block;
      float: right;
      height: 2.2em;
      margin: 0.5em 0 0;
}
.default3 {
      border: 1px solid #DDDDDD;
      border-radius: 0px;
      border-style: solid;
      border-width: 1px;
      color: #333333;
      display: block;
      float: right;
      height: 2.2em;
      margin: 0.5em 0 0;
}
.dropdown-font-size{
   min-width: 76px !important;
   text-align: center;
}


/* caret */

.caret {
    border-left: 4px solid transparent;
    border-right: 4px solid transparent;
    border-top: 4px solid #24a9f1;
    display: inline-block;
    height: 0;
    margin-left: 2px;
    vertical-align: middle;
    width: 0;
}


 /*
.btn .caret {
    margin-left: 0;
}
.caret {
    border-left: 4px solid transparent;
    border-right: 4px solid transparent;
    border-top: 4px solid;
    display: inline-block;
    height: 0;
    margin-left: 2px;
    vertical-align: middle;
    width: 0;
}

.arrow-caret {
      display: block;
      float: left !important;
      height: 100%;
      margin: 0 0 0 9px;
}
.arrow-caret:hover{
      border-left-color: #eee;
      display: block;
      height: 100%;
}
.nav .caret {
      border-bottom-color: #000000;
      border-top-color: #000000;
}

.caret3 {
    margin: 11px -1px 0 0 !important;
}
.caret {
    background: url(../../images/iOS-7-UI-Components4.png) no-repeat scroll left top rgba(0, 0, 0, 0);
    display: block;
    height: 5px;
    width: 9px;
}           */

.caret2 {
    border-bottom: 4px solid rgba(0, 0, 0, 0);
    border-left: 4px solid #24a9f1;
    border-top: 4px solid rgba(0, 0, 0, 0);
    content: "";
    display: inline-block;
    height: 0;
    margin: 0 5px 0 0;
    vertical-align: middle;
    width: 0;
}
.caret-prt {
    position: absolute;
    right: 4px;
}
@media screen and (max-width: 294px) {

/*  #myTab li a .sedico {
   display: block;
}
#site-editor-header #myTab .el_txt{
  display: none;
}
#site-editor-header #myTab {
    width: 100%;
}

.site-editor-app-tools-button {
    text-align: center;
    position: relative;
    width: 100%;
}
.site-editor-app-tools-button li {
    min-width: 22px;
}
 */

}
@media screen and (max-width: 380px){

 #site-editor-header #myTab .el_txt{
  display: none;
}
#site-editor-header #myTab {
    border-top: 1px solid #eee;
    padding: 0;
    width: 100%;
}
#site-editor-header #myTab li {
    height: 26px;
}
#myTab li.active a {
    background-color: transparent;
    border-bottom-color: #00ccff !important;
    border-radius: 0;
    color: #33ccff;
}
#myTab li a {
    background: none repeat scroll 0 0 transparent;
    border-color: transparent;
    border-image: none;
    border-style: solid;
    border-width: 1px 1px 2px !important;
    box-shadow: none;
    height: 26px;
    padding: 0 7px 2px !important;
}
#myTab li a .sedico {
    display: block;
    font-size: 17px;
}
/*
.site-editor-app-tools-button .preview .el_txt,
.site-editor-app-tools-button .save-publish .el_txt{
  display: none;
}
.style-editor button, .preview button, .save-publish button {
    margin: 0 0 3px;
}
.preview button, .save-publish button {
    background-color: #fff;
    border: 0 solid rgba(0, 0, 0, 0.1);
}
.site-editor-app-tools-button .preview .sedico ,
.site-editor-app-tools-button .save-publish .sedico {
  display: block;
}      */
}
@media screen and (max-width: 600px){
.index {
    top: 137px;
}
#site-editor-header {
    height: 137px;
}
#site-editor-header .bs-example {
    height: 133px;
}
.site-editor-app-tools-button {
    position: relative;
    width: 100%;
}
#site-editor-header #myTab {
    width: 100%;
}
.site-editor-app-tools-button {
    height: 23px;
}
.style-editor {
    left: 0;
    position: absolute;
}
/*#site-editor-header #myTab {
    width: 42%;
}
#myTab li.active a {

}
#myTab li.active span, #myTab .active:hover span {

}
#myTab li a {

}


.site-editor-app-tools-button {
    width: 57%;
}
.site-editor-app-tools-button li {
    min-width: 17px;
}
.style-editor button, .preview button, .save-publish button {
    padding: 1px 3px;
}
.sp-palette-container {
    display: none;
}

                 */

}
@media screen and (max-width: 900px){
#myTab li a {
    padding: 3px 7px 2px !important;
}
.style-editor .btn, .preview .btn,.save-publish .btn {
    background: none repeat scroll 0 0 transparent;
    border: 0 none;
    box-shadow: none;
    height: 19px !important;
    line-height: 1 !important;
    margin: 0;
    padding: 0 !important;
    top: 0;
}
.site-editor-app-tools-button .style-editor .sedico,
.site-editor-app-tools-button .preview .sedico,
.site-editor-app-tools-button .save-publish .sedico {
    display: block;
    height: 17px;
    top: 0;
}
.site-editor-app-tools-button .style-editor .circle-btn,
.site-editor-app-tools-button .style-editor .el_txt,
.site-editor-app-tools-button .preview .el_txt,
.site-editor-app-tools-button .save-publish .el_txt{
  display: none;
}

/*.save-publish,
.style-editor {
    margin-right: 10px;
}
   */

}
