
 #design-panel-tab {
    height: 7.26%;
}
#design-panel-tab:after, #design-panel-tab:before {
    content: "";
    display: table;
}
#design-panel-tab li {
    margin: 3px 0 -1px 3px !important;
}

.navigator-loading {
    left: 41%;
    top: 40%;
    display: none;
}
.navigator-loading,
.uploader-loading{
   background: url(../images/loading.gif) no-repeat;
    display: block;
    height: 48px;
    position: absolute;
    width: 48px;
    z-index: 1;
    background-size: 32px 32px ;
    margin: 8px !important ;

}
#dialog-options-navigator{
  padding: 0;
  margin: -1px 0 0;
  border-top: 1px solid #fff;
}
.button-edit {
    display: block;
    height: 115px;
}


/***************************************/
.ztree-scrollbar {
    border-top: 1px solid #e6e6e6;
    bottom: 0;
    margin: 0 !important;
    max-height: 86.24%;
    overflow: auto;
    position: absolute;
    top: 37px;
    width: 100%;
}
.ztree-scrollbar .mCSB_container_wrapper {
    margin-right: 8px !important;
    margin-bottom: 10px !important;
}
#style-editor-hover-box{
  display: none;
  position: absolute;
  box-shadow: 0 0 8px -1px #0B25CC;
  border: 1px solid #0B25CC;
}

.static-module-hover-box{
    display: none;
    position: absolute;
    border: 1px solid #0B25CC;
}

      /* parsa edit */
.image_scaling_settings .check{
  width: 25px;
  height: 25px;
}
.image_scaling_settings .scaling_check {
      display: block;
      margin: 1px;
      width: 25px !important;
}
.text_scaling {
      float: left;
}
.image_scaling > li {
      margin: 6px 0;
}
