/*
#less_info#(
"handle" => "image-content-box-skin3",
"deps" => array(),
"ver" => "1.0.0",
"media" => "all"
)#
*/
.module.module-image-content-box.image-content-box-skin3{
  .item {
      .inner {
          &.item_arrow{
              .module-image::before {
                  border-right:  18px solid transparent;
                  border-top:    18px solid @body-bg;
                  border-left:   18px solid transparent;
                  border-bottom: 0px solid transparent;
                  top: -4px;
                  bottom: auto !important;
                  left: 15%;
              }
          }
          &.item_center_arrow{
              .module-image::before {
                  border-right:  18px solid transparent;
                  border-top:    18px solid @body-bg;
                  border-left:   18px solid transparent;
                  border-bottom: 0px solid transparent;
                  left: 50%;
                  top: -4px;
                  bottom: auto !important;
                  margin-left: -18px;
              }
          }
          .content {
              padding: 0 0 25px 0;
          }
      }
  }
}
.rtl-body .module.module-image-content-box{
  .item {
      .inner {
          &.item_arrow{
              .module-image::before {
                  right: 15%;
              }
          }
      }
  }
}