/*#less_info#(
"handle"    => "module-archive-skin1",
"deps"      => array(),
"ver"       => "1.0.0",
"media"     => "all",
"import"  => array(
    "variables.less"
)
)#*/
.module-archive.module-archive-skin1{                                                                   
    @import "variables.less";

a {
    color: inherit;
    .transition(all .1s ease-in);
    &:hover {color: @main-color;}
}
.sed-archive-masonry{
        //width: 100%;
        display: block;
        .clearfix();
}
.item {
    float: left;
   /* &.sed-column-1 {
        padding-left: 0px !important;
        padding-right: 0px !important;
        &:first-child{
            padding-top: 0px !important;
        }
        &:last-child{
            padding-bottom: 0px !important;
        }
    }  */
    .inner {
        width: 100%;
        background: @body-modules-bg;
        border: 3px solid transparent;
        .smart-variant(border-color; @body-modules-bg; @fade: 35%);
        .smart-variant(color; @body-modules-bg; 90%);
        .transition(all .3s ease-in);
        > a { 
            display: block;
            color: inherit;
            border: none;
        }
    }

    .image {
        width: 100%;
        display: block;
        overflow: hidden;
        position: relative;
        img {
            width: 100%;
            //border: 7px solid #fff;
        }
        .hover {
            position: absolute;
            top: 0;
            right: 0;
            width: 100%;
            height: 100%;
            border: 0px solid transparent;
            opacity: 0;
            background: fade(@main-color, 70%);
            .transition(all .3s ease-in);
        }
        .icons {
            width: 100%;
            height: auto;
            margin: 0 auto;
            text-align: center;
            position: absolute;
            top: 50%;
            margin-top: -60px;
        }
        .icon {
            display: inline-block;
            position: relative;
            &:nth-child(2) {margin: 0 0 0 5%}
            a{
                display: inline-block;
                border: none;
            }
            .fa {
                display: table;
                width: 60px;
                height: 60px;
                margin: 0 auto;
                border-radius: 100%;
                background-color: @body-modules-bg;
                .smart-variant(color; @body-modules-bg; @fade: 80%);
                .transition(all .1s ease-in);
                &:before {
                    display: table-cell;
                    vertical-align: middle;
                }
            }
            span {
                width: 100%;
                display: block;
                color: @body-modules-bg;
                position: absolute;
                top: 90%;
                left: 0;
                opacity: 0;
                font-weight: bold;
                .transition(all .1s ease-in);
            }
            &:hover {
                .fa {
                    .smart-variant(color; @body-modules-bg; 90%);
                }
                span {
                    top: 100%;
                    opacity: 1;
                }
            }
        }
        .comments {
            margin: 0;
            padding: 10px 0;
            position: absolute;
            bottom: -100px;
            left: 0;
            width: 100%;
            text-align: center;
            font-weight: bold;
            background: @body-modules-bg;
            opacity: 0;
            overflow: hidden;
            .smart-variant(color; @body-modules-bg; 70%);
            .transition(all .2s ease-out .1s);
            a {
                position: relative;
                top: -50px;
                border: none;
                .transition(top .1s ease-out);
            }
        }
    }

    .content {
        .clearfix();
        padding:15px 25px 20px;
        .btn.btn-none{
            padding: 6px 0;
            min-width: 0;
            float: right;
        }
    }

    .title {
        .high-color(@body-modules-bg);
        font-size: 18px;
        font-weight: normal;
        margin: 20px 0 5px;
        .transition(margin-top .3s ease-in);
        a {border: none;}
    }

    .meta {
        margin-bottom: 20px;
        font-size: 11px;
        height: 0;
        position: relative;
        overflow: hidden;
        .smart-variant(color; @main-color; 50%; @fade: 70%) !important;
        .transition(height 0.3s ease-in);
        .author {font-weight: bold;}
        .date,.category {
            right: -100px;
            opacity: 0;
            .transition(all .1s ease-in);
        }
        > span {
            position: relative;
            top: -50px;
            .transition(all .4s ease-in);
            &:last-child:after {
                content: "";
            }
            &:after {
                content: " /";
            }
        }
    } //.meta

    .excerpt {
        .base-color(@body-modules-bg);
        text-indent: 10px;
        margin-bottom: 20px;
    }
    .tags {
        margin-bottom: 10px;
        padding: 0;
        display: block;
        opacity: .7;
        font-size: 12px;
        a:after{
            content: ',';
        }
        a:last-child:after {
            content: '';
        }
    }

    /**
     * On .item's Hover Defenitions.
     =============================== */
    &:hover {
        .inner {
            border-color: @main-color-darker;
        }
        .image .hover {
            opacity: 1;
            .comments {
                bottom: 0;
                opacity: 1;
                .transition(all .35s ease-in .0s);
                a {
                    top: 0;
                    .transition(top .2s ease-in .3s);
                }
            }
        }
        .content {
            background: @main-color-light;
            .btn{
                .smart-variant(color; @main-color; 90%);
            }
            .title {
                margin-top: 5px;
                .smart-variant(color; @main-color; 90%);
            }
            .excerpt,.tags {
                .smart-variant(color; @main-color; 50%; @fade: 70%) !important;
            }
            * a:hover {color: mix(@main-color-darker, #333);}
            .meta {
                height: 15px;
                > span {
                    top: 0;
                    &.date,&.category {
                        right: 0;
                        opacity: 1;
                        .transition(right .4s ease-in .2s,
                                    opacity .2s ease-in .4s;);
                    }
                }
            }
        }
    }

}
/*        .category {
            font-size: 14px;
            font-weight: bold;
            padding: 2px 5px;
            background: @main-color;
            .smart-variant(color; @main-color);
            .transition(all .1s ease-in);
            a {border: none; width: 100%; height: 100%;}
            &:hover {
                background: none;
                color: @main-color;
                border: 1px solid @main-color;
            }
        }   */
@media screen {
    @media (max-width: @screen-xs) {
        .item .image .icons {
            margin-top: -40px;
        }
        .item .image .icon .fa {
            width: 40px;
            height: 40px;
        }
    }
}
}
.rtl-body .module-archive.module-archive-skin1{
.item {
    .image {

        .icon {
            &:nth-child(2) {margin: 0 5% 0 0 !important; }
            }
    }
    .content {                      
        .btn.btn-none{
            float: left;
        }
    }
    .meta {
        .date,.category {
            left: -100px !important;
            right:  auto !important;
        }
    }

    /**
     * On .item's Hover Defenitions.
     =============================== */
    &:hover {
        .content {
            .meta {
                > span {
                       top: 0;
                    &.date,&.category {
                       left: 0 !important;
                       right: auto !important;
                    }
                }
            }
        }
    }

}
}