/*#less_info#(
"handle"  =>"button-skin2",
"deps"    => array("main-button"),
"ver"     => "1.0.0",
"media"   => "all",
)#*/
.module-button.button-skin2 {

  .btn{
   padding: 0;
   border-width:0px ;
  > span{
    display: table-cell;
    vertical-align: middle;
  }
  }
  .module.module-icons.icon-button-pd {
    display: table-cell ;
    vertical-align: middle;
    border-right: 1px solid @body-bg ;
  }
  .btn.btn-flat{
    .icon-button-pd {
       border-width: 0 2px 0 0;
       border-style: solid;
    }
  }

}

.rtl-body .module-button.button-skin2 {
  .module.module-icons.icon-button-pd {
    border-left: 1px solid @body-bg ;
    border-right: 0px solid @body-bg ;
  }
  .btn.btn-flat{
    .icon-button-pd {
       border-width: 0 0 0 2px;
       border-style: solid;
    }
  }

}