/*#less_info#(
"handle"  =>"button-skin5",
"deps"    => array("main-button"),
"ver"     => "1.0.0",
"media"   => "all",
)#*/
.module-button.button-skin5 {

  .btn{
    padding: 0;
  }
  span{
    display: table-cell;
    vertical-align: middle;
  }
  .module.module-icons.icon-button-pd {
    background: rgba(0,0,0,0.09);
    display: table-cell;
    vertical-align: middle;
  }

}