/*
#less_info#(
"handle"  =>"main-tab-skin2",
"deps"    => array("main-tab"),
"ver"     => "1.0.0",
"media"   => "all",
"import"  => array(
    "@sed-modules-root/tab/less/main.less"
)
)#
*/
@import "../../../less/main.less";
.module-tab.tab-skin2{
    .nav-tabs {
        display: table;
        margin: 0 auto;
        border: none;
        @media (max-width: @screen-xs-max) {
          display: block;
        }
        > li {
            float: left;
            // Make the list-items overlay the bottom border
            margin-bottom: -1px;
            @media (max-width: @screen-xs-max) {
              float: none;
              display: block;
              width: 100%;
            }
            // Actual tabs (as links)
            > a {
                outline: none;
                .high-color(@nav-tabs-bg);
                margin-right: 0;
                line-height: @line-height-base;
                padding: 8px 20px;
                .border-radius( 0);
                border-bottom: 1px solid @base-border-color;
                border-left: 1px solid @base-border-color;
                border-top: 1px solid @base-border-color;
                text-align: center;
                &:hover {
                    background: none;
                    color: @main-color-darker;
                }
                @media (max-width: @screen-xs-max) {
                    border: 1px solid @base-border-color;
                    .border-radius(4px);
                    margin-top: 5px;
                }
            }
            &:first-child > a {
                .border-radius( 4px 0 0 4px);
                @media (max-width: @screen-xs-max) {
                    margin-top: 0px;
                    .border-radius(4px);
                }
            }
            &:last-child > a {
                .border-radius( 0 4px 4px 0);
                border-right: 1px solid @base-border-color;
                @media (max-width: @screen-xs-max) {
                    .border-radius(4px);
                }
            }
            // Active state, and its :hover to override normal :hover
            &.active > a {
                &,
                &:hover,
                &:focus {
                    .high-color(@main-color);
                    background-color: @main-color;
                    border: 1px solid @main-color !important;
                    cursor: default;
                }
            }
        }
         // pulling this in mainly for less shorthand
      // &.nav-justified {
      //     .nav-justified();
      //     .nav-tabs-justified();
      // }
    }

    .tab-content {
        .base-color(@nav-tabs-bg);
        padding:15px;
        //text-align: center;

        > .tab-pane {
            display: none;
        }
        > .active {
            display: block;
        }
    }

}

.module.module-tab.tab-skin2.tab-resize-responsive{
    display: block;
    .nav-tabs{
        display: block;
        > li{
            float: none;
            display: block;
            width: 100%;
            > a {
              border: 1px solid @base-border-color;
              .border-radius(4px);
              margin-top: 5px;
            }
            &:first-child > a {
              margin-top: 0px;
              .border-radius(4px);
            }
            &:last-child > a {
              .border-radius(4px);
            }
        }
    } 

}

.rtl-body .module.module-tab.tab-skin2{
    .nav-tabs {
        > li {
            float: right;
            > a {
                border-left: 0px solid @base-border-color;
                border-right: 1px solid @base-border-color;
                @media (max-width: @screen-xs-max) {
                    border: 1px solid @base-border-color;
                    .border-radius(4px);
                }
            }
            &:first-child > a {
                .border-radius( 0 4px 4px 0);
                @media (max-width: @screen-xs-max) {
                    .border-radius(4px);
                }
            }
            &:last-child > a {
                .border-radius( 4px 0 0 4px);
                border-left: 1px solid @base-border-color;
                @media (max-width: @screen-xs-max) {
                    .border-radius(4px);
                }
            }
        }
    }
}