@effect-img-main-bg:       @main-color;
@effect-img-m-h3-bg:       @base-color-c-light;
@image-cb-bace-bg:            @body-modules-bg;
@image-cb-main-bg:            @main-color;
@image-cb-pmain-bg:           @perfect-main-color;
@image-cb-bace-c-bg:          @base-color-c;
@image-cb-base-b-bg:          @base-color-b-lighter;
@image-cb-base:               contrast(@body-bg);
@image-cb-border-color:       @base-border-color;
@image-cb-main-border-color:  darken(@main-color,6%);
@image-cb-pmain-border-color: darken(@perfect-main-color,6%);
@image-cb-border-radius:      @border-radius-base;
@image-cb-border-radius-cl:   @border-radius-circle;
@image-cb-line-height:        @line-height-computed + 24;
@image-cb-line-height-base:   @line-height-base;
@image-cb-padding-horizontal: @padding-xs-horizontal;
@image-cb-font-size:          @font-size-base;
@image-cb-font-size-lg:       @font-size-large;
@image-cb-color:              @main-color;
@image-cb-color2:             #fcfcfc;