/*#less_info#(
"handle"    => "module-archive-default",
"deps"      => array(),
"ver"       => "1.0.0",
"media"     => "all"
)#*/
.module.module-archive.module-archive-default{

.clearfix();
.sed-archive-masonry{
        //width: 100%;
        display: block;
        .clearfix();
}
.item {

    float: left;
   /*
   &.sed-column-1 {
        padding-left: 0px !important;
        padding-right: 0px !important;
        &:first-child{
            padding-top: 0px !important;
        }
        &:last-child{
            padding-bottom: 0px !important;
        }
    }
    */

    .inner {
        width: 100%;
        background: @body-modules-bg;
        border-color:@base-border-color-light;
        border-style: solid;
    }

    .image {
        width: 100%;
        display: block;
        overflow: hidden;
    }

    .image {
        position: relative;
        &:before {
            content: '';
            position: absolute;
            top: 100%;
            right: 10%;
            margin-top: -15px;
            width: 0;
            height: 0;
            z-index: 10;
            border-bottom:  30px solid @body-modules-bg;
            border-left:    30px solid transparent;
            border-right:   30px solid transparent;
        }
        img {
            width: 100%;
        }
        .hover {
            position: absolute;
            top: 0;
            right: 0;
            width: 100%;
            height: 100%;
            border: 0px solid @body-modules-bg;
            border-bottom: none;
            opacity: 0;
            .box-shadow(inset 0 0 0 2px transparent);
            .transition(all .1s ease-in);
        }
        .time {
            position: absolute;
            top: 15px;
            left: 15px;
            width: 60px;
            height: 60px;
            padding: 8px 0;
            text-align: center;
            border-radius: 100%;
            border: 1px solid fade(@main-color,95%);
            .contrast(@main-color);
            background: fade(@main-color,80%) ;
            .transition(all .1s ease-in);
            &:hover {
                .smart-variant(background-color; fade(@main-color,70%););
                .icon {
                    color: @main-color;
                }
            }
            > span {
                display: block;
                font-weight: bold;
                font-size: 17px;
                line-height: 1.2em;
                opacity: 1;
                .transition(
                    opacity .1s ease-in .3s,
                    color .2s ease-in .0s;);
            }
            .icon {
                display: table;
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                font-size: 14px;
                opacity: 0;
                .transition(all .1s ease-in);
                > i {
                    display: table-cell;
                    vertical-align: middle;
                    position: relative;
                }
            } // .icon
            .readmore {
                display: table;
                position: absolute;
                bottom: 0;
                left: 110%;
                margin-bottom: -5px;
                width: 90px;
                //height: 100%;
                font-size: 12px;
                text-align: left;
                padding-left: 5px;
                opacity: 0;
                .transition(
                    all .1s ease-in,
                    color .1s ease-in;);
                > span {
                    display: table-cell;
                    vertical-align: bottom;
                    padding: 0 5px;
                }
            } // .readmore

        } // .time
        .time:hover,
        .hover:hover ~ a .time { // .time:hover
            border-bottom-right-radius: 0;
            width: 35px;
            height: 35px;
            border-width: 1px;
            > span {
                opacity: 0;
                .transition(
                    all .1s ease-in,
                    color .1s ease-in;);
            }
            .icon {
                opacity: 1;
            }
            .readmore {
                opacity: 1;
                left: 100%;
                .transition(
                    all .3s ease-in .2s,
                    color .1s ease-in .2s;);
            }
        }
    }

    &:hover {
        .image {
            .hover {
                border-width: 8px;
                opacity: 1;
                background: fade(@main-color,70%);
            }
            .time {
                top: 25px;
                left: 25px;
                bottom:25px;
                right:25px;
                .smart-variant(border-color; @main-color);
                .smart-variant(color; @main-color);
            }
        }
        .readmore {
            opacity: 1;
            left: 100%;
            .transition(
              all .3s ease-in .2s,
              color .1s ease-in .2s;);
        }
    }

    .content {
        padding: 30px 25px 20px;
        overflow: hidden;
        background:@body-modules-bg;
        &.content-without-border{
          padding-left: 0;
          padding-right: 0;
        }
        .btn.btn-none{
            padding: 6px 0;
            min-width: 0;
            float: right;
        }
        > div {
            display: block;
        }
        .meta-info {
            padding: 5px 0;
            border: 1px solid @base-border-color-light;
            border-right: none;
            border-left: none;
            margin-bottom: 20px;
            .item-meta {
                float: left;
                margin-right: 10px;
                padding-right: 10px;
                font-size: @font-size-small;
                border-right: 1px solid @base-border-color-light;
                &:last-child{
                   border-right: 0px solid @base-border-color-light;
                }
                i{
                  .low-color(@body-modules-bg);
                }
                span{
                 .base-color(@body-modules-bg);
                 a{
                 .base-color(@body-modules-bg);
                 }

                }

            }
            .vcard{
            &:after, &:before {
                content: "";
                display: table;
            }
            &:after {
                clear: both;
            }
            }


        }
        .title {
            font-size: @font-size-large;
            font-weight:  normal;
            position: relative;
            .high-color(@body-modules-bg);
            margin: 0 0 10px;
        }
        p {
              .base-color(@body-modules-bg);
              margin-bottom: 20px;
        }
        .post-cat,
        .post-tags {
            margin-bottom: 10px;
            padding: 0;
            display: block;
            //opacity: .7;
            font-size: 13px;
            .base-color(@body-modules-bg);
            &,a{
              .base-color(@body-modules-bg);
            }
            i{
              .low-color(@body-modules-bg);
            }

            a:after{
                content: ',';
            }
            a:last-child:after {
                content: '';
            }
        }

    }
}

&.media-side-left{
 @media (min-width: 768px) {
    .item {
        width: 100% !important;
    }
    /*[class*="sed-column-"].item {
        padding-left: 0px !important;
        padding-right: 0px !important;
        &:first-child{
            padding-top: 0px !important;
        }
        &:last-child{
            padding-bottom: 0px !important;
        }
    } */
    .inner{
      display: block;
      .clearfix();
    }
    .image,
    .content {
        /*max-width: 90%;
        display: table-cell;
        vertical-align: top;
        width: 50%;
        overflow: hidden;   */
        min-width: 10%;
        width: auto;
        display: block;
        position: relative;

    }
    .content {
        max-width: 90%;
    }
    .image {
        max-width: 75%;
    }
    .content.content-full-width{
        max-width: 100%;
    }

    .content{
      padding: 25px 30px 20px;
      text-align:  left;
      //float: right;
      &.content-without-border{
          padding-top: 0;
          padding-bottom: 0;
          padding-left: 30px;
          padding-right: 30px;
      }
    }

    .image {
        float: left;
        width: auto;
        &:before {
            content: '';
            position: absolute;
            top: 20%;
            right: -14px !important;
            left: auto !important;
            margin-top: -15px;
            width: 0;
            height: 0;
            z-index: 10;
            border-bottom:  30px solid transparent;
            border-top:     30px solid transparent;
            border-right:   30px solid @body-modules-bg;
        }
        img {
            width: 100%;
        }
        .hover {
            border-bottom-style: solid;
            border-color: @body-modules-bg;
            border-right: none;
        }
    }
}
}
&.media-side-right{
@media (min-width: 768px) {
    .item {
        width: 100% !important;
    }
    /*[class*="sed-column-"].item {
        padding-left: 0px !important;                                                                    
        padding-right: 0px !important;
        &:first-child{
            padding-top: 0px !important;
        }
        &:last-child{
            padding-bottom: 0px !important;
        }
    }*/
    .inner{
        display: block;
        .clearfix();
    }
    .image,
    .content {
         /*display: table-cell;
        vertical-align: top;
        max-width: 90%;
        width: 50%;
        overflow: hidden;   */
        min-width: 10%;
        width: auto;
        display: block;
        position: relative;
    }
    .content {
        max-width: 90%;
    }
    .image {
        max-width: 75%;
    }
    .content.content-full-width{
        max-width: 100%;
    }
    .content{
      padding: 25px 30px 20px;
      text-align: left;
      //float: left;
      &.content-without-border{
          padding-top: 0;
          padding-bottom: 0;
          padding-left: 30px;
          padding-right: 30px;
      }
    }
    .image {
        float: right;
        width: auto;
        &:before {
            content: '';
            position: absolute;
            top: 20%;
            left: -14px !important;
            right: auto !important;
            margin-top: -15px;
            width: 0;
            height: 0;
            z-index: 10;
            border-bottom:  30px solid transparent;
            border-left:    30px solid @body-modules-bg;
            border-top:   30px solid transparent;
        }

        img {
            width: 100%;
        }
        .hover {
            border-bottom-style: solid;
            border-color: @body-modules-bg;
            border-left: none;
        }
    }
}
}

}
.rtl-body .module.module-archive.module-archive-default{
.item {

    .image {
        &:before {
            left: 10%;
            right: auto;
        }
        .time {
            right: 15px;
            left: auto;
            .icon {
                right: 0;
                left: auto;
            }
            .readmore {
                right: 110%;
                left: auto;
                padding-right: 5px;
                padding-left: 0px;
                text-align: right;
            }

        }
    }
    .time:hover,
    .hover:hover ~ a .time { // .time:hover
        border-bottom-right-radius: 100%;
        border-bottom-left-radius: 0;
     }
    &:hover {
        .time {
            right: 25px;
            left: 25px;
        }
        .readmore {
            right: 100%;
            left: auto;
        }
    }

    .content {
        .btn.btn-none{
            float: left;
        }
        .meta-info {
            .item-meta {
                float: right;
                margin-left: 10px;
                margin-right: 0px;
                padding-left: 10px;
                padding-right: 0px;
                border-left: 1px solid @base-border-color-light;
                border-right: 0px solid @base-border-color-light;
                &:last-child{
                   border-left: 0px solid @base-border-color-light;
                }
            }
        }

    }
}
@media (min-width: 768px) {
    &.media-side-left{
        .content{
          text-align:  right;
        }
    }
    &.media-side-right{
        .content{
          text-align: right;
        }
    }
}

}



