/*
#less_info#(
"handle" => "menu-skin1-less",
"deps" => array(),
"ver" => "1.0.0",
"media" => "all" ,
"import"  => array(
    "@sed-modules-root/alert/less/variables.less" ,
    "@sed-modules-root/alert/less/mixins.less" ,
)
)#
*/

@import "../../../less/variables.less";
@import "../../../less/mixins.less";
.module-megamenu.megamenu-skin1{


 @zindex-navbar-caret:            1000;
 @mega-menu-bg:                   lighten(#000,20%);
 @mega-menu-bg-hover:             lighten(#000,13%);        //#111
 @mega-menu-hover:                @main-color;        //#111
 @mega-menu-border-color:         #ddd;/*darken(#333,13%);   */
 @mega-menu-box-shadow:           fade(mix(@mega-menu-bg,#000),0.3);//fade(@base-color-c,13.5%)
 @navbar-padding-horizontal:      floor((@grid-gutter-width / 2));
 @mega-menu-link-hover-bg:         lighten(@base-color-b-lighter,1%);
 @mega-menu-dropdown-divider-bg:   #e5e5e5;
 @mega-menu-dropdown-bg        :   #fff;
@media (max-width: @grid-float-breakpoint-max) {
 @mega-menu-dropdown-bg        : @mega-menu-bg   ;
}


&.navbar-wrap {
  border-top: 1px solid @mega-menu-bg;
  border-bottom: 1px solid @mega-menu-bg;
  .navbar-wrap(@mega-menu-bg,@mega-menu-dropdown-bg,@mega-menu-border-color,#a7a7a7,@mega-menu-link-hover-bg,@mega-menu-hover );
  .container-megamenu {
    position: relative;

    .navbar{                                                                           

      .navbar-nav {
        .navbar-nav(@mega-menu-bg-hover,@mega-menu-hover,@mega-menu-border-color);
        @media (max-width: @grid-float-breakpoint-max) {
            .navbar-nav(@mega-menu-dropdown-bg,@mega-menu-hover,@mega-menu-border-color);
        }
        > li{
              @media (min-width: @grid-float-breakpoint-max) {
                border-right: 1px solid @mega-menu-bg-hover;
              }

              &:first-child {
                @media (min-width: @grid-float-breakpoint-max) {
                  border-left: 1px solid @mega-menu-bg-hover;
                }
              }
              .rtl-body &:first-child {
                @media (min-width: @grid-float-breakpoint-max) {
                  border-left: 0px solid @mega-menu-bg-hover;
                }
              }
              .rtl-body &:last-child {
                @media (min-width: @grid-float-breakpoint-max) {
                  border-left: 1px solid @mega-menu-bg-hover;
                }
              }

        }
        > li.current-menu-ancestor,
        > li.current-menu-item {
          &,
          &:hover,
          &:focus,
          &:active {
            background-color: @mega-menu-bg-hover;
           > a > span{
              color: @mega-menu-hover;
            }
          }
        }
       > .open > a{
          .navbar-arrow(@mega-menu-dropdown-bg,bottom,left);
        }

      }
      .dropdown-menu(@mega-menu-dropdown-bg,@mega-menu-link-hover-bg,@mega-menu-hover);
      .dropdown-menu {
          .box-shadow(2px 2px 10px 2px rgba(0, 0, 0, 0.1));
          .border-radius(0 0 2px 2px);
          border-color: @mega-menu-dropdown-bg @base-border-color-light @base-border-color-light;
          border-style: solid;
          border-width: 1px;
          > li > a,
          .with-icon > a,
          .item-normal > a{
              /* &:after {
                background-color: transparent;
               //border-radius: 9px;
                content: "";
                display: block;
                height: 100%;
                left: 0px;
                position: absolute;
                top: 0;
                width: 2px;
            }         */
            &:hover,
            &:focus {
              &:after {
               /* background-color: @mega-menu-hover ;*/
              }
            }
            &.title{
              &:after {
                background-color: transparent;
              }
              &:hover,
              &:focus {
                &:after {
                  background-color: transparent;
                }
              }
            }

          }
     /*    .current-menu-item.item-normal > a,
         .current-menu-item.with-icon > a{
            text-decoration: none;
            color: @mega-menu-hover ;
            background-color: @mega-menu-link-hover-bg;
          i,span{
             color: @mega-menu-hover ;
           }
           &:after {
                background-color: @mega-menu-hover !important;
            }
         }                */
          .current-menu-item{
              > a{
                &:after {
                  //background-color: @mega-menu-hover ;
                }
              }
              > a.title{
                &:after {
                  background-color: transparent ;
                }
              }

          }

      }
      @media (max-width: @grid-float-breakpoint) {
        li.menu-flyout > .dropdown-menu{
          li {
            border-top: 1px solid @mega-menu-border-color;
          }
        }
      }

    }
  }
}


&.vertical-megamenu.navbar-wrap {
  @media (min-width: @grid-float-breakpoint) {
    .box-shadow(0 0 9px 0 rgba(0, 0, 0, 0.2)) ;
  }
  .container-megamenu {
    .navbar{
      .navbar-nav {
          > li {
              border-right: 0px solid !important;
              border-left: 0px solid !important;
              @media (min-width: @grid-float-breakpoint-max) {
                border-bottom: 1px solid @mega-menu-bg-hover;
                .box-shadow(0 -1px 0 0 rgba(255, 255, 255, 0.067) inset);
              }

            &:first-child {
              @media (min-width: @grid-float-breakpoint-max) {
                border-top: 1px solid  @mega-menu-bg-hover;
              }

            }

            &:hover,
            &:focus {
              background-color: @mega-menu-bg-hover;
              @media (min-width: @grid-float-breakpoint-max) {
                border-top: 1px solid  @mega-menu-bg-hover;
              }
            }

          }
          //> li.current-menu-ancestor > a,
          > li.current-menu-item > a,
          > li.active > a {
              &,
              &:hover,
              &:focus {
                  background-color: @mega-menu-bg-hover;
                  color: @mega-menu-hover;
                  position: relative;
                   > span{
                      color: @mega-menu-hover;
                   }
              }
          }

          > .open{
            > a{
                .navbar-arrow(@mega-menu-dropdown-bg,right,top);
                &:after {
                  @media (min-width: @grid-float-breakpoint) {
                      bottom: auto;
                      left: auto;
                  }
                }
            }
          }
      }

      .dropdown.dropdown-vertical-submenu-right{
          &.open > a:after {
              left: 1px;
              right: auto;
          }
          .dropdown-menu {
              @media (min-width: @grid-float-breakpoint-max) {
                .border-radius( 2px 0 0 2px);
                border-left: 1px solid @base-border-color-light;
                border-right: 0px solid @mega-menu-dropdown-bg;
              }
              @media (max-width: @grid-float-breakpoint) {
                  border-width: 0px;
              }
          }
          .dropdown-submenu{
              > .dropdown-menu{
                @media (min-width: @grid-float-breakpoint-max) {
              	    .border-radius( 2px 0 0 2px);
                }
              }
          }
      }

      .dropdown-menu {
        @media (min-width: @grid-float-breakpoint-max) {
          .border-radius(0 2px 2px 0);
          border-color: @base-border-color-light @base-border-color-light @base-border-color-light @mega-menu-dropdown-bg;
          border-style: solid;
          border-width: 1px;
        }

      }


    }
  }
}

}
