//== Tabs
@nav-tabs-bg:                                       @body-modules-bg;
@nav-tabs-border-color:                             @base-border-color;

@nav-tabs-link-hover-border-color:                  @base-color-b-lighter;

@nav-tabs-active-link-hover-bg:                     @body-bg;
@nav-tabs-active-link-hover-color:                  @base-color-b;
@nav-tabs-active-link-hover-border-color:           @base-border-color;

@nav-tabs-justified-link-border-color:              @base-border-color;
@nav-tabs-justified-active-link-border-color:       @body-bg;

//== Pills
@nav-pills-border-radius:                           @border-radius-base;
@nav-pills-active-link-hover-bg:                    @component-active-bg;
@nav-pills-active-link-hover-color:                 @component-active-color;