@skin-border-outer:             6px solid @base-color-b-lighter;
@skin-border-outer-featured:    4px solid @main-color;
@skin-border-inner:             1px solid @base-border-color-light;
@skin-border-inner-featured:    1px solid @main-color;

@skin-panel-bg:                 @body-bg;
@skin-panel-bg-accent:          @base-color-b-lighter;
