.row-container-module{

}
.row-container-module.row-flex {
box-sizing: border-box;
display: -webkit-box;
display: -webkit-flex;
display: -ms-flexbox;
display: flex;
-webkit-flex-wrap: wrap;
-ms-flex-wrap: wrap;
flex-wrap: wrap;
}
.row-container-module.row-full-height {
min-height: 100vh;
}

.row-container-module.video-background {
    position: relative;
}
.row-container-module.video-background .fullwidth-overlay {
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 5;
}

.row-container-module.video-background .fullwidth-video {
    left: 0;
    min-height: 100%;
    min-width: 100%;
    position: absolute;
    top: 0;
    z-index: 1;
    overflow: hidden;  
}

.row-container-module.video-background .fullwidth-video video{
    left: 0;
    min-height: 100%;
    min-width: 100%;
    position: absolute;
    top: 0;
    z-index: 1;
}

.row-container-module.video-background .fullwidth-video-image {
    display: none;
}

.ua-mobile .row-container-module.video-background .fullwidth-video-image,
.sed-app-editor .row-container-module.video-background .fullwidth-video-image{
    background-position: center center;
    background-size: cover;
    display: block;
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 2;
}

.row-container-module.video-background .sed-pb-component {
    position: relative;
    z-index: 10;
}

.row-container-module.row-overlay,
.row-container-module.row-arrow-bottom,
.row-container-module.row-arrow-top{
  position: relative;
  z-index: 0;
}

/* Overlay */
.row-container-module.row-overlay::before {
    background-color: transparent;
    bottom: 0;
    content: "";
    display: block;
    height: 100%;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    width: 100%;
    z-index: 0;
}
/* Arrow */
.row-container-module.row-arrow-bottom::after,
.row-container-module.row-arrow-top::after {
    content: "";
    display: block;
    left: 50%;
    position: absolute;
    z-index: 1;
}
.row-container-module.row-arrow-bottom::after{
    bottom: 0;
}
.row-container-module.row-arrow-top::after{
    top: 0;
}
