/*
#less_info#(
"handle"  =>"social-bar-main-less",
"deps"    => array(),
"ver"     => "1.0.0",
"media"   => "all",
)#
*/
.module.spcial-bar{
    display: inline-block;
    ul > li > a {
      display: block;
    }
    .social-bar-vertical li{
    	display: block;
    	float: none;
    }
    .social-bar-align-right li,.social-bar-align-right{
    	text-align: right;
    }
    ul.social-bar-horzintal{
        margin-bottom: 0px;
        .clearfix();
        li{
            float: left;
            margin-bottom: 3px;
        }
    }

    .social-bar-align-center{
    	text-align: center;                                  
    }
    .module.module-icons .hi-icon {
      height: 1.8em;
      line-height: 1.8em !important;
      width: 1.8em;
      max-width: 1.8em;
    }
}

