.module-alert.alert-skin3{

  .alert {
      padding: @alert-padding ;
      border: 1px solid transparent;
     .border-radius( @alert-border-radius );
      position: relative;
  }
  .alert-title {
    font-size: @font-size-h4;
    font-weight: normal;
    //display: table-cell;
    display: inline-block;
    vertical-align: middle;
    padding: 0 @padding-sm;
  }
  .alert-icons {
    display: inline-block;
    //display: table-cell;
    vertical-align: middle;
    font-size: @font-size-h4 - 1;
    margin: 0 3px;
    position: relative;
    top: 1px;
  }
  .alert-description{
    margin: 10px 0 0;
    padding: 0;
  }
  .alert-skin3(@color) {
      color: @color;
  }
  &.style-success{
  .alert-variant-style {
    color: @alert-success-text !important;
   .alert-variant(@skin3-alert-success-bg; @skin3-alert-success-border);
   .alert-icons{
    .alert-skin3(@alert-success-text);
    }
  }
 }
  &.style-info{
   .alert-variant-style {
     color: @alert-info-text !important;
    .alert-variant(@skin3-alert-info-bg; @skin3-alert-info-border);
    .alert-icons{
     .alert-skin3(@alert-info-text);
     }
   }
  }
  &.style-warning{
   .alert-variant-style {
    color: @alert-warning-text !important;
    .alert-variant(@skin3-alert-warning-bg; @skin3-alert-warning-border);
   .alert-icons{
     .alert-skin3(@alert-warning-text);
     }
   }
  }
  &.style-danger{
   .alert-variant-style {
    color: @alert-danger-text !important;
    .alert-variant(@skin3-alert-danger-bg; @skin3-alert-danger-border);
   .alert-icons{
    .alert-skin3(@alert-danger-text);
    }
   }
  }
}
