

@skin3-alert-info-bg:                 @state-info-bg;
@skin3-alert-success-bg:              @state-success-bg;
@skin3-alert-warning-bg:              @state-warning-bg;
@skin3-alert-danger-bg:               @state-danger-bg;

@skin3-alert-success-border:          darken(@state-success-border,15%);
@skin3-alert-info-border:             darken(@state-info-border,15%);
@skin3-alert-warning-border:          darken(@state-warning-border,15%);
@skin3-alert-danger-border:           darken(@state-danger-border,15%);