

@skin4-alert-info-bg:                 fade(@base-color-a,40%);
@skin4-alert-success-bg:              fade(@base-color-a,40%);
@skin4-alert-warning-bg:              fade(@base-color-a,40%);
@skin4-alert-danger-bg:               fade(@base-color-a,40%);               
