/*siteeditor less framework path */

@font-face {
    font-family: 'Simple-Line-Icons';
    src: url('font/Simple-Line-Icons-Webfont/fonts/Simple-Line-Icons.eot');
    src: url('font/Simple-Line-Icons-Webfont/fonts/Simple-Line-Icons.eot?#iefix') format('embedded-opentype'),
         url('font/Simple-Line-Icons-Webfont/fonts/Simple-Line-Icons.woff') format('woff'),
         url('font/Simple-Line-Icons-Webfont/fonts/Simple-Line-Icons.ttf') format('truetype'),
         url('font/Simple-Line-Icons-Webfont/fonts/Simple-Line-Icons.svg#Simple-Line-Icons') format('svg');
    font-weight: normal;
    font-style: normal;
}


@import "mixins.less";
@import "colors.less";
@import "variables.less";

                                                    
// Reset  
@import "reset.less";
@import "print.less";

// Core Css
@import "core.less";
@import "grid.less";
@import "navs.less";
@import "typography.less";
@import "table.less";
@import "button.less";
@import "forms.less";

// Wordpress Css
@import "wordpress.less";

// Components
@import "responsive-embed.less";

// Utility classes


@import "utilities.less";
@import "responsive-utilities.less";