//
// Utility classes
// --------------------------------------------------


// Zero Utility Class by BA
// -------------------------

.z-mt {
	margin-top:0 !important; // We have to declare importance becuase we're overriding the 20px margin-top with a wildcard class
}

.z-mb {
	margin-bottom:0 !important; // We have to declare importance becuase we're overriding the 20px margin-bottom with a wildcard class
}

.z-b {
  border:none !important; // We have to declare importance
}

.ta-c {
  text-align:center !important; // We have to declare importance
}
.ta-l {
  text-align: left; // We have to declare importance
  .rtl-body &{
    text-align: right;
  }
}
.ta-r {
  text-align: right; // We have to declare importance
  .rtl-body &{
    text-align: left;
  }
}

.s-tb-sm{  //Spacing top and bottom
    padding-top: 10px;
    padding-bottom: 10px;    
}
.s-tb-md{
    padding-top: 30px;
    padding-bottom: 30px;    
}
.s-tb-lg{
    padding-top: 70px;
    padding-bottom: 70px;    
}
.s-lr-sm{  //Spacing left and right
    padding-left: 10px;
    padding-right: 10px;    
}
.s-lr-md{
    padding-left: 30px;
    padding-right: 30px;   
}
.s-lr-lg{
    padding-left: 70px;
    padding-right: 70px;   
}
.s-as-sm{  //Spacing all side
    padding: 10px; 
}
.s-as-md{
    padding: 30px; 
}
.s-as-lg{
    padding: 70px;   
}
/*
// Enable scrollable blocks of code
.pre-scrollable {
  max-height: 340px;
  overflow-y: scroll;
}

  */
/* 11. Responsive Vids
.pl-video {
	&.youtube {
	padding-top: 30px;
	}
	&.vimeo {
	padding-top: 10px;
	}
  position: relative;
  padding-bottom: 56.25%;

  height: 0;
  overflow: hidden;

iframe, object, embed {
    position: absolute;
    top: 0;
    left: 0;
  }
}
 */



// Floats
// -------------------------

.clearfix {
  .clearfix();
}
.center-block {
  .center-block();
}
.pull-right {
  float: right !important;
}
.pull-left {
  float: left !important;
}


// Toggling content
// -------------------------

// Note: Deprecated .hide in favor of .hidden or .sr-only (as appropriate) in v3.0.1


.hide {
  display: none !important;
}
.show {
  display: block !important;
}
.invisible {
  visibility: hidden;
}
.text-hide {
  .text-hide();
}


// Hide from screenreaders and browsers
//
// Credit: HTML5 Boilerplate


.hidden {
  display: none !important;
  visibility: hidden !important;
}


// For Affix plugin
// -------------------------

.affix {
  position: fixed;
 /* .translate3d(0, 0, 0);        */
}





/*for no pic */

.thumb{
.fa-picture-o {
    color: @base-color-b;
    display: table-cell;
    font-size: 74px;
    height: 1em;
    margin-top: -0.5em;
    position: absolute;
    text-align: center;
    top: 50%;
    vertical-align: middle;
    width: 100%;
    z-index: 0;
}
.continer{
background: none repeat scroll 0 0 @base-color-b-lighter;
img {
    position: relative;
    z-index: 1;
}
}
.thumb-container{
background: none repeat scroll 0 0 @base-color-b-lighter;
img {
    position: relative;
    z-index: 1;
}
}
}

/*
 <div class="thumb">
   <div class="continer">
        <img>
        <span class="fa fa-picture-o"></span>
   </div>
 </div>
 */


// sed column

.sed-column-1{
   width: 100%;
}
.sed-column-2{
   width: 50%;
}
.sed-column-3{
   width: 33.333333%;
}
.sed-column-4{
   width: 25%;
}
.sed-column-5{
   width: 20% ;
}
.sed-column-6{
   width: 16.666666% ;
}

.sed-column-5,
.sed-column-6{
  @media screen and (max-width: @screen-md-max) {
      width: 25%;
  }
}
.sed-column-4,
.sed-column-5,
.sed-column-6{
  @media screen and (max-width: @screen-sm-max) {
      width: 33.333333%;
  }
}
.sed-column-3,
.sed-column-4,
.sed-column-5,
.sed-column-6{
  @media screen and (min-width: @screen-xs-min) and (max-width: @screen-xs-max) {
      width: 50%;
  }
}
.sed-column-2,
.sed-column-3,
.sed-column-4,
.sed-column-5,
.sed-column-6{
  @media screen and (max-width: @screen-xs-min) {
      width: 100%;
  }
}
.sed-related-posts-default .related-post-item,
.sed-portfolio-grid .portfolio-item,
.sed-products-grid .sed-item-product{
    &.sed-column-5,
    &.sed-column-6{
      @media screen and (max-width: @screen-md-max) {
          &:nth-of-type(4n+1){
            clear: both !important;
          }
          &:nth-of-type(4n+2),
          &:nth-of-type(4n+3),
          &:nth-of-type(4n+4){
            clear: none !important;
          }

      }
    }
    &.sed-column-4,
    &.sed-column-5,
    &.sed-column-6{
      @media screen and (max-width: @screen-sm-max) {
          &:nth-of-type(3n+1){
            clear: both !important;
          }
          &:nth-of-type(3n+2),
          &:nth-of-type(3n+3){
            clear: none !important;
          }

      }
    }
    &.sed-column-3,
    &.sed-column-4,
    &.sed-column-5,
    &.sed-column-6{
      @media screen and (min-width: @screen-xs-min) and (max-width: @screen-xs-max) {
          &:nth-of-type(2n+1){
            clear: both !important;
          }
          &:nth-of-type(2n+2){
            clear: none !important;
          }
      }
    }
}

// sed column type 2

.sed-columns-1 .item-column{
   width: 100%;
}
.sed-columns-2 .item-column{
   width: 50%;
}
.sed-columns-3 .item-column{
   width: 33.333333%;
}
.sed-columns-4 .item-column{
   width: 25%;
}
.sed-columns-5 .item-column{
   width: 20% ;
}
.sed-columns-6 .item-column{
   width: 16.666666% ;
}

.sed-columns-5 .item-column,
.sed-columns-6 .item-column{
  @media screen and (max-width: @screen-md-max) {
      width: 25%;
  }
}
.sed-columns-4 .item-column,
.sed-columns-5 .item-column,
.sed-columns-6 .item-column{
  @media screen and (max-width: @screen-sm-max) {
      width: 33.333333%;
  }
}
.sed-columns-3 .item-column,
.sed-columns-4 .item-column,
.sed-columns-5 .item-column,
.sed-columns-6 .item-column{
  @media screen and (min-width: @screen-xs-min) and (max-width: @screen-xs-max) {
      width: 50%;
  }
}
.sed-columns-2 .item-column,
.sed-columns-3 .item-column,
.sed-columns-4 .item-column,
.sed-columns-5 .item-column,
.sed-columns-6 .item-column{
  @media screen and (max-width: @screen-xs-min) {
      width: 100%;
  }
}


// sed select dropdown bootstrap

.sed-select-dropdown{
&.dropdown {
    display: table;
    margin-bottom: 10px;
    position: relative;
}
.dropdown-toggle {
    background: none repeat scroll 0 0 @body-modules-bg;
    border: 1px solid @base-border-color-light;
    border-radius: 4px;
    font-size: @font-size-base;
    padding: 0px 25px 0px 15px;
    position: relative;
    line-height: 35px;
    &:after {
        background: none repeat scroll 0 0 transparent;
        border-style: solid;
        border-width: 0 1px 1px 0;
        content: "";
        height: 6px;
        margin: -3px 9px 0;
        position: absolute;
        right: 0;
        top: 50%;
        .rotate(45deg);
        width: 6px;
    }

}
&.open > .dropdown-menu {
    display: block;
}
.dropdown-menu {
    background-clip: padding-box;
    background-color: @body-modules-bg;
    border: 1px solid rgba(0, 0, 0, 0.09);
    border-radius: 4px;
    box-shadow: 0 6px 10px rgba(0, 0, 0, 0.176);
    display: none;
    float: left;
    font-size: @font-size-base;
    left: 0;
    list-style: outside none none;
    margin: 2px 0 0;
    min-width: 160px;
    padding: 5px 0;
    position: absolute;
    text-align: left;
    top: 100%;
    width: 100%;
    z-index: 1000;
    > li {
        font-size: @font-size-base;
        padding: 5px 15px;
        cursor: pointer;
      &:hover{
          background: darken(@base-color-b-lighter,1%);
      }
    }
}

}
.rtl-body .sed-select-dropdown{
    .dropdown-toggle {
        padding: 0px 15px 0px 25px;

        &:after {
            left: 0;
            right: auto;
        }

    }
    .dropdown-menu {
        float: right;
        text-align: right;
    }
}


/*

<div class="dropdown sed-select-dropdown">
<button id="dLabel" class="dropdown-toggle" data-toggle="dropdown" type="button"> Dropdown trigger </button>
<ul class="dropdown-menu" aria-labelledby="dLabel" role="menu">
<li>...</li>
</ul>
</div>

*/


//button
.button-sm {
    border-radius: 3px;
    font-size: @font-size-base - 1;
    line-height: 1.5;
    padding: 5px 10px;
}
.button-default {
    background-color: @body-modules-bg;
    border: 1px solid @base-border-color;
    .contrast(@body-bg);
    &:hover{
      background: none repeat scroll 0 0 @main-color;
      border: 1px solid @main-color;
      .contrast(@main-color);
        a{
          .contrast(@main-color);
        }
    }
}
.button-main {
    background-color: @main-color;
    border: 1px solid @main-color;
    .contrast(@main-color);
    &:hover{
      background: none repeat scroll 0 0 @main-color-dark;
      border: 1px solid @main-color-dark;
      .contrast(@main-color-dark);
        a{
          .contrast(@main-color-dark);
        }
    }
}
.post-password-form{

}

/*
.button
button[type="submit"],
input[type="submit"]{
    background-image: none;
    border-radius: 2px;
    cursor: pointer;
    display: inline-block;
    font-size: 14px;
    font-weight: normal;
    line-height: 1.42857;
    margin-bottom: 0;
    padding: 6px 12px;
    text-align: center;
    vertical-align: middle;
    white-space: nowrap;

}
 */

//loading
    .loader {
        background-color: fade( @base-color-c-lighter, 74%);
        height: 100%;
        padding:0;
        position: absolute;
        right: 0;
        text-align: center;
        top: 0;
        width: 100%;
        display: none;
       .loader-inner{
          width: 100%;
          height: 100%;
          display: table;
          table-layout: fixed;
          .loader-inner-container{
              height: 100%;
              width: 100%;
              display: table-cell;
              vertical-align: middle;
              > img {
                height: 25px;
                width: 25px;
                display: inline-block;
              }
          }
       }
    }
    .loading{
        .loader{
          display: block;
        }
    }
    .load-more-posts-btn {
          display: block;
          position: relative;
          width: 100%;
          text-align: center;
          margin: 50px auto 0;
          max-width: 300px;

    }

    .load-more-posts-infinite-scroll .loader {
        background: @body-bg;
        bottom: 0;
        height: 40px;
        padding: 0;
        position: relative;
        top: auto;
    }


/*
        <button type="button" class="button button-default button-sm load-more-posts-btn <?php if ( $pagination_type != "button" ) {
                            echo 'hide';
            } ?>" id="sed-load-more-products-btn"><?php _e("Load More","site-editor")?>
            <span class="loader">
                <span class="loader-inner">
                    <span class="loader-inner-container">
                        <img src="<?php echo SED_PB_MODULES_URL ?>woocommerce-archive/images/loading-spinning-bubbles.svg" width="64" height="64">
                    </span>
                </span>
            </span>
        </button>
        <div class="load-more-posts-infinite-scroll">
            <span class="loader">
                <span class="loader-inner">
                    <span class="loader-inner-container">
                        <img src="<?php echo SED_PB_MODULES_URL ?>woocommerce-archive/images/loading.gif" width="64" height="64">
                    </span>
                </span>
            </span>
        </div>
*/
/*
select{
    background-color: @body-modules-bg;
    background-image: none;
    border: 1px solid @base-border-color;
  //  border-radius: @border-radius-base;
    .contrast(@body-modules-bg);
    display: block;
    font-size: @font-size-base;
    line-height: 1.42857;
    padding: 6px 12px;
}

 input, textarea{
    background-color: @body-modules-bg;
    background-image: none;
    border: 1px solid @base-border-color;
  //  border-radius: @border-radius-base;
    .box-shadow(0 1px 1px fade(@base-color-c,7.5%) inset);
    .contrast(@body-modules-bg);
    display: block;
    font-size: @font-size-base;
    line-height: 1.42857;
    padding: 6px 12px;
    transition: border-color 0.15s ease-in-out 0s, box-shadow 0.15s ease-in-out 0s;
    &:focus{
      box-shadow: 0 1px 1px fade(@base-color-c,7.5%) inset, 0 0 5px @main-color-dark;
      border-color: @main-color;
      outline: 0 none;
    }
}
.form-control {
    background-color: @body-modules-bg;
    background-image: none;
    border: 1px solid @base-border-color;
    border-radius: @border-radius-base;
    .box-shadow(0 1px 3px fade(@base-color-c,9.5%) inset);
    .base-color(@body-modules-bg);
    display: block;
    font-size: @font-size-base;
    height: 34px;
    line-height: 1.42857;
    padding: 6px 12px;
    transition: border-color 0.15s ease-in-out 0s, box-shadow 0.15s ease-in-out 0s;
    margin-bottom: 15px;
    &:focus{
      box-shadow: none;
      outline: 0 none;
    }
}
input[type="button"], input[type="reset"], input[type="submit"],
button{
    background-image: none;
    border-radius: @border-radius-base;
    display: block;
    font-size: @font-size-base;
    line-height: 1.42857;
    padding: 6px 16px;
    transition: border-color 0.15s ease-in-out 0s, box-shadow 0.15s ease-in-out 0s;
    box-shadow: none;
    &:focus,
    &:hover{
      outline: 0 none;
    }
}

textarea {
    min-height: 100px;
}  */

.arrow-box-black{
    background-color: rgba(0,0,0,0.8);
    color: #fff;
    padding: 15px 20px;
    line-height: 25px;
    border-radius: 4px;
    font-size: @font-size-base + 1;
    &.right:after{
        content: "";
        position: absolute;
        display: block;
        border-top: 12px solid transparent;
        border-bottom: 12px solid transparent;
        border-right: 12px solid transparent;
        border-left: 12px solid rgba(0,0,0,0.8);
        right: -24px;
        top: 25%;
        height: 0;
        width: 0;
    }
    &.left:after{
        content: "";
        position: absolute;
        display: block;
        border-top: 12px solid transparent;
        border-bottom: 12px solid transparent;
        border-left: 12px solid transparent;
        border-right: 12px solid rgba(0,0,0,0.8);
        left: -24px;
        top: 25%;
        height: 0;
        width: 0;
    }
}

.arrow-box-light{
    background-color: #fff;
    color: #333;
    padding: 15px 20px;
    line-height: 25px;
    border-radius: 4px;
    font-size: @font-size-base + 1;
    &.right:after{
        content: "";
        position: absolute;
        display: block;
        border-top: 12px solid transparent;
        border-bottom: 12px solid transparent;
        border-right: 12px solid transparent;
        border-left: 12px solid #fff;
        right: -24px;
        top: 25%;
        height: 0;
        width: 0;
    }
    &.left:after{
        content: "";
        position: absolute;
        display: block;
        border-top: 12px solid transparent;
        border-bottom: 12px solid transparent;
        border-left: 12px solid transparent;
        border-right: 12px solid #fff;
        left: -24px;
        top: 25%;
        height: 0;
        width: 0;
    }
}
