// Wordpress Css

/*== post content image ==*/

.wp-caption {
    max-width: 100%;

}
.sed-wp-editor-content{
    .clearfix();
}

.sed-wp-editor-content img {
    vertical-align: middle;
    max-width: 100%;
    height: auto;
    display: block;
}
.module.module-comments  .comment-body .comment-text,
.sed-wp-editor-content{
  ul,ol{
    padding-left:30px;
    margin: 5px 0;
    .rtl-body &{
        padding-left:0px;
        padding-right:30px;
    }

  }
  ul{
      list-style-type: disc;
  }
  ol{
      list-style-type: decimal;
  }
  ul ul, ol ul {
      list-style-type: circle;
  }
  ol ol ul, ol ul ul, ul ol ul, ul ul ul {
      list-style-type: square;
  }
}
.page-links {
    display: block;
    text-align: center;
    margin: 30px  0 20px;
    .clearfix();
    > a , > .page-number {
        margin: 2px;
        .transition( 500ms all);
        display: inline-block;

    }
    > a > .page-number, > .page-number {
        background: @body-modules-bg;
        .border-radius( 100% );
        .base-color(@body-modules-bg);
        display: inline-block;
        border: 1px solid @base-border-color;
        font-size: @font-size-small;
        height: 2.2em;
        line-height: 2.1em;
        width: 2.2em;
        text-align: center;
        &:hover,&:focus{
            background:@main-color;
            border: 1px solid @main-color;
            .high-color(@main-color);
        }
    }
    > span.page-number{
          background:@main-color;
          border: 1px solid @main-color;
          .high-color(@main-color);
    }

}
.page-links-title{
    display: none;
    //text-align: left;
    //margin-bottom: 10px;
}


.post-password-form label{
    @media (min-width: 600px){
        display: inline-block;
        vertical-align: bottom;
        min-width: 40%;
        margin-right: 5px;
        .rtl-body &{
            margin-right: 0px;
            margin-left: 5px;
        }
    }
}
.post-password-form input[type="password"]{
    background-color: @body-modules-bg;
    border: 1px solid @base-border-color;
    .contrast(@body-bg);
    .border-radius(4px);
    box-shadow: 0 0 2px rgba(0,0,0,0.15) inset;
    padding: @padding-sm @padding-base;
    &:focus{
      border: 1px solid @main-color;
      box-shadow: none;
    }
}

.post-password-form input[type="submit"]{
    @media (min-width: 600px){
      display: inline-block;
      vertical-align: bottom;
    }
    background-image: none;
    cursor: pointer;
    display: inline-block;
    font-weight: normal;
    border-radius: 3px;
    font-size: @font-size-small;
    line-height: 1.5;
    padding: @padding-sm @padding-base;
    margin-bottom: 0;
    text-align: center;
    vertical-align: middle;
    white-space: nowrap;
    background-color: @main-color;
    border: 1px solid @main-color;
    .contrast(@main-color);
    &:hover{
      background: none repeat scroll 0 0 @main-color-dark;
      border: 1px solid @main-color-dark;
      .contrast(@main-color-dark);
        a{
          .contrast(@main-color-dark);
        }
    }
}