/*#less_info#(
"handle"    => "module-archive-skin4",
"deps"      => array(),
"ver"       => "1.0.0",
"media"     => "all"
)#*/
.module.module-archive.module-archive-skin4{

//@at-inner-bg:  @base-border-color-light;
@at-inner-bg:  @body-bg;

.clearfix();
.sed-archive-masonry{
  //width: 100%;
  display: block;
  .clearfix();
}
.item {
    float: left;
}
.inner {
    width: 100%;
}
    .entry-item {
        //width: 100%;
        .inner{
            background: @at-inner-bg;
            border-color:@base-border-color-light;
            border-style: solid;
            border-width: 1px;
            //padding: 17px;
        }
        .content-without-border{
            background: transparent;
            padding: 0;
        }
        .entry-thumb {
            //margin-bottom: 15px;
            position: relative;
            img {
                width: 100%;
            }
        }
        .entry-content {
            padding: 15px;
            header .entry-title {
                margin-top: 0px;
                margin-bottom: 3px;
                font-size: @font-size-h4;
            }
            .meta-container{
                margin-bottom: 3px;
            }
        }
    }
    .meta-container {
        .base-color(@at-inner-bg);
    }
    .icon-meta {
        font-size: 13px;
        margin-right: 5px;
    }
    .icon-meta,
    .label-meta,
    .entry-tags a,
    .entry-cats a,
    .entry-author a {
        font-size: @font-size-small;
        line-height: 20px;
        .base-color(@at-inner-bg);
        &:hover{
          color: @main-color;
        }

    }
    .meta-container > span:hover{
        .icon-meta,
        .label-meta,
        .entry-author a {
            color: @main-color;
        }
    }

    .entry-tags a,
    .entry-cats a{
            &:after{
                content: ',';
            }
            &:last-child:after {
                content: '';
            }
    }
    .post_content {
        margin-bottom: 5px;
        //margin-top: 10px;
        p{
            margin: 0px;    
        }
    }
    .read-more{
        //margin-top: 15px;
        .btn-none{
          padding: 0;
          color: @main-color;
          &:hover{
              color: @main-color-dark;
          }
        }

    }
    .entry-thumb {
        position: relative;
        overflow: hidden;
        &.image > a{
          position: relative;
          display:table;
          width: 100%;
          &::after{
            overflow: hidden;
            position: absolute;
            top: 0;
            content: "";
            z-index: 100;
            width: 100%;
            height: 100%;
            left: 0;
            right: 0;
            bottom: 0;
            opacity: 0;
            pointer-events: none;
            .transition(all 0.3s ease 0s);
            background-color: rgba(0, 0, 0, 0.3);
            .scale(0);
            z-index: 1;
          }
          &::before{
            font: normal normal normal 18px/1 FontAwesome;
            content: "\f002";
            position: absolute;
            top: 50%;
            left: 50%;
            z-index: 2;
            color: #fff;
            .translateY(-50%);
            .translateX(-50%);
            opacity: 0;
            .transition(opacity 0.3s ease 0s);
          }
          img {
              width: 100%;
              .transition(all 1.5s ease 0s);
              .scale(1;1);
          }
        }
        &.image > a:hover{
          img {
            .scale(1.1;1.1);
          }
          &::after{
            visibility: visible;
            opacity: 0.8;
            .scale(1);
          }
          &::before{
            opacity: 1;
          }
        }

    }

}
.rtl-body .module.module-archive.module-archive-skin4{
   .entry-item {
        padding-right: 0px;
        padding-left: 20px;
        float: right;
        @media (max-width: 768px) {
              padding-left: 0px;
              float: none;
        }
    }
    .entry-thumb {

    }
    .icon-meta {
        margin-right: 0px;
        margin-left: 5px;
    }
}



