/*
#less_info#(
"handle"  =>"checklist-skin1",
"deps"    => array('checklist'),
"ver"     => "1.0.0",
"media"   => "all",
)#
*/
.module-checklist.checklist-skin1{
    ul{
        li{
            .checklist-icon{
                vertical-align: baseline;
                .hi-icon {
                  height: 2em;
                  line-height: 2em !important;
                  width: 2em;
                  //background-color: #19cbe5;
                  //.low-color(@body-bg);
                  //border-radius: 100%;
                }
            }

            .module-paragraph{
                vertical-align: baseline; 
            }

        }
    }                     
}