/*#less_info#(
"handle"    => "related-posts-default",
"deps"      => array("related-posts-main-less"),
"ver"       => "1.0.0",
"media"     => "all"
)#*/
.related-posts-default{
  .inner-related {
    .clearfix();
    .related-item{
            overflow: hidden;
            display: block;
            border: 1px solid #ddd;
            margin-bottom: 20px;
    &:hover {
        .image {
            .hover {
                border-width: 8px;
                opacity: 1;
                background: fade(@main-color,70%);
            }
        .plus-reated {
            border-bottom-right-radius: 0;
            width: 35px;
            height: 35px;
            border-width: 1px;
            border-style:solid;
            .smart-variant(border-color; @main-color);
            .smart-variant(color; @main-color);
            > span {
                opacity: 0;
                .transition(
                    all .1s ease-in,
                    color .1s ease-in;);
            }
            .icon {
                opacity: 1;
            }
            .readmore {
                opacity: 1;
                left: 100%;
                .transition(
                    all .3s ease-in .2s,
                    color .1s ease-in .2s;);
            }
            }
        }

    }

     .image {
        max-width: 100%;
        height: auto;
        display: block;
        overflow: hidden;
    }

    .image {
        position: relative;
        &:before {
            content: '';
            position: absolute;
            top: 100%;
            right: 10%;
            margin-top: -15px;
            width: 0;
            height: 0;
            z-index: 10;
            border-bottom:  30px solid @body-bg;
            border-left:    30px solid transparent;
            border-right:   30px solid transparent;
        }
        img {
            height: auto;
            min-height: 100%;
            min-width: 100%;
            width: 100%;
            z-index: 1;
        }
        .hover {
            position: absolute;
            top: 0;
            right: 0;
            width: 100%;
            height: 100%;
            border: 0px solid @body-bg;
            border-bottom: none;
            opacity: 0;
            z-index: 2;
            .box-shadow(inset 0 0 0 2px transparent);
            .transition(all .1s ease-in);
        }
        .icon-reated {
              position: absolute;
              top: 0;
              z-index: 3;
        }
        .plus-reated {
            position: absolute;
            top: 15px;
            left: 15px;
            width: 60px;
            height: 60px;
            padding: 8px 0;
            text-align: center;
            border-radius: 100%;
            border: 1px solid  transparent;
            color:  transparent;
            .transition(all .1s ease-in);
            &:hover {
                .smart-variant(background-color; @main-color;);
                .icon {
                    color: @main-color;
                }
            }
            .icon {
                display: table;
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                font-size: 14px;
                opacity: 0;
                .transition(all .1s ease-in);
                > i {
                    display: table-cell;
                    vertical-align: middle;
                    position: relative;
                }
            } // .icon
            .readmore {
                display: table;
                position: absolute;
                bottom: 0;
                left: 110%;
                margin-bottom: -5px;
                width: 90px;
                //height: 100%;
                font-size: 12px;
                text-align: left;
                display: inline-block;
                padding: 0 10px;
                opacity: 0;
                .transition(
                    all .1s ease-in,
                    color .1s ease-in;);
                > span {
                    display: table-cell;
                    vertical-align: bottom;
                }
            } // .readmore

        } // .plus-reated
    }

    .title {
        font-size: 14px;
        margin: 11px auto;
        text-align: center;
    }
    }
}
}
.rtl-body .module.related-posts-default{
  .inner-related {
    .related-item{
    &:hover {
        .image {
          .plus-reated {
              border-bottom-right-radius: 100% !important ;
              border-bottom-left-radius: 0 !important;
              .readmore {
                right: 100%;
                left: auto !important;
              }
          }
        }

    }

    .image {
        &:before {
            left: 10%;
            right: auto !important;
        }
        .hover {
            right:auto;
            left: 0;
        }
        .plus-reated {
            right: 15px;
            left: auto !important;
            .icon {
                right: 0;
                left: auto !important;
            } // .icon
            .readmore {
                right: 110%;
                left: auto !important;
                text-align: right;
            } // .readmore

        } // .plus-reated
    }
    }
}
}