/**
 * playlist "inner" style
 * imported in style.less
 */
&.playlist-inner .jp-type-playlist .jp-playlist-wrapper {
    position: absolute;
    width: 100%;
    height: 100%;
    top: -100%;
    right: 0;
    overflow: hidden;
    border: none;
    opacity: 0;
    //border-left: none;
    .transition(
        top     .0s ease-out .2s,
        opacity .2s ease-out .0s;);
    &.opened {
        top: 0;
        opacity: 0.95;
        .transition(
            top     .0s ease-in .0s,
            opacity .2s ease-in .1s;);
    }
    .jp-playlist {
        width: 100%;
        height: 100%;
        margin-left: auto;
        margin-right: auto;
        //background-color: @skin-playlist-bg;
        //padding: 10px 20px;
        ul {
            margin: 0;
            padding: 20px 10px;
            height: 100%;
            width: 100%;
            overflow-y: auto;
            > li {
                padding: 10px 10px;
                //border-bottom: 1px solid @skin-playlist-bg-curr;
                border: none;
                height: auto;
                width: 25%;
                display: inline-block;
                &:last-child {border: none;}
                &:hover {
                    background: none;
                    .img {
                        border: 2px solid fade(@main-color, 30%);
                    }
                }
                .img {
                    width: 100%;
                    height: 65px;
                    float: left;
                    overflow: hidden;
                    a {display: inline;     }
                    .transition(all .1s ease-in);
                    img {
                        width: 100%;
                        height: auto;
                    }
                }
                h3 {
                    display: none;
                    font-size: 13px;
                    font-weight: bold;
                    margin: 0;
                    padding: 4px 0;
                }
                .jp-artist { display: none; }
                p {
                    display: none;
                    font-size: 12px;
                    margin: 0;
                    //.smart-variant(color; @skin-playlist-bg; 75%; @fade: 50%;);
                }
                a {
                    display: none;
                    //.smart-variant(color; @skin-playlist-bg; 75%);
                }
            } // > li

            > .jp-playlist-current {
                .img {
                    border: 2px solid fade(@main-color, 60%);
                }
                background: none;
                //p { .smart-variant(color; @skin-playlist-bg-curr; 75%; @fade: 50%;); }
                //a { .smart-variant(color; @skin-playlist-bg-curr; 75%); }
            }
        }
    }
} //.playlist-inner