@skin-thead-bg:         @main-color;
@skin-tbody-bg:         @base-color-b-light;

@skin-thead-border:     lighten(@main-color-dark, 5%);
@skin-tbody-border:     @base-color-b;

@table-bg-accent:       @base-color-b-lighter;
@table-bg-hover:        @main-color-light;

