/**
 * Module's breakepoints. Handfull sets
 * that helps on doing media-queries in javascript.
 ================================================== */
.breake-point {
    display: none !important;
    position: fixed;
    width: 100%;
    &:before {
        content: 'false';
        display: table-cell;
        vertical-align: middle;
        font-weight: bold;
    }
}
@media (max-width: 1077px) {
    .breake-point {
        width: 1077px;
        &:before {
            content: '1077 fires!';
        }
    }
}
/* ================================================ */

a {
    &:focus,
    &:active,
    &:hover {border-width: 0px;}
}

/**
 * make sure the player get reposnsive approach!
 ================================================ */
 .jp-video,
 .jp-gui {
    max-width: 100%;
 }

.jp-video {

.jp-type-single{
  position: relative;
}
    overflow: hidden;
    display: inline-block;
    &-270p {
        width: @module-270p-width;
        &.playlist-side { width: 880px; }
        &.playlist-bottom { height: 454px; }
        .jp-gui,
        .jp-video-play { width: @module-270p-width; max-width: 100%;} //width:480px;
        li.progress-holder { width: 100% !important; }
        .jp-jplayer img,
        .jp-jplayer video,
        .jp-jplayer {
          min-height: 100%;
          height: auto  !important;
        }
        .jp-jplayer video,
        .jp-jplayer {
          max-height: 270px;
        }
    }
    &-360p {
        width: @module-360p-width;
        &.playlist-side { width: 1040px; }
        &.playlist-bottom { height: 454px; }
        .jp-gui,
        .jp-video-play { width: @module-360p-width; max-width: 100%;} //width:640px;
        li.progress-holder { width: 100% !important; }
        .jp-jplayer img,
        .jp-jplayer video,
        .jp-jplayer {
          min-height: 100%;
          height: auto  !important;
        }
        .jp-jplayer video,
        .jp-jplayer {
          max-height: 360px;
        }
    }
    &-480p {
        width: @module-480p-width;
        &.playlist-side { width: 1254px; }
        &.playlist-bottom { height: 454px; }
        .jp-gui,
        .jp-video-play { width: @module-480p-width; max-width: 100%;} //width:854px;
        li.progress-holder { width: 100% !important; }
        .jp-jplayer img,
        .jp-jplayer video,
        .jp-jplayer {
          min-height: 100%;
          height: auto  !important;
        }
        .jp-jplayer video,
        .jp-jplayer {
          max-height: 480px;
        }
    }
    &-720p {
        width: @module-720p-width;
        &.playlist-side { width: 1680px; }
        &.playlist-bottom { height: 940px; }
        .jp-gui,
        .jp-video-play { width: @module-720p-width; max-width: 100%;} //width:1280px;
        li.progress-holder { width: 100% !important; }
        .jp-jplayer img,
        .jp-jplayer video,
        .jp-jplayer {
          min-height: 100%;
          height: auto  !important;
        }
        .jp-jplayer video,
        .jp-jplayer {
          max-height: 720px;
        }
    }

    &-full {
        .jp-toggle-playlist,
        .playlist-wrapper {
            display: none !important;
        }
    }

    &:hover {
        .jp-interface-wrapper .jp-interface,
        .jp-details,
        .jp-toggle-playlist {
            opacity: 1;
        }
    }

    .jp-jplayer img,
    .jp-jplayer video,
    .jp-jplayer {
        max-width: 100%;
        display: block;
        min-height: 100%;
        height: auto  !important;
    }
    .jp-jplayer img{
        height: 100% !important;
    }

    .jp-details {
        height: 30px;
        line-height: 30px;
        padding: 0 10px;
        position: absolute;
        text-align: left;
        top: 0;
        width: 100%;
        opacity: 0;
        transition: all 0.1s ease-in 0s;
    }
    .jp-gui {
        .jp-interface {
            ul {
                margin: 0;
            }
            li {
                float: left;
                display: table;
                height: 28px;
                > .jp-current-time,
                > .jp-duration,
                > a {
                    padding: 0px 3px;
                    font-size: 13px;
                    width: 22px;
                    //color: should be define in skin
                    display: table-cell;
                    vertical-align: middle;
                    text-align: center;
                    .transition(all .1s ease-in);
                    &:hover {
                        //color: should be define in skin
                    }

                    &.jp-stop,
                    &.jp-play,
                    &.jp-pause {
                        padding: 6px 0px;
                        font-size: 17px;
                    }
                    &.jp-pause {
                        font-size: 13px;
                        padding: 8px 0;
                    }
                    
                    &.jp-full-screen,                    
                    &.jp-restore-screen,
                    &.jp-shuffle,
                    &.jp-shuffle-off,
                    &.jp-repeat,
                    &.jp-repeat-off {
                    }

                    &.jp-restore-screen,
                    &.jp-shuffle-off,
                    &.jp-repeat-off {
                        //color: should be define in skin
                        padding: 0;
                        &:hover {
                            //color: should be define in skin
                        }
                        i:before {
                            //backgorund-color: should be define in skin
                            padding: 2px 4px;
                            //border-radius: should be define in skin
                        }
                    } //.jp-*-off

                } // tag a styling
                .jp-duration,
                .jp-current-time {
                    font-size: 11px;
                    display: table-cell;
                    vertical-align: middle;
                }
            } // end of styling li tag

            .jp-controls-holder {
                width: 100%;
                display: inline-block;
                text-align: center;
            }

            .jp-controls {
                display: inline-block;
                width: 100%;

                /**
                 * reponsive solutions
                 ============================================== */
                 .pull-left {
                    width: 7%;
                    min-width: 30px;
                 }
                 .pull-right {
                    width: 16%;
                    min-width: 86px;

                    > li {
                        position: relative;
                        float: right;
                        margin: 0 0 0 6px;
                        width: 20px;
                        //width: 25%;
                       // width: auto;
                        &.li-jp-restore-screen,
                        &.li-jp-repeat-off {
                            width: 0;
                        }
                        a {
                            width: 100%;
                            &.jp-restore-screen,
                            &.jp-repeat-off {
                                position: absolute;
                                right: -3px;
                                top: 5px;
                                width: 0;
                            }
                        }
                    }
                 }
                 .center {
                    display: inline-block;
                    height: 28px;
                    width: 75%;
                    text-align: center;
                    float: left;
                    .transition(all .2s ease-in);
                 }

                @media (max-width: 510px) {
                    .pull-left {
                        width: 40px !important;
                        &:hover {
                            ~ .center {
                                opacity: 0;
                            }
                            ~ .pull-right {
                                //text-indent: 0;
                                opacity: 1 !important;
                                z-index: 99999 !important;
                                width: 90px !important;
                                left: 40px;
                            }
                        }
                    }
                    .pull-right {
                        position: absolute;
                        left: 0px;
                        width: 0;
                        overflow: visible;
                        //text-indent: -999999999px;
                        opacity: 0;
                        .transition(all .2s ease-in);
                            &:hover {
                                //text-indent: 0;
                                opacity: 1 !important;
                                z-index: 99999 !important;
                                width: 90px !important;
                                left: 40px;
                                ~ .center {
                                    opacity: 0;
                                }
                            }
                    }
                    .center {
                        width: 83% !important;
                        float: right !important;
                        margin-right: 5%;
                    }
                } // @media max-width: 510px;
                @media (max-width: 340px) {
                    .center {
                        margin-right: 0 ;
                    }
                } // @media max-width: 340px;
                /* =========End of Reponsive Solution========== */

                .progress-holder {
                    padding: 0px 3px;
                    .jp-progress {}            
                    .jp-seek-bar {
                        cursor: pointer;
                        .jp-play-bar {
                            overflow: visible !important;
                            position: relative;
                        }
                    }

                    .jp-duration,
                    .jp-current-time {
                        font-size: 11px;
                        display: table-cell;
                        vertical-align: middle;
                    }
                } //.progress-holder

                .volume-controls {
                    width: 21px;
                    text-align: center;
                    position: relative;
                    &:hover .fader {
                        padding: 15px 10px;
                        bottom: 25px;
                        height: 130px;
                        opacity: 1;
                        .transition(
                            padding .0s ease-in .0s,
                            height .0s ease-in .0s,
                            bottom .1s ease-in .2s,
                            opacity .2s ease-in .2s;);
                    }
                    .fader {
                        padding: 0px;
                        position: absolute;
                        bottom: 18px;
                        left: -12px;
                       // left: -2px;
                        height: 0;
                        opacity: 0;
                        overflow: hidden;
                        .transition(
                            padding .0s ease-out .2s,
                            height .0s ease-out .2s,
                            bottom .1s ease-out .0s,
                            opacity .2s ease-out .0s;);
                        .wrapper {
                            padding: 10px;
                            height: 100%;
                        }
                        .jp-volume-bar { cursor: pointer; }
                    } //.fader
                } //.volume-controls

                .quality-change {
                    width: 21px;
                    text-align: center;
                    position: relative;
                    &:hover .fader {
                        padding: 15px 10px;
                        bottom: 25px;
                        height: 130px;
                        opacity: 1;
                        .transition(
                            padding .0s ease-in .0s,
                            height .0s ease-in .0s,
                            bottom .1s ease-in .2s,
                            opacity .2s ease-in .2s;);
                    }
                    .fader {
                        padding: 0px;
                        position: absolute;
                        bottom: 18px;
                        left: -18px;
                        height: 0;
                        opacity: 0;
                        overflow: hidden;
                        .transition(
                            padding .0s ease-out .2s,
                            height .0s ease-out .2s,
                            bottom .1s ease-out .0s,
                            opacity .2s ease-out .0s;);
                        .wrapper {
                            padding: 10px;
                            height: auto;
                            //background: should be define in skin
                            //border-radius: should be define in skin
                        }
                        a {
                            //color: should be define in skin
                            //color: should be define in skin
                            &:hover {
                                //color: should be define in skin
                            }
                        }
                    } //.fader
                } //.quality-change
            } //.jp-controls
        } //.jp-interface
    } //.jp-gui

    .jp-interface-wrapper { position: relative; }

    &.playlist-inner .jp-toggle-playlist {
        display: block;
    }

    .jp-toggle-playlist {
        position: absolute;
        z-index: 10;
        top: 20px;
        right: 30px;
        width: 50px;
        height: 30px;
        opacity: 0;
        display: none;
        .transition(all .1s ease-in);
        &.closed {
            top: 0;
            right: 0;
            .icon {
                background: rgba(255, 255, 255, 0) !important;
            }
        }
        a, .icon { width: 100%; height: 100%; display: block;}
        .icon {
            .transition(all .1s ease-in);
            //border-radius: should be define in skin
            //background: should be define in skin
            text-align: center;
            display: table;
            > i {
                width: 100%;
                vertical-align: middle;
                &.opened {display: table-cell !important;}
                &.closed {display: none !important;}
                color: rgba(255, 255, 255, .6); //alos should be change in skin
                .transition(all .1s ease-in);
            }
            &:hover {
                i { color: @main-color !important;}
            }
        }
    } //.jp-toggle-playlist

    &.playlist-none .jp-playlist-wrapper { display: none; }
} //.jp-video


&.video-resize-responsive .jp-video .jp-gui .jp-interface .jp-controls{
      .pull-left {
          width: 40px !important;
          &:hover {
              ~ .center {
                  opacity: 0;
              }
              ~ .pull-right {
                  //text-indent: 0;
                  opacity: 1 !important;
                  z-index: 99999 !important;
                  width: 90px !important;
                  left: 40px;
              }
          }
      }
      .pull-right {
          position: absolute;
          left: 0px;
          width: 0;
          overflow: visible;
          //text-indent: -999999999px;
          opacity: 0;
          .transition(all .2s ease-in);
              &:hover {
                  //text-indent: 0;
                  opacity: 1 !important;
                  z-index: 99999 !important;
                  width: 90px !important;
                  left: 40px;
                  ~ .center {
                      opacity: 0;
                  }
              }
      }
      .center {
          width: 83% !important;
          float: right !important;
          margin-right: 0%;
      }
                @media (max-width: 340px) {
                    .center {
                        margin-right: 0 ;
                    }
                }
}