/*#less_info#(
"handle"  => "page-title-skin4",
"deps"    => array(),
"ver"     => "1.0.0",
"media"   => "all"
)#
*/
.module-page-title.page-title-skin4{
    //background: none repeat scroll 0 0 @base-color-b-lighter;
    //border-color: @base-border-color-light;
    //border-style: solid none;
    //border-width: 1px medium;
   // margin: 0 0 15px;
    padding: @padding-lg 0;
    width: 100%;
    .page-title-inner {
        display: block;
        height: 100%;
        margin: 0 auto;
        overflow: hidden;
        //padding: 0 30px;
        position: relative;
        width: 100%;
    }

    @media (max-width: @screen-sm-max) {
        //padding: @padding-md 0;
    }
}