/*#less_info#(
"handle" => "single-posts-default",
"deps" => array("post-main-less"),
"ver" => "1.0.0",
"media" => "all"
)#
*/
.module.single-posts.single-posts-default {
    .entry-header {
        h1 {
            font-size: @font-size-h3;     
        }
        .entry-meta {
            border: 1px solid @base-border-color;
            border-right: none;
            border-left: none;
            overflow: hidden;
            display: block;
            .item{
                margin-right: 0px;
                padding-right: 0px;
                &::after {
                    .low-color(@body-bg);
                    content: " |";
                    font-size: @font-size-small;
                    padding-right: @padding-sm;
                    vertical-align: top;
                    line-height: @line-height-computed -3;
                }
            }
            .post-cat {
                  &:last-child > a:after {
                      content: "" !important;
                  }
                  > a:after {
                      content: ",";
                  }
            }
            span,a {
                .high-color(@body-bg);
            }
            i {
                .base-color(@body-bg;25%);
            }
            a {
               &:hover{
                 color:@main-color;
               }
            }
        }

    }
    .entry-footer{
          .post-tags {
              .label {
                margin: 0 10px 0 0;
              }
              i {
                  padding: 0 @padding-sm - 1 0 0;
                  .base-color(@body-bg;25%);
              }
             .post-tag {
                margin: 0;
                padding: 0;
                a {
                    .high-color(@body-bg);
                    font-size: @font-size-small;
                   &:hover{
                     color:@main-color;
                   }
                }
                &:after {
                    content: " ,";
                }
                &:last-child:after{
                    content: "";
                }
             }
          }
    }

}
.rtl-body .module.single-posts.single-posts-default {
    .entry-header {
        .entry-meta {
            .item{
                margin-right: 0px;
                margin-left: 0px;
                padding-right: 0px;
                padding-left: 0px;
              &::after {
                  padding-right: 0px;
                  padding-left: @padding-sm;
              }
            }
        }
    }
    .entry-footer{
          .post-tags {
              i {
                  padding: 0 0 0 @padding-sm - 1;
              }
                .label {
                  margin: 0 0 0 10px;
                }
          }
    }
}


