.module-separator.separator-skin4 .separator-inner {
    display: table;
    overflow: hidden
}

.module-separator.separator-skin4 .module-separator-inner { 
    display: inline-block;
}

.module-separator.separator-skin4 .special-spr-center {
    display: table-cell;
    line-height: normal;
    white-space: nowrap;
    text-align: center;
    margin: 0;
    padding: 0 8px 0
}

.module-separator.separator-skin4 .spr-container {
    display: table-cell;
    position: relative;
    vertical-align: middle;
    width: 50%
}

.module-separator.separator-skin4 .spr-container .separator {
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    box-sizing: content-box;
    display: block;
    position: relative;
    width: 100%
}