.module.spcial-bar {
    font-size: 0;
}

.module.spcial-bar ul {
    margin-bottom: 0;
    display: inline-block;
    list-style-type: none;
}

.module.spcial-bar ul.social-bar-horzintal:before,
.module.spcial-bar ul.social-bar-horzintal:after {
    content: "";
    display: table
}

.module.spcial-bar ul.social-bar-horzintal:after,
.module.spcial-bar ul.social-bar-horzintal:before {
    clear: both
}

.module.spcial-bar .social-bar-vertical li {
    display: block;
    float: none
}

.module.spcial-bar ul.social-bar-horzintal li {
    float: left;
    margin-bottom: 2px;
    margin-top: 2px;
}

.module.spcial-bar li a {
    display: block;
}

.module.spcial-bar .hi-icon {
    font-size: 20px;
    height: 1em;
    width: 1em;
    line-height: 1em;
    text-align: center; 
    display: block;
}
