/*
#less_info#(
"handle" => "module-less",
"deps" => array(),
"ver" => "1.0.0",
"media" => "all"
)#
*/
.sed-bp-module {
    font-size:0;
}
.sed-bp-module > * {
    font-size: @font-size-base;
}
.sed-bp-module > h1 { font-size: @font-size-h1; }
.sed-bp-module > h2 { font-size: @font-size-h2; }
.sed-bp-module > h3 { font-size: @font-size-h3; }
.sed-bp-module > h4 { font-size: @font-size-h4; }
.sed-bp-module > h5 { font-size: @font-size-h5; }
.sed-bp-module > h6 { font-size: @font-size-h6; }
