/*
#less_info#(
"handle"  =>"checklist-skin2",
"deps"    => array(),
"ver"     => "1.0.0",
"media"   => "all",
)#
*/
.module-checklist.checklist-skin2{
    ul{
        counter-reset: li-number;
        li{
            background-clip: padding-box;
          //  cursor: default;
            padding: 4px 10px;
            padding-left: 1.9em;
            color: #fff;
            position: relative;
           display: block;
            background-color: @main-color;
            margin: 10px 0;
            margin-left: 10px;
            .border-radius(@border-radius-large);
            &:before{
                counter-increment: li-number;
                display: inline-block;
                content: counter(li-number);
                padding-top: 5px;
                text-align: center;
                position: absolute;
                top: -4px;
                left: -15px;
                width: 36px;
                height: 36px;
                border: 3px solid @main-color;
                border-radius: 100%;
                background-color: @base-color-a;
                color: @main-color;
            }
           .checklist-txt{
                margin: 0 0 0 30px;
             p{
                margin: 0;
                .high-color(@main-color);
              }
           }
        }
        li:hover{
            //color: @sed-gray-dark;
        }
        li.checked{
            &:before{}
        }
    }                     
}
.rtl-body .module-checklist.checklist-skin2{
    ul{
        li{
            padding-right: 1.9em;
            margin-right: 10px !important;
            margin-left: 0px !important;
            padding-left: (@padding-base-vertical/2)+1 !important;
            &:before{
                right: -15px;
                left: auto !important;
            }
           .checklist-txt{
                margin: 0 30px 0 0;
           }
        }
    }
}