/*#less_info#(
"handle"	=> "countUp-counter-box-default",
"deps"		=> array(),
"ver"		=> "1.0.0",
"media"		=> "all"
)#*/
.module-counter-box.counter-box-default{
    max-width: 100%;
    text-align: center;
    @media screen {
        @media (@screen-xs-max) {}
    }
    > .box {
          margin: 5px;
          border: 1px solid @base-border-color;
          padding: 15px 20px;
          text-align: center;
          font-size: 32px;
          .border-radius(@border-radius-large);
          .high-color(@body-bg);
          .counter-box-pr{
              //bottom: 60px;
              display: block;
              //margin-left: -40px;
              //padding-bottom: 15px;
              //position: absolute;
              text-align: center;
              width: 100%;
          }
          .counter-box-icon{
           /* &.icons-skin4{
              margin-bottom: 10px !important;
            }
            &.icons-skin4,&.icons-skin4{
              margin-bottom: 20px !important;
            } */
              color: @main-color;
              //margin: .2em;
              display: inline-block;
              overflow: hidden;
          }

          .counter-box-title{
              .high-color(@body-bg);
              font-size: @font-size-base;
              margin-top: 10px;
              //max-height: 40px;
              //overflow: hidden;
          }
    }
}