/*
#less_info#(
"handle"  =>"main-tab-skin8",
"deps"    => array("main-tab"),
"ver"     => "1.0.0",
"media"   => "all",
"import"  => array(
    "@sed-modules-root/tab/less/main.less" 
)
)#
*/
@import "../../../less/main.less";
.module-tab.tab-skin8{
 @skin-bg:       @body-bg;
 .skin-border-color {
    border-color:@base-border-color;
}
// Give the tabs something to sit on
.nav-tabs {

    border: none;
    width: 100%;
    border-bottom: 2px solid #ccc;
    text-align: center;
    > li {
        display: inline-block;
        min-width: 80px;
        padding:0 15px 20px;
        float: none;
        text-align: center;
        // Make the list-items overlay the bottom border
        float:none;
        text-align: center;
        @media (max-width: @screen-xs-max) {
            display: block;
            width: 100%;
        }
        // Actual tabs (as links)
        > a {
            .low-color(@nav-tabs-bg);
            margin-right: 0px;
            line-height: @line-height-base;
            border: none;
            .border-radius( 0);
            position: relative;
            width: 100%;
            cursor: pointer !important;
            //padding: 25px 15px 10px;
            &:hover,&:focus { background-color: transparent; }
            .transition(all 0.35s ease-in);
            .module.module-image{
                margin-bottom: 10px;
                text-align: center;
                img {
                    max-width: 128px;
                }
            }
            span {
                .low-color(@nav-tabs-bg);
                display: block;
            }
        }

        // Active state, and its :hover to override normal :hover
        &:hover,
        &:focus ,
        &.active {
            > a {
                &,
                &:hover,
                &:focus {
                    .base-color(@skin-bg);
                    border: none;
                    border-bottom-color: transparent;
                    cursor: default;
                    background-color: transparent;
                }
                span {
                    color: @main-color;
                }
            }
            background-color: transparent;
        }
        &.active {
            background-color: transparent;
            > a{
              cursor: default !important;
            }

            &:before {
                content: '';
                position: absolute;
                bottom: -1px;
                left: 0;
                right: 0;
                width: 100%;
                height: 2px;
                background-color:@main-color;
                .transition(all .4s ease-in);
            }

        }
    }
    // pulling this in mainly for less shorthand
    &.nav-justified {
        .nav-justified();
        .nav-tabs-justified();
    }
}

.tab-content {
    padding: 30px 15px 15px;
    text-align: center;
}
}
.module.module-tab.tab-skin4.tab-resize-responsive{
    .nav-tabs > li{
        display: block;
        width: 100%;
    }
}
