/*
#less_info#(
"handle" => "header-default-less",
"deps" => array(),
"ver" => "1.0.0",
"media" => "all"
)#
*/
 /*
.module-header.header-default{

    .header-bar {
        height: 100%;
        margin: 0 auto;
        position: relative;
        z-index: 1;
        //max-width: 1100px;

       .brand-header{
            display: block;
            @media (min-width: @grid-float-breakpoint) {
                display: table-cell;
                vertical-align: top;
                table-layout: fixed;
            }
            .navbar-brand {
                max-width: 250px;
                max-height: 200px;
                overflow: hidden;
                height: 100%;
                &:hover,
                &:focus {
                  text-decoration: none;
                }

                @media (min-width: @grid-float-breakpoint) {
                  .navbar > .container &,
                  .navbar > .container-fluid & {
                    //margin-left: -@navbar-padding-horizontal;
                  }
                }
                img {
                    max-height:100%;
                    //max-width:100%;
                    width: auto;
                    height:auto;
                    max-width: 250px;
                    max-height: 200px;

                }

            }
            @media (max-width: @grid-float-breakpoint) {
               &:after,&:before{
                   content:  "";
               }
               width:100%;
               display: block;
            }
        }

        .module-megamenu.megamenu-defult.navbar-wrap {
            //padding: 0 0 0 120px;
            position: static;
            width: 100%;
            background: transparent;
            .container-megamenu {
              position: static;
              display: block;
            }
        }

    }
}
    */
