/*
#less_info#(
"handle"  =>"blockquote-skin3",
"deps"    => array('main-blockquote'),
"ver"     => "1.0.0",
"media"   => "all",
"import"  => array(
    "@sed-modules-root/blockquote/less/variables.less" ,
),
)#
*/
@import "../../../less/variables.less";
.module-blockquote.blockquote-skin3{
  .sed-blockquote-skin{
    border-color: @blockquote-base-border-color;
    border-left-color: @blockquote-main-border-color;
    .border-radius(@blockquote-border-radius);
    border-style: solid;
    border-width: 1px 1px 1px 5px;
    background: @blockquote-base-color-a-bg;
    .base-color(@blockquote-base-color-a-bg);
    &:before{
      left: 10px;
      top:5px;
    }
  }
}
.rtl-body .module-blockquote.blockquote-skin3{
  .sed-blockquote-skin{
      border-left-color:@blockquote-base-border-color !important;
      border-right-color:@blockquote-main-border-color;
      border-width: 1px 5px 1px 1px !important;
      &:before{
        left: auto !important;
        right: 10px;
      }
  }
}