/*#less_info#(
"handle"    => "counter-box-skin3",
"deps"      => array(),
"ver"       => "1.0.0",
"media"     => "all"
)#
*/
.counter-box-skin3{
    min-width: 35px;
    display: inline-block;
    border: 1px solid @main-color;
    border-radius: @border-radius-large;
    margin: 10px;
    .border-top-radius(@border-radius-large + 1%);
    > .box {
        position: relative;
        background: @body-bg;
        padding: 6px 12px;
        text-align: center;
        font-size: @font-size-base + 1;
        .border-top-radius(@border-radius-large);
        color: @main-color;
        &:after{
            content: '';
            position: absolute;
            top: 100%;
            left: 50%;
            margin-left: -5px;
            width: 0;
            height: 0;
            z-index: 1;
            border-top: 5px solid @body-bg;
            border-left: 5px solid transparent;
            border-right: 5px solid transparent;
        }
    }
    > .box-info{
        display: inline-block;
        width: 100%;
        padding: 6px 12px;
        background: @main-color;
        //color: @body-bg;
        .high-color(@main-color);
        font-size: @font-size-base;
        text-align: center;
    }
}