.module-progress-bar.progress-bar-skin1{
    .bar-info{
        margin-bottom: 5px;
        padding: 0 5px;
        width: 100%;
        .clearfix();
        & > .title{
            float: left;
        }
        & > .percent{
            float: right;
            background-color: @progress-bg;
            .contrast(@progress-bg);
            padding: 1px 6px;
            font-size: 11px;
            border-radius: 4px;
        }
    }
    .progress {
        height: @line-height-computed/1.6;
        background-color: @progress-bg;
        .border-radius(1000px);
        position: relative;
        .progress-bar {
            line-height: 14px;
        }
        .progressbar-front-text {
            //font-size: 10px;
            //line-height: 14px;
        }
        &.vertical{
            .progress-bar {
                line-height: 50px;
            }

        }
    }

}