/*#less_info#(
"handle"    => "product-slick-less",
"deps"      => array(),
"ver"       => "1.0.0",
"media"     => "all"
)#*/
.module.modules-woocommerce{
.sed-carousel.sed-products-carousel{

    .slick-list{
        margin-bottom: 0px;
        margin-left: 36px;  
        margin-right: 36px;
    }
    .slick-track {
        margin-top: 4px;
    }  
    .slide-prev, .slide-next {
        background: none repeat scroll 0 0 transparent;
        border: 0px solid;
        .base-color(@body-bg;24%;color);
        cursor: pointer;
        display: block;
        height: 40px;
        width: 26px;
        line-height: 40px;
        margin-top: -20px;
        top: 50%;
        opacity: 0.9;
        outline: medium none;
        position: absolute;
        text-align: center;
        .transition(all 500ms);
        &.slick-disabled {
          opacity: 0.4;
        }
        > i{
            position: relative;
            display: block;
            height: 100%;
            width: 100%;
            &::after, &::before {
                top: 50%;
                border: solid transparent;
                content: " ";
                height: 0;
                width: 0;
                position: absolute;
                pointer-events: none;
                .border-radius(2px);
            }
            &::before {
                border-color: transparent;
                border-width: 20px 13px 20px 13px;
                margin-top: -20px;
            }
            &::after {
                border-color: transparent;
                border-width: 16px 10px 16px 10px;
                margin-top: -16px;
            }
        }

      }
      .slide-prev{
          .left(-10px);
            i{
                &::after, &::before {
                    .right(0);
                }
                &::before {
                    //border-right-color: #999;
                    .base-color(@body-bg;24%;border-right-color);
                    .rtl-body & {
                        border-right-color: transparent;
                        .base-color(@body-bg;24%;border-left-color);
                    }
                }
                &::after {
                    border-right-color: @body-bg;
                    .rtl-body & {
                        border-right-color: transparent;
                        border-left-color: @body-bg;
                    }
                }
            }
      }
      .slide-next{
          .right(-10px);
            i{
                &::after, &::before {
                    .left(0);
                }
                &::before {
                    //border-left-color: #999;
                    .base-color(@body-bg;24%;border-left-color);
                    .rtl-body & {
                        border-left-color: transparent;
                        .base-color(@body-bg;24%;border-right-color);
                    }
                }
                &::after {
                    border-left-color: @body-bg;
                    .rtl-body & {
                        border-left-color: transparent;
                        border-right-color: @body-bg;
                    }
                }
            }
      }

    .slick-dots{
      //bottom: 2px;
      bottom: 2px;
      position: relative;
    }

    .slick-dots li {
        margin: 0;
        width: 15px;
    }
    .slick-dots li button:hover,
    .slick-dots li button:focus {
        outline: none;
    }
    .slick-dots li button:hover:before,
    .slick-dots li button:focus:before {
        opacity: 1;
    }
    .slick-dots li button:before {
      font-size: 0;
      //color: @body-bg;
      opacity: 0.6;
      -webkit-font-smoothing: antialiased;
      -moz-osx-font-smoothing: grayscale;
      border: 2px solid;
      .base-color(@body-bg;24%;border-color);
      //border-color: @base-color-c;
      //.lower-color(@base-color-c;border-color);
      height: 10px;
      width: 10px;
      .border-radius(50px);
      padding: 0;
      margin: 0px;
    }
    .slick-dots li.slick-active button:before {
        //color: @main-color;
        opacity: 1;
    }
}
}
.sed_mobile_version {
    .module.modules-woocommerce{
        .sed-carousel.sed-products-carousel{ 
            .slide-nav-bt{
                display: none !important;
            }     
            &.slick-slider,
            .slick-list {
                margin: 0px;  
            }    
            .slick-dots{
                display: none !important;   
            }
            .sed-item-product {
                margin-left: 3px !important;
                margin-right: 3px !important;
            }
        }
    }
}