
.module-text-icon.text-icon-skin2 {
    font-size: 0;
}

.module-text-icon.text-icon-skin2 .text-icon-wrapper {
    display: inline-block;
    font-size: 14px;
}

.module-text-icon.text-icon-skin2 .text-icon {
    display: table-cell;
    vertical-align: top;
    position: relative;
    table-layout: fixed;
}

.module-text-icon.text-icon-skin2 .text-icon img {
    display: block;
    min-width: 30px;
    width: 30px;
    height: auto;
}

.module-text-icon.text-icon-skin2 .module-title {
    display: table-cell;
    position: relative;
    width: 100%;  
    padding: 0 8px; 
    vertical-align: middle;
    table-layout: fixed;
}