/*#less_info#(
"handle"    => "about-author-default",
"deps"      => array(),
"ver"       => "1.0.0",
"media"     => "all"
)#*/
.about-author-default{

    .bio-author-box{
        display: table;
        width: 100%;
    }
    .media-left{
        width: 90px;
        padding-right: @padding-xl;
        margin-bottom: 2px;
        @media (max-width: @screen-xs-min) {
            padding-right: 0px;
        }
        .photo {
            border: 1px solid @base-border-color-light;
            padding: @padding-xs + 1;
            margin-bottom: 5px;
            vertical-align: middle;
        }
    }
    .media-left, .media-body {
        display: table-cell;
        vertical-align: top;
        @media (max-width: @screen-xs-min) {
          display: block !important;
          text-align: center;
          margin: 0 auto;
        }
    }
    .media-body{
         .media-heading {
            margin-bottom: 5px;
            margin-top: 5px;
            text-transform: capitalize;
            font-size: @font-size-base + 1;
        }
        .author-link {
            float: right;
            text-align: right;
        }
    }
    .author_social_profiles{
        display: block;
        margin-right: 2px;
        ul.social-bar-align-center{
            margin: 0 auto !important;
        }
        li {
          display: inline-block;
          > a , > div {
                .transition(500ms all);
                > span {
                    margin: 0 auto;
                    min-width: 20px;
                    color: @base-color-b-dark;
                }

            }
        }
       .linked-in { a:hover > span, div:hover > span{color:#419cca ;}}
       .facebook { a:hover > span, div:hover > span{color: #37589b;}}
       .pinterest { a:hover > span, div:hover > span{color: #cb2027; }}
       .twitter { a:hover > span, div:hover > span{color: #46d4fe; }}
       .google-plus { a:hover > span, div:hover > span{color: #de5a49; }}
    }
}
.rtl-body .module.about-author.about-author-default{
    .media-left{
        padding-right: 0px;
        padding-left: @padding-xl;
        @media (max-width: @screen-xs-min) {
            padding-right: 0px;
            padding-left: 0px;
        }
    }
    .author_social_profiles{
        margin-left: 2px;
        margin-right: 0px;
    }
}


