

@icon-bace-color-c:               @base-color-c-light;
@icon-pmain-color:                @perfect-main-color;
@icon-bace-bg:                    @body-modules-bg;
@icon-main-border:                darken(@main-color, 6%);



@icon-main-bg:             @main-color;
@icon-main-shadow:         @main-color;
@icon-main-color:          @main-color;



@icon-white-bg:            #fff;
@icon-white-shadow:        #fff;
@icon-white-main-color:    @main-color;
@icon-white-color:         #fff;


@icon-black-bg:            #333333;
@icon-black-shadow:        #333333;
@icon-black-main-color:    @main-color;
@icon-black-color:         #333;          