.dialog-page-box{
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-transition: left 0.3s ease 0s;
       -moz-transition: left 0.3s ease 0s;
        -ms-transition: left 0.3s ease 0s;
         -o-transition: left 0.3s ease 0s;
            transition: left 0.3s ease 0s;
            z-index: 1;
}
.dialog-page-box-title{
    display: block;
    width: 100%;
    height: 100%;
    padding: 8px 5px 8px 30px;
    position: absolute;
    top: 0;
    -webkit-transition: left 0.3s ease 0s;
       -moz-transition: left 0.3s ease 0s;
        -ms-transition: left 0.3s ease 0s;
         -o-transition: left 0.3s ease 0s;
            transition: left 0.3s ease 0s;
    cursor: move;
}
.dialog-page-box-title.first {
    padding: 8px 5px 8px 8px;
}
.icon-close-page-box {
    border-color: #ddd;
    border-image: none;
    border-radius: 4px 0 0;
    border-style: solid;
    border-width: 0 1px 0 0;
    display: table;
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 24px;
    cursor: pointer;
}
.icon-close-page-box i{
    color: #00ccff;
    display: table-cell;
    font-size: 25px;
    vertical-align: middle;
}
.dialog-page-box-next{
    left:100%;
}
.dialog-page-box-prev{
    left:-100% !important;
}
.dialog-page-box-current{
    left:0 !important;
}
.page-box-transition-none{
    -webkit-transition: none !important;
       -moz-transition: none !important;
        -ms-transition: none !important;
         -o-transition: none !important;
            transition: none !important;
            display: none;
            z-index: -1000;
}