table.table {
	// Bottom align for column headings
	> thead {
		> tr {
			> th {
				&:first-child {
					border-top-left-radius:0;
					border-top-right-radius: @skin-border-radius;
				}
				&:last-child {
					border-top-right-radius: 0;
					border-top-left-radius: @skin-border-radius;
				}
			}
		}
	}
	// change tbody's cells font color
	> tbody {
		> tr {
			&:last-child > td {
				&:first-child {
					border-bottom-left-radius: 0;
					border-bottom-right-radius: @skin-border-radius;
				}
				&:last-child {
					border-bottom-right-radius: 0;
					border-bottom-left-radius: @skin-border-radius;
				}
			}
		}
	}
}