
.module-text-icon.text-icon-skin1 {
    font-size: 0;
}

.module-text-icon.text-icon-skin1 .text-icon-wrapper {
    display: inline-block;
    font-size: 14px;
}

.module-text-icon.text-icon-skin1 .text-icon {
    display: table-cell;
    vertical-align: top;
    position: relative;
    table-layout: fixed;
    font-size: 18px;
}

.module-text-icon.text-icon-skin1 .module-title {
    display: table-cell;
    position: relative;
    width: 100%;  
    padding: 0 8px; 
    vertical-align: middle;
    table-layout: fixed;
}