@skin-bg:               @main-color;//fade(darken(@main-color, 30%),70%);
@skin-bg-fade:          75%;
@skin-bg-dark:          @main-color-dark;

@skin-playlist-bg:      lighten(@skin-bg, 6%);
@skin-playlist-bg-curr: @skin-bg;

@skin-270p-width:       480px;
@skin-360p-width:       640px;
@skin-480p-width:       854px;
@skin-720p-width:       1280px;

@skin-270p-height:       270px;
@skin-360p-height:       360px;
@skin-480p-height:       480px;
@skin-720p-height:       720px;