
@-webkit-keyframes progress-bar-stripes {
    from    { background-position: 40px 0; }
    to        { background-position: 0 0; }
}

// Spec and IE10+
@keyframes progress-bar-stripes {
    from    { background-position: 40px 0; }
    to        { background-position: 0 0; }
}

.module-progress-bar{
    .progress {
        position: relative;
        overflow: hidden;
        height: @line-height-computed;
        background-color: @progress-bg;
        border-radius: @border-radius-base;
        //.box-shadow(inset 0 1px 2px rgba(0,0,0,.1));
        .progress-bar {
            position: absolute;
            overflow: hidden;
            float: left;
            width: 0%;
            height: 100%;
            font-size: @font-size-small;
            line-height: @line-height-computed;
            .high-color(@main-color);
            text-align: center;
            background-color: @main-color;
            //.box-shadow(inset 0 -1px 0 rgba(0,0,0,.15));
            .transition(width .6s ease);
        }
        .title-progress-bar,
        &.title-progress-bar{
            .progressbar-text{
                display: block;
            }
        }
        .progressbar-text{
            position: absolute;
            left: 0;
            padding: 0 20px;
            display: none;
            //top: 50%;
            //line-height: 20px;
            font-size: 13px;
            //margin-top: -10px;
        }
        &.progress-striped .progress-bar,
        .progress-bar-striped {
            .striped();
            background-size: 40px 40px;
        }
        &.active .progress-bar,
        .progress-bar.active {
            .animation(progress-bar-stripes 2s linear infinite);
        }
        .progress-bar {
            &[aria-valuenow="1"],
            &[aria-valuenow="2"] {
                min-width: 30px;
            }

            &[aria-valuenow="0"] {
                .high-color(@progress-bg);
                min-width: 30px;
                background-color: transparent;
                background-image: none;
                box-shadow: none;
            }
        }
        .progress-bar-success {
            .progress-bar-variant(@progress-bar-success-bg);
        }

        .progress-bar-info {
            .progress-bar-variant(@progress-bar-info-bg);
        }

        .progress-bar-warning {
            .progress-bar-variant(@progress-bar-warning-bg);
        }

        .progress-bar-danger {
            .progress-bar-variant(@progress-bar-danger-bg);
        }
        .progressbar-back-text {
            position: absolute;
            width: 100%;
            height: 100%;
            font-size: @progressbarFontSize;
            //line-height: @line-height-computed;
            text-align: center;
            left: 0;
        }
        .progressbar-front-text {
            display: block;
            width: 100%;
            font-size: @progressbarFontSize;
            //line-height: @line-height-computed;
            text-align: center;
        }

        &.right{
            .progress-bar {
              right: 0;
            }
            .progressbar-text{
                left: auto;
                right: 0px;
            }
            .progressbar-back-text {
                left: auto;
                right: 0px;
            }
            .progressbar-front-text {
              position: absolute;
              right: 0;
            }
        }
        &.vertical {
            width: @progressbarVerticalWidth;
            height: 100%;
            display: inline-block;
            &.bottom {
                position: relative;
               .progressbar-front-text {
                  position: absolute;
                  bottom: 0;
               }
              .progress-bar {
                  position: absolute;
                  bottom: 0;
              }
           }
           .progress-bar {
              width: 100%;
              height: 0;
              .transition(height .6s ease);
            }
            .progressbar-text{
                left: auto;
                right: auto;
                width: 100%;
                text-align: center;
                line-height: 22px;
                margin: 15px 0;
            }
        }
        .six-sec-ease-in-out {
            .transition(width 6s ease-in-out);
        }
    }
}

