//== Progress bars
//
//##

//** Background color of the whole progress component
@progress-bg:                 @component-bg;
@progress-bg-text:            @component-heading-color;
//** Progress bar text color
@progress-bar-color:          #fff;


@progressbarVerticalWidth:    @line-height-computed;
@progressbarFontSize:         @font-size-small;