/*
#less_info#(
"handle"  =>"search-skin3",
"deps"    => array('main-search'),
"ver"     => "1.0.0",
"media"   => "all",
"import"  => array(
    "@sed-modules-root/search/less/variables.less" ,
)
)#
*/
@import "../../../less/variables.less";
.module-search.search-skin3 {
  .search-box {
      background-color: @search-main-bg;
      border: medium none;
      color: darken(@search-main-bg, 50%);
      font-size: @font-size-base;
      .placeholder(@search-main-bg);
  }
}