/*
#less_info#(
"handle"  =>"module-youtube",
"deps"    => array(),
"ver"     => "1.0.0",
"media"   => "all",
)#
*/

.module-youtube{
    max-width: 100%;   
    .youtube-container {
        height: 0;
        overflow: hidden;
        padding-bottom: 56.25%;
        position: relative;
        width: 100%;
        .youtube-player{
            height: 100%;
            left: 0;
            position: absolute;
            top: 0;
            width: 100%;
        }
    }
}
