.module-tagline-box{
  position: relative;
  z-index: 1;
  .sed-row-boxed {
      padding-left: 0 !important;
      padding-right: 0 !important;
  }
  .reading-box{
    padding:30px;
    display: block;
    position: relative;
    box-sizing: border-box;
    &.tagline-box-paragraph .module-paragraph{
        display: block;
    }
    .module-paragraph{
        display: none;
    }

    .item-content{
      .module-title{
         margin: 0 0 10px;
         line-height: @tagline-box-line-height-sm;
      }

    }
  }
.highlight-top{
  border-top: 3px solid @tagline-box-main-border-color !important;
}
.highlight-bottom{
  border-bottom: 3px solid @tagline-box-main-border-color !important;
}
.highlight-left{
  border-left: 3px solid @tagline-box-main-border-color !important;
}
.highlight-right{
  border-right: 3px solid @tagline-box-main-border-color !important;
}
.highlight-all{
  border: 3px solid @tagline-box-main-border-color !important;
}
.highlight-right-left{
  border-right: 10px solid @tagline-box-main-border-color !important;
  border-left: 3px solid @tagline-box-main-border-color !important;
  border-radius: 0 !important;
}
.highlight-left-right{
  border-right: 3px solid @tagline-box-main-border-color !important;
  border-left: 10px solid @tagline-box-main-border-color !important;
  border-radius: 0 !important;
}

.tagline-box-shadow{
  position: relative;
  margin-bottom: 30px;
  &:after {
    left: auto !important;
    position: absolute;
    right: 10px !important;
   .rotate(3deg) !important ;
  }
  &:before,
  &:after {
      position: absolute;
      bottom: 15px;
      left: 10px;
      z-index: -1;
      height: 20%;
      max-height: 100px;
      max-width: 460px;
      width: 60%;
      content: "";
      .opacity(0.7);
      .box-shadow(0 17px 10px rgba(0,0,0,0.7));
      .rotate(-3deg);
  }
}

.item-side-right{

  .item-button{
    padding-left: 15px;
    .module-button{
     display: inline-block;
    }
  }
  .item-button,
  .item-content{
    display: table-cell;
    width: 100%;
    vertical-align: top;
    @media (max-width: @screen-sm-min) {
      display: block !important;
    }
  }
  @media (max-width: @screen-sm-min) {
    .item-button{
      margin-top: 15px;
      padding-left: 0;
    }
  }
}
.item-bottom{
  .item-button,
  .item-content{
    display: block;
  }
 .item-button{
    margin-top: 15px;
 }
}

.item-hidden{
  .item-button{
    display: none;
  }
  .item-content{
    display: block;
  }
}
.item-bottom.t-btn-left{
  .item-button{
        text-align: left;
  }
}
.item-bottom.t-btn-center{
  .item-button{
        text-align: center;
  }
}
.item-bottom.t-btn-right{
  .item-button{
        text-align: right;
  }
}

}

.rtl-body .module.module-tagline-box{
.item-side-right{

  .item-button{
    padding-left: 0px;
    padding-right: 15px;
  }

}
}
