/*#less_info#(
"handle"	=> "separator-skin6",
"deps"		=> array("separator-main-less"),
"ver"		=> "1.0.0",
"media"		=> "all"
)#
*/
.module-separator.separator-skin6{
.special-spr{
    border-top: 4px solid @main-color;
    display: inline-block;
    left: 50%;
    margin-top: -2px !important;
    margin-left: -15px !important;
    margin-right: -15px !important;
    padding: 0 15px;
    position: absolute;
    text-align: center;
    top: 50%;
    max-width: 100%;

}
}


