
/* start site editor app privew style */
.sed-app-preview{

}

.sed-app-preview #site-editor-header {
    height : 32px !important;
}

.sed-app-preview #site-editor-header .bs-example{
    height : 32px !important;
}

.sed-app-preview #site-editor-header #myTab ,
.sed-app-preview #site-editor-header #myTabContent ,
.sed-app-preview .left_palette ,
.sed-app-preview .toolbar > .site-editor-app-tools-button
{
  display: none !important;
}

.sed-app-preview .preview-mode-toolbar
{
  display: block !important;
}

.sed-app-preview .index{
    top : 32px !important;
}

.preview-mode-toolbar{
    display: none;
    float: left;
}
.preview-mode-toolbar:after,.preview-mode-toolbar:before{
    display: table;
    content: "";
}

.preview-mode-toolbar:after{
    clear: both;
}
.preview-mode-toolbar li {
    float: left;
    line-height: 30px;
    margin: 0 5px;
}
.preview-mode > a > span {
    line-height: 30px !important;
}



/* end site editor app privew style */