/*
#less_info#(
"handle"  =>"tagline-box-skin1",
"deps"    => array('main-tagline-box'),
"ver"     => "1.0.0",
"media"   => "all",
"import"  => array(
    "@sed-modules-root/tagline-box/less/variables.less" ,
),
)#
*/
@import "../../../less/variables.less";

.module-tagline-box.tagline-box-skin-default{
 .reading-box{
  background: @tagline-box-base-color-a-bg;
  border-color: @tagline-box-base-border-color;
  border-style: solid;
  border-width: 1px;  
  .base-color(@tagline-box-base-color-a-bg);

}
}