/*
#less_info#(
"handle"  =>"blockquote-skin4",
"deps"    => array('main-blockquote'),
"ver"     => "1.0.0",
"media"   => "all",
"import"  => array(
    "@sed-modules-root/blockquote/less/variables.less" ,
),
)#
*/
@import "../../../less/variables.less";
.module-blockquote.blockquote-skin4{
  .sed-blockquote-skin{
    display:block;
    border: none; 
    background-color: @blockquote-base-color-b-ltr-bg;
    border: 0px solid @blockquote-base-border-color;
    .border-radius(@blockquote-border-radius);
    .box-shadow(1px 1px 3px rgba(0, 0, 0, 0.2));
    padding-left: 20px;
    .base-color(@blockquote-base-color-b-ltr-bg);
    &:before{
      content: " " !important ;
    }
  }
}
.rtl-body .module-blockquote.blockquote-skin4{
  .sed-blockquote-skin{
    .box-shadow(-1px 1px 3px rgba(0, 0, 0, 0.2));
    padding-right: 20px !important;
  }
}