.widget-general();
.widget-default{

@widget-bg:         @body-bg ;
@widget-box-bg:     @base-color-b-lighter;
@widget-title-bg:   @base-color-b-lighter;
@wg-border-color:   @base-border-color-light;
@wg-percent-a:      70%;
@wg-percent-b:      34%;
@wg-percent-c:      25%;
.widget_function(@main-color;@widget-bg;@wg-border-color;@widget-box-bg);
.widget-title,
.widget-title > a:last-child {
    border-bottom: 1px solid @base-border-color;
    border-left: 0 none;
    border-top: 0 none;
    border-right: 0 none;
    line-height: 1.5;
    margin: 0 0 18px 0;
    padding:0 0 6px;
    position: relative;
    //font-size: 13px;
}
.widget-title{
    //border: 1px solid darken(@widget-title-bg,1%);
    &:before {
        color: @main-color;
        padding: 0 8px 0 0;
    }
}

.widget > :last-child {
  margin-bottom: 0;
}

.widget_recent_comments,
.widget_recent_entries,
.widget.woocommerce .product_list_widget,
.widget.woocommerce > ul {
    a{
      border: 0;
    }
}

.widget_archive,
.widget_categories,
.widget_product_categories,
.widget_layered_nav_filters,
.widget_layered_nav,
.widget_links,
.widget_meta,
.widget_nav_menu,
.widget_pages {
    a{
        &:before{
          //color: @main-color;
         // padding-right: 5px;
        }
    }
}

.widget_archive,
.widget_categories,
.widget_links,
.widget_meta,
.widget_nav_menu,
.widget_pages,
.widget_recent_comments,
.widget_recent_entries,
.widget.woocommerce > ul ,
.widget.woocommerce .product_list_widget{
  ul{
     list-style: none;
     margin: 0;
  }
   li{
      border-bottom: 1px solid @wg-border-color;
      &:first-child{
        border-top: 0;
        padding-top: 0;
      }
     &:last-child{
      border-bottom: medium none;
     }
   }
    .children {
      border-top: 1px solid @wg-border-color;
    }
}
.product_list_widget:extend(.widget_categories ul) {}

.widget_categories .children,
.widget_product_categories .children,
.widget_nav_menu .sub-menu,
.widget_pages .children {
  border-top: 1px solid @wg-border-color;
}


/*  calendar */

.widget_calendar > div {
    table {
      margin: 0;
        caption {
            border-bottom: 2px solid @main-color;
        }
    }
}

/*  Rss */


.widget_rss{
ul {
    border-radius: 4px;
    .box-shadow( 0 1px 2px rgba(0, 0, 0, 0.1));
     li{
        border-bottom: 1px solid @wg-border-color;
        &:last-child {
            border-bottom: medium none;
        }
        &:hover {
            background: lighten(@base-color-b-lighter,2%);
        }
        a.rsswidget {
            &:before {
              background: none repeat scroll 0 0 @main-color;
              .base-color(@main-color);
              border-radius: 4px;
          }

        }

     }
}

}

/*  text */

.textwidget > :last-child {
  margin-bottom: 0;
}

.textwidget a {
  border-bottom: 1px solid @base-border-color;
    &:hover,
    &:focus {
      border-bottom: 0;
    }
}


/*  tag */

.tagcloud > a {
  background: transparent;
}

.widget-title:before {
    content: "\f058";
    font-family: FontAwesome;
    color: @main-color;
}
.widget_archive,
.widget_categories,
.widget_product_categories,
.widget_layered_nav,
.widget_links,
.widget_meta,
.widget_nav_menu,
.widget_pages {
   a{
     padding-left:10px;
     &:before{
        content: "\f105";
        font-family: FontAwesome;
        margin-left: -10px;
        position: absolute;
        font-size: 12px;
        line-height: 20px;
     }
   }
}

//woocommerce
.widget.woocommerce {

//price filter
&.widget_price_filter{
  form{
    .price_slider_amount{
      .price_label{
          .base-color(@widget-bg;25%);
      }
    }
  }
}
}



.widget_recent_comments{
    .content-comment {
        b,b > a{
         .base-color(@widget-bg);
        }
        a{
         .high-color(@widget-bg);
        }
        a:hover {
            color:@main-color;
        }
    }
}

/* widget nav menu */
.widget_nav_menu .menu li, .widget_nav_menu .menu ul {
    padding-right: 0;
}

//woocommerce
.widget.woocommerce {

//price filter
&.widget_price_filter{

  form{
    .price_slider_amount{
      .price_label{
          .base-color(@widget-bg);
      }
    }
  }
}
}


}
.black-style-widget{
.widget-default{
    @widget-bg: lighten(@base-color-c, 15%);
    @widget-box-bg: fade(darken(@widget-bg,20%),15%);
    @wg-percent-a: 70%;
    @wg-percent-b: 60%;
    @wg-percent-c: 50%;
    @wg-border-color: @base-border-color-dark;
.widget_function(@main-color;@widget-bg;@widget-box-bg;@widget-box-bg);
.widget {
/*
 input[type="text"],
 input[type="email"],
 input[type="url"],
 input[type="password"],
 input[type="search"],
 textarea {
    border: 1px solid @wg-border-color;
} */
.widget-title,
.widget-title > a:last-child {
    .base-color(@widget-bg;@wg-percent-a);
}
}

.widget_recent_comments,
.widget_recent_entries,
.widget.woocommerce .product_list_widget,
.widget.woocommerce > ul {
    a{
      .base-color(@widget-bg;@wg-percent-b);
    }
}

.widget_archive,
.widget_categories,
.widget_product_categories,
.widget_layered_nav_filters,
.widget_layered_nav,
.widget_links,
.widget_meta,
.widget_nav_menu,
.widget_pages {
    a{
        .base-color(@widget-bg;@wg-percent-b);
    }
}

.widget_archive,
.widget_categories,
.widget_links,
.widget_meta,
.widget_nav_menu,
.widget_pages,
.widget_recent_comments,
.widget_recent_entries,
.widget.woocommerce > ul ,
.widget.woocommerce .product_list_widget{
     li{
        border-bottom: 1px solid @wg-border-color;
       &:last-child{
        border-bottom: medium none;
       }
     }
    .children {
      border-top: 1px solid @wg-border-color;
    }     
}
.product_list_widget:extend(.widget_categories ul) {}

.widget_categories .children,
.widget_product_categories .children,
.widget_nav_menu .sub-menu,
.widget_pages .children {
  border-top: 1px solid @wg-border-color;
}

/*  calendar */

.widget_calendar > div {
    .base-color(@widget-bg);
    table {
        caption {
            border-bottom: 2px solid @main-color;
        }
    }
}

/*  Rss */


.widget_rss{
ul {
     li{
        border-bottom: 1px solid @wg-border-color;
        &:hover {
             a.rsswidget{
                 color: @main-color;
             }
        }
        a.rsswidget {
            .base-color(@widget-bg;@wg-percent-b);
            &:before {
              background: none repeat scroll 0 0 @main-color;
              .base-color(@main-color);
          }
        }

     }
}
.rss-date,cite {
    .base-color(@widget-bg);
}
.rssSummary {
     .low-color(@widget-bg);
}
}


/* search */

.widget_search{
  form{
    div{
      label{
        .base-color(@widget-bg;@wg-percent-b);
      }
      input[type="text"]{
        background: darken(@widget-bg, 5%) ;
        border: 1px solid darken(@widget-bg, 5%) ;
      }
    }
  }

}

/*  text */

.textwidget a {
  border-bottom: 1px solid @wg-border-color;
}

/*  Resent Posts */

.widget_recent_entries,
.widget.woocommerce > ul ,
.widget.woocommerce .product_list_widget {
  .thumb {
      .fa-picture-o {
          .lower-color(@widget-bg);
      }
  }
  .post-content {
      .base-color(@widget-bg;@wg-percent-b);
      a{
          .base-color(@widget-bg;@wg-percent-b);
      }
  }

}


/*  Resent comment */

.widget_recent_comments{
    .content-comment {
        b,b > a{
         .base-color(@widget-bg);
        }
        a{
         .base-color(@widget-bg;@wg-percent-b);
        }
        a:hover {
            color:@main-color;
        }
    }
}
//woocommerce
.widget.woocommerce {

//price filter
&.widget_price_filter{

  .price_slider{
      background-color: @widget-box-bg;
      .box-shadow(0 0 2px 0 @widget-box-bg inset);
     .ui-slider-range{
      background: @main-color;
     }
     .ui-slider-handle{
        background: @main-color-darker;
        &:before {
            background-color: @widget-bg;
        }
     }

  }

  form{
    .price_slider_amount{
      .price_label{
          .base-color(@widget-bg);
      }
    }
  }
}

}

}
}
body.rtl-body{
.widget-default{

.widget .widget-title{
    &:before{
        content: "\f046";
        font-family: FontAwesome;
        padding-left: 8px;
        padding-right: 0;
    }
}

.widget.widget_archive,
.widget.widget_categories,
.widget.widget_product_categories,
.widget.widget_layered_nav,
.widget.widget_links,
.widget.widget_meta,
.widget.widget_nav_menu,
.widget.widget_pages {
   a{
      padding-left: 0;
      padding-right: 10px;
      &:before{
        content: "\f104";
        font-family: FontAwesome;
        margin-left: 0px;
        margin-right: -10px;                                                                         
      }
   }
}

.widget_rss{
ul {
     li{
        a.rsswidget {
            padding: 0 0 0 10px !important;
            &:before {
              margin: 0 0 0 6px !important;
          }

        }

     }
}
}
}
}


