/*#less_info#(
"handle"	=> "pricing-table-default",
"deps"		=> array(),
"ver"		=> "1.0.0",
"media"		=> "all"
)#*/

.pricing-table-default{
@skin-border-outer:             6px solid @base-color-b-lighter;
@skin-border-outer-featured:    4px solid @main-color;
@skin-border-inner:             1px solid @base-border-color-light;
@skin-border-inner-featured:    1px solid @main-color;

@skin-panel-bg:                 @body-bg;
@skin-panel-bg-accent:          @base-color-b-lighter;
border-radius: @border-radius-base;
.row{
    margin: 0px 0px 20px;
    & > .column{
        @media screen{
            @media (min-width: @screen-lg){
                min-width: 150px;
            }
            @media (max-width: @screen-lg){
                min-width: 150px;
            }
            @media (max-width: @screen-md){
                min-width: 25%;
            }
            @media (max-width: @screen-sm) {
                min-width: 33.333%;
                float: left;
            }
            @media (max-width: 600px) {
                min-width: 50%;
                float: left;
            }
            @media (max-width: @screen-xs) {
                min-width: 100%;
                &.panel-wrapper-outer{
                    .panel-wrapper{
                      border: @skin-border-outer !important;
                        .panel-container{
                            .panel{
                                border: @skin-border-inner !important;
                            }
                        }
                    }
                }
            }
        }
    }
    &.pt_without_spacing.columns-1{
        .panel-wrapper-outer{
            .panel-wrapper{
              border: @skin-border-outer !important;
                .panel-container{
                    .panel{
                        border: @skin-border-inner !important;
                    }
                }
            }
        }
    }

    &.pt_with_spacing .panel-wrapper-outer{
        .panel-wrapper{
          border: @skin-border-outer !important;
            .panel-container{
                .panel{
                    border: @skin-border-inner !important;
                }
            }
        }
    }
    &.pt_without_spacing .panel-wrapper-outer{
        padding:0;
        &:first-child > .panel-wrapper{
            border-left: @skin-border-outer;
            .panel-container .panel{
                .border-left-radius(@border-radius-base);
            }
        }
        &:last-child > .panel-wrapper{
            border-right: @skin-border-outer;
            .panel-container .panel{
                .border-right-radius(@border-radius-base);
                border-right: @skin-border-inner;
            }
        }
    }


     .panel-wrapper{
        padding: 0;
        cursor: default;
        //background: @base-color-b-lighter;
        border: @skin-border-outer;
        border-left: none;
        border-right: none;
        .panel-container{
            padding: 0px 0px;
            //background-color: @base-color-b-lighter;
            .panel{
                border: @skin-border-inner;
                .border-radius(0);
                border-right: none;
                overflow: hidden;
                margin: 0;
                background-clip: padding-box;
                text-align: center;
                background: @skin-panel-bg;

                .panel-heading{
                    padding: 15px;
                    border-bottom: @skin-border-inner;
                }
                &:hover{
                    background-color: @skin-panel-bg-accent;
                }
                .panel-body{
                    padding: 15px;
                    background-color: @skin-panel-bg-accent;
                    .price{
                        position: relative;
                        .currency{
                            position: relative;
                            top: -20px;
                            font-size: 21px;
                            .base-color(@skin-panel-bg-accent;58%);
                        }
                        .integer-part{
                            color: @main-color;
                            font-size: 55px;
                            display: inline;
                            font-weight: bold;
                        }
                        .decimal-part{
                            color: @main-color;
                            top: -20px;
                            font-size: 17px;
                            font-weight: bold;
                            position: relative;
                        }
                        .time{
                            font-size: 11px;
                            font-style: italic;
                            .base-color(@skin-panel-bg-accent;34%);
                            margin-left: -14px;
                        }
                    }
                }
                .list-group{
                    .base-color( @skin-panel-bg);
                    margin: 0;

                    .list-group-item{
                        padding: 15px;
                        border-bottom: @skin-border-inner;
                        border-right: none;
                        border-left: none;
                        &:first-child{
                          border-top: @skin-border-inner;
                        }

                    }
                }
                .panel-footer{
                    padding: 0;
                    background-color: @skin-panel-bg-accent;
                    border-radius: 0;
                    //.border-top-radius(0);
                    font-weight: bold;
                    .foot-text{
                        color: @main-color;
                        display: inline-block;
                        width: 100%;
                        padding: 15px;
                        line-height: 1em;
                        text-decoration: none;
                        > *{
                            color: @main-color;
                        }
                        &:hover{
                            .high-color(@main-color);
                            background-color: @main-color;
                            > * {
                                .high-color(@main-color);
                            }
                        }
                    }
                }
            } // .panel
        } // .panel-container

    } // .panel wrapper
        /*  styling featured pricing column
         * --------------------------------- */
        .featured{
          .panel-wrapper{
            border: none;
            .panel-container{
                border: @skin-border-outer-featured;
                position: relative;
                box-sizing: content-box;
                margin: -10px -9px;
                .box-shadow(0px 0px 6px 6px rgba(0, 0, 0, 0.1));
                z-index: 2;
                .panel{
                    border-right: @skin-border-inner-featured !important;
                    border-left: @skin-border-inner-featured !important;
                    border-color: @main-color;
                    .panel-heading,
                    .panel-footer a{
                        padding: 20px;
                    }
                    .panel-heading{
                        color: @main-color;
                    }
                    .panel-body{
                        background-color: @main-color;
                        border-color: @main-color ;
                        .price{
                            .currency{
                                .low-color(@main-color);
                            }
                            .integer-part{
                                .high-color(@main-color);
                            }
                            .decimal-part{
                                .high-color(@main-color);
                            }
                            .time{
                                .low-color(@main-color);
                            }
                        }
                    }
                }//.panel
            }
          }
        }
}

}
.rtl-body .module.module-pricing-table.pricing-table-default{
@skin-border-outer:             6px solid @base-color-b-lighter;
@skin-border-outer-featured:    4px solid @main-color;
@skin-border-inner:             1px solid @base-border-color-light;
@skin-border-inner-featured:    1px solid @main-color;

@skin-panel-bg:                 @body-bg;
@skin-panel-bg-accent:          @base-color-b-lighter;
.row{
    &.pt_without_spacing .panel-wrapper-outer{
        padding:0;
        &:first-child > .panel-wrapper{
            border-left: none;
            border-right: @skin-border-outer;
            .panel-container .panel{
                .border-left-radius(0);
                .border-right-radius(@border-radius-base);
            }
        }
        &:last-child > .panel-wrapper{
            border-right: none;
            border-left: @skin-border-outer;
            .panel-container .panel{
                .border-left-radius(@border-radius-base);
                .border-right-radius(0);
                border-left: @skin-border-inner;
            }
        }
    }
     .panel-wrapper{
        .panel-container{
            .panel{
                border-right: @skin-border-inner;
                border-left: none;
                .panel-body{
                        .time{
                            margin-left: 0;
                            margin-right: -14px;
                        }
                    }
                }
        }
     }
}
}