/***********begin style for organize post**********/
.organize-posts-content {
overflow: hidden;
position: relative;
}
#sed-organize-posts-dialog h3 {
margin: 0;
border-bottom: 1px solid #CCC;
margin-bottom: 5px;
padding: 2px 0;
color: #838383;
}
#organize-posts-left-bar {
width: 40%;
float: left;
overflow: hidden;
border-right: 1px solid #CCC;
}
#organize-posts-filter {
border-bottom: 1px solid #CCC;
margin-bottom: 5px;
padding: 5px 0;
position: absolute;
background: #FFFEFE;
z-index: 99;
width: 100%;
top: -180px;
transition: all 500ms;
}
#organize-posts-filter:hover {
top: 0;
}
.organize-posts-query-item {
padding: 5px 0;
}
.organize-posts-query-item select {
width: 95%;
padding: 5px 0;
}
#organize-posts-submit-filter{
  width: 95%;
padding: 5px;
}
#organize-posts-selectbox-container{
height: 355px;
margin-top: 35px;
overflow: hidden;
}
#organize-posts-selectbox{
overflow: hidden;
}
.organize-posts-tumb-item {
width: 25%;
float: left;
border-radius: 3px;
overflow: hidden;
}
.organize-posts-tumb-item img {
width: 100%;
}
.organize-posts-excerpt-item {
float: left;
width: 70%;
padding: 5px;
}
.organize-posts-item {
overflow: hidden;
}
.organize-posts-item {
overflow: hidden;
border-bottom: 1px solid #CCC;
padding: 5px 0;
}
.organize-posts-excerpt-item * {
margin: 0;
}
.organize-posts-filter option{
    display:  none;
}
.filter-group-post,.filter-group-category{
    display:  block;
}
#organize-posts-action-box {
overflow: hidden;
padding: 5px 0;
}
#organize-posts-action-box a{
  display: block;
text-align: center;
background: #CCC;
width: 95%;
padding: 5px 0;
}
/*----------------------------*/
#organize-posts-right-bar {
float: left;
width: 60%;
padding: 0 10px;

}
#organize-posts-right-bar .organize-posts-content{
  height: 430px;
}
#organize-posts-right-bar .organize-posts-tumb-item {
width: 10%;
}
#organize-posts-right-bar .organize-posts-excerpt-item {
width: 90%;
}
.organize-posts-item.checked {
background: #EDEDED;
}
#organize-posts-managment .organize-posts-item:hover {
cursor: move;
background: #F7F7F7;
}