/*#less_info#(
"handle"    => "module-blog-skin4",
"deps"      => array(),
"ver"       => "1.0.0",
"media"     => "all"
)#*/
.module-blog-skin4{
.block-post-wrapper {
    max-width: 400px;
    .first-item {
        width: 100%;
        float: none;
        margin-bottom: 20px;
        .entry-thumb {
            margin-bottom: 0px;
            position: relative;
            overflow: hidden;
            img {
                width: 100%;
                .transition-transform(1s);
                .scale(1;1);
            }
            .post-format {
                z-index: 2;
                position: absolute;
                top: 0;
                left: 0;
                i{
                  color:#fff;
                  position: absolute;
                  top: 0;
                  left: 0;
                  padding: 10px 0 0 10px;
                  width: 1.5em;
                  height: 1.5em;
                  font-size: 19px;
                  text-align: center;
                  .opacity(0);
                  .translate3d(-20px, -20px, 0);
                }
                &::before {
                  position: absolute;
                  left: -25px;
                  top: -25px;
                  width: 75px;
                  height: 75px;
                  background: rgba(255,255,255,0.3);
                  border: 2px solid;
                  border-color: rgba(255,255,255,0.85);
                  border-radius: 50%;
                  //box-shadow: 0 0 0 900px rgba(0,0,0,0.2);
                  content: '';
                  .opacity(0);
                  .scale(.5;.5);
                  .transform-origin(50% 50%);
                }
                &::before, i {
                  .transition(all 0.35s);
                }
                &::before,&::after {
                    pointer-events: none;
                }
            }
            .hover-bg::before{
                .vertical-three-colors(fade(#000,20%);fade(#000,50%);70%;#000);
                .transition(opacity 0.35s);
                content: "";
                display: block;
                position: absolute;
                width: 100%;
                height: 100%;
                top: 0;
                z-index: 1;
                left: 0;
                .opacity(.5);
                cursor: default;
            }
            .entry-content {
                position: absolute;
                left: 0;
                right: 0;
                bottom: 0;
                padding: 20px 30px;
                z-index: 2;
                header{
                    .entry-title {
                        margin-top: 0px;
                        margin-bottom: 5px;
                        font-size: 18px;
                        font-weight: 500;
                        line-height: 26px;
                        text-transform: capitalize;
                        a{
                          .high-color(#000);
                          text-shadow: 1px 1px 4px rgba(0,0,0,0.3);
                          .transition(all ease-out 0.20s);
                        }
                    }
                }
                .meta-container{
                    .high-color(#000);
                    .icon-meta,
                    .label-meta{
                        .high-color(#000);
                        text-shadow: 1px 1px 4px rgba(0,0,0,0.3);
                        .transition(all ease-out 0.20s);
                    }
                }

            }

            &:hover{
                img {
                  .scale(1.15;1.15);
                }
                .post-format{
                    i {
                        .opacity(1);
                        .translate3d(0,0,0);
                    }
                    &::before {
                        .opacity(1);
                        .scale(1;1);
                    }
                }
                .hover-bg::before{
                    .opacity(1);
                }
                .entry-content{
                    header{
                         .entry-title a {
                          text-shadow: 1px 1px 3px rgba(0, 0, 0, 0)
                        }
                    }
                    .meta-container{
                        .icon-meta,
                        .label-meta{
                            text-shadow: 1px 1px 4px rgba(0,0,0,0);
                        }
                    }
                }

            }
        }
    }
    .older-post {
        width: 100%;
        &.entry-item{
            position: relative;
            margin: 8px 0 0;
            &:first-child{
                margin-top: 0;
            }
            .entry-content{
                .entry-title {
                    font-size: 14px;
                    margin: 0;
                    line-height: 20px;
                    display: inline;      
                }
                .meta-container{
                    background: @main-color;
                    display: inline-block;
                    vertical-align: middle;
                    padding: 3px 6px;
                    margin-right: 8px;
                    margin-bottom: 5px;
                    .high-color(@main-color);
                    .icon-meta,
                    .label-meta{
                        .high-color(@main-color);
                    }
                }

            }
        }

    }
    .icon-meta {
        font-size: 13px;
        margin-right: 5px;
    }
    .icon-meta,
    .label-meta,
    .entry-tags a,
    .entry-cats a,
    .entry-author a {
        font-size: 11px;
        line-height: 20px;
    }

}
}


.rtl-body .module-blog-skin4 .block-post-wrapper {

    .first-item {
        .entry-thumb {
            .post-format {
                left: auto;
                right: 0;
                i{
                  left: auto;
                  right: 0;
                  padding: 10px 10px 0 0;
                  .translate3d(20px, -20px, 0);
                }
                &::before {
                  left: auto;
                  right: -25px;
                }
            }
            .hover-bg::before{
                left: auto;
                right: 0;
            }
            &:hover{
                .post-format{
                    i {
                        .translate3d(0,0,0);
                    }
                }
            }
        }
    }
    .older-post {
        &.entry-item{
            .entry-content{
                .meta-container{
                    margin-left: 8px;
                    margin-right: 0px;
                }

            }
        }

    }
    .icon-meta {
        margin-right: 0px;
        margin-left: 5px;
    }
}
