.sed-columns-pb {
  position: relative;
  width: 100%;
}

.sed-column-pb , .sed-site-column{
  position: relative;

 /* display: table-cell; /* not support in ie 7*/
}

.sed-bp-element{
  position: relative;
  /* padding: 10px; */
}


/*.sed-column-pb:first-child{
 padding-left: 0 !important;
}
.sed-column-pb:last-child{
 padding-right: 0 !important;
} */

.clr{
  clear: both;
}

.sed-column-contents-pb{
    position: relative;
    width: 100%;
}

.sed-add-shortcode-pattern{
  display: none;
}

.sed-column-pb, .sed-site-column {
    display: table-cell;
    table-layout: fixed;
    position: relative;
    vertical-align: top;
    box-sizing: border-box;
    margin: 0 !important;
}

.sed-app-editor .sed-column-pb,
.sed-app-editor .sed-site-column{
    min-width: 50px;
}

.sed-cols-table{
    width: 100%;
    display: table;
    table-layout: fixed;
    border: 0 none !important;
    border-collapse: collapse;
    margin: 0 ;
    padding: 0 !important;
    position: relative;
}

.sed-column-contents-pb{
    width: 100%;
}

.sed-bp-module {
 /* text-align: center;  */
}


.sed-row-boxed{
    max-width: 1100px;
    margin: 0 auto;
}

.sed-row-wide{
    max-width: 100%;
    margin: 0 auto;
}

.sed-row-pb{
  width: 100%;
  position: relative;
}

.sed-add-shortcode{
  display: none;
}

.sed-app-editor .sed-columns-pb ,
.sed-app-editor .sed-column-pb ,
.sed-app-editor .sed-site-column ,
.sed-app-editor .sed-column-contents-pb {
    min-height: 80px;
}
.sed-app-editor .sed-column-pb{
    padding-left: 5px ;
    padding-right: 5px ;
}

.sed-pb-module-container > .sed-text-align-left{
  text-align: left;
}
.sed-pb-module-container > .sed-text-align-center{
  text-align: center;
}
.sed-pb-module-container > .sed-text-align-right{
  text-align: right;
}
.sed-pb-module-container > .sed-text-align-initial{
  text-align: initial;
}
/*@media screen and (max-width: 680px) { */
@media screen and (max-width: 768px) {
  .sed-columns-pb.normal-columns > .sed-column-pb {
      display: block !important;
      width: 100% !important;
  }
}
 @media (max-width: 768px){

    .sed-pb-post-container > .sed-row-boxed{
        padding-left:30px !important;
        padding-right:30px !important;
    }
   /*  .content-post > div > .sed-row-wide{
        padding: 0 15px !important;
    }
    .content-post > div > .sed-row-wide > .sed-bp-module > .row-container-module >.sed-pb-component > .sed-row-pb > .sed-bp-module {
        padding: 0 15px !important;
    }
    */
     .sed-pb-post-container > .sed-row-wide > .sed-bp-module > .row-container-module,
     .sed-site-main-part > .sed-row-wide > .sed-bp-module > .row-container-module{
        /*padding-left:15px !important;
         padding-right:15px !important;*/
    }

    #site-editor-main-part .sed-bp-module[id*="sed-bp-module-module"] {
        padding-left:0px !important;
        padding-right:0px !important;
    }
    .sed-columns-pb.float-columns{
      text-align: center;
    }

    .sed-columns-pb.float-columns:after{
        clear: both;
    }
    .sed-columns-pb.float-columns:before{
        display: table;
        content: "";
    }
    .sed-columns-pb.float-columns > .sed-column-pb{
        width: auto !important;
        /*float: left;*/
        display: inline-block !important;
    }

    .sed-columns-pb.table-cell-columns > .sed-column-pb{
        display: table-cell !important;
        /*width: auto !important;*/
    }

    .sed-columns-pb.hidden-columns{
        display: none !important;
    }
    .row-container-module.hidden-row-container{
        display: none !important;
    }

}


