.library-dialog{
  padding: 0 !important;
}
.dialog-template-library .ui-dialog-titlebar ,
.icon-library-dialog .ui-dialog-titlebar,
.library-dialog .ui-dialog-titlebar {
    background: none repeat scroll 0 0 #F8F8F8 !important;
}
.icon-library-dialog .ui-dialog-titlebar,
.library-dialog .ui-dialog-titlebar {
    border-bottom: 0 solid #f8f8f8 !important;
    border-color: #f8f8f8 !important;
}

.icon-library-dialog .fd,
.library-dialog .fd {
    margin-top: 0px;
}
.icon-library-dialog .tab-contentf,
.library-dialog .tab-contentf {
    background: none repeat scroll 0 0 #FFFFFF !important;
    border-color: #E6E6E6;
    border-style: solid;
/*    height: 411px !important;      */
    border-width: 1px 0 0 !important;
    margin: -1px 0 0 !important;
    width: 100% !important;
}
#site-editor-media-library, #user_library_img {
   /* height: auto;
    float: left;
    height:410px !important; */
}
#site-editor-media-library,
#site-editor-media-gallery{
    padding: 7px;
}

#site-editor-media-gallery > li ,
#site-editor-media-library > li {
    float: left;
    padding: 6px;
    text-align: center;
}
#site-editor-media-gallery li a ,
#site-editor-media-library li a {
    height: 103px;
    margin: 1px !important;
    padding: 1px !important;
    position: relative !important;
    width: 103px;
}
#site-editor-media-gallery li a span,
#site-editor-media-library li a span{
    background: none repeat scroll 0 0 #eee;
 /*   box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.1) inset; */
    border-radius: 4px;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    display: block;
    height: 97px;
    width: 97px;
    display: table-cell;
    vertical-align: middle;
    z-index: 1;
}
#site-editor-media-library li a span.sed-media-item-filename{
    position: absolute;
    background: rgba(255,255,255,0.88);
    height: auto;
    bottom: 0;
    border-radius: 0 0 4px 4px;
    max-height: 97px;
    max-width: 97px;
    width: 100%;
    padding: 3px 0;
    color: #555;
    z-index: 2;
    overflow: hidden;
    line-height: 1.46em;
}

.img-library.bttrlazyloading {
    margin: 0 auto;
}


.library-dialog .ui-dialog-buttonpane {
    background-color: #F3F3F3 !important;
}
.icon-library-dialog .tab-pane1,
.library-dialog .tab-pane1{
  /*  height: 411px;       */
}
.icon-toolbar, .media-toolbar {
    border: 0 solid #DFDFDF;
    left: 0;
    overflow: hidden;
    padding: 0 19px 0 13px;
    position: relative;
    right: 0;
    top: 0;
    z-index: 100;
}
.icon-toolbar, .media-toolbar {
    height: 36px;
}
.template-library-toolbar,
.media-toolbar {
    height: 42px;
}
.template-library-toolbar-secondary,
.media-toolbar-secondary {
    float: left;
    height: 100%;
}
.template-library-toolbar-primary,
.media-toolbar-primary {
    float: right;
    height: 100%;
}
.template-library-toolbar-primary .search,
.template-library-toolbar-secondary select,
#other_widgets_panel .search ,
#other_modules_panel .search ,
.search ,
select.attachment-filters {
    background-color: #fff !important;
    border: 1px solid #ddd;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.07) inset;
    color: #333;
    margin-top: 6px;
    padding: 0 8px;
    transition: border-color 0.05s ease-in-out 0s;
    height: 28px;
    line-height: 28px;
    color:#333;
}
#other_widgets_panel .search ,
#other_modules_panel .search {
    margin-top: 15px;
    border: 1px solid #ccc;
    box-shadow: 0 1px 5px rgba(0, 0, 0, 0.1) inset;
}

      /* parsa edit */
.img-menu-gallery.bttrlazyloading-loaded {
      background-color: #FFFFFF;
}

#site-editor-media-library,#site-editor-media-gallery  {
   /*   height: 343px;      */
      display: table;
      content: "";
}
#site-editor-media-library:after,
#site-editor-media-gallery:after {
    clear: both;
}
.media-loading.new-item-lib-loading {
    background: url(../../images/loading.gif) no-repeat;
    display: none;
    height: 40px;
    margin: 5px auto;
    width: 40px;
    z-index: 1;
    background-size: 32px 32px ;

}
#site-editor-media-library .img-icon,
#site-editor-media-library .img-library,
#site-editor-media-gallery .img-icon ,
#site-editor-media-gallery .img-library {
    border: 0 none !important;
    border-radius: 2px;
    max-height: 95px !important;
    max-width: 95px !important;
}

#site-editor-media-library li a,
#site-editor-media-gallery li a
{
    background: none repeat scroll 0 0 #FFFFFF;
    border: 2px solid rgba(0, 0, 0, 0);
    display: table;
    border-radius: 4px;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    box-shadow:0 1px 1px rgba(0, 17, 26, 0.1);
    -moz-box-shadow:1px 1px rgba(0, 17, 26, 0.1);
    -webkit-box-shadow:1px 1px rgba(0, 17, 26, 0.1);
}

#site-editor-media-library li a.sed-media-item-selected{
  position: relative;
}

#site-editor-media-gallery li a .sed-media-item-selected-icon,
#site-editor-media-library li a .sed-media-item-selected-icon {
    background: none repeat scroll 0 0 #00ccff;
    color: #fff;
    border-radius: 1000px;
    height: 25px;
    display: none;
    position: absolute;
    right: -10px;
    top: -10px;
    width: 25px;
    font-size: 20px;
    z-index: 4;
}
#site-editor-media-library li a.sed-media-item-selected .sed-media-item-selected-icon {
  display: block;
}

#site-editor-media-library li a.sed-media-item-selected .sed-media-item-selected-icon:before {
    content: "+";
    display: block;
    margin: -2px 7px;
}
#site-editor-media-library li a.sed-media-item-selected .sed-media-item-selected-icon:hover:before,
#site-editor-media-library li a.sed-media-item-selected .sed-media-item-selected-icon:active:before,
#site-editor-media-library li a.sed-media-item-selected .sed-media-item-selected-icon:focus:before{
    content: "-";
    margin: -4px 9px;
}
#site-editor-media-library li .sed-media-item-selected,
#site-editor-media-library li a:hover,
#site-editor-media-gallery li a:hover,
#site-editor-icon-library li .icon:hover,
#site-editor-icon-library li.sed-icon-item-selected .icon{
      border-color: #00ccff !important;
      box-shadow: none !important;
      color: #00CCFF;
      -webkit-transition: all 0.2s ease-in-out;
      -o-transition: all 0.2s ease-in-out;
      transition: all 0.2s ease-in-out;
}
#site-editor-media-library li .img-library-selected,
#user_library_img  .img-library-selected{
      background-color: #33CCFF !important;
      box-shadow: 0 0 0px;
      display: block;
}
#site-editor-media-library li .img-library-selected span img ,
#user_library_img li .img-library-selected span img{
      background-color: #33CCFF !important;
}
/*
#site-editor-media-library > li ,
#site-editor-media-gallery > li{
      display: block;
      float: left;
      margin:8px;
}
*/
#site-editor-media-gallery > li a{
  cursor: move !important;
}

#site-editor-media-library,
#site-editor-media-gallery  {
      list-style-type: none;
}
#site-editor-media-library li a span img ,
#site-editor-media-gallery li a span img {
      background: #fff ;
}
#site-editor-media-gallery li a .sed-media-item-remove-icon ,
#site-editor-media-library li a .sed-media-item-remove-icon {
    background: none repeat scroll 0 0 rgba(0, 0, 0, 0.5);
    border-radius: 0 0 4px 4px;
    bottom: 3px;
    height: 24px;
    position: absolute;
    text-align: center;
    opacity: 0;
    cursor: pointer;
    z-index: 3;
 /*   width: 100%;
    left: 0;   */
}
#site-editor-media-gallery li a:hover .sed-media-item-remove-icon,
#site-editor-media-library li a:hover .sed-media-item-remove-icon {
    opacity: 1;
}
#site-editor-media-gallery li a .sed-media-item-remove-icon i,
#site-editor-media-library li a .sed-media-item-remove-icon i {
    color: #fff !important;
}
.img-menu-gallery.bttrlazyloading-loaded {
      background-color: #FFFFFF;
}
#site-editor-icon-library ul,
#icon-library-tab > ul {
    list-style-type: none !important;
}
#sed-dialog-icon-library,
#sed-dialog-media-library {
    background: none repeat scroll 0 0 #F8F8F8 !important;
    padding: 0 !important;
    overflow: hidden !important;
}

#sed-icon-library-container
{
    height: 400px;
    margin: 16px 0;
  /*height: 363px;
  overflow-y: scroll; */
}
#sed-media-library-container{
    height: 390px;
}
#sed-icon-library-container  .mCSB_inside > .mCSB_container ,
#sed-media-library-container .mCSB_inside > .mCSB_container {
    margin-right: 15px;
}

#sed-template-library-container{
 /* height: 430px;*/
}
 #sed_icon_library_upload,
#sed_media_library_upload {
    padding: 30px 35px;
}
#sed-icon-lib-uploader,
#sed-media-lib-uploader {
    border: 2px dashed #D0D0D1;
    border-radius: 3px;
    display: block;
    height: 100%;
}