.siteeditor-app .btn{
  .user-select(auto);
}

.btn {
  margin:0;
  display: inline-block;
  margin-bottom: 0; // For input.btn
  font-weight: @btn-font-weight;
  text-align: center;
  vertical-align: middle;
  cursor: pointer;
  background-image: none; // Reset unusual Firefox-on-Android default style; see https://github.com/necolas/normalize.css/issues/214
  border: 1px solid transparent;
  white-space: nowrap;
  .button-size(@padding-base-vertical; @padding-base-horizontal; @font-size-base; @line-height-base - 0.3; @border-radius-small - 1);
  .user-select(none);
  .transition( all 0.35s ease);

  &,
  &:active,
  &.active {
    &:focus {
      .tab-focus();
      text-decoration: none;
    }
  }

  &:hover,
  &:focus {
    .high-color(@body-bg);
    text-decoration: none;
  }

  &:active,
  &.active {
    outline: 0;
    background-image: none;
    .box-shadow(inset 0 3px 5px rgba(0,0,0,.125));
  }

  &.disabled,
  &[disabled],
  fieldset[disabled] & {
    cursor: not-allowed;
    pointer-events: none; // Future-proof disabling of clicks
    .opacity(.65);
    .box-shadow(none);
  }
}
.btn.btn-none{
  background: transparent;
  .base-color(@body-bg);
  &:hover,
  &:focus {
    text-decoration: none;
    .high-color(@body-bg);
    .box-shadow(none);
  }
  &,
  &:active,
  &.active {
    &:focus , & {
      outline: 0;
      background-image: none;
      .box-shadow(none);
    }
  }
}

// Alternate buttons
// --------------------------------------------------

.btn-default {
  .button-variant(@btn-default-bg; @btn-default-border);
  border-width: 1px !important;
  border-style: solid !important;
}
.btn.btn-black {
  .button-variant(@btn-black-bg; @btn-black-border);
  .high-color(@btn-black-bg);
  &:hover,
  &:focus,
  &:active,
  &.active,
  .open > .dropdown-toggle& {
    .high-color(@main-color);
    background-color: @main-color;
    border-color: darken(@main-color, 8%);
    .icon-button-df{
        color: darken(@main-color, 7%);
    }
  }
}
.btn-perfect {
  .button-variant(@btn-perfect-bg; @btn-perfect-border);
}
.btn-purple {
  .button-variant(@btn-purple-bg; @btn-purple-border);
}
// Success appears as green
.btn-success {
  .button-variant(@btn-success-bg; @btn-success-border);
}
// Info appears as blue-green
.btn-info {
  .button-variant(@btn-info-bg; @btn-info-border);
}
// Warning appears as orange
.btn-warning {
  .button-variant(@btn-warning-bg; @btn-warning-border);
}
// Danger and error appear as red
.btn-danger {
  .button-variant(@btn-danger-bg; @btn-danger-border);
}
.btn-main {
  .button-variant(@btn-main-bg; @btn-main-border) ;
}
.btn-flat{
.button-flat(@main-color);
  border-width: 2px !important;
  border-style: solid !important;
}


// Button Sizes
// --------------------------------------------------
.btn-xl{
  .button-size(@padding-xl-vertical; @padding-xl-horizontal; @font-size-large; @line-height-large; @border-radius-small - 1);
}

.btn-lg {
  // line-height: ensure even-numbered height of button next to large input
  .button-size(@padding-large-vertical; @padding-large-horizontal; @font-size-large - 2; @line-height-large - 0.2; @border-radius-small - 1);
}
.btn-sm {
  // line-height: ensure proper height of button next to small input
  .button-size(@padding-small-vertical; @padding-small-horizontal; @font-size-small + 1; @line-height-small - 0.4; @border-radius-small - 1);
}
.btn-xs {
  .button-size(@padding-xs-vertical; @padding-xs-horizontal; @font-size-small; @line-height-small; @border-radius-small - 1);
}
.btn-block {
  display: block;
  width: 100%;
}

// Buttons Sit
// --------------------------------------------------
.wpcf7-submit,
.post-password-form input[type="submit"],
.widget_shopping_cart_content .button.wc-forward,
.woocommerce-info .button,
.form-submit input {
    &:extend(.btn);
    .button-variant(@btn-main-bg; @btn-main-border) ;

    &:active,
    &.active {
      outline: 0;
      background-image: none;
      .box-shadow(inset 0 3px 5px rgba(0,0,0,.125));
    }
}

.woocommerce-message .button{
    &:extend(.btn);
    .button-variant(@btn-success-bg; @btn-success-border);
    &:active,
    &.active {
      outline: 0;
      background-image: none;
      .box-shadow(inset 0 3px 5px rgba(0,0,0,.125));
    }
}


