//
// Typography
// --------------------------------------------------


// Headings
// -------------------------

h1, h2, h3, h4, h5, h6,
.h1, .h2, .h3, .h4, .h5, .h6 {
  font-family: @headings-font-family;
  font-weight: @headings-font-weight;
  line-height: @headings-line-height;
  .high-color(@body-bg);

  small,
  .small {
    font-weight: normal;
    line-height: 1;
    .contrast (@base-color-a);
  }
}

h1, .h1,
h2, .h2,
h3, .h3 {
  margin-top: @line-height-computed;
  margin-bottom: (@line-height-computed / 2);

  small,
  .small {
    font-size: 65%;
  }
}
h4, .h4,
h5, .h5,
h6, .h6 {
  margin-top: (@line-height-computed / 2);
  margin-bottom: (@line-height-computed / 2);

  small,
  .small {
    font-size: 75%;
  }
}

h1, .h1 { font-size: @font-size-h1; }
h2, .h2 { font-size: @font-size-h2; }
h3, .h3 { font-size: @font-size-h3; }
h4, .h4 { font-size: @font-size-h4; }              
h5, .h5 { font-size: @font-size-h5; }
h6, .h6 { font-size: @font-size-h6; }
/*
@media (max-width: @screen-xs-max){
    h1, .h1 { font-size: @font-size-h1 !important; }
    h2, .h2 { font-size: @font-size-h2 !important; }
}
*/
// Body text
// -------------------------

p {
  margin: 0 0 (@line-height-computed / 2);
  //.base-color(@body-bg);
  cursor: text;
}

.lead {
  margin-bottom: @line-height-computed;
  font-size: floor((@font-size-base * 1.15));
  font-weight: 300;
  line-height: 1.4;

  @media (min-width: @screen-sm-min) {
    font-size: (@font-size-base * 1.5);
  }
}
b, strong {
    //.high-color(@body-bg);
}

// Emphasis & misc
// -------------------------

// Ex: (12px small font / 14px base font) * 100% = about 85%
small,
.small {
  font-size: floor((100% * @font-size-small / @font-size-base));
}

// Undo browser default styling

mark,
.mark {
  background-color: @brand-warning;
  padding: .2em;
}

// Alignment
.text-left           { text-align: left;     .rtl-body &{ text-align: right;}}
.text-right          { text-align: right;    .rtl-body &{ text-align: left;} }
.text-center         { text-align: center; }
.text-justify        { text-align: justify; }
.text-nowrap         { white-space: nowrap; }

// Transformation
.text-lowercase      { text-transform: lowercase; }
.text-uppercase      { text-transform: uppercase; }
.text-capitalize     { text-transform: capitalize; }

// Contextual colors
.text-muted {
  .contrast (@body-bg);
}
/*.text-primary {
  .text-emphasis-variant(@brand-primary);
}
.text-success {
  .text-emphasis-variant(@brand-success);
}
.text-info {
  .text-emphasis-variant(@brand-info);
}
.text-warning {
  .text-emphasis-variant(@state-warning-text);
}
.text-danger {
  .text-emphasis-variant(@brand-danger);
} */

// Contextual backgrounds
// For now we'll leave these alongside the text classes until v4 when we can
// safely shift things around (per SemVer rules).
.bg-primary {
  // Given the contrast here, this is the only class to have its color inverted
  // automatically.
  .contrast (@brand-success);
  .bg-variant(@brand-success);
}
.bg-success {
  .contrast (@brand-success);
  .bg-variant(@brand-success);
}
.bg-info {
  .contrast (@brand-info);
  .bg-variant(@brand-info);
}
.bg-warning {
  .contrast (@brand-warning);
  .bg-variant(@brand-warning);
}
.bg-danger {
  .contrast (@brand-danger);
  .bg-variant(@brand-danger);
}


// Page header
// -------------------------

.page-header {
  padding-bottom: ((@line-height-computed / 2) - 1);
  margin: (@line-height-computed * 2) 0 @line-height-computed;
   border-bottom-width: 1px ;
   border-bottom-style: dotted;
   //.borders(@body-bg);
}


// Lists
// -------------------------

// Unordered and Ordered lists
ul,
ol {
  margin-top: 0;
  margin-bottom: (@line-height-computed / 2);
  ul,
  ol {
    margin-bottom: 0;
  }
}

// List options

// Unstyled keeps list items block level, just removes default browser padding and list-style
.list-unstyled {
  padding-left: 0;
  list-style: none;
}

// Inline turns list items into inline-block
.list-inline {
  .list-unstyled();
  margin-left: -5px;
  .rtl-body &{
      margin-left: 0px;
      margin-right: -5px;
  }

  > li {
    display: inline-block;
    padding-left: 5px;
    padding-right: 5px;
  }
}

// Description Lists
dl {
  margin-top: 0; // Remove browser default
  margin-bottom: @line-height-computed;
}
dt,
dd {
  line-height: @line-height-base;
}
dt {
  font-weight: bold;
}
dd {
  margin-left: 0; // Undo browser default
}

// Horizontal description lists
//
// Defaults to being stacked without any of the below styles applied, until the
// grid breakpoint is reached (default of ~768px).

.dl-horizontal {
  dd {
    &:extend(.clearfix all); // Clear the floated `dt` if an empty `dd` is present
  }

  @media (min-width: @grid-float-breakpoint) {
    dt {
      float: left;
      width: (@dl-horizontal-offset - 20);
      clear: left;
      text-align: right;
      .text-overflow();
      .rtl-body &{
          text-align: left;
          float: right;
          clear: right;
      }
    }
    dd {
      margin-left: @dl-horizontal-offset;
      .rtl-body &{
          margin-left:0px;
          margin-right: @dl-horizontal-offset;
      }
    }
  }
}


// Misc
// -------------------------

// Abbreviations and acronyms
abbr[title],
// Add data-* attribute to help out our tooltip plugin, per https://github.com/twbs/bootstrap/issues/5257
abbr[data-original-title] {
  cursor: help;
  border-bottom: 1px dotted @base-border-color;
}
.initialism {
  font-size: 90%;
  text-transform: uppercase;
}

// Blockquotes
blockquote {
    padding: 10px 15px;
    margin: 0 0 21px;
    font-size: @font-size-base + 1;
    border-left: 3px solid @main-color;
    .rtl-body &{
        border-left: 0px none;
        border-right: 3px solid @main-color;
    }
  p,
  ul,
  ol {
    &:last-child {
      margin-bottom: 0;
    }
  }

  // Note: Deprecated small and .small as of v3.1.0
  // Context: https://github.com/twbs/bootstrap/issues/11660
  footer,
  small,
  .small {
    display: block;
    font-size: 80%; // back to default font-size
    line-height: @line-height-base;
    .contrast (@base-color-a);

    &:before {
      content: '\2014 \00A0'; // em dash, nbsp
    }
  }
}

// Opposite alignment of blockquote
//
// Heads up: `blockquote.pull-right` has been deprecated as of v3.1.0.
.blockquote-reverse,
blockquote.pull-right {
  padding-right: 15px;
  padding-left: 0;
  border-right: 5px solid @blockquote-border-color;
  border-left: 0;
  text-align: right;

  // Account for citation
  footer,
  small,
  .small {
    &:before { content: ''; }
    &:after {
      content: '\00A0 \2014'; // nbsp, em dash
    }
  }
}


// Quotes

blockquote:before,
blockquote:after {
  content: "";
}

q::before {
    content: "\201C";
    .rtl-body &{
        content: "\201D";
    }
}
q::after {
    content: "\201D";
    .rtl-body &{
        content: "\201C"; 
    }
}
// Addresses
address {
  margin-bottom: @line-height-computed;
  font-style: normal;
  line-height: @line-height-base;
}


/*
p {
	margin: 1.6em 0;
	hyphenate: auto;
	hyphenate-before: 2;
	hyphenate-after: 3;
	hyphenate-lines: 3;
	orphans: 4;
	small {
	  font-size: @baseFontSize - 2;
	  color: @grayLight;
	  line-height: @baseLineHeight / 2;
	}
	// fix for minimum paragraph widths
	&:before{
		content: "";
		width: 8em;
		display: block;
		overflow: hidden;
	}
}
*/

dt {font-weight:bold;}
dd {font-style: italic;}
sup {font-size:.7em;vertical-align: top;vertical-align:super;}
sub {font-size:.7em;vertical-align: bottom;}
big {font-size: 1.3em;}
abbr, acronym{ border-bottom: .1em dotted; cursor: help; }
u, ins {
    text-decoration: underline;
}
i, cite, em, var, address, dfn {
    font-style: italic;
}
s, strike, del {
    text-decoration: line-through;
}
big {
    font-size: larger;
}

pre {
    background-color: transparent;
    background-color: rgba(0, 0, 0, 0.01);
    border: 1px solid @base-border-color;
    border: 1px solid rgba(51, 51, 51, 0.1);
    line-height: 1.2;
    margin-bottom: 1.6em;
    max-width: 100%;
    overflow: auto;
    padding: 0.8em;
    white-space: pre;
    white-space: pre-wrap;
    word-wrap: break-word;
    direction: ltr;
}