/*#less_info#(
"handle"    => "pagination-skin1",
"deps"      => array(),
"ver"       => "1.0.0",
"media"     => "all"
)#*/
.pagination-skin1 {
    position: relative;
    margin-top: 40px;    
    ul {
        display: inline-block;
        text-align: center;
        .clearfix();
        li {
            float: left;
            display: block;
            margin: 0 2px;
            .transition( 500ms all);
            a{
                .border-radius( 100% );
                background: @main-color;
                .high-color(@main-color);
                display: inline-block;
                border: 1px solid @main-color;
                font-size: @font-size-small;
                height: 2.2em;
                line-height: 2.1em;
                width: 2.2em;
                text-align: center;
                &:hover,&:focus,&.current-page{
                    background:@main-color-darker;
                    border: 1px solid @main-color-darker;
                }
            }
            &.icon{
                a {
                    //width: 30px;
                    //height: 30px;
                    //padding-top: 8px !important;
                }
            }
        }
    }
}
.rtl-body .module.module-pagination.pagination-skin1 {
    ul {
        li {
              float: right;
            a.fa{
              .rotate(180deg);
            }
            &.icon{
                a {
                    line-height: 1.85em;
                }
            }
        }
    }
}
