/*
#less_info#(
"handle"  =>"main-tab-skin7",
"deps"    => array("main-tab"),
"ver"     => "1.0.0",
"media"   => "all",
"import"  => array(
    "@sed-modules-root/tab/less/main.less" 
)
)#
*/
@import "../../../less/main.less";
.module-tab.tab-skin7{
@media (min-width: @screen-xs-max){
    display: table;
}
.skin-border-color {
    border-color:@nav-tabs-border-color;
}
// Give the tabs something to sit on
.nav-tabs {
    border-bottom: none;
    display: table-cell;
    vertical-align: top;
    @media (max-width: @screen-xs-max) {
        display: block;
        width: 100%;
    }
    > li {
        float: none;
        display: block;
        min-width: 80px;
        // Make the list-items overlay the bottom border
        margin-bottom: 1px;
        text-align: center;
        white-space: nowrap;
        @media (max-width: @screen-xs-max) {
            width: 100%;
        }
        // Actual tabs (as links)
        > a {
            border: 1px solid @base-border-color-light;
            .border-radius( 2px 0 0 2px);
            line-height: @line-height-base;
            position: relative;
            background-color:@base-color-b-lighter;
            .high-color(@base-color-b-lighter);
            display: inline-block;
            width:100%;
            padding: 8px 15px;
            margin-right: 0;
            @media (max-width: @screen-xs-max) {
               margin-right: 0;
               .border-radius(0);
            }
            &:hover {
                background-color:lighten(@base-color-b-lighter,1%);
            }
            .transition(all 0.1s ease-in);
        }

        // Active state, and its :hover to override normal :hover
        &.active > a {
            &,
            &:hover,
            &:focus {
                .high-color(@main-color);
                background: none repeat scroll 0 0 @main-color;
                border: 1px solid @main-color;
                cursor: default;
                display: block;
                cursor: default;
            }
        }
    }
    // pulling this in mainly for less shorthand
    &.nav-justified {
        .nav-justified();
        .nav-tabs-justified();
    }
}

.tab-content {
    display: table-cell;
    vertical-align: top;
    border-color: @base-border-color @base-border-color @base-border-color @main-color;
    border-style: solid;
    border-width: 1px;
    padding: 15px;
    width: 100%;
    @media (max-width: @screen-xs-max) {
        display: block;
        width: 100%;
        border-color: @base-border-color;
    }
}
}

.module.module-tab.tab-skin7.tab-resize-responsive{
    display: block;
    .nav-tabs{
        display: block;
        width: 100%;
        > li{
            width: 100%;      
            > a { 
               margin-right: 0;
               .border-radius(0);
            }
        }   
    }
    .tab-content {
        display: block;
        width: 100%;
        border-color: @base-border-color;
        width: 100%;
    }  
}
.rtl-body .module.module-tab.tab-skin7{
    .nav-tabs {
        > li {
            > a {
                .border-radius( 0 2px 2px 0);
            }
        }
    }

    .tab-content {
        border-color: @base-border-color @main-color @base-border-color @base-border-color;
        @media (max-width: @screen-xs-max) {
            border-color: @base-border-color;
        }
    }
}
