/*
#less_info#(
"handle"  =>"checklist",
"deps"    => array(),
"ver"     => "1.0.0",
"media"   => "all",
)#
*/
.module-checklist{
  /*  ul{
        counter-reset: li-number;
        list-style: none;
        padding: 0;
        li{
            cursor: default;
            padding: (@padding-base-vertical/2)+1 0;
            position: relative;
            background-color: transparent;
           .module.module-icons {
              vertical-align: middle;
              display: table;
              float: left;
              position: relative;
            }
           p {
              vertical-align: middle;
              display: block;
              margin-left: 2em;
              margin-bottom: 5px;
            }
        }

    }   */
    ul{
        li{
            .clearfix();
            margin-bottom: 10px;
            display: table;
            .module.module-icons {
                background-clip: padding-box;
                display: table-cell;
                vertical-align: top;
               // float: left;
              //  margin-right: 9px;
            }
            .checklist-txt{
                display: table-cell;
                padding-left: 8px;
                vertical-align: middle;
                line-height: 1.5em;
              //  margin-left: 2.8em;
              //  line-height: 1.5em;
              //  padding-top: 0.5em;
             p{
                font-size: @font-size-base;
                margin: 0;
              }
            }
            .module.module-icons {
                display: inline-block !important;
                position: relative;
            }
        }

    }
}
.rtl-body .module-checklist{
    ul{
        li{
           .module.module-icons {
              //  float: right !important;
              //  margin-right: 0px !important;
              //  margin-left: 9px;
           }
           .checklist-txt{
                padding-left: 0px !important;
                padding-right: 8px;
           }
        }

    }
}
