

@default-alert-info-bg:                 lighten(@alert-info-bg,5%);
@default-alert-success-bg:              lighten(@alert-success-bg,5%);
@default-alert-warning-bg:              lighten(@alert-warning-bg,5%);
@default-alert-danger-bg:               lighten(@alert-danger-bg,5%);

@default-alert-success-border:          darken(@alert-success-bg, 50%);
@default-alert-info-border:             darken(@alert-info-bg, 50%);
@default-alert-warning-border:          darken(@alert-warning-bg, 50%);
@default-alert-danger-border:           darken(@alert-danger-bg, 50%);


