/*#less_info#(
"handle"	=> "accordion-default" ,
"deps"		=> array() ,
"ver"		=> "1.0.0",
"media"		=> "all"
)#
*/
.module-accordion.accordion-skin-default{

    /* header
    ------------------------*/
    .ui-accordion-header {
        display: block;
        cursor: pointer;
        position: relative;
        margin: 5px 0px 0px;
        padding: @padding-base;
        min-height: 0px;
        font-weight: normal;
    }
    .ui-accordion-icons {
        padding-left: 55px;
    }
    .ui-icon{
        background: none;
        text-indent: 0;
        text-align: center;
        font-size: @font-size-large;
        font-weight: normal;
        position: absolute;
        top: 0px;
        left: 0px;
        width: 40px;
        height: 100%;
        line-height: 16px;
    }
    .module-paragraph{
        padding: 0;    
    }
    .module-title{
        display: block;
        padding: 0;
    }
    .ui-accordion .ui-accordion-header .ui-accordion-header-icon {
    	position: absolute;
    	margin-top: 0px;
    }
    .ui-icon-free-plus:before{ content: "+"; }
    .ui-icon-free-plus{
      .low-color(@body-bg);
       border-right-width: 1px ;
       border-right-style: dotted;
       border-right-color: @base-border-color-light;
       padding: @padding-base 0;
    }

    .ui-icon-free-minus:before{ content: "-";}
    .ui-icon-free-minus{
        background-color: @main-color;
        .high-color (@main-color);
        border-top-left-radius:  @border-radius-base - 1;
        padding: @padding-base 0;
    }


    .ui-state-default,
    .ui-widget-content .ui-state-default,
    .ui-widget-header .ui-state-default {
        border-width: 1px;
        border-style: solid;
        border-color:@base-border-color;
        //background: @body-bg;
        font-weight: normal;
        font-size:@font-size-base + 1;
    }


    /* Corner radius
    ------------------------ */
    .ui-corner-all,
    .ui-corner-top,
    .ui-corner-left,
    .ui-corner-tl {
        border-top-left-radius: @border-radius-base;
    }
    .ui-corner-all,
    .ui-corner-top,
    .ui-corner-right,
    .ui-corner-tr {
        border-top-right-radius: @border-radius-base;
    }
    .ui-corner-all,
    .ui-corner-bottom,
    .ui-corner-left,
    .ui-corner-bl {
        border-bottom-left-radius: @border-radius-base;
    }
    .ui-corner-all,
    .ui-corner-bottom,
    .ui-corner-right,
    .ui-corner-br {
        border-bottom-right-radius: @border-radius-base;
    }

    /* Corner radius
    ------------------------ */
    .ui-widget-content {
        font-weight: 300;
        border: none;
        background: none;
    }

    .ui-accordion-content {
        padding: @padding-base;
        border-top: 0px none;
        overflow: auto;
        p{
          overflow: hidden;
          text-align: left;
          margin: 0;
        }
    }

}
.rtl-body .module-accordion.accordion-skin-default{
    .ui-accordion-icons {
        padding-right: 55px ;
        padding-left: 10px !important;
    }
    .ui-icon{
        left: auto !important;
        right: 0px;
    }
    .ui-icon-free-minus {
        border-top-left-radius: 0 !important;
        border-top-right-radius:  @border-radius-base - 1;
    }
    .ui-icon-free-plus {
        border-left: 1px dotted @base-border-color-light;
        border-right: 0px dotted transparent !important;
    }
    .ui-accordion-content {
        p{
          text-align: right !important;
        }
    }
}