/*#less_info#(
"handle" => "post-main-less",
"deps" => array(),
"ver" => "1.0.0",
"media" => "all"
)#
*/
/*for all */
.module.single-posts {
    .entry-header {
        margin-bottom: 30px;
        .sed-title-posts h1,.sed-title-posts{
            -ms-word-wrap: break-word;
            word-wrap: break-word;
        }

        .entry-meta {
            padding: @padding-sm 0;
            overflow: hidden;
            margin-bottom: 20px;
            &:after {
                clear: both;
            }
            &:after, &:before {
                content: "";
                display: table;
            }
            .item{
                //float: left;
                display: inline;
                margin-right: 10px;
                line-height: @line-height-computed - 2 ;
            }
            span,a {
                font-size: @font-size-small;
            }
            i {
                font-size: @font-size-base;
            }
            a {
               &:hover{
                 color:@main-color;
               }
            }
        }

        .thumb{
            img {
                max-width: 100%;
            }
            &.image_type_full-width img{
                width: 100%;
            }
            &.image_type_center-align {
                text-align: center;
            }
        }

    }

    .entry-footer{
     margin-bottom: 30px;
        .item {
          margin-bottom: 5px;
          overflow: hidden;
          .label {
              float: left;
              line-height: @line-height-computed;
              font-size: @font-size-small;
          }
          &.post-tags {
              text-align: left;
             .post-tag {
                margin: 0;
                line-height: @line-height-computed;
                display: inline-block;
                font-size: 13px;
                padding: 0 2px;
                a {
                    font-size: @font-size-small;
                }
             }
          }
        }
    }
    .featured-image{
        &-left,&-right,&-center{
          img{
            display: inline-block;
          }
        }
        &-left{
          text-align: left;
        }
        &-right{
          text-align: right;
        }
        &-center{
          text-align: center;
        }
    }
    &.hide-spr-p-related > .related-posts-separator,
    &.hide-spr-p-share > .posts-share-separator,
    &.hide-spr-p-nav > .posts-nav-separator,
    &.hide-spr-p-author > .about-author-separator,
    &.hide-spr-p-comments > .posts-comments-separator,
    &.hide-separator-post > .posts-share-separator,
    &.hide-separator-post > .module-separator{
      display: none;
    }
    .item-posts-title {
        .high-color(@body-bg);
        //font-size: 18px;
        margin: 0;
    }

}

.item-posts-title {
    .high-color(@body-bg);
    //font-size: 18px;
    margin: 0; 
}

.item-posts-module{
    padding-bottom: 30px;
    padding-top: 30px;
    .module-separator {
        margin-bottom: 30px;
    }
}
.module.posts-share{
    padding-top: 15px;
    padding-bottom: 15px;
}


.module.module-comments{
    position: relative;
    z-index: 11;
  .comments-area > .item-posts-title{
      margin-bottom: 30px;
      display: inline-block;
      background-color: @body-bg !important;
      line-height: 1em;
      z-index: 2;
      position: relative;
      padding-right: 8px;
      //top: -0.5em;
      top: -1em;
      white-space: nowrap;
      font-size: @font-size-h4;
      .rtl-body &{
        padding-left: 8px;
        padding-right: 0px;
      }

  }
}                       

.posts-comments-separator{
  z-index: 1;
  position: relative;
}

.single-posts-skin3{
  .posts-nav-default,
  .posts-nav-skin2{
      padding-top: 0 !important;
      &:before{
          content: "";
          width: 100%;
          //position: absolute;
          //top: 0;
          //left: 0;
          height: 6px;
          border-width: 1px 0 1px 0 !important;
          border-style: solid;
          border-color: @base-border-color-light;
          margin-bottom: 30px;
          display: block;
      }
  }

}

.single-posts-skin2{
  .posts-nav-default,
  .posts-nav-skin2{
      border-top: 1px dotted @base-border-color-light;
  }
}

.single-posts-default{
  .posts-nav-default,
  .posts-nav-skin2{
      border-top: 1px solid @base-border-color-light;
  }
}


.rtl-body .module.single-posts {
    .entry-header {
        .entry-meta {
            .item{
            }
            .item{
                float: right !important;
                margin-left: 10px;
                margin-right: 0px;
            }
        }
    }
    .entry-footer{
        .item {
          .label{
              float: right !important;
          }
          &.post-tags {
              text-align: right !important;
          }
        }
    }

}



