
/******** navbar-wrap() *********/

.navbar-wrap(@background,@background-m,@border-color,@desc-color,@current-background,@current-color ) {
  background: none repeat scroll 0 0 @background;
  .high-color(@background);
  @media (max-width: @grid-float-breakpoint-max) {
    border: 1px solid transparent;
    background: none repeat scroll 0 0 transparent;
  }
  &.sticky-menu {
      background: fade(@background,90%);
      .box-shadow( 0 1px 3px rgba(0, 0, 0, 0.12));
  }
  .container-megamenu {
    position: relative;
    .navbar-container{
      @media (max-width: @grid-float-breakpoint-max) {
        border: 1px solid @border-color;
        background: none repeat scroll 0 0 @background-m;
        margin: 10px 0;
      }
    }
    .navbar-header{
      .navbar-header-inner{
         .navbar-toggle {
            .icon-bar {
                .smart-variant(background;@background-m;100%);
            }
         }
         .navbar-header-title {
             .high-color(@background-m);   
         }

      }


    }

    .navbar{

      .navbar-nav {
        > li{
         > a{
              > span{
                .high-color(@background);
              }
              > i{
                .base-color(@background;60%);
              }
              @media (max-width: @grid-float-breakpoint-max) {
                 > span{
                   #main &{
                      .high-color(@background-m) !important;
                   }
                 }
                 > i{
                   #main &{
                      .base-color(@background-m;60%) !important;
                   }
                 }
              }

          }
        > .sed-menu-arrow{
          .base-color(@background);
        }
        }

      }

      .dropdown-menu{

        li{
          > .title {
            @media (max-width: @grid-float-breakpoint) {
                border-top: 1px solid @border-color;
            }
          }
         &:first-child > .title {
            @media (max-width: @grid-float-breakpoint) {
                border-top: 0px solid @border-color;
            }
         }
        }

      }

      .dropdown > .dropdown-menu > li:first-child {
          @media (max-width: @grid-float-breakpoint-max) {
              border-top: 1px solid @border-color;
          }
      }

      .megamenu-content{
        .with-desc,
        .with-desc-img,
        .with-desc-icon{
          a:after {
            color: @desc-color;
          }
        }
      }

      li.current-menu-item > a {
        color: @current-color ;
        i,span{
          color: @current-color ;
        }
      }
      .menu-searchform {
          .menu-search-input {
              background: none repeat scroll 0 0 fade(@background-m,70%);
              border-color: @border-color;
          }
          .menu-search-submit {
              background: none repeat scroll 0 0 @main-color;
              .high-color(@main-color);
          }
      }

      .cart_list.product_list_widget > li {
        border-bottom: 1px solid @border-color;
        .thumb {
            .continer {
                background: none repeat scroll 0 0 @background-m;
                border: 1px solid @border-color;
                .hover {
                    background: none repeat scroll 0 0 fade(@main-color,70%);
                    i {
                        .high-color(@main-color);
                    }
                }

            }
            .fa-picture-o {
                .lower-color(@background-m);
            }
        }
        .post-content {
            .base-color(@background-m);
            a{
                .high-color(@background-m);
                &:hover {
                    color:@main-color;
                }
            }
            .post-date{
                .base-color(@background-m);
            }
        }
        &.empty{
            .high-color(@background-m);
            text-align: center;
        }
      }
      .hide_cart_widget_if_empty{
            .high-color(@background-m);
            text-align: center;
      }
      .widget_shopping_cart_content .total{
          .high-color(@background-m);
      }
    }
  }
}

/******** navbar-nav() *********/

.navbar-nav(@background-h,@color-h,@border-color) {
  > li{
    &:active,
    &:hover,
    &:focus {
     background-color: @background-h;
    }
   > a{
        &:hover,
        &:focus,
        &:active {
            background: @background-h;
            color: @color-h;
            > span,i{
                 color: @color-h;
            }
        }
    }
  }

  > li.current-menu-item {
    &,
    &:hover,
    &:focus,
    &:active {
       color: @color-h;
       background:@background-h;
       > a{
            background:@background-h;
            > span,i{
                 color:@color-h;
            }
       }
    }
  }

  // Remove background color from open dropdown
  > .open > a {
    &,
    &:hover,
    &:focus {
       background-color: @background-h;
       color: @color-h;
       > span,i{
           color: @color-h;
      }
    }
  }

  @media (max-width: @grid-float-breakpoint-max) {
    > li.menu-item {
        border-bottom: 1px solid @border-color;
        &:first-child {
            border-top: 1px solid  @border-color;
        }
        &:last-child {
            border-bottom: 0px solid  @border-color;
        }
    }
  }
}

/******** navbar-arrow() *********/

.navbar-arrow(@background,@align1,@align2){
    &:after {
      @media (min-width: @grid-float-breakpoint) {
          background: none repeat scroll 0 0  @background;
          @{align1}: -5px;
          content: "";
          display: block;
          height: 8px;
          @{align2}:50%;
          margin-@{align2}: -5px;
          position: absolute;
          //text-align:
          .rotate(45deg);
          width: 8px;
          z-index: @zindex-navbar-caret;
      }
    }
}

/******** dropdown-menu() *********/

.dropdown-menu(@background,@background-h,@color-h) {
  .dropdown-menu{
      background-color: @background;
     li > .sed-menu-arrow{
        .base-color(@background);
      }
     li > a{
       display: block;
     > .megamneu-target-title{
      .high-color(@background);
     }
      i{
        .base-color(@background);
      }
      &:active,
      &:focus,
      &:hover{
       i,.megamneu-target-title{
         color: @color-h;
       }
      }
       &.title {
        &.disabled-title{
          .megamneu-target-title{
            .high-color(@background);
          }

          &:hover,
          &:focus{
            .megamneu-target-title{
              .high-color(@background);
            }

          }
        }
      }

    }
    .current-menu-item{
     > a{
          i,span{
             color: @color-h ;
          }
     }
     > a.title.disabled-title{
        .megamneu-target-title{
          .high-color(@background);
        }
        i,span{
          .high-color(@background);
        }
      }
      .menu-flyout > .dropdown-menu &,
      &.item-normal,
      &.with-icon {
        > a{
            text-decoration: none;
            color: @color-h;
            background-color: @background-h;
            i,span{
              color: @color-h ;
            }
        }
       /* > span{
              color: @color-h ;
        } */
      }
    }

  }
  .dropdown-menu > li > a,
  //.dropdown-menu > li > span,
    .item-normal > a,
    .with-icon > a{
      &:hover,
      &:focus {
        text-decoration: none;
        color: @color-h;
        background-color: @background-h;

      }
      &.title.disabled-title{
        &:hover,
        &:focus {
          i,span{
            .high-color(@background);
          }
        }
      }

  }

  @media (max-width: @grid-float-breakpoint-max) {
    // Dropdowns get custom display when collapsed
    .open .dropdown-menu {
      background-color: @background;
      > li > a {
        .high-color(@background);
        &:hover,
        &:focus {
          color: @color-h;
          background-color: @background-h;
        }
      }
      > .sed-menu-arrow{
        .base-color(@background);
      }
      > .active > a {
        &,
        &:hover,
        &:focus {
          color: @color-h;
          background-color: @background-h;
        }
      }
      > .disabled > a {
        &,
        &:hover,
        &:focus {
          color: @color-h;
          background-color: @background-h;
        }
      }
    }
  }

}

/******** dropdown-menu-different() *********/

.dropdown-menu-different(){
  .dropdown.megamenu-half.megamenu-half-special .dropdown-menu {
      right: 0;
      .rtl-body & {
        right: auto;
        left: 0;
      }

  }

  .dropdown.megamenu-half > .dropdown-menu {
      left: auto;
      right: auto;
       @media (min-width: @grid-float-breakpoint) {
          width: 50%;
      }
       @media (max-width: @grid-float-breakpoint) {
          width: 100% !important;
      }
  }
  .dropdown.megamenu-fw > .dropdown-menu {
      left: 0;
      right: 0;
  }
  .dropdown.menu-flyout > .dropdown-menu {
      left: auto;
      right: auto;
  }
  .dropdown.menu-flyout .dropdown-submenu > .dropdown-menu{
      left: 100% ;
      right: auto;
  }
  .dropdown.menu-flyout .dropdown-submenu.dropdown-submenu-left > .dropdown-menu{
      right: 100%;
      left: auto;
  }
  .dropdown.menu-flyout{
        position: relative;
  }
  .dropdown.menu-flyout.dropdown-submenu-left > .dropdown-menu{
      right: 0;
      .rtl-body & {
        right: 0;
      }
  }
  .dropdown.menu-flyout > .dropdown-menu{
      .rtl-body & {
        right: auto;
        left: 0;
      }
  }
  .dropdown-menu {
  	  left: auto;
  }

  .dropdown-submenu{
      > .dropdown-menu{
        left:100%;
      }
      > .dropdown-submenu-left{
       left:-100%;
      }
  }
}

/******** dropdown-menu-different() *********/

.dropdown-menu-different-rtl(){
  .dropdown.megamenu-half.megamenu-half-special .dropdown-menu {
      right: auto;
      left: 0;
  }
  .dropdown.menu-flyout .dropdown-submenu > .dropdown-menu{
      left: auto;
      right: 100%;
  }
  .dropdown.menu-flyout .dropdown-submenu.dropdown-submenu-left > .dropdown-menu{
      right: auto;
      left: 100%;
  }
  .dropdown-menu {
      right: auto;
  }

  .dropdown-submenu{
      > .dropdown-menu{
        left:auto;
        right:100%;
      }
      > .dropdown-submenu-left{
       left:auto;
       right:-100%;
      }
  }
}

/******** dropdown-menu-different-vertical() *********/

.dropdown-menu-different-vertical(){
  .dropdown.megamenu-half > .dropdown-menu {
      left: 100% ;
      right: auto;
      min-width: 100%;
      width: 700px;
      .rtl-body & {
        left: 100% !important;
        right: auto !important;
      }
  }

  .dropdown.megamenu-fw > .dropdown-menu {
      left: 100% ;
      right: 0;
      width: 700px;
      .rtl-body & {
        left: 100% !important;
        right: auto !important;
      }
  }

  .dropdown.menu-flyout > .dropdown-menu {
      left: 100% ;
      right: auto ;
  }
  .dropdown.menu-flyout{
     position: static;
     @media (max-width: @grid-float-breakpoint) {
        position: relative;
    }
  }
  .dropdown-menu {
  	  left: 100%;
  }
  .dropdown.dropdown-vertical-submenu-right.menu-flyout > .dropdown-menu ,
  .dropdown.dropdown-vertical-submenu-right.megamenu-half > .dropdown-menu ,
  .dropdown.dropdown-vertical-submenu-right.megamenu-fw > .dropdown-menu {
      right: 100%;
      left: auto;
      .rtl-body &{
        right: 100% !important;
        left: auto !important;
      }

  }
}


/******** dropdown-menu-different-vertical-rtl() *********/

.dropdown-menu-different-vertical-rtl(){
  .dropdown.megamenu-half > .dropdown-menu {
      left: auto;
      right: 100% ;
      min-width: 100%;
      max-width: 1000px;
  }

  .dropdown.megamenu-fw > .dropdown-menu {
      right: 100% ;
      left: 0;
  }

  .dropdown.menu-flyout > .dropdown-menu {
      right: 100% ;
      left: auto ;
  }

  .dropdown-menu {
  	  right: 100% ;
  }
  .dropdown.dropdown-vertical-submenu-right.megamenu-half > .dropdown-menu ,
  .dropdown.dropdown-vertical-submenu-right.megamenu-fw > .dropdown-menu {
      left: 100%;
      right: auto;
  }
}

