.module-icon-content-box{
  text-align: center;
    .module-icons{
      vertical-align: middle;
      margin: 0 6px;
    }
  .sed-boxed-icon {
    border: 1px solid transparent;
    display: inline-block;
    text-align:center;
    vertical-align: top;
    width: 100%;
    .heading{
      margin-bottom:10px;
    }
  .heading,.content-icb {
    line-height: @headings-line-height;
    text-align: center;
    font-size: @icon-ct-font-size-lg;

    .heading-box{
    line-height: @icon-ct-line-height;
    //line-height: 34px;
    margin: 10px 5px;
    vertical-align: middle;
    }
  }
  .module-title{
    line-height: @icon-ct-line-height;
    margin: 10px 5px;
  }
  .paragraph-box{
    font-size: @icon-ct-font-size;
    line-height: @line-height-base;
  }
  .module-button{
   text-align: center;
  }
  }
  .module-button {
    padding-top: 15px;
    display: none;
  }
  &.show-button  .module-button{
     display: block;
      .module-title{
        line-height: 1.1;
        margin: 0;
      }
  }
       /*     @media screen{
                @media (min-width: @screen-lg){
                    min-width: 150px;
                }
                @media (max-width: @screen-lg){
                    min-width: 150px;
                }
                @media (max-width: @screen-md){
                    min-width: 25%;
                }
                @media (max-width: @screen-sm) {
                    min-width: 33.333%;
                    float: left;
                }
                @media (max-width: 600px) {
                    min-width: 50%;
                    float: left;
                }
                @media (max-width: @screen-xs) {
                    min-width: 100%;
                }
            }

                         */
}