/*
#less_info#(
"handle"  =>"blockquote-skin1",
"deps"    => array('main-blockquote'),
"ver"     => "1.0.0",
"media"   => "all",
"import"  => array(
    "@sed-modules-root/blockquote/less/variables.less" ,
)
)#
*/
@import "../../../less/variables.less";
.module-blockquote.blockquote-skin-default{
  .sed-blockquote-skin{
      background: @blockquote-base-color-a-bg;
      .box-shadow(2px 2px 8px @base-color-b-dark);
      .base-color(@blockquote-base-color-a-bg);
      border-left: 15px solid  @blockquote-main-border-color;
      border-right: 3px solid  @blockquote-main-border-color;
      &:before{
        left: 10px;
        top:5px;
      }

  }
}
.rtl-body .module-blockquote.blockquote-skin-default{
  .sed-blockquote-skin{
      .box-shadow(-2px 2px 8px @base-color-b-dark);
      border-left: 3px solid  @blockquote-main-border-color !important;
      border-right: 15px solid  @blockquote-main-border-color !important;
      &:before{
        left: auto !important;
        right: 10px;
      }

  }
}