/*
#less_info#(
"handle" => "single-image-main-less",
"deps" => array(),
"ver" => "1.0.0",
"media" => "all",
)#
*/   
.module-single-image{
    display: inline-block;
    position: relative;
    max-height: 100%;
    max-width: 100%;
    & , &* {
        .box-sizing(border-box);
    }
    .img{
      display: block;
    }
    img {
        border: 0px solid;
        display: block;
        width: 100% \9;
        max-width: 100%;
        height: auto;
    }
    &.circle {
        border-radius: 50%;
        .img {
            position: relative;
            border-radius: 50%;
            img {
                border-radius: 50%;
            }
        }
    }    
}





