/*#less_info#(
"handle"    => "breadcrumbs-skin3",
"deps"      => array(),
"ver"       => "1.0.0",
"media"     => "all"
)#*/
.breadcrumbs-skin3 {
    ul {
        overflow: hidden;
        display: inline-block;
        margin-bottom: 0; 
        .clearfix();
        li {
            float: left;
            a,span{
                margin: 0.25em 0.8em;
                background: none repeat scroll 0 0 transparent;
                border-color: @base-border-color-light;
                border-style: solid none solid solid;
                border-width: 2px 0 2px 0;
                .high-color(@body-bg);
                float: left;
                font-size: @font-size-small;
                padding: 0 10px;
                position: relative;
                text-decoration: none;
                z-index: 1;
                line-height: 2.2em;
                &:after,&:before {
                    content:'';
                    position:absolute;
                    top: -2px;
                    bottom:  -2px;
                    width: 1em;
                    background: transparent;
                    .transform(skew(-10deg));
                }
                &:before{
                    left: -.5em;
                    .border-radius(5px 0 0 5px);
                    border-color: @base-border-color-light;
                    border-style: solid none solid solid;
                    border-width: 2px medium 2px 2px;
                }
                &:after{
                    right: -.5em;
                    .border-radius(0 5px 5px 0);
                    border-color: @base-border-color-light;
                    border-style: solid solid solid none;
                    border-width: 2px 2px 2px medium;
                }
            }
            i {
              font-size: 16px;
              padding: 0 8px;
              vertical-align: middle;
            }
            a:hover{
                background:@main-color;
                .high-color(@main-color);
                border-color: @main-color;
                &:after,&:before{
                    background:@main-color;
                    border-color: @main-color;
                }
            }
            &.current a,&.current span{
                background: transparent;
                border-color: @main-color;
                color: @main-color;
                &:after,&:before{
                    border-color: @main-color;
                }
            }

        }

    }
  @media (max-width: @screen-sm-max) {
    display: none !important;
  }

}
.rtl-body .module.module-breadcrumbs.breadcrumbs-skin3 {
    ul {
        li {
            float: right;
            a,span{
                float: right;
                &:after,&:before {
                    .transform(skew(10deg));
                }
            }
        }
    }
}


