.breadcrumbs-default {
    position: relative
}

.breadcrumbs-default ul {
    display: inline-block;
    margin: 0;
    vertical-align: top;
}

/*
.breadcrumbs-default ul:before,
.breadcrumbs-default ul:after {
    content: "";
    display: table
}

.breadcrumbs-default ul:after,
.breadcrumbs-default ul:before {
    clear: both
}
*/

.breadcrumbs-default ul li {
    display: inline-block;
    vertical-align: middle;
    margin: 0;
}

.breadcrumbs-default ul li a {
    display: block;
    padding: 2px;
    padding-right: 14px;
    position: relative
}

.breadcrumbs-default ul li.current span ,
.breadcrumbs-default ul li a:hover {
    color: #c9166f;
}   

.breadcrumbs-default ul li a:after {
    content: "\203A";
    position: absolute;
    right: 2px;
    line-height: 1em;
    height: 1em;
    top: 50%;
    margin-top: -0.5em
}

.breadcrumbs-default ul li:last-child a:after {
    content: "" !important
}

.rtl-body .module.module-breadcrumbs.breadcrumbs-default ul li a {
    padding-right: 2px;
    padding-left: 14px
}

.rtl-body .module.module-breadcrumbs.breadcrumbs-default ul li a:after {
    left: 2px;
    right: auto
}