
/* BEGIN STYLE FOR TABS
=======================*/
.wrap.siteeditor_admin_index_page {
    border: 1px solid #ddd;
    background: #fafafa;
}

.sed_admin_settings_warp {
    display: block;
    overflow: hidden;
    padding: 0;
    position: relative;
    min-height: 250px;
}
#sed_admin_box_tabs {
    position: absolute;
    height: 100%;
    top: 0;
    left: 0;
    background: #262626;
    border-right: 1px solid #262626;
    min-width: 15%;
}
ul#sed_admin_tabs {
    margin: 0;
}
ul#sed_admin_tabs li {
    border-bottom: 1px solid #555;
    margin: 0;
}
#sed_admin_tabs a {
    display: block;
    padding: 10px 15px;
    text-decoration: none;
    color: #ccc;
    box-shadow: none;
}
#sed_admin_tabs a:hover {
    background: #00aaff;
    color: #FFF;
}
#sed_admin_tabs a.active{
    background: #00aaff;
    color: #FFF;
}

ul#sed_admin_tabs li a i{
    padding-right: 10px;
    width: 1em;
    text-align: center;
    font-size: 16px;
    vertical-align: top;
}

/* BEGIN STYLE FOR CONTENT TABS
===============================*/

div#sed_admin_box_content_tabs {
    width: 85%;
    float: left;
    margin-left: 15%;
    padding: 0;
}
ul#sed_admin_content_tabs {
    margin: 0;
}

ul#sed_admin_content_tabs > li > .sed_admin_item_setting {
    padding: 20px 30px;
    display: block;
}

ul#sed_admin_content_tabs > li > h1 {
    padding: 20px 30px;
    background-color: #f8f8f8;
    border-bottom: 1px solid #eee;
    font-size: 17px;
    font-weight: 500;
}

.sed_admin_label_item {
    display: block;
    padding: 0 0 10px;
    border-bottom: 1px solid #e5e5e5;
    margin-bottom: 15px;
    margin-top: 10px;
}
.sed_admin_label_item label {
    color: #23282d;
    font-size: 14px;
    font-weight: 500;
    display: block;
    margin: 0;
}
.sed_admin_box_field_item{
    margin-bottom: 30px;
}

.sed_admin_text_fild {
    width: 100%;
    padding: 8px;
    border-radius: 2px;
    color: #858585;
    font-size: 15px;
}
.sed_admin_desc_item p {
    color: #ACACAC;
    font-size: 12px;
}

.sed_dashboard_settings_content {
    font-size: 15px;
}

/* BEGIN STYLE FOR SAVE OPTIONS
=======================================*/
.sed_admin_save_options_warp {
    padding: 20px 30px;
    display: block;
    border-top: 1px solid #e5e5e5;
    text-align: right;
    background-color: #f1f1f1;
}
/* BEGIN STYLE FOR FOOTER ADMIN SETTINGS
=======================================*/

#sed_admin_settings_footer {
    background: #FFFFFF;
    padding: 20px 30px;
    border: 1PX solid #E2D6D6;
    border-top: none;
    text-align: right;
}

/* BEGIN STYLE FOR HEADER ADMIN SETTINGS
=======================================*/

div#sed_admin_settings_head {
    padding: 20px 15px 25px;
    background: #f1f1f1;
    border-bottom: 1px solid #e5e5e5;
}

div#sed_admin_settings_head .sed_main_settings_title {
    padding: 0;
    text-transform: uppercase;
}

div#sed_admin_settings_head .sed_main_settings_title i {
    font-size: 30px;
    padding-right: 15px;
    width: 1em;
    text-align: center;
    vertical-align: sub;
    color: #777;
}

/* BEGIN STYLE FOR BUTTON ADMIN SETTINGS
========================================*/
.sed-admin-dialog-wrapper .ui-dialog-content .button.button-default ,
.siteeditor_admin_index_page .button.button-default{
    text-decoration: none;
    text-shadow: none;
    border-radius: 0;
    box-shadow: none;
}

.sed-admin-dialog-wrapper .ui-dialog-content .button.button-primary ,
.siteeditor_admin_index_page .button.button-primary{
    background: #00aaff;
    border-color: #00aaff;
    color: #fff;
    text-decoration: none;
    text-shadow: none;
    border-radius: 0;
    box-shadow: none;
}
.sed-admin-dialog-wrapper .ui-dialog-content .button.button-primary a span ,
.sed-admin-dialog-wrapper .ui-dialog-content .button.button-primary a ,
.siteeditor_admin_index_page .button.button-primary a span,
.siteeditor_admin_index_page .button.button-primary a{
    color: #fff;
    text-decoration: none;
}
.sed-admin-dialog-wrapper .ui-dialog-content .button.button-primary:hover ,
.sed-admin-dialog-wrapper .ui-dialog-content .button.button-primary:active ,
.siteeditor_admin_index_page .button.button-primary:hover,
.siteeditor_admin_index_page .button.button-primary:active{
    background: #088DD0;
    border-color: #088DD0;
    color: #fff;
    text-decoration: none;
}
.sed-admin-dialog-wrapper .ui-dialog-content .button.button-primary:hover a span ,
.sed-admin-dialog-wrapper .ui-dialog-content .button.button-primary:active a span ,
.sed-admin-dialog-wrapper .ui-dialog-content .button.button-primary:hover a ,
.sed-admin-dialog-wrapper .ui-dialog-content .button.button-primary:active a ,
.siteeditor_admin_index_page .button.button-primary:hover a span,
.siteeditor_admin_index_page .button.button-primary:active a span,
.siteeditor_admin_index_page .button.button-primary:hover a,
.siteeditor_admin_index_page .button.button-primary:active a{
    color:#fff;
    text-decoration: none;
}
.sed-admin-dialog-wrapper .ui-dialog-content .button.upload-button ,
.sed-admin-dialog-wrapper .ui-dialog-content .button ,
.siteeditor_admin_index_page .button.upload-button,
.siteeditor_admin_index_page .button{
    background: #f7f7f7;
    text-decoration: none;
}
.sed-admin-dialog-wrapper .ui-dialog-content .button.upload-button:hover ,
.sed-admin-dialog-wrapper .ui-dialog-content .button:hover ,
.siteeditor_admin_index_page .button.upload-button:hover,
.siteeditor_admin_index_page .button:hover{
    background: #fafafa;
    border-color: #ddd;
}
.sed-admin-dialog-wrapper .ui-dialog-content .wp-color-result:after ,
.siteeditor_admin_index_page .wp-color-result:after {
    background: #fff;
    border-left: 1px solid #ddd;
}
.sed-admin-dialog-wrapper .ui-dialog-content .wp-color-result:after:hover ,
.siteeditor_admin_index_page .wp-color-result:after:hover {
    border-left: 1px solid #ddd;
}
.siteeditor_admin_index_page .sed_button{
    display: inline-block;
    text-decoration: none;
    font-size: 13px;
    line-height: 26px;
    height: 28px;
    margin: 0;
    padding: 0 10px 1px;
    cursor: pointer;
    border-width: 1px;
    border-style: solid;
    -webkit-appearance: none;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    white-space: nowrap;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.siteeditor_admin_index_page .sed_button_red{
    background: #D93B07;
    border-color: #C63606;
    -webkit-box-shadow: inset 0 1px 0 rgba(230, 120, 123, 0.5),0 1px 0 rgba(0, 0, 0, 0.15);
    box-shadow: inset 0 1px 0 rgba(230, 120, 120, 0.5),0 1px 0 rgba(0, 0, 0, 0.15);
    color: #FFF;
}
.siteeditor_admin_index_page .sed_button_red:hover {
    background: #C63606;
    border-color: #C63606;
}
.incomplete-message {
    font-size: 13px;
    font-weight: 400;
    padding: 6px 12px;
    margin: 0 10px 8px 31px;
    background-color: #f7f7f7;
    background-color: rgba(0,0,0,.03);
}
.incomplete-message:before {
    color: #d54e21;
    content: "\f332";
    display: inline-block;
    font: 400 20px/1 dashicons;
    speak: none;
    margin: 0 8px 0 -2px;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    vertical-align: top;
}

/**==* Button *==**/

.siteeditor_admin_index_page .button, 
.siteeditor_admin_index_page .button-primary, 
.siteeditor_admin_index_page .button-secondary {
    text-shadow: none;
    box-shadow: none;
    -webkit-box-shadow: none;
    -webkit-border-radius: 0px;
    border-radius: 0px;
}

.siteeditor_admin_index_page .button .smd {
    margin-right: 8px;
} 

.siteeditor_admin_index_page .button-primary {
    background: #00aaff;  
    border-color: #00aaff;  
}

.siteeditor_admin_index_page .button-primary:active ,
.siteeditor_admin_index_page .button-primary:focus , 
.siteeditor_admin_index_page .button-primary:hover {
    background: #088DD0;  
    border-color: #088DD0;      
}

.siteeditor_admin_index_page .button-primary-disabled ,
.siteeditor_admin_index_page .button-primary.disabled , 
.siteeditor_admin_index_page .button-primary:disabled , 
.siteeditor_admin_index_page .button-primary[disabled] {  
    color: #d5f1ff !important;
    background: #00aaff !important;
    border-color: #00aaff !important;
}

.siteeditor_admin_index_page .button-link:focus, 
.siteeditor_admin_index_page .button-secondary:focus, 
.siteeditor_admin_index_page .button.focus, 
.siteeditor_admin_index_page .button:focus {
    border-color: #00aaff;   
}

.siteeditor_admin_index_page .button-tertiary{
    background: #CF257D;  
    color: white;  
}

/**==* Form *==**/ 

.sed-admin-dialog-wrapper .ui-dialog-content input,  
.sed-admin-dialog-wrapper .ui-dialog-content select,  
.sed-admin-dialog-wrapper .ui-dialog-content textarea,  
.siteeditor_admin_index_page input[type=text], 
.siteeditor_admin_index_page input[type=search], 
.siteeditor_admin_index_page input[type=radio], 
.siteeditor_admin_index_page input[type=tel], 
.siteeditor_admin_index_page input[type=time], 
.siteeditor_admin_index_page input[type=url], 
.siteeditor_admin_index_page input[type=week], 
.siteeditor_admin_index_page input[type=password], 
.siteeditor_admin_index_page input[type=checkbox], 
.siteeditor_admin_index_page input[type=color], 
.siteeditor_admin_index_page input[type=date], 
.siteeditor_admin_index_page input[type=datetime], 
.siteeditor_admin_index_page input[type=datetime-local], 
.siteeditor_admin_index_page input[type=email], 
.siteeditor_admin_index_page input[type=month], 
.siteeditor_admin_index_page input[type=number], 
.siteeditor_admin_index_page select, 
.siteeditor_admin_index_page textarea {
    -webkit-box-shadow: none;
    box-shadow: none;    
}

.sed-admin-dialog-wrapper .ui-dialog-content input:focus,  
.sed-admin-dialog-wrapper .ui-dialog-content select:focus,  
.sed-admin-dialog-wrapper .ui-dialog-content textarea:focus,  
.siteeditor_admin_index_page input[type=text]:focus, 
.siteeditor_admin_index_page input[type=search]:focus, 
.siteeditor_admin_index_page input[type=radio]:focus, 
.siteeditor_admin_index_page input[type=tel]:focus, 
.siteeditor_admin_index_page input[type=time]:focus, 
.siteeditor_admin_index_page input[type=url]:focus, 
.siteeditor_admin_index_page input[type=week]:focus, 
.siteeditor_admin_index_page input[type=password]:focus,   
.siteeditor_admin_index_page input[type=checkbox]:focus, 
.siteeditor_admin_index_page input[type=color]:focus, 
.siteeditor_admin_index_page input[type=date]:focus, 
.siteeditor_admin_index_page input[type=datetime]:focus, 
.siteeditor_admin_index_page input[type=datetime-local]:focus, 
.siteeditor_admin_index_page input[type=email]:focus, 
.siteeditor_admin_index_page input[type=month]:focus, 
.siteeditor_admin_index_page input[type=number]:focus, 
.siteeditor_admin_index_page select:focus, 
.siteeditor_admin_index_page textarea:focus {
    border-color: #00aaff;
    -webkit-box-shadow: 0 0 2px rgba(152, 61, 133,.8);
    box-shadow: 0 0 2px rgba(152, 61, 133,.8); 
}

.siteeditor_admin_index_page input.regular-text {
    width: 220px;  
    max-width: 100%;     
}

/**==* Select *==**/ 

.siteeditor_admin_index_page select , 
.siteeditor_admin_index_page .select2-container {
    min-width: 220px;
    max-width: 100%; 
}

.siteeditor_admin_index_page .tf-font select[class*=tf-font-sel-] {
    min-width: 0px;
}

.siteeditor_admin_index_page .select2-container--default .select2-selection--single, 
.siteeditor_admin_index_page .select2-container--default .select2-selection--multiple {
    -webkit-box-shadow: none;  
    box-shadow: none;  
}

body.toplevel_page_site_editor_index .select2-container--default .select2-results__option--highlighted[aria-selected] {
    background-color: #00aaff;
}


/**==* Radio & Checkbox *==**/   

 
.sed-admin-dialog-wrapper .ui-dialog-content input[type=radio]:checked:before,  
.siteeditor_admin_index_page input[type=radio]:checked:before {
    background-color: #00aaff;
}  

.sed-admin-dialog-wrapper .ui-dialog-content input[type=checkbox]:checked:before,  
.siteeditor_admin_index_page input[type=checkbox]:checked:before {
    color: #00aaff;  
}

.sed-admin-dialog-wrapper .ui-dialog-content td.second.tf-radio label,  
.siteeditor_admin_index_page td.second.tf-radio label {
    padding-right: 30px;
} 

.sed-admin-dialog-wrapper .ui-dialog-content td.second.tf-radio br,  
.siteeditor_admin_index_page td.second.tf-radio br {  
    display: none;
}
  
/*         
.siteeditor_admin_index_page input[type=radio]:checked, 
.siteeditor_admin_index_page input[type=checkbox]:checked {  
    border: 1px solid #00aaff;
    background: #00aaff;  
    color: #fff;
}            

.siteeditor_admin_index_page input[type=radio]:checked:before {  
    background-color: #fff;
}           

.siteeditor_admin_index_page input[type=checkbox]:checked:before {
    color: #fff;
}   
*/  

/** install module process */
.install-process-title{
    border: 1px solid #CCC;
}
.install-process-title>span {
    background: #CCC;
    display: block;
    padding: 10px;
}
.install-process-title>span:hover {
    cursor: pointer;
}
#install-process-module li {
    font-size: 13px;
    font-weight: 400;
    padding: 6px 12px;
    list-style: none;
    background-color: #f7f7f7;
    background-color: rgba(0,0,0,.03);
}
#install-process-module span:before{
    display: inline-block;
    font: 400 20px/1 dashicons;
    speak: none;
    margin: 0 8px 0 -2px;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    vertical-align: top;
}
.install-process-module-success:before{
    color:#0CB313;
    content: "\f147";
    font: 400 20px/1 dashicons;  position: relative;  top: 5px;
}
.install-process-module-info:before{
    color:#0CA1B3;
    content: "\f348";

    font: 400 17px/1 dashicons;  position: relative;
    top: 3px;
}
.install-process-module-error:before{
    color: #d54e21;
    content: "\f335";
    font: 400 20px/1 dashicons;
    position: relative;
    top: 5px;
}
.install-process-module-title {
    font-weight: bold;
}
#install-process-module {
    height: 500px;
    overflow-x: scroll;
}

/* Sed Color Palettes */

.sed-color-palettes{
    width: 100%;
    height: auto;
    min-height: 20px;
    padding: 10px;
}
.sed-color-palettes > ul:after, .sed-color-palettes > ul:before {
    display: table;
    content: "";
}
.sed-color-palettes > ul:after {
    clear: both;
}
.sed-color-palettes > ul > li{
    margin-right: 20px;
    border-radius: 0px;
    overflow: hidden;
    float: left;
    display: block !important;
}
.sed-color-palettes > ul > li:last-child{
    margin-right: 0px;
}
.sed-palette-text {
    display: block;
    margin-bottom: 5px;
}
.sed_color_palette{
    border: 1px solid #ddd;
    padding: 3px 4px;
    background-color: #f5f5f5;
    border-radius: 2px;
}
.sed_color_palette > ul:after, .color_palette > ul:before {
    display: table;
    content: "";
}
.sed_color_palette > ul:after {
   clear: both;
}
/*
.sed_color_palette > ul{
  box-shadow: inset 1px 0 0 5px rgba(0, 0, 0, 0.05);
}
*/
.sed_color_palette > ul#sed_custom_palette{
    border: 1px solid #ddd;
}
.sed-color-palettes .sed_color_palette li {
    height: 50px;
    float: left;
    width: 20px;
    margin: 0;
    display: block !important;
}

/* Pages Edit Links */

.sed_admin_pages_edit_links_row{
    display: block;
}

.sed_admin_pages_edit_links_row:after, .sed_admin_pages_edit_links_row:before {
    display: table;
    content: "";
}
.sed_admin_pages_edit_links_row:after {
    clear: both;
}
.sed_admin_pages_edit_links_row .button{
    float: left;
    margin-right: 20px;
    margin-bottom: 10px;
}
.sed_admin_pages_edit_links_row .button:last-child{
    margin-right: 0px;
}
#custom_css.sed_admin_textarea_field{
    direction: ltr !important;
    text-align: left !important;
}






/*! jQuery UI - v1.12.1 - 2017-04-23
* http://jqueryui.com
* Includes: draggable.css, core.css, resizable.css, selectable.css, sortable.css, accordion.css, autocomplete.css, menu.css, button.css, controlgroup.css, checkboxradio.css, datepicker.css, dialog.css, progressbar.css, selectmenu.css, slider.css, spinner.css, tabs.css, tooltip.css, theme.css
* To view and modify this theme, visit http://jqueryui.com/themeroller/?scope=&folderName=base&cornerRadiusShadow=8px&offsetLeftShadow=0px&offsetTopShadow=0px&thicknessShadow=5px&opacityShadow=30&bgImgOpacityShadow=0&bgTextureShadow=flat&bgColorShadow=666666&opacityOverlay=30&bgImgOpacityOverlay=0&bgTextureOverlay=flat&bgColorOverlay=aaaaaa&iconColorError=cc0000&fcError=5f3f3f&borderColorError=f1a899&bgTextureError=flat&bgColorError=fddfdf&iconColorHighlight=777620&fcHighlight=777620&borderColorHighlight=dad55e&bgTextureHighlight=flat&bgColorHighlight=fffa90&iconColorActive=ffffff&fcActive=ffffff&borderColorActive=003eff&bgTextureActive=flat&bgColorActive=007fff&iconColorHover=555555&fcHover=2b2b2b&borderColorHover=cccccc&bgTextureHover=flat&bgColorHover=ededed&iconColorDefault=777777&fcDefault=454545&borderColorDefault=c5c5c5&bgTextureDefault=flat&bgColorDefault=f6f6f6&iconColorContent=444444&fcContent=333333&borderColorContent=dddddd&bgTextureContent=flat&bgColorContent=ffffff&iconColorHeader=444444&fcHeader=333333&borderColorHeader=dddddd&bgTextureHeader=flat&bgColorHeader=e9e9e9&cornerRadius=3px&fwDefault=normal&fsDefault=1em&ffDefault=Arial%2CHelvetica%2Csans-serif
* Copyright jQuery Foundation and other contributors; Licensed MIT */


/* dialog  */
.sed-admin-dialog-wrapper {
    background-clip: padding-box;
    background-color: #ffffff;
    border: 1px solid rgba(0, 0, 0, 0.06);
    border-radius: 0px;
    box-shadow: 0 3px 7px rgba(0, 0, 0, 0.06);
    outline: medium none;
    overflow: hidden;
    display: none;
    width: auto;
    z-index: 1050;    
    position: absolute;
    top: 0;
    left: 0;
    padding: 0;
    outline: 0;
}

/* header */
.sed-admin-dialog-wrapper .ui-widget-header {
    border: 1px solid #666;
    font-weight: bold;
}
.sed-admin-dialog-wrapper .ui-dialog-titlebar {
    background: none repeat scroll 0 0 rgba(0, 0, 0, 0);
    border-bottom-left-radius: 0;
    border-bottom: 1px solid transparent;
    border-color: white white #f9f9f9 ;
    font-size: 18px;
    padding: 5px 15px;
    position: relative;
    text-decoration: none;
    border-bottom-style: solid;
    border-bottom-width: 1px;
    padding: 12px 10px ;
    border-radius: 0 ;
}
.sed-admin-dialog-wrapper .ui-dialog-titlebar {
}
.sed-admin-dialog-wrapper .ui-helper-clearfix {
    display: block;
    min-height: 0;
}
.sed-admin-dialog-wrapper .ui-helper-clearfix:after {
    clear: both;
    content: ".";
    display: block;
    height: 0;
    visibility: hidden;
}
.sed-admin-dialog-wrapper .ui-helper-clearfix:before,
.sed-admin-dialog-wrapper .ui-helper-clearfix:after {
    content: "";
    display: table;
}
.sed-admin-dialog-wrapper .ui-dialog-title {
    font-weight: normal ;
    margin-bottom: 0 ;
    margin-top: 0 ;
    padding: 0 ;
}
.sed-admin-dialog-wrapper .ui-dialog-titlebar .ui-button {
    background: none repeat scroll 0 0 rgba(0, 0, 0, 0);
    text-shadow: 0 1px 0 #fff;
    color: #000;
    float: right;
    font-size: 16px;
    font-weight: 700;
    line-height: 1;
    opacity: 0.2;
    border: 0 none;
    cursor: pointer;
    padding: 0;
}
.sed-admin-dialog-wrapper .ui-dialog-titlebar .ui-button:hover{
    opacity: 0.4;
}
.sed-admin-dialog-wrapper .ui-dialog-titlebar .ui-button:active,
.sed-admin-dialog-wrapper .ui-dialog-titlebar .ui-button:focus{
    opacity: 0.6;
}
.sed-admin-dialog-wrapper .ui-dialog-titlebar .ui-dialog-titlebar-close .ui-button-text {
    border: 0 none;
    clip: rect(0px, 0px, 0px, 0px);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}
.sed-admin-dialog-wrapper .ui-dialog-titlebar .ui-dialog-titlebar-close span {
    display: block;
    margin: 1px;
    font-weight: bold;
}
.sed-admin-dialog-wrapper .ui-dialog-titlebar .ui-dialog-titlebar-close .ui-icon {
    float: left ;
}

.sed-admin-dialog-wrapper .ui-dialog-titlebar .ui-dialog-titlebar-close .ui-icon:before {
    content: "\f335";
    font-family: dashicons;
    display: block;
    font-size: 19px;
}

/* end header */

/* content */

.sed-admin-dialog-wrapper .ui-dialog-content {
    position: relative;
    border: 0;
    padding: 1.5em 2em;
    background: none;
    overflow: auto;
    background-color: #f9f9f9;
}

/* end content */

/* button */
.sed-admin-dialog-wrapper .ui-dialog-buttonpane {
    background-color: #f5f5f5;
    background-image: none;
    border-radius: 0;
    border-top: 1px solid #ddd;
    border-width: 1px 0 0;
    margin: 0.5em 0 0;
    padding: 10px 15px;
    text-align: left;
}
.sed-admin-dialog-wrapper .ui-dialog-buttonpane {
    margin: 0;
}

.sed-admin-dialog-wrapper .ui-dialog-buttonpane .ui-dialog-buttonset {
    float: right;
}
.sed-admin-dialog-wrapper-buttonset .ui-button{
  position: relative;
  opacity: 1;
  float:  right;
  margin-left: 10px;
}


/* Overlays */

.ui-widget-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #fff;
    opacity: .6;
    filter: Alpha(Opacity=30); /* support: IE8 */
}
.ui-widget-shadow {
    -webkit-box-shadow: 0px 0px 5px #666666;
    box-shadow: 0px 0px 5px #666666;
}



/***** feedback dialog  ******/  



.sed-feedback-dialog-wrapper .ui-dialog-titlebar button.ui-button {
    display: none;
}

.sed-deactivate-feedback-dialog-input-wrapper {
    margin: 10px 0;
}

.sed-deactivate-feedback-dialog-input-wrapper input[type=text] {
    display: block;
    margin-top: 10px;
}

.sed-deactivate-feedback-send.sed-ajax-loading {
    min-width: 140px;
}

.sed-deactivate-feedback-send .sed-deactivate-feedback-send-text {
    display: inline-block;
}  

.sed-deactivate-feedback-send.sed-ajax-loading .sed-deactivate-feedback-send-text {
    text-indent: -9999px;
}

.sed-deactivate-feedback-send .dashicons-admin-generic {
    vertical-align: middle;
    font-size: 14px;
    height: 1em;
    visibility: hidden;
    width: 0;
    display: inline-block;
} 

.sed-deactivate-feedback-send.sed-ajax-loading .dashicons-admin-generic {
    width: 1em;
    visibility: visible; 
}

.sedicon-admin-spin {
  -webkit-animation: sedicon-admin-spin 2s infinite linear;
  animation:sedicon-admin-spin 2s infinite linear;
}
.sedicon-admin-pulse {
  -webkit-animation: sedicon-admin-spin 1s infinite steps(8);
  animation: sedicon-admin-spin 1s infinite steps(8);
}
@-webkit-keyframes sedicon-admin-spin {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(359deg);
    transform: rotate(359deg);
  }
}
@keyframes sedicon-admin-spin {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(359deg);
    transform: rotate(359deg);
  }
}  