@search-base-bg:            @body-modules-bg;
@search-main-bg:            @main-color;
@search-base-b-ltr-bg:      @base-color-b-lighter;
@search-border-color:       @base-border-color;
@search-border-radius:      @border-radius-base;
@search-line-height:        @line-height-base;
@search-font-size:          @font-size-base;
@search-color:              @main-color;