/*#less_info#(
"handle"    => "sed-content-product-skin2",
"deps"      => array(),
"ver"       => "1.0.0",
"media"     => "all"
)#*/
.sed-content-product-skin2{
    .products{
        .clearfix();
        //overflow: hidden;
        //width: 100%;
        display: block;
        .product{
            position: relative;
            float: left;
         .product-inner{
            .box-shadow(0 0 10px darken(@base-color-b, 5%));
            border-top: 3px solid @main-color !important;
            .high-color( @main-color );
            border: 1px solid @base-border-color;
            width: 100%;
            overflow: hidden;
            position: relative;
            text-align: center;
         }

            a{
                display: block;
            }
            .product-thumb{
        		position: relative;
        		overflow: hidden;
                display: inline-block;
        		.onsale {
        			position: absolute;
        			background: @main-color;
        			.high-color( @main-color );
        			padding: 5px 8px;
                    top: 0;
        			display: block;
                    .border-radius( 0 0 3px);
        		}
                .thumb-face{
                    > img{
                    	height: auto;
                       // min-height: 100%;
                        min-width: 100%;
                        width: 100%;
                    }
                    &.thumb-back {
                        > img{
                            position: absolute;
                            top: 0 ;
                            right: 0;
                            opacity: 0;
                            .scale(1.2);
                            .transition(all 500ms);
                        }
                    }
                }
                &:hover{
                    .thumb-face{
                        &.thumb-back {
                            > img{
                                opacity:1;
                                .scale(1);
                            }
                        }
                    }
                }

            }
            .product-details {
                color: darken(@main-color-darker,10%);
                .product-title {
                    margin: 0;
                    font-size: @font-size-base + 1;
                    line-height: 21px;
                }
                .product-rating {
                    float: right;
                    color: @main-color;
                    font-size: 13px;
                }
                .product-price {
                    margin-top: 5px;
                    color : @main-color ;
                    .price{
                        font-size: 14px;
                        font-weight: bold;
                        del{
                            .low-color(@body-modules-bg);
                        }
                    }
                }
            }
            .product-details,.product-buttons {
                background:@body-modules-bg;
                overflow: hidden;
                padding: 25px 25px 10px;
            }

            .product-buttons{
                a{
                   font-size: 13px;
                   .base-color(@body-modules-bg);
                  i{
                      .low-color(@body-modules-bg);
                      font-size: @font-size-base + 1;
                  }
                }

                /*.added{
                    display: none;
                } */
                padding: 0px;
		        border-top: 1px solid @base-border-color;
                background-color: lighten(@base-color-b-lighter, 1%);
                .box-shadow(inset 0px 10px 5px -11px rgba(0,0,0, 0.1)) ;
                //,.added_to_cart.wc-forward
                .woo-button {
                    padding: 10px 25px;
                    float: left;
                    font-size: 12px;
                    min-width: 90px;
                    //padding: 10px 0;
                    text-align: center;
                    .base-color(@body-modules-bg);
                    &:hover{
              			 background: @main-color;
                         .base-color(@main-color);
                        i{
            			    .high-color( @main-color );
                        }
                    }
                }
                 .added_to_cart.wc-forward{
                    display: none;
                }
               /* .added_to_cart.wc-forward:before {
                    display: inline-block;
                    font: normal normal normal 14px/1 FontAwesome;
                    font-size: inherit;
                    text-rendering: auto;
                    -webkit-font-smoothing: antialiased;
                    content: "\f06e";
                    padding-right: 5px;
                }*/
                .get-details-button {
                    float: right;
                }

            }
        }
    }
.product-buttons{
    .loader {
        .border-radius(0);
        height: 100%;
        left: 0;
        margin: 0px;
        text-align: center;
        top: 0;
        width: 100%;
        z-index: 1;
    }
}
/*.load-more-posts-infinite-scroll .loader {
    .border-radius(100%);
    height: 100px;
    left: 50%;
    margin: -75px 0 0 -50px;
    text-align: center;
    top: 50%;
    width: 100px;
} */


       /*   .slick-slider {
              padding: 0 32px;
              .slick-list {
                  cursor: move;
              }
              .slide-nav-bt{
                          cursor: pointer;
                          display: block;
                          margin-top: -16px;
                          opacity:1;
                          outline: medium none;
                          position: absolute;
                          text-align: center;
                          top: 50%;
                          vertical-align: top;
                          .transition( all 500ms );
                          i{
                              background: none repeat scroll 0 0 transparent;
                              border-radius: 100%;
                              border: 3px solid darken(@base-color-b-dark, 3.5%);
                              color: darken(@base-color-b-dark, 3.5%);
                              width: 28px;
                              height: 28px;
                              font-size: 22px;
                              line-height: 22px;
                              font-weight: bold;
                          }
                          &.slick-disabled i {
                              opacity: 0;
                          }
                          &.slide-next{
                            i{
                              padding: 0 0 0 3px;
                             }
                              right: 2px;
                          }
                          &.slide-prev{
                            i{
                              padding: 0 3px 0 0;
                            }
                              left:  2px;
                          }
                          &:hover{
                             i{
                                  background: @main-color;
                                  border-color: @main-color;
                                  .high-color(@main-color);
                             }
                          }
              }
          }        */
}
.rtl-body .sed-content-product-skin2{
    .products{
        .product{
            float: right;
            .product-thumb{
        		.onsale {
                    .border-radius( 0  0 0 3px);
        		}
        	}
            .product-details {
                .product-rating {
                    float: left;
                }
            }
            .product-buttons{
                .woo-button {
                    float: right;
                }
                .get-details-button {
                    float: left;
                }

            }
        }
    }
}









