/*
#less_info#(
"handle" => "menu-skin-less",
"deps" => array(),
"ver" => "1.0.0",
"media" => "all" ,
"import"  => array(
    "@sed-modules-root/alert/less/variables.less" ,
    "@sed-modules-root/alert/less/mixins.less" ,
)
)#
*/
@import "../../../less/variables.less";
@import "../../../less/mixins.less";
.module-megamenu.megamenu-defult{

 @zindex-navbar-caret:             1000;
 @mega-menu-bg:                    #fff;
 @mega-menu-bg-hover:              rgba(0,0,0,0);        //#111
 @mega-menu-hover:                 @main-color;        //#111
 @mega-menu-border-color:          @base-border-color-light;/*darken(#333,13%);   */
 @mega-menu-box-shadow:            fade(mix(@mega-menu-bg,#000,50%),0.3);//fade(@base-color-c,13.5%)
 @navbar-padding-horizontal:       floor((@grid-gutter-width / 2));
 @mega-menu-link-hover-bg:         darken(@base-color-b-lighter,3%);
 @mega-menu-dropdown-divider-bg:   @base-border-color-light;
 @mega-menu-dropdown-bg        :   @base-color-b-lighter;


.row{
    > .columns{
      border-right: 1px solid @mega-menu-border-color;
      @media (max-width: @grid-float-breakpoint-max) {
          border-right: 0px solid @mega-menu-border-color;
      }
      &:last-child{
          border-right: 0px solid @mega-menu-border-color;
      }
      &:nth-of-type(odd){
          background-color: darken(@mega-menu-dropdown-bg,1%);
      }
      &:nth-of-type(even){
          background-color: @mega-menu-dropdown-bg;
      }

    }
}

.sed-menu-item-cart > .shopping-cart-item{
    @menu-info-color:        @success-color;//#9da3b1
    position: relative;
    .menu-item-icon{
        position: relative;
    }
    .shopping-cart-count {
        background-color: @menu-info-color;
        .high-color(@menu-info-color);
        font-size: 11px;
        height: 1.6em;
        line-height: 1.6em;
        min-width: .8em;
        padding: 0 8px;
        display: inline-block;
        .border-radius(5px);
        position: absolute;
        top: -1.5em;
        .left(50%);
        .transform(translate(-50%));
        .rtl-body &{
            .transform(translate(50%));
        }
        &::after {
            content: "";
            display: block;
            width: 0;
            height: 0;
            .margin-right(4px);
            border-top: 5px solid @menu-info-color;
            border-left: 5px solid transparent;
            .rtl-body &{
                border-right: 5px solid transparent;
                border-left: 0px solid transparent;
            }
        }
    }
}

&.navbar-wrap {
.navbar-wrap(@mega-menu-bg,@mega-menu-dropdown-bg,@mega-menu-border-color,#a7a7a7,@mega-menu-link-hover-bg,@mega-menu-hover );
  .container-megamenu {
    position: relative;

    .navbar{

      .navbar-nav {
        .navbar-nav(transparent,@mega-menu-hover,@mega-menu-border-color);
        > li{
            border-bottom: 2px solid rgba(0 ,0 ,0 ,0);

        }
        > li.current-menu-ancestor,
        > li.current-menu-item {
          &,
          &:hover,
          &:focus,
          &:active {
            border-bottom-color: @mega-menu-hover;
           > a > span{
              color: @mega-menu-hover;
            }
          }
        }

       > .open > a{
            &::after {
              content: "";
              display: block;
              width: 0;
              bottom: 0px;
              height: 0;
              position: absolute;
              .left(50%);
              .margin-left(-5px);
              border-top: 5px solid transparent;
              border-right: 5px solid transparent;
              border-left: 5px solid transparent;
              border-bottom: 5px solid @mega-menu-border-color;
              z-index: 1;
              .transition(all 0.35s ease-in-out);
              @media (max-width: @grid-float-breakpoint) {
                display: none;
              }
          }
        }

      }
      .dropdown-menu(@mega-menu-dropdown-bg,@mega-menu-link-hover-bg,@mega-menu-hover);
      .dropdown-menu {
          .box-shadow(none);
          .border-radius(0);
          border-color: @mega-menu-border-color;
          border-style: solid;
          border-width: 2px 1px 1px;
      }
      @media (max-width: @grid-float-breakpoint) {
        li.menu-flyout > .dropdown-menu{
          li {
            border-top: 1px solid @mega-menu-border-color;
          }
        }
      }


    }
  }
}


&.vertical-megamenu.navbar-wrap {
  @media (min-width: @grid-float-breakpoint) {
    //.box-shadow(0 0 9px 0 rgba(0, 0, 0, 0.2)) ;
    border-right: 0 solid @main-color;
  }
  .rtl-body &{
      @media (min-width: @grid-float-breakpoint) {
        border-right: 0px solid @main-color;
        border-left: 0 solid @main-color;
      }
  }

  .container-megamenu {
    .navbar{
      .navbar-nav {
          > li {
            border-top: 0px solid @mega-menu-bg-hover;
            border-left: 0px solid rgba(0 ,0 ,0 ,0);
            border-bottom: 0px solid @base-border-color !important;
            //.box-shadow(inset 0 1px 1px rgba(250, 250, 250, 0.2));
            .textleft();  

            &:first-child {
              border-top: 0px solid  @mega-menu-border-color !important;
            }

            &:hover,
            &:focus {
              border-top: 0px solid  @mega-menu-border-color;
              background-color: @mega-menu-dropdown-bg;
            }

            > li.current-menu-item {
              &,
              &:hover,
              &:focus,
              &:active {
                border-bottom-color: @base-border-color;
              }
            }

            &.current-menu-item{
              border-left-color: @mega-menu-hover;
            }
          }

          > li.current-menu-item > a,
          > li.active > a {
              &,
              &:hover,
              &:focus {
                  background-color: @mega-menu-dropdown-bg;
                  color: @mega-menu-hover;
                  position: relative;
              }
          }

          > .open{
            > a{
                  &::after {
                    content: "";
                    display: block;
                    width: 0;
                    right: 0px;
                    height: 0;
                    position: absolute;
                    top: 50%;
                    margin-top:-5px;
                    border-top: 5px solid transparent;
                    border-right: 5px solid @mega-menu-border-color;
                    border-left: 5px solid transparent;
                    border-bottom: 5px solid transparent;
                    z-index: 1;
                    @media (max-width: @grid-float-breakpoint) {
                      display: none;
                    }
                    .transition(all 0.35s ease-in-out);
                    @media (min-width: @grid-float-breakpoint) {
                        bottom: auto;
                        left: auto;
                    }
                }
            }
          }
      }
      .dropdown.dropdown-vertical-submenu-right{
          &.open > a::after {
              left: 0px;
              right: auto;
              border-right: 5px solid transparent;
              border-left: 5px solid @mega-menu-border-color;
          }
          .dropdown-menu {
              @media (min-width: @grid-float-breakpoint-max) {
                .border-radius(0);
                border-left: 1px solid @mega-menu-border-color;
                border-right: 2px solid @mega-menu-border-color;
              }
              @media (max-width: @grid-float-breakpoint) {
                  border-width: 0px;
              }
          }
          .dropdown-submenu{
              > .dropdown-menu{
                @media (min-width: @grid-float-breakpoint-max) {
              	    .border-radius(0);
                }
              }
          }


      }

      .dropdown-menu {
          .border-radius(0);
          border-color: @mega-menu-border-color @mega-menu-border-color @mega-menu-border-color @mega-menu-border-color;
          border-style: solid;
          border-width: 1px 1px 1px 2px;
          @media (max-width: @grid-float-breakpoint) {
              border-width: 0px;
          }
      }

      .dropdown-submenu{
          > .dropdown-menu{
          	.border-radius(0);
          }
      }

    }
  }
}

}

.rtl-body .module-megamenu.megamenu-defult
{
@mega-menu-border-color:          @base-border-color;/*darken(#333,13%);   */
.row{
    > .columns{
      border-right: 0px solid @mega-menu-border-color;
      border-left: 1px solid @mega-menu-border-color;
      @media (max-width: @grid-float-breakpoint-max) {
          border-left: 0px solid @mega-menu-border-color;
      }
      &:last-child{
          border-left: 0px solid @mega-menu-border-color;
      }
    }
}

}