.module-alert.alert-skin4{

  .alert {
      padding: @alert-padding;
      border: 1px solid transparent;
      .border-radius( @alert-border-radius );
      .clearfix();
  }
  .alert-title,.alert-description {
    display: block;
    margin-top: 10px;
  }
  .alert-icons{
    display: block;
    float: left;
    margin-right: 10px;
    width: 40px;
    text-align: center;
    position: relative;
    z-index: 1;
    img{
      width: 100%;
      height: auto;
    }
  }
  &.style-success{
  .alert-variant-style {
    color: @alert-success-text !important;
   .alert-variant(@skin4-alert-success-bg; @alert-success-border);
   .alert-title > *,
   .alert-description > *{
     color: @alert-success-text !important;
   }
  }
 }
  &.style-info{
   .alert-variant-style {
     color: @alert-info-text !important;
    .alert-variant(@skin4-alert-info-bg; @alert-info-border);
   .alert-title > *,
   .alert-description > *{
     color: @alert-info-text !important;
   }
   }
  }
  &.style-warning{
   .alert-variant-style {
     color: @alert-warning-text !important;
    .alert-variant(@skin4-alert-warning-bg; @alert-warning-border);
   .alert-title > *,
   .alert-description > *{
     color: @alert-warning-text !important;
   }
   }
  }
  &.style-danger{
   .alert-variant-style {
     color:  @alert-danger-text !important;
    .alert-variant(@skin4-alert-danger-bg; @alert-danger-border);
   .alert-title > *,
   .alert-description > *{
     color:  @alert-danger-text !important;
   }
   }
  }

}
.rtl-body .module-alert.alert-skin4{
    .alert-icons {
      float: right !important;
      margin-right: 0px !important;
      margin-left: 10px;
    }
}
