/*
#less_info#(
"handle"	=> "elastic-slider-default" ,
"deps"		=> array() ,
"ver"		=> "1.0.0" ,
"media"		=> "all"
)#
*/
/* Header Style */
.module-elastic-slider.elastic-container {
    padding: 0 0 8px;
	.ei-slider{
		position: relative;
		width: 100%;
		max-width: 1920px;
		height: 400px;
		margin: 0 auto;
	}
	.ei-slider-loading{
		width: 100%;
		height: 100%;
		position: absolute;
		top: 0px;
		left: 0px;
		z-index:999;
		background: fade(@base-color-c,90%);
		.high-color(@base-color-c);
		text-align: center;
		line-height: 400px;
	}
	.ei-slider-large{
		height: 100%;
		width: 100%;
		position:relative;
		overflow: hidden;
        margin: 0;
	}
	.ei-slider-large li{
		position: absolute;
		top: 0px;
		left: 0px;
		overflow: hidden;
		height: 100%;
		width: 100%;
	}
	.ei-slider-large li img{
		width: 100%;
	}

    .ei-title {
        margin-right: 8%;
        position: absolute;
        right: 50%;
        top: 30%;
        display: inline-block;
        //text-align: right;
    }
    .ei-title .ei-heading , .ei-title .ei-desc {
        //width: 100%;
        //display: block;
    }
    .ei-title .ei-heading, .ei-title .ei-desc {
        background-color: fade(@main-color,80%);
        border-left: 3px solid @main-color-darker;
        display: inline-block;
        //font-size: 18px;
        //line-height: 1.3;
        padding: 5px 15px;
        margin-top: 5px;
        margin-bottom: 5px;
        //left: -100%;
        > *{
            .high-color(@main-color);
        }
    }
    .ei-title .ei-desc {
        background-color: fade(@base-color-c,50%) !important;
        border-left: 3px solid fade(@main-color,80%);
        //font-size: 13px;
        //font-weight: normal;
        display: block;
        line-height: 20px;
        //left: 100%;
        > *{
            .high-color(@base-color-c);
        }
    }

	.ei-title2{
	    background:  fade(@base-color-c,50%) !important;
        bottom: 0px;
        left: 0;
        margin-right: 0 !important;
        max-width: 100% !important;
        padding: 5px 0;
        position: absolute;
        right: 0 !important;
        text-align: center;
        top: auto !important;
        width: 100%;
	}
	.ei-title2 .ei-heading, .ei-title2 .ei-desc{
        background-color:  transparent !important;
        border-left: 0px solid rgba(0, 0, 0, 0) !important;
        padding: 3px;
        text-shadow: none;
        margin: 0px;
        display: block !important;
	}
    .ei-title2 .ei-desc {
        background-color: transparent;
    }
	.ei-title .ei-heading, .ei-title .ei-desc{
		//text-align: right;
	}


/*	.ei-title{
		position: absolute;
		right: 50%;
		margin-right: 13%;
		top: 30%;
	}
	.ei-title .ei-heading{
		font-size: 40px;
		line-height: 50px;
		font-family: 'Playfair Display', serif;
		font-style: italic;
		color: #b5b5b5;
	}
	.ei-title .ei-desc{
		font-size: 70px;
		line-height: 70px;
		font-family: 'Open Sans Condensed', sans-serif;
		text-transform: uppercase;
		color: #000;
	}            */
	.ei-slider-thumbs{
		height: 8px;
        margin: 0 auto;
        position: relative;
	}
	.ei-slider-thumbs li{
		position: relative;
		float: left;
		height: 100%;
	}
	.ei-slider-thumbs li.ei-slider-element{
		top: 0px;
		left: 0px;
		position: absolute;
		height: 100%;
		z-index: 10;
		text-indent: -9000px;
		background:darken(@main-color , 10%);
	}
	.ei-slider-thumbs li a{
		display: block;
		text-indent: -9000px;
        background:  fade(@base-color-c-light, 80%);
		width: 100%;
		height: 100%;
		cursor: pointer;
		.multi-box-shadow(0px 1px 1px 0px rgba(0,0,0,0.3),0px 1px 0px 1px rgba(255,255,255,0.5));
	    .transition(background 0.2s ease);
	}
	.ei-slider-thumbs li a:hover{
		background-color: @main-color;
	}
	.ei-slider-thumbs li img{
		position: absolute;
		bottom: 50px;
		.opacity(0);
		z-index: 999;
		max-width: 100%;
		.transition(all 0.4s ease);
		-webkit-box-reflect: 
	        below 0px -webkit-gradient(
	            linear, 
	            left top,
	            left bottom, 
	            from(transparent), 
	            color-stop(50%, transparent), 
	            to(rgba(255,255,255,0.3))
	            );
	}
	.ei-slider-thumbs li:hover img{
		.opacity(1);
		bottom: 13px;
	}

    @media screen and (max-width: 550px) {
    	.ei-title{
    	    background:  fade(@base-color-c,50%) !important;
            bottom: 0px;
            left: 0 !important;
            margin-left: 0 !important;
            margin-right: 0 !important;
            right: 0 !important;
            max-width: 100% !important;
            padding: 5px 0;
            position: absolute;
            text-align: center;
            top: auto !important;
            width: 100%;
    	}
    	.ei-title .ei-heading, .ei-title .ei-desc{
            background-color:  transparent !important;
            border-left: 0px solid rgba(0, 0, 0, 0) !important;
            padding: 3px;
            text-shadow: none;
            margin-top: 0px;
            margin-bottom: 0px;
    	}
        .ei-title .ei-desc {
            background-color: transparent;
        }
    }
    &.elastic-resize-responsive{
    	.ei-title{
    	    background:  fade(@base-color-c,50%) !important;
            bottom: 0px;
            left: 0 !important;
            margin-left: 0 !important;
            margin-right: 0 !important;
            right: 0 !important;
            max-width: 100% !important;
            padding: 5px 0;
            position: absolute;
            text-align: center;
            top: auto !important;
            width: 100%;
    	}
    	.ei-title .ei-heading, .ei-title .ei-desc{
            background-color:  transparent !important;
            border-left: 0px solid rgba(0, 0, 0, 0) !important;
            padding: 3px;
            text-shadow: none;
            margin-top: 0px;
            margin-bottom: 0px;
    	}
        .ei-title .ei-desc {
            background-color: transparent;
        }
    }

}


.rtl-body .module-elastic-slider.elastic-container{

    .ei-title {
        margin-right: 15px !important;
        right: auto;
        margin-left: 13%;
        left: 55%;
    }
    .ei-title .ei-heading, .ei-title .ei-desc {
        border-left: 0px solid @main-color-darker;
        border-right: 3px solid @main-color-darker;
    }
    .ei-title .ei-desc {
        border-left: 0px solid fade(@main-color,80%);
        border-right: 3px solid fade(@main-color,80%);
    }

    @media screen and (max-width: 550px) {
    	.ei-title{
            left: 0 !important;
            margin-left: 0 !important;
            margin-right: 0 !important;
            right: 0 !important;
    	}
    }

    &.elastic-resize-responsive{
    	.ei-title{
            left: 0 !important;
            margin-left: 0 !important;
            margin-right: 0 !important;
            right: 0 !important;
    	}
    }

}
