/*#less_info#(
"handle"    => "posts-nav-skin3",
"deps"      => array(),
"ver"       => "1.0.0",
"media"     => "all"
)#*/
@posts-nav-bg: fade(@base-color-c,80%);
@posts-nav-arrow-bg: @main-color;
.posts-nav-skin3{
    position: relative;
    z-index: 1003;
.post-nav-container {
}
.post-nav-next ,
.post-nav-prev {
    background: none repeat scroll 0 0 fade(@base-color-c,50%);
    box-shadow: 0 0 0 fade(@base-color-c,10%);
    margin-top: -60px;
    max-height: 120px;
    max-width: 210px;
    overflow: hidden;
    position: fixed;
    text-align: right;
    top: 50%;
    .transition(all 0.6s ease-out 0s);
    a {
        display: block;
    }
    .post-nav-content{
          display: table-cell;
          overflow: hidden;
          padding: @padding-base;
          position: relative;
          table-layout: fixed;
          .transition(all 0.3s ease-out 0s);
          vertical-align: middle;

    .thumb {
      .continer {
              background: none repeat scroll 0 0 fade(@base-color-c,20%);
              border: 1px solid fade(@base-color-c,20%);
              height: 100px;
              margin: 0;
              overflow: hidden;
              position: relative;
              width: 150px;
              img {
                  height: auto;
                  max-width: 100%;
                  min-height: 100%;
                  min-width: 100%;
              }
              .fa-picture-o {
                .low-color(fade(@base-color-c,20%));
                //color: #555;
                font-size: 45px;
              }
          }
    }
    .post-nav-title {
        background: none repeat scroll 0 0 fade(@base-color-c,50%);
        bottom: 0;
        //color: #d2d2d2;
        .base-color(fade(@base-color-c,50%));
        font-size: 12px;
        padding: @padding-sm;
        position: absolute;
        text-align: center;
        width: 100%;
        z-index: 1;
    }
    }
   .post-nav-arrow{
      display: table-cell;
      vertical-align: middle;
      span {
          background: none repeat scroll 0 0 @posts-nav-arrow-bg;
          display: table-cell;
          height: 120px;
          max-height: 170px;
          padding: @padding-base;
          vertical-align: middle;
          .high-color(@posts-nav-arrow-bg);
          i {
            .transform(none);
          }
      }
   }

}
.post-nav-next {
     right: -172px;
     .border-radius(8px  0 0 8px);
     &:hover{
        right: 0;
     }
     .post-nav-arrow{
       span{
        .border-radius( 8px 0 0 8px);
       }
     }
}
.post-nav-prev{
     left: -172px;
     .border-radius( 0 8px 8px 0);
      &:hover{
        left:0;
     }
     .post-nav-arrow{
       span{
        .border-radius( 0 8px 8px 0);
       }
     }
}

}
.rtl-body .posts-nav-skin3{
.post-nav-next ,
.post-nav-prev {
    text-align: left;
}
.post-nav-next {
     left: -172px;
     right: auto;
     .border-radius( 0 8px 8px 0 );
     &:hover{
        right: auto;
        left: 0;
     }
     .post-nav-arrow{
       span{
        .border-radius( 0 8px 8px 0);
        i{
          .rotate(180deg);
        }
       }
     }
}
.post-nav-prev{
     left: auto;
     right: -172px;
     .border-radius(8px 0 0 8px);
      &:hover{
        right: 0;
        left: auto;
     }
     .post-nav-arrow{
       span{
        .border-radius(8px 0 0 8px);
        i{
          .rotate(180deg);
        }
       }
     }
}

}