/*#less_info#(
"handle"    => "grid-gallery-default",
"deps"      => array(),
"ver"       => "1.0.0",
"media"     => "all"
)#
*/
/*
*
* Gallery-specific Styles
*
*/
.module-grid-gallery{
    &.sed-grid-gallery-default {
      margin: auto;
      position: relative;
      text-align: center;
      overflow: hidden;
        &:full-screen,
        &:-webkit-full-screen,
        &:-moz-full-screen{
          max-width: 100% !important;
          width: 100%;
          height: 100% !important;
          background-color: fade(@base-color-c,50%);
        }
    }
    .items--small{
      .clearfix();
      margin: 0px;
    }

    .controls {
      text-align: center;
      font-size: 1em;
      .opacity(0);
      pointer-events: none;
      .transition(opacity .3s ease);
      position: absolute;
      bottom: 0;
      left: 0;
      right: 0
    }

    .control,
    .grid,
    .fs-toggle {
      .low-color(@body-bg);
      font-size: 20px;
      width: 1em;
      height: 1em;
      text-align: center;
      line-height: 1em;
      cursor: pointer;
      display: inline-block;
      margin-right: 5px;
      vertical-align: middle;
      &:hover{
        color: @main-color;
      }

    }

    .showControls {
      .opacity(1);
      pointer-events: auto;
      .transition(opacity .6s 1s ease);
    }

    .hideControls {
      .opacity(0);
      pointer-events: none
    }

    .fs-toggle {
      display: none;
    }
    .items--small{
      .clearfix();
    }

    .item {
      float: left;
      height: auto;
    }

    .item img,
    .item--big img {
      width: 100%;
      display:block;
    }
    .item--big img {
      border: 1px solid fade(@base-color-c,5%);
    }

    .items--big {
      position: absolute;
      top: 0;
      left: 0;
      right:0;
      width: 100%;
      height: 100%;
      margin: 0px;
      pointer-events: none
    }

    .item--big {
      position: absolute;
      width: 80%;
      height: auto;
      left: 10%;
      right: 10%;
      top: 3em;
      .opacity(0);
      .scale(.8);
      li a{
        font-size: @font-size-base;
      }

    }
    .item--big .img-caption{
      position:absolute;
      width:100%;
      bottom:0;
      left:0;
      right:0;
      background-color: fade(@base-color-c,60%);
      color:white;
      padding:10px;
      font-size:.8em;
      text-align:center;
    }
    .items--small li .module-image{
        overflow: hidden;
    }
    .items--small li .module-image img{
        max-width: 2000px !important;
    }

    .item {
        float: left;;
        cursor: pointer;
        height: auto;
    /* margin-right: .5%; */
    }

}

.fadeInScaleUp {
  .animation(fadeInScaleUp .5s ease-out .6s forwards);
  z-index: 3;
}

.fadeOut {
  .animation(fadeOut .4s ease-out forwards);
  z-index: 1;
}
@keyframes fadeOut {
  from {
    .opacity(1);
    .scale(1);
  }

  to {
    .opacity(0);
    .scale(1);
  }
}

@-webkit-keyframes fadeOut {
  from {
    .opacity(1);
    .scale(1);
  }

  to {
    .opacity(0);
    .scale(1);
  }
}

@keyframes fadeInScaleUp {
  from {
    .opacity(0);
    .scale(.8);
  }

  to {
    .opacity(1);
    .scale(1);
  }
}

@-webkit-keyframes fadeInScaleUp {
  from {
    .opacity(0);
    .scale(.8);
  }

  to {
    .opacity(1);
    .scale(1);
  }
}

.scaleDownFadeOut {
  .animation(scaleDownFadeOut .4s ease-in forwards);
  pointer-events: none;
}

@keyframes scaleDownFadeOut {
  0% {
    .opacity(1);
    .scale(1);
  }

  99% {
    .opacity(0);
    .scale(.5);
  }

  100% {
    .opacity(0);
    .scale(1);
  }
}

@-webkit-keyframes scaleDownFadeOut {
  0% {
    .opacity(1);
    .scale(1);
  }

  99% {
    .opacity(0);
    .scale(.5);
  }

  100% {
    .opacity(0);
    .scale(1);
  }
}

.scaleUpFadeIn {
  .opacity(0);
  .scale(1);
  .animation(scaleUpFadeIn ease-in-out .4s forwards);
  .animation-duration(.4s);
}

@keyframes scaleUpFadeIn {
  0% {
    .opacity(0);
    .scale(1);
  }

  1% {
    .opacity(0);
    .scale(.5);
  }

  100% {
    .opacity(1);
    .scale(1);
  }
}

@-webkit-keyframes scaleUpFadeIn {
  0% {
    .opacity(0);
    .scale(1);
  }

  1% {
    .opacity(0);
    .scale(.5);
  }

  100% {
    .opacity(1);
    .scale(1);
  }
}

.showLastSecond {
  .opacity(0);
  .scale(1);
  .animation(showLastSecond ease-in-out .4s forwards);
  .animation-duration(.4s);
}

@keyframes showLastSecond {
  0% {
    .opacity(0);
    .scale(1);
  }

  1% {
    .opacity(0);
    .scale(.5);
  }

  99% {
    .opacity(0);
    .scale(1);
  }

  100% {
    .opacity(1);
    .scale(1);
  }
}

@-webkit-keyframes showLastSecond {
  0% {
    .opacity(0);
    .scale(1);
  }

  1% {
    .opacity(0);
    .scale(.5);
  }

  99% {
    .opacity(0);
    .scale(1);
  }

  100% {
    .opacity(1);
    .scale(1);
  }
}

@media screen and (max-width: 30em) {
  .item--big {
    width: 80%;
    right: 10%;
    left: 10%
  }
}
