.module-page-title.page-title-default {
    border-style: solid none;
    border-width: 1px medium;
    padding: 15px 0;
    width: 100%;
    background-color: #f5f5f5;
    border-color: #eee;
}

.module-page-title.page-title-default .page-title-inner {
    display: block;
    height: 100%;
    margin: 0 auto;
    overflow: hidden;
    position: relative;
    width: 100%
}

.module-page-title.page-title-default .page-title-heading {
    margin: 0; 
}

.module-page-title.page-title-default .page-title-description {
    margin: 0;
    margin-top: 10px;
}
