/*#less_info#(
"handle"    => "woocomerce-single-product-default",
"deps"      => "",
"ver"       => "1.0.0",
"media"     => "all"
)#*/
/*for all */
.module-woocomerce-single-product.woocomerce-single-product-default{

//borders , bg
@woo-border-color:      @base-border-color-light;
@woo-bg-color-dark:     @base-border-color-light;
@woo-bg-color-light:    @base-color-b-lighter;
@woo-body-bg:           @body-bg;

//titles
@woo-title-lg:          @font-size-h4;
@woo-line-height-lg:    @font-size-h4 + 9;
@woo-title-md:          @font-size-h4;
@woo-line-height-md:    @font-size-h4 + 9;
@woo-title-sm:          @font-size-base;
@woo-line-height-sm:    @font-size-base + 9;

//price
@woo-price-color:       @main-color;
@woo-price-color-del:   @base-color-b-darker;
@woo-price-size:        @font-size-base;
@woo-price-size-del:    @font-size-base - 2;

//colors
@woo-success-color:     @success-color;
@woo-info-color:        #9da3b1;
@woo-warning-color:     @warning-color;
@woo-danger-color:      @danger-color;

//single
@woo-single-border:     1px solid lighten(@woo-border-color, 3%);
@woo-single-spacing:    10px;
@woo-single-title-sm:   @font-size-base;



/****** product heading ******/

  .product-head {
      border: 0px solid;
      margin-bottom: @woo-single-spacing;
      overflow: hidden;
      background: @woo-bg-color-dark;
      padding: 10px 15px;
      .product-title {
          .high-color(@woo-bg-color-dark);
          font-size: @woo-title-lg;
          line-height: @woo-line-height-lg;
          margin: 0 0 10px;
          &:last-child{
            margin: 0;
          }
      }
  }

/****** Product Meta ******/

  .product-meta {
      margin-bottom: @woo-single-spacing;
      > span , > div {
          border-bottom: @woo-single-border;
          .base-color(@woo-body-bg);
          display: block;
          padding: 7px 0 5px;
      }
      .item, span {
           .base-color(@woo-body-bg;34%);
      }
      .item.spr {
          color: @main-color;
      }
  }

/****** Price ******/

  .price,.regular-price {

      .price-title {
          width: 30%;
          display: inline-block;
          font-size: @woo-single-title-sm;
          .high-color(@woo-body-bg);
      }
      ins {
          text-decoration: blink;
      }
      .amount{
        color: @woo-price-color;
        font-size: @woo-price-size;
        font-weight: normal;
      }
      del .amount{
        color: @woo-price-color-del;
        font-size: @woo-price-size-del;
        font-weight: normal;
      }

      .discount {
          height: 2em;
          line-height: 2em;
          background: @woo-danger-color;
          position: relative;
          font-size: 12px;
          .high-color(@woo-danger-color);
          display: inline-block;
          margin: 0 15px;
          &::before {
              border-bottom: 4px solid transparent;
              border-left: 4px solid @woo-body-bg;
              border-top: 5px solid transparent;
              content: "";
              position: absolute;
              .left(0);
              top: 6px;
              .rtl-body &{
                  border-right: 4px solid @woo-body-bg;
                  border-left: 0 solid @woo-body-bg;
              }

          }
          .price-discount-title {
              background: lighten(@woo-danger-color,10%);
              display: block;
              .alignleft();
              //font-size: 10px;
              height: 100%;
              .padding-left(12px;8px);
              text-align: center;
          }
          .price-discount-value {
              padding: 0 11px;
              position: relative;
              top: -1px;
              //font-size: 10px;
              .amount{
                  .high-color(@woo-danger-color);
                  font-size: 10px;
              }
          }

      }

  }

/****** Stock ******/

  .stock-title {
      width: 30%;
      display: inline-block;
      font-size: @woo-single-title-sm;
      .high-color(@woo-body-bg);
  }
  .stock {
      display: inline-block;
      font-weight: normal;
      padding: 0 8px;
      .base-color(@woo-body-bg);
      font-size: 12px;
      height: 2em;
      line-height: 1.9em !important;
      &:before {
          font-family: 'FontAwesome';
          font-size: 12px;
          .padding-right(5px);
      }
  }
  .stock.in-stock {
      background: @woo-success-color;
      .high-color(@woo-success-color);
      &:before {
          content: "\f00c";
      }
  }
  .stock.out-of-stock {
      background: @woo-info-color;
      .high-color(@woo-info-color);
      &:before {
          content: "\f00d";
      }
  }


/****** Quantity ******/

  .quantity{
      margin: @woo-single-spacing 0;
      border-bottom: @woo-single-border;
      padding-bottom: @woo-single-spacing;
  }

/****** Group Product ******/

  .group-product{
    display: block;
    width: 100%;
    .group-product-cell {
        display: inline-block;
        padding: 0 0 15px;
        vertical-align: middle;
        float: none;
        line-height: 40px;
    }
    .quantity {
        margin: 0;
        border-bottom: 0 none;
        padding-bottom: 0;
    }
    .label a {
        .high-color(@woo-body-bg);
        display: block;
        font-size: @woo-single-title-sm;
        margin: 0 @woo-single-spacing;
        vertical-align: top;
    }

    .stock-title,
    .price-title,
    .discount {
        display: none;
    }

    .price-panel{
        display: inline-block;
        > div {
            display: inline-block;
        }
    }

    .price,.regular-price {
        .amount{
          font-size: @woo-price-size - 2;
        }
        del .amount{
          font-size: @woo-price-size-del;
        }
    }
    & ~ .price{
        clear: both;
        display: block;
        border-bottom: @woo-single-border;
        border-top: @woo-single-border;
        margin-bottom: @woo-single-spacing;
        color: @main-color;
        padding: 5px 0;
    }

  }


/****** Variations Form ******/

  .variations_form{
      .variations{
        width: 100%;
        margin-bottom: @woo-single-spacing;
        border-bottom: @woo-single-border;
        tr {
            border-bottom: @woo-single-border;
            &:last-child {
                border: medium none;
            }
            td {
                  display: table-cell;
                  width: 70%;
                  vertical-align: middle;
                  &:first-child,&.label{
                      width: 30%;
                  }
            }
            td.label > label {
                .high-color(@woo-body-bg);
                font-size: @woo-single-title-sm;
            }
            td.value {
                padding:@woo-single-spacing 0;
                select{
                  width: 100%;
                }
                .reset_variations {
                    display: none;
                    .low-color(@woo-body-bg);
                    display: block;
                    font-size: @font-size-small;
                    .textright();
                    line-height: @font-size-small + 13;
                    &:hover{
                        color:@main-color;
                    }

                }
            }
        }
      }

  }
  .single_variation_wrap{
      margin-bottom: @woo-single-spacing;
      .single_variation{
          .price {
            display: block;
            float: none;
            line-height: 30px;
          }
          p {
              display: inline-block;
              margin: 0;
              line-height: 30px;
          }
      }
  }


/****** Product Excerpt ******/

  .product-type-external {
      .cart{
          padding-top: @woo-single-spacing;
          margin-top: @woo-single-spacing;
          border-top: @woo-single-border;
      }
  }


/****** Product Excerpt ******/

  .product-excerpt{
      max-height: 270px;
      height: 270px;
      display: block;
      overflow: hidden;
      .transition(all 1s ease 0.1s);        
      position: relative;
      padding-bottom: 40px;       
      .product-excerpt-title{
          font-size: @woo-title-md;
      }
      .gl-spr {
          display: block;
          margin-bottom: 15px;
      }
      &.show-more-info{
          max-height: 2000px;          
          height: auto;  
          //overflow: visible;  
          //.transition(all 1s ease 0.5s);
          
          .excerpt-show-more {
              //position: relative;
              //background: transparent;
              box-shadow: none;
              &::before {
                  content: "\f106";
              }
          }
      }
      .excerpt-show-more {
          text-align: center;
          line-height: 33px;
          display: block;
          cursor: pointer;
          position: absolute; 
          bottom: 0;
          left: 0;
          width: 100%;
          background: @woo-body-bg;
          box-shadow: 0 -20px 20px fade(@woo-body-bg,90%);
          .transition(all 1s ease 0.1s);    
          &::before {
              content: "\f107";
              font-family: FontAwesome;
              font-size: 20px;
              padding: 0 8px 0 0;
              vertical-align: middle;
              //.transition(all 0.25s  ease);     
          }
      }
      > p {
          .base-color(@woo-body-bg);
          margin-bottom: 20px;
      }
      .add-to-cart-form{
          overflow: hidden;
          margin: 40px 0;
      }
      form{
         line-height: 34px;
        .buttons_added {
            .margin-right(10px);
            .alignleft();
        }
      }
  }

/*******  product gallery  *******/

  .parent-product-gallery{}
  .product-gallery{
      margin-bottom: 15px;
      margin-right: 0;
      .rtl-body &{
          margin-right: -15px;
          margin-left: 0;
      }
      .product-slider-nav{
        max-width: 150px;
      }

      .slick-list{
          margin-bottom: 30px;
          margin-top: 30px;
          margin-left: 0;
          margin-right: 0;
      }
      .product-slider-nav .slick-slide{
          padding-bottom: 7px;
          padding-top: 7px;
      }
      img{
          max-width: 100%;
          width: 100%;
      }
      .slide-nav-bt{
          background: none repeat scroll 0 0 transparent;
          .border-radius(1000px);
          border: 0px solid;
          .base-color(@woo-body-bg;24%;color);
          cursor: pointer;
          display: block;
          height: 1.2em;
          width: 1.2em;
          line-height: 1.3em;
          font-size: 24px;
          margin-left: -0.6em;
          margin-top: 0;
          top: auto;
          opacity: 1;
          outline: medium none;
          position: absolute;
          text-align: center;
          left: 50%;
          .transition(all 500ms);
          .rtl-body &{
              margin-left: 0;
              margin-right: -0.6em;
              left: 0;
              right: 50%;
          }
          &:hover{
              background: @main-color;
              border-color: @main-color;
              .high-color( @main-color );
          }
          &.slide-next{
              bottom: 0px;
          }
          &.slide-prev{
              top: 0px;
          }
      }
      .product-slider-for {
          position: relative;
          padding: 0;
          & > div{
              display: none;
              &.active{
                  display: block;
              }
          }
      }  
      .product-toolbar-container{  
          position: relative;
          padding: 0;
          border: 1px solid @woo-border-color;
          .product-toolbar{
              display: block;
              width: 100%;
              position: absolute;
              z-index: 998;
              left: 0;
              right: 0;
              top: 0;
              background-color: rgba(0,0,0,0.4);
              color: #fff;
              padding: 0 3px;
              text-align: left;
              .transition(all 0.45s ease);

              > * {
                display: inline-block;
                float: left;  
              }
              >.clear{
                display: none;
              }
              .expand-open-popup {
                  width: 32px;
                  height: 32px;
                  line-height: 32px;
                  text-align: center;
                  @media (max-width: 1024px) {
                      display: none !important; 
                  }
              }
              .product-social-share {
                  position: relative;
                  background: transparent;
                  height: 32px;
                  width: 32px;
                  line-height: 32px;
                  text-align: center;
                  box-shadow: none;
                  border: 0;
                  border-radius: 0;
                  padding: 0;
                  margin: 0;
              }
              .yith-wcwl-add-to-wishlist .ajax-loading{
                margin: 0; 
                text-align: center;  
              }
              .expand-open-popup,
              .product-social-share,
              .yith-wcwl-add-to-wishlist .show a::before,
              a.compare::before{
                  font-size: 16px;
                  color: #fff
              }

          }

          .product-badge {
              top: -4px;
              right: -4px; 
              .opacity(1);
              height: 78px;
              width: 78px;
              position: absolute;
              box-sizing: border-box;
              text-align: center;
              display: block;
              z-index: 998;
              line-height: 0;
              overflow: hidden;
              .product-badge-s1 {
                  position: absolute;
                  z-index: 99;
                  top: 0;
                  left: 2px;
                  border-bottom: 4px solid darken(@main-color-darker,10%);
                  border-left: 3px solid transparent;
                  width: 10px;
              }
              .product-badge-s2 {
                  position: absolute;
                  z-index: 99;
                  bottom: 2px;
                  right: 0px;
                  border-left: 4px solid darken(@main-color-darker,10%);
                  border-bottom: 3px solid transparent;
                  height: 10px;
              }
              .product-badge-text {
                  background: @main-color;
                  .high-color(@main-color);
                  font-size: 11px;  
                  font-weight: bold;
                  line-height: 24px;
                  position: absolute;
                  text-align: center;
                  z-index: 100;
                  .rotate(45deg);  
                  top: 16px;
                  left: -6px;
                  width: 112px;
                  text-align: center;
              }
              &.out-of-stock-badge.out-of-stock{
                  .product-badge-s1 {
                      border-bottom: 4px solid darken(@woo-info-color,20%);
                  }
                  .product-badge-s2 {
                      border-left: 4px solid darken(@woo-info-color,20%);
                  }
                  .product-badge-text {
                      background: @woo-info-color;
                      .high-color(@woo-info-color);
                      &:before {
                          content: "\f00d";
                          font-family: 'FontAwesome';
                          font-size: 9px;
                          padding: 0 5px 0 0;
                          .rtl-body &{
                              padding: 0 0 0 5px;
                          }
                      }
                  }
              }
          }

      }

      .product-slider-nav {
          margin-top: 0;
          overflow: hidden;
          margin-bottom: 0;
          .slick-slide{
              .border-radius(0);
              cursor: pointer;
              overflow: hidden;
              width: 90px;
              > a {
                  display: block;
                  //margin: 0 7px;
                  .opacity(0.6);
                  border: 1px solid @woo-border-color;
                  overflow: hidden;
              }
              img{
                .scale(1);
                .transition( all 0.25s ease-out );
              }
              > a.active,&:hover > a {
                  img{
                    .scale(1.1);
                  }
                  .opacity(1);
              }

          }

      }
      &:hover{
          .slide-nav-bt{
              opacity: 1;
          }
      }
  }


/*******  product tabs  *******/

 .single-product-tabs{
    margin: 50px 0 20px;
    padding-bottom:20px;
    .nav-tabs {
        border-top: 1px solid @woo-border-color;
    	border-bottom: 2px solid @main-color;
        text-align: center;
        > li {
            display: inline-block;
            float: none;
            margin-bottom: 0px;
            margin-top: -2px;
            > a {
	            background: none;
                border: 1px solid transparent;
                .border-radius(0);
                line-height: 1.42857;
                .margin-right(2px);
                display: block;
                padding: 14px 15px;
                position: relative;
                border-left: medium none;
                border-right: medium none;
                &::after{
                	font: normal normal normal 14px/1 FontAwesome;
                	content: "\f0d8";
                	position: absolute;
                	bottom: -40px;
                	left: 50%;
                	right: 50%;
                	.translateX(-50%);
                	color: rgba(0,0,0,0);
                	.transition(all 0.3s ease-out 0s);
                	opacity: 0;
                	visibility: hidden;
                }
                &::before{
                	content: '';
                	width: 100%;
                	height: 1px;
                	background: @main-color;
                	position: absolute;
                	top: 0;
                	left: 0;
                	right: 0;
                	.scale(0, 1);
              }
              &:hover, &:focus , &:active {
                  background: none repeat scroll 0 0 transparent;
                  color:@main-color;
              }
            }
            &:hover,
            &.active{
              > a{
                  color:@main-color;
                  &::before{
                  	.scale(1);
                  	.transition(all 0.3s ease-out 0s);
                  }
                  &::after{
                  	color: @main-color;
                  	bottom: -5px;
                  	opacity: 1;
                  	visibility: inherit;
                  }
              }
            }
        }
    }

    .single-product-tabs-title {
        .high-color(@woo-body-bg);
        font-size: @woo-title-md;
        padding: 30px 0 15px;
        margin: 0;
    }
 }

/*******  comments  *******/

  .single-product-reviews{
      .commentlist-title {
          border-bottom: 1px solid @woo-border-color;
          padding-bottom: 20px;
      }
      .commentlist{

          .comment_container {
              border-bottom: 1px solid @woo-border-color;
              overflow: hidden;
              padding: 25px 0px;
              .comment-avatar {
                    padding-right: 15px;
                    img {
                        border: 1px solid @woo-border-color;
                        border-radius: 100%;
                        height: 55px;
                        width: 55px;
                    }
              }
              .comment-text{
                  width: 100%;
                  .star-rating {
                      float: right;
                  }
                  .meta{
                    strong {
                        .high-color(@woo-body-bg);
                        font-size: @font-size-small;
                    }
                    time {
                        .low-color(@woo-body-bg);
                        font-size: @font-size-small;
                    }
                  }
                  .description > p {
                      .base-color(@woo-body-bg);
                  }
              }
              .comment-avatar,.comment-text{
                  display: table-cell;
                  vertical-align: top;
              }
          }

      }

     .review_form_wrapper{
        .stars {
            position: relative;
            height: 20px;
            width: 85px;
            a {
                position: absolute;
                .opacity(0);
                font-size: 15px;
                &:hover,&:focus,&.selected{
                    .opacity(1);
                }
                /*color: rgba(0,0,0,0) !important;
                i{
                  color: @main-color;
                }
                &:hover{
                    color: darken( @main-color , 10%);
                }*/

            }
            .star-0{
                .opacity(1);
            }
        }

        .comment-reply-title {
            .high-color(@woo-body-bg);
            font-size: @woo-title-md;
            margin-bottom: 30px;
            margin-top: 40px;
        }
        .commentlist {
            padding: 0 15px;
        }
        .form-group.comment-form-rating {
            height: 53px;
        }
        .comment-form{
            margin: 0 -8px;
        }
        .required {
              color: @brand-danger;
        }
        .comment-textarea, .comment-input > .form-group {
            padding: 0 8px;
        }
        .comment-textarea-login{
          width: 100% !important;
          max-width: 100%;
          padding: 0;
        }
        /*.comment-input {
            padding-left: 0 !important;
        }
        .comment-textarea {
            padding-right: 0 !important;
        }*/
        .comment-textarea {
            textarea {
                min-height: 100px;
                padding: 10px;
            }
        }
        .form-group {
            margin-bottom: 10px;
        }
        .form-control {
            width: 100%;
        }

      }


  }
  .text-icon-module.text-icon-module-skin4 {
      margin-top: 30px;
      margin-bottom: 10px;
  }
}

/*******  Dialog  *******/

.ui-dialog {
	overflow: hidden;
	position: absolute;
	top: 0;
	left: 0;
	padding:0;
	outline: 0;
    border: 1px solid #ddd;
    background: #ffffff;
    z-index: 1071;
}
.ui-widget-overlay {
    background: rgba(0,0,0,0.6);
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: block;
    z-index: 1070;
}
.ui-dialog .ui-dialog-titlebar {
	padding: 10px 50px 10px 15px;
	position: relative;
    border: 1px solid transparent;
    background: #eee;
}
.rtl-body .ui-dialog .ui-dialog-titlebar {
  padding: 10px 15px 10px 50px;
}
.ui-dialog .ui-dialog-title {
    float: none;
    margin: 0;
    white-space: nowrap;
    width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
    cursor: move;
    color: #333;
    display: block;
}
.ui-dialog .ui-dialog-titlebar-close {
    position: absolute;
    right: 8px;
    top: 50%;
    width: 28px;
    margin: -15px 0 0 0;
    padding: 1px;
    height: 28px;
    line-height: 28px;
    border-radius: 1000px;
    border: 1px solid rgba(0,0,0,0.4);
    background: rgba(0,0,0,0.4);
    font-weight: normal;
    color: #fff;
}
.rtl-body .ui-dialog .ui-dialog-titlebar-close{
    right: auto;
    left: 8px;
}
.ui-state-default .ui-icon {
    display: block;
}
.ui-state-default .ui-icon::before {
    content: "\f00d";
    font-family: 'FontAwesome';
    font-size: 13px;
    height: 1em;
    width: 1em;
    line-height: 1em;
}

.ui-dialog .ui-button-icon-only .ui-button-text,.ui-dialog .ui-button-icons-only .ui-button-text {
    padding: 15px;
    text-indent: -9999999px;
    display: block;
    overflow: hidden;
}
.ui-dialog .ui-dialog-content {
	position: relative;
	border: 0;
	padding: 20px 25px;
	background: none;
	overflow: auto;
}
.ui-dialog .ui-dialog-buttonpane {
	text-align: left;
	border-width: 1px 0 0 0;
	background-image: none;
	margin-top: 15px;
	padding: 15px 25px 15px 15px;
}
.ui-dialog .ui-dialog-buttonpane .ui-dialog-buttonset {
	float: right;
}
.ui-dialog .ui-dialog-buttonpane button {
	margin: 15px 15px 15px 0;
	cursor: pointer;
}
.ui-dialog .ui-resizable-se {
	width: 12px;
	height: 12px;
	right: -5px;
	bottom: -5px;
	background-position: 16px 16px;
}

/*******  Dialog Content  *******/
.ui-dialog .product-popup-gallery.ui-dialog-content{
    overflow: hidden;
    padding: 0;
    .product-popup-gallery-inner {
        display: table;
        width: 100%;
        .popup-thumbnails {
            display: table-cell;
            width: 22%;
        }
        .popup-main-image {
            width: 78%;
            display: table-cell;
            text-align: center;
            vertical-align: top;
            img {
                max-width: 100%;
                max-height: 460px;
                margin: 30px 0;
            }
        }
    }
    .popup-product-slider-nav {
        height: 520px;
        width: 100%;
        display: block;
        border-right: 1px solid @base-border-color-light;  
        .rtl-body &{
            border-right: 0px solid @base-border-color-light;  
            border-left: 1px solid @base-border-color-light;
        }
        .slider-item{
            position: relative;
            margin-right: -1px;
            .rtl-body &{
                margin-right: 0px;
                margin-left: -1px;
            }
            &::before {
                content: "";
                height: 100%;
                display: block;
                width: 2px;
                background: transparent;
                position: absolute;
                right: 0;
                top: 0;
                z-index: 1;
                .rtl-body &{
                    right: auto;
                    left: 0px;
                }
            }
            &:hover,
            &.active{
              &::before {
                  background: @main-color;
              }
              a {
                  &::after{
                  	color: @main-color;
                  	right: 0px;
                  	opacity: 1;
                  	visibility: inherit;
                    .rtl-body &{
                        right: auto;
                        left: 0px;
                    }
                  }
              }
            }
            a {
                display: block;
                width: 100%;
                height: 130px;
                line-height: 130px;
                text-align: center;
                overflow: hidden;
                position: relative;
                border-right: 1px solid @base-border-color-light;
                border-bottom: 1px solid @base-border-color-light;
                .rtl-body &{
                    border-right: 0px solid transparent;
                    border-left: 1px solid @base-border-color-light;
                }
                img{
                  max-width: 100px;
                }
                &::after{
                	font: normal normal normal 18px/1 FontAwesome;
                	content: "\f0d9";
                	position: absolute;
                	right: -40px;
                	top: 50%;
                	.translateY(-50%);
                	color: rgba(0,0,0,0);
                	.transition(all 0.3s ease-out 0s);
                	opacity: 0;
                	visibility: hidden;
                    .rtl-body &{
                        right: auto;
                        left: -40px;
                        content: "\f0da";
                    }
                }
            }
            &:last-child{
                a {
                   // border-bottom: 0px solid transparent;
                }
            }
        }
    }
    .mCSB_container,
    .mCustomScrollBox {
        overflow: visible;
    }    
}


/*******  mCSB scrollTools  *******/

.rtl-body .product-popup-gallery .mCSB_scrollTools {
    left: auto !important;
    right: 0 !important;
}
.product-popup-gallery .mCSB_container {
    margin-right: 0 !important;
    margin-left: 0 !important;  
}


/*******  social icons  *******/
#product-social-share-box.social-icons{
    margin: 10px;
    text-align: center;
    .product-share{
        color:#fff;
        .border-radius(1000px);
        font-size: 17px;
        display: inline-block;
        .margin-right(5px);
        margin-bottom: 5px;
        width: 1.8em;
        height: 1.8em;
        line-height: 1.9em;
        text-align: center;
        .transition(all 500ms ease);
        &:hover{

        }
        > i{
          font-size: 17px;
          line-height: 1.9em;   
        }
       &.mailto { background-color: #9fae37; border-color: #9fae37;&:hover{}}
       &.linked-in { background-color:#419cca ; border-color:#419cca ;&:hover{}}
       &.tumblr { background-color: #345574; border-color: #345574; &:hover{}}
       &.facebook { background-color: #37589b; border-color: #37589b;&:hover{}}
       &.pinterest { background-color: #cb2027; border-color: #cb2027; &:hover{}}
       &.reddit { background-color: #ff4500; border-color: #ff4500; &:hover{}}
       &.twitter { background-color: #46d4fe; border-color: #46d4fe; &:hover{}}
       &.google-plus { background-color: #de5a49; border-color: #de5a49; &:hover{}}
       &.vkontakte { background-color: #597ba5; border-color: #597ba5; &:hover{}}
    }
}



.zoomLens{
  z-index: 997 !important;
}

body  .popover{  
  .border-radius(2px);   
  z-index: 999; 
}
.rtl-body .popover{
  text-align: right;     
  left: auto;
}

.rtl-body .popover.bottom > .arrow:after {
    margin-left: auto;
    margin-right: -10px; 
}


.rtl-body .module-woocomerce-single-product.woocomerce-single-product-default{

/*******  comments  *******/

    .single-product-reviews{
        .commentlist{

            .comment_container {
                .comment-avatar {
                      padding-left: 15px;
                      padding-right: 0px;
                }

            }
            .comment-text .star-rating {
                float: left;
            }

        }
        .woocommerce-pagination{
          ul {
              li {
                    float: right;
                  a.fa{
                    .rotate(180deg);
                  }
                  &.icon{
                      a {
                          line-height: 1.85em;
                      }
                  }
              }
          }
        }
    }
}



.sed_mobile_version {


@woo-border-color:      @base-border-color-light;
@woo-bg-color-dark:     @base-border-color-light;
@woo-bg-color-light:    @base-color-b-lighter;

  .module-woocomerce-single-product.woocomerce-single-product-default{


//titles
@woo-title-lg:          @font-size-h4 - 2;
@woo-line-height-lg:    @font-size-h4 + 7;
@woo-title-md:          @font-size-h4 - 2;
@woo-line-height-md:    @font-size-h4 + 7;     

    margin-bottom: 10px;     
    .product-head {  
        margin-left: -30px;
        margin-right: -30px;
        padding: 10px 30px;
        margin-bottom: 0;
        background-color: @woo-bg-color-light;
        border-top: 1px solid  @woo-border-color;
        border-bottom: 1px solid  @woo-border-color;
        .product-title {
          font-size: @woo-title-lg;
          line-height: @woo-line-height-lg;
        }
    }
    .product-excerpt{
        .product-excerpt-title{
            font-size: @woo-title-md;
        }   
    }   
    .single-product-tabs{
        .single-product-tabs-title {
            font-size: @woo-title-md;
        } 
    } 
    .single-product-reviews{
      .review_form_wrapper{
        .comment-reply-title {
            font-size: @woo-title-md;
        }
      }
    }       
    .single-mobile-dialogs {
        margin-left: -30px;
        margin-right: -30px;
        padding: 10px 3px;
        background: @woo-bg-color-dark;
        text-align: center;      
        font-size: 0;
        .clearfix();
        > div {
            width: 50%;
            padding: 2px;
            display: inline-block;
            margin: 0;
            font-size: @font-size-base;  
            .btn-default {
                max-width: 100%;
                width: 100%;
                background-color: @body-bg;      
                border-color: darken(@woo-border-color, 5%);          
                &:hover, &:focus, &:active, &.active{  
                    background-color: @main-color; 
                    border-color: @main-color; 
                    .high-color(@main-color);  
                }  
                a,.sed-go-mobile-btn {
                    width: 100%;
                    overflow: hidden;
                    white-space: nowrap;
                    text-overflow: ellipsis;
                    display: block;
                } 
            }
        }
    }
    .sed_product_description {
        text-align: center;
        padding: 10px;
    }   
    //.single_add_to_cart_button, 
    //.add_to_cart button ,
    .sed_sms_buy_button{
        position: fixed;
        width: 100%;
        bottom: 0;
        z-index: 1000;  
        right: 0;
        left: 0;
        min-height: 46px;
        background: #222;
        border-color: #222;
        >a{
          color: #fff;
        }
    }

  }
  &.mobile{

      .module-woocomerce-single-product.woocomerce-single-product-default{

          .product-gallery.row {
              margin-left: -30px;
              margin-right: -30px;
              margin-bottom: 0;
          }
          .product-gallery .slick-list {
              margin-bottom: 0;
              margin-top: 0;
              margin-left: 0;
              margin-right: 0;
          }  
          #sed_product_image_gallery_mobile_carousel{
              &.slick-slider {
                  margin-bottom: 0;
              }                 
              .slick-dots{
                bottom: 0;
                position: absolute;
              }

              .slick-dots li {
                  margin: 0;
                  width: 15px;
              }
              .slick-dots li button:hover,
              .slick-dots li button:focus {
                  outline: none;
              }
              .slick-dots li button:hover:before,
              .slick-dots li button:focus:before {
                  opacity: 1;
              }
              .slick-dots li button:before {
                font-size: 0;
                opacity: 0.6;
                -webkit-font-smoothing: antialiased;
                -moz-osx-font-smoothing: grayscale;
                border: 1px solid;
                //.base-color(@body-bg;24%;border-color);
                border-color: @base-border-color;
                height: 10px;
                width: 10px;  
                .border-radius(500px);
                padding: 0;
                margin: 0px;
              }
              .slick-dots li.slick-active button:before {
                  border-color: @main-color; 
                  background-color: @main-color;
                  opacity: 1;
              }   
              .product-toolbar-container{ 
                border: 0px solid;
              } 
          }           

      }   
      #sed_product_image_gallery_mobile_page{
          .product-toolbar-container.product-slider-for {   
              width: 100%;
              padding: 0;
              text-align: center;
              img{
                max-width: 100%;  
              }          
              /*.product-badge {
                  top: 0px;
                  right: 0px; 
              }*/
          }
          .product-slider-nav {
              position: absolute !important;
              bottom: 0;
              left: 0;
              right: 0;
              display: block !important;
              width: 100%;
              z-index: 1;
              background-color: rgba(0,0,0,0.5);
              padding: 15px 30px;
              margin: 0;
              .slick-list {
                  margin-left: -10px;
              }
              .slick-slide {
                  margin-left: 10px;
                  img {
                      max-width: 100%;    
                  }    
              }              
          }        
      }

  }
  .you-may-also-like-container,
  .related-products-container{
      background-color: @woo-bg-color-light;  
      margin-left: -30px;
      margin-right: -30px;   
      .sed-products-carousel {
          margin-bottom: 0;
      }
      .sed-general-products-spr {
          display: none;
      }      
      .sed-general-products-title {
          padding: 20px 30px;
          margin: 0;
      }  
      .module.modules-woocommerce{
          padding-bottom: 5px;
      }     
  }

}