/*#less_info#(
"handle"    => "posts-share-skin4",
"deps"      => array(),
"ver"       => "1.0.0",
"media"     => "all"
)#*/
.posts-share-skin4{
    &.module{
      padding-top: 10px;
      padding-bottom: 10px;
    }
    .social-navs{
        display: inline-block;
        > .label {
            margin: 0;
            padding: 2px 7px;
            .base-color(@body-bg;25%);
            border-radius: 2px;
            line-height: 18px;
            font-size: 12px;
            display: block;
            > i {
                padding: 0 4px 0 0;
            }
        }

        &:hover{
          .social-list {
              visibility: visible;
          }
        }

        .social-list {
            display: block;
            left: 72px;
            margin: 0;
            padding: 0 0 0 10px;
            position: absolute;
            top: -6px;
            height: 34px;
            visibility: hidden;
            z-index: 950;
            &::before {
                display: block;
                position: absolute;
                top: 8px;
                left: -6px;
                width: 0;
                height: 0;
                content: "";
                border-color: transparent @base-color-c transparent transparent;
                border-style: solid;
                border-width: 9px;
                z-index: 999;
            }
            .social-list-inner {
                list-style: none;
                position: relative;
                display: block;
                background-color: @base-color-c;
                z-index: 990;
                -webkit-border-radius: 2px;
                -moz-border-radius: 2px;
                -ms-border-radius: 2px;
                -o-border-radius: 2px;
                border-radius: 2px;
                padding: 0 4px !important;
                height: 34px;
                line-height: 38px;
                font-size: 17px;
                > li {
                    display: inline-block;
                    position: relative;
                    text-align: center;
                    > a {
                        display: block;
                        height: 20px;
                        line-height: 20px;
                        padding: 3px 5px;
                        -webkit-box-sizing: content-box;
                        -moz-box-sizing: content-box;
                        box-sizing: content-box;
                        margin: 0 !important;
                        .hi-icon {
                            .high-color(@base-color-c);
                            text-align: center;
                        }

                    }

                }
                .mailto { &:hover{a{ .hi-icon{color: #9fae37; }}}}
                .linked-in { &:hover{a{ .hi-icon{color:#419cca ; }}}}
                .tumblr { &:hover{a{ .hi-icon{color: #345574; }}}}
                .facebook { &:hover{a{ .hi-icon{color: #37589b; }}}}
                .pinterest { &:hover{a{ .hi-icon{color: #cb2027; }}}}
                .reddit { &:hover{a{ .hi-icon{color: #ff4500; }}}}
                .twitter { &:hover{a{ .hi-icon{color: #46d4fe; }}}}
                .google-plus { &:hover{a{ .hi-icon{color: #de5a49; }}}}
                .vkontakte { &:hover{a{ .hi-icon{color: #597ba5; }}}}
            }
        }
    }

}
.rtl-body .posts-share-skin4{
    .social-navs{
        > .label {
            > i {
                padding: 0 0 0 4px;
            }
        }

        .social-list {
            left: auto;
            right: 72px;
            padding: 0 10px 0 0;
            &::before {
                left: auto;
                right: -6px;
                border-color: transparent transparent transparent @base-color-c;
            }
        }
    }
}