/*
#less_info#(
"handle"  =>"main-tab-skin4",
"deps"    => array("main-tab"),
"ver"     => "1.0.0",
"media"   => "all",
"import"  => array(
    "@sed-modules-root/tab/less/main.less" 
)
)#
*/
@import "../../../less/main.less";
.module-tab.tab-skin4{
 @skin-bg:       @body-bg;
 .skin-border-color {
    border-color:@base-border-color;
}
// Give the tabs something to sit on
.nav-tabs {

    border: none;
    width: 100%;
    > li {
        display: table-cell;
        width: 1%;
        min-width: 80px;
        // Make the list-items overlay the bottom border
        float:none;
        text-align: center;
        @media (max-width: @screen-xs-max) {
            display: block;
            width: 100%;
        }
        // Actual tabs (as links)
        > a {
            .low-color(@nav-tabs-bg);
            margin-right: 0px;
            line-height: @line-height-base;
            border: none;
            .border-radius( 0);
            position: relative;
            width: 100%;
            padding: 25px 15px 10px;
            &:hover { background-color: transparent; }
            .transition(all 0.35s ease-in);

              .module.module-icons{
                  display: block;
                  margin-bottom: 10px;
                  text-align: center;
                  .hi-icon {
                      .lower-color(@nav-tabs-bg);
                      display: block;
                      font-size: 40px;
                      padding: 0;
                      margin: 0 auto;
                      .transition(all .35s ease-in);
                      height: auto;
                      line-height: 1em !important;
                      width: auto;
                      display: inline-block;  
                  }
            }
            span {
                .low-color(@nav-tabs-bg);
            }
            &:before {
                content: '';
                position: absolute;
                top: 0px;
                left: 0;
                width: 100%;
                height: 1px;
                background-color:@base-border-color-light;
                .transition(all .4s ease-in);
            }
            &:after {
                content: '';
                position: absolute;
                top: 0;
                left: 50%;
                width:          9px;
                height:         9px;
                margin-left:    -4px;
                margin-top:     -4px;
                .border-radius( 100%);
                background-color:@base-border-color;
                .transition(all .35s ease-in);
            }
        }
        &:first-child > a:before {
            width: 50%;
            right: 0;
            left: auto;
        }
        &:last-child > a:before {
            width: 50%;
        }

        // Active state, and its :hover to override normal :hover
        &:hover ,
        &:focus ,
        &.active {
            > a {
                &,
                &:hover,
                &:focus {
                    .base-color(@skin-bg);
                    border: none;
                    border-bottom-color: transparent;
                    cursor: default;
                    background-color: transparent;
                }
                &:after {
                    width:          15px;
                    height:         15px;
                    margin-left:    -7px;
                    margin-top:     -7px;
                    background-color: @skin-bg;
                    border: 2px solid @main-color;
                }
                .module-icons{
                   .hi-icon {
                     color: @main-color;
                   }
                }
                span {
                    color: @main-color;
                }
            }
        }
    }
    // pulling this in mainly for less shorthand
    &.nav-justified {
        .nav-justified();
        .nav-tabs-justified();
    }
}

.tab-content {
    padding: 15px;
    text-align: center;
}
}
.module.module-tab.tab-skin4.tab-resize-responsive{
    .nav-tabs > li{
        display: block;
        width: 100%;
    }
}

.rtl-body .module.module-tab.tab-skin4{
  .nav-tabs {
      > li {
          &:first-child > a:before {
              width: 50%;
              left: 0;
              right: auto;
          }
          &:last-child > a:before {
              width: 50%;
              right: 0;
              left: auto;
          }
      }
  }
}