//== Tables
//
//## Customizes the `.table` component with basic values, each used across all table variations.

//** Padding for `<th>`s and `<td>`s.
@table-cell-padding:            8px;
//** Padding for cells in `.table-condensed`.
@table-condensed-cell-padding:  5px;

//** Default background color used for all tables.
@table-bg:                      @body-bg;
//** Background color used for `.table-striped`.
@table-bg-accent:               mix(@table-bg, #888, 80%);
//** Background color used for `.table-hover`.
@table-bg-hover:                @main-color;
@table-bg-active:               @table-bg-hover;

//** Border color for table and cell borders.

@skin-border-radius:    @border-radius-base;