/*#less_info#(
"handle" => "single-posts-skin4",
"deps" => array("post-main-less"),
"ver" => "1.0.0",
"media" => "all"
)#
*/
/*for all */
.module.single-posts.single-posts-skin4 {
    .entry-header {
        margin-bottom:0  !important;
        .thumb{
            margin-bottom: 20px;
            img {
                max-width: 100%;
            }
            &.image_type_full-width img{
                width: 100%;
            }
            &.image_type_center-align {
                text-align: center;
            }
        }
        .entry-meta {
            margin-bottom: 20px;
            display: block;
            padding: @padding-base 0  @padding-sm;
            color:@base-color-b-dark;
            border-bottom: 1px solid @base-border-color-light;
            .item,.edit-link ,span,a{
             .base-color(@body-bg;25%);
             font-size: @font-size-small - 1;
            }
            i{
             .base-color(@body-bg;25%);
             font-size: @font-size-small + 1;
            }
            .item,.edit-link {
              display: inline-block;
              padding: 0 8px 0 0;
              i.fa{
                padding: 0 2px 0 0;
              }

              &:hover {
              i ,span,a{
                color: @main-color;
              }
             }
           }
        }
        .title{
            //border-top: 1px solid @base-border-color-light;
            margin: 0 0 10px;
            //padding: @padding-lg 0 0;
            h1 {
                font-size: @font-size-h3;
                display: inline-block;
                vertical-align: middle;

            }/*
            .post-format {
                display: inline-block;
                vertical-align: middle;
                i {
                      color: @main-color;
                      font-size: 2*@font-size-h3 - 4;
                      margin:5px 10px;
                }
            }  */
        }



    }

    .entry-footer {
        margin-top: 20px;
        margin-bottom: 0px;
        text-align: right;
        .entry-inner {
            .border-radius(3px);
            //margin-bottom: 20px;
            overflow: hidden;
            //padding: @padding-sm @padding-base;
            color: @main-color;
            .post-tags{
                text-align: left;
                .label {
                  margin: 0 10px 0 0;
                  font-weight: normal;
                }
                i {
                  padding: 0 @padding-sm - 1 0 0;
                }
                .post-tag {
                  display: inline-block;
                }
                h4{
                  margin: 0;
                }
            }
            .post-cats{
                text-align: left;
                .label {
                  margin: 0 10px 0 0;
                }
                i {
                  padding: 0 @padding-sm - 1 0 0;
                }
                .post-cat {
                  display: inline-block;
                }
                h4{
                  margin: 0;
                }
            }
            .post-cats,
            .post-tags {
                .label {
                    margin: 0 10px 0 0;
                    padding: 2px 7px;
                    background: @base-color-c;
                    .high-color(@base-color-c);
                    .border-radius(2px);
                    line-height: 18px;
                    font-size: @font-size-small - 1;
                }
                > a{
                    padding: 2px 7px;
                    border: 1px solid @base-border-color-light;
                    .border-radius(2px);
                    margin: 0 2px 5px;
                    line-height: 18px;
                    .base-color(@body-bg;40%);
                    font-size: @font-size-small - 1;
                    &:hover{
                     color: @main-color;
                    }
                }
            }
        }
    }
}

.rtl-body .module.single-posts.single-posts-skin4 {
    .entry-header {
        .entry-meta {
            .item,.edit-link {
              padding: 0 0 0 8px;
              i.fa{
                padding: 0 0 0 2px;
              }
           }
        }
    }

    .entry-footer {
        text-align: left;
        .entry-inner {
            .post-tags{
                text-align: right;
                .label {
                  margin: 0 0 0 10px;
                }
                i {
                  padding: 0 0 0 @padding-sm - 1;
                }
            }
            .post-cats{
                text-align: right;
                .label {
                  margin: 0 0 0 10px;
                }
                i {
                  padding: 0 0 0 @padding-sm - 1;
                }
            }
            .post-cats,
            .post-tags {
                .label {
                    margin: 0 0 0 10px;
                }
            }
        }
    }
}