/*
#less_info#(
"handle"  =>"main-tab-default",
"deps"    => array("main-tab"),
"ver"     => "1.0.0",
"media"   => "all",
"import"  => array(
    "@sed-modules-root/tab/less/main.less"
)
)#
*/
@import "../../../less/main.less";
.module-tab.tab-default{
  @skin-bg:       @body-modules-bg;
  @skin-active-bg:        darken(@skin-bg, 6%);
 .skin-border-color {
    border-color:@base-border-color;
}
background-color: transparent;
// Give the tabs something to sit on
.nav-tabs {
    border: none;
    padding: 0;
    width:100%;
    > li {
        float: none;
        display: table-cell;
        min-width: 80px;
        // Make the list-items overlay the bottom border
        margin-bottom: -1px;
        text-align: left;
        //white-space: nowrap;
        width:1%;
        border-right: 1px solid @base-border-color;
        border-top: 1px solid @base-border-color;
        @media (max-width: @screen-xs-max) {
          display: block;
          width: 100%;
          border-left: 1px solid @base-border-color;
        }
        &:first-child {
            border-left: 1px solid @base-border-color;
        }
        // Actual tabs (as links)
        > a {
            margin: 0px;
            line-height: @line-height-base;
            border: none;
            .border-radius( 0);
            position: relative;
            //background: @skin-bg;
            .high-color(@nav-tabs-bg);
            .transition(all 0.1s ease-in);
            padding:8px 0;
            text-align: center;
            &:hover {
                background: fade(@skin-active-bg, 70%);
                .base-color(@skin-active-bg);
            }
            &:before {
                content: '';
                position: absolute;
                top: -1px;
                left: 0px;
                width: 100%;
                height: 0%;
                background: @main-color;
                .opacity(0);
                .transition(all .3s ease-in);
            }
            > span{
              padding: 0 6px;
              vertical-align: middle;
            }

            .module-icons{
                vertical-align: middle;
            }
        }// tag a
        &:hover {
            background: fade(@skin-active-bg, 70%);
            .base-color(@skin-active-bg);
        }

        // Active state, and its :hover to override normal :hover
        &.active{
            &,
            &:hover,
            &:focus {
                color: @main-color;
                background: fade(@skin-active-bg, 70%);
            }
        }
        &.active > a {
            &,
            &:hover,
            &:focus {
                color: @main-color;
                background: transparent;
                border: none;
                border-bottom-color: transparent;
                cursor: default;
            }
            .module-icons{
               .hi-icon {
                 color: @main-color;
               }
            }
            &:before {
                height: 3px;
                .opacity(1);
            }
        }
    }
    // pulling this in mainly for less shorthand
    &.nav-justified {
        .nav-justified();
        .nav-tabs-justified();
    }
}

.tab-content {
    padding: 20px;
    border: 1px solid @base-border-color;
    .base-color(@nav-tabs-bg);
}

}

.module.module-tab.tab-default.tab-resize-responsive{
    display: block;
    .nav-tabs > li{
          display: block;
          width: 100%;
          border-left: 1px solid @base-border-color;
    }
}
.rtl-body .module.module-tab.tab-default{

.nav-tabs {
    > li {
        &:first-child {
            border-left: 0px solid @base-border-color;
            @media (max-width: @screen-xs-max) {
              border-left: 1px solid @base-border-color;
            }
        }
        &:last-child {
            border-left: 1px solid @base-border-color;
        }
    }
}

}

