
.module.module-single-icon .hi-icon {
    cursor: pointer;
    display: block;
    height: 2.5em;
    line-height: 2.5em !important;
    text-align: center;
    width: 2.5em;
}

.module.module-single-icon.single-icon-default {
    display: inline-block
}

.module.module-single-icon.single-icon-default .hi-icon {
    height: 1.2em;
    line-height: 1.2em !important;
    width: 1.2em
}

.module.module-single-icon.single-icon-skin1 .hi-icon {
	background-color: transparent;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    border: 1px solid;
    border-color: #e61a33;
    color: #e61a33;
}

.module.module-single-icon.single-icon-skin2 .hi-icon {
	background-color: transparent;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    border: 1px solid;
    border-color: #e61a33;
    color: #e61a33;
}
