@module-bg:               mix(@main-color, #000, 20%);
@module-bg-fade:          85%;

@module-playlist-bg:      lighten(@module-bg, 6%);
@module-playlist-bg-curr: @module-bg;

@module-270p-width:       480px;
@module-360p-width:       640px;
@module-480p-width:       854px;
@module-720p-width:       1280px;

@module-270p-height:       270px;
@module-360p-height:       360px;
@module-480p-height:       480px;
@module-720p-height:       720px;