/*#less_info#(
"handle" => "portfolio-main-less",
"deps" => array(),
"ver" => "1.0.0",
"media" => "all"
)#
*/
/*for all */
.module.single-portfolio {

    .entry-header{
        .thumb img {
          max-width: 100%;
        }
        .sed-portfolio-title {
            margin: 30px 0 10px;
        }
    }

    .content-portfolio{
        margin-bottom: 30px;
    }


    .featured-image-left{
      text-align: left;
    }
    .featured-image-right{
      text-align: right;
    }
    .featured-image-center{
      text-align: center;
    }
    &.hide-spr-p-related > .related-posts-separator,
    &.hide-spr-p-share > .posts-share-separator,
    &.hide-spr-p-nav > .posts-nav-separator,
    &.hide-spr-p-author > .about-author-separator,
    &.hide-spr-p-comments > .posts-comments-separator,
    &.hide-separator-post > .posts-share-separator,
    &.hide-separator-post > .module-separator{
      display: none;
    }
    .item-posts-title {
        .high-color(@body-bg);
        font-size: 18px;
        margin: 0;
    }

}

.item-posts-title {
    .high-color(@body-bg);
    font-size: 18px;
    margin: 0;
}

.item-posts-module{
    padding-bottom: 30px;
    padding-top: 30px;
    .module-separator {
        margin-bottom: 30px;
    }
}
.module.posts-share{
    padding-top: 15px;
    padding-bottom: 15px;
}


.module.module-comments{
  .comments-area > .item-posts-title{
      margin-bottom: 30px;
      display: inline-block;
      background-color: #fff !important;
      line-height: 1em;
      z-index: 2;
      position: relative;
      padding-right: 8px;
      top: -0.5em;
      white-space: nowrap;
      .rtl-body &{
        padding-right: 0px;
        padding-left: 8px;
      }

  }
}

.posts-comments-separator{
  z-index: 1;
  position: relative;
}

.post-password-form input[type="password"]{
    background-color: @body-modules-bg;
    border: 1px solid @base-border-color;
    .contrast(@body-bg);
    .border-radius(4px);
    box-shadow: 0 0 2px rgba(0,0,0,0.15) inset;
    padding: @padding-sm @padding-base;
    &:focus{
      border: 1px solid @main-color;
      box-shadow: none;
    }
}
.post-password-form input[type="submit"]{
    background-image: none;
    cursor: pointer;
    display: inline-block;
    font-weight: normal;
    border-radius: 3px;
    font-size: @font-size-small;
    line-height: 1.5;
    padding: @padding-sm @padding-base;
    margin-bottom: 0;
    text-align: center;
    vertical-align: middle;
    white-space: nowrap;
    background-color: @main-color;
    border: 1px solid @main-color;
    .contrast(@main-color);
    &:hover{
      background: none repeat scroll 0 0 @main-color-dark;
      border: 1px solid @main-color-dark;
      .contrast(@main-color-dark);
        a{
          .contrast(@main-color-dark);
        }
    }
}                              
.rtl-body .module.single-portfolio {

}



