/*
#less_info#(
"handle"  =>"main-tab-skin5",
"deps"    => array("main-tab"),
"ver"     => "1.0.0",
"media"   => "all",
"import"  => array(
    "@sed-modules-root/tab/less/main.less" 
)
)#
*/
@import "../../../less/main.less";
.module-tab.tab-skin5{
  @skin-bg:       @body-bg;
  @skin-active-bg:        darken(@skin-bg, 6%);
 .skin-border-color {
    border-color:@base-border-color;
}
background-color: transparent;
@media (min-width: @screen-xs-max){
    display: table;
}
// Give the tabs something to sit on
.nav-tabs {
    border: none;
    padding: 0;
    display: table-cell;
    border-right: 1px solid @skin-active-bg;
    margin-right: -1px;
    @media (max-width: @screen-xs-max) {
        display: block;
        width: 100%;
        border-right: 0px solid @skin-active-bg;
        margin-right: 0;
    }
    > li {
        float: none;
        min-width: 80px;
        // Make the list-items overlay the bottom border
        margin-bottom: -1px;
        text-align: left;
        white-space: nowrap;
        @media (max-width: @screen-xs-max) {
            width: 100%;
            border: 1px solid @skin-active-bg;
            text-align: center;
        }
        // Actual tabs (as links)
        > a {
            margin: 0px;
            line-height: @line-height-base;
            border: none;
            .border-radius( 0);
            position: relative;
            //background: @skin-bg;
            .high-color(@nav-tabs-bg);
            .transition(all 0.1s ease-in);
            padding: 8px 25px 8px 15px;
            &:hover {
                background: fade(@skin-active-bg, 70%);
                .base-color(@skin-active-bg);
            }
            &:before {
                content: '';
                position: absolute;
                top: 0px;
                left: 0px;
                width: 0%;
                height: 100%;
                background: @main-color;
                .opacity(0);
                .transition(all .3s ease-in);
                @media (max-width: @screen-xs-max) {
                    width: 100%;
                    height: 0%;
                }
            }
            &:after {
                content: "\203A";
                font-size: 18px;
                padding-left: 1px;
                /*background: none repeat scroll 0 0 transparent;
                .base-color(@skin-bg;34%;border-color);
                border-style: solid;
                border-width: 1px 1px 0 0;
                content: "";
                height: 5px;
                margin: -3px 3px 0;
                position: absolute;
                right: 10px;
                top: 50%;
                transform: rotate(45deg);
                width: 5px; */
                @media (max-width: @screen-xs-max) {
                    display: none;
                }
            }
            > span{
              padding: 0 6px;
              vertical-align: middle;
            }

            .module-icons{
                vertical-align: middle;
            }
        }// tag a

        // Active state, and its :hover to override normal :hover
        &.active > a {
            &,
            &:hover,
            &:focus {
                color: @main-color;
                background: fade(@skin-active-bg, 70%);
                border: none;
                border-bottom-color: transparent;
                cursor: default;
            }
            .module-icons{
               .hi-icon {
                 color: @main-color;
               }
            }
            &:before {
                width: 3px;
                .opacity(1);
                @media (max-width: @screen-xs-max) {
                    width: 100%;
                    height: 3px;
                }
            }
        }
    }
    // pulling this in mainly for less shorthand
    &.nav-justified {
        .nav-justified();
        .nav-tabs-justified();
    }
}

.tab-content {
    vertical-align: top;
    padding: 0 15px;
    display: table-cell;
    .base-color(@nav-tabs-bg);
    width: 100%;
    @media (max-width: @screen-xs-max) {
        display: block;
        width: 100%;
    }
}
}   
.module.module-tab.tab-skin5.tab-resize-responsive{
    @skin-bg:               @body-bg;
    @skin-active-bg:        darken(@skin-bg, 6%);
    display: block;
    .nav-tabs{
        display: block;
        width: 100%;
        border-right: 0px solid @skin-active-bg;
        margin-right: 0;
        .rtl-body &{
            border-left: 0px solid @skin-active-bg;
            margin-right: 0px;              
        }
        > li{
            width: 100%;
            border: 1px solid @skin-active-bg;
            text-align: center;  
            .rtl-body &{
              text-align: center;          
            }             
            > a {  
                &:before {
                    width: 100%;
                    height: 0%;
                }
                &:after {
                    display: none !important;
                } 
            }
            &.active > a {
                &:before {
                    width: 100%;
                    height: 3px;
                }
            }
        }   
    }
    .tab-content {
        display: block;
        width: 100%;
    }  
}        
.rtl-body .module.module-tab.tab-skin5{
  @skin-bg:       @body-bg;
  @skin-active-bg:        darken(@skin-bg, 6%);
  .nav-tabs {
      border-right: 0px solid @skin-active-bg;
      border-left: 1px solid @skin-active-bg;
      margin-left: -1px;
      margin-right: 0px;
      @media (max-width: @screen-xs-max) {
          border-left: 0px solid @skin-active-bg;
          margin-right: 0px;
      }
      > li {
          text-align: right;
          @media (max-width: @screen-xs-max) {
              text-align: center;
          }
          > a {
              padding: 8px 15px 8px 25px;
              &:before {
                  left: auto;
                  right: 0px;
              }
              &:after {
                  //content: "\2039";
                  padding-right: 1px;
                  padding-left: 0px;
                  @media (max-width: @screen-xs-max) {
                      display: none;
                  }
              }
          }
      }
  }

}