&.caption-2 {
    .info {
        width: 100%;
        position: absolute;
        bottom: 0;
        left: 0;
        padding: @padding-large-vertical @padding-base-horizontal;
        background: rgba(255, 255, 255, 0.7);
        .transition(all .5s ease-in .4s);

        .title, .description {
            padding:0;
            .border-radius(@border-radius-base);
            position: relative;
            margin:0;

            > *{
                .high-color(rgba(255, 255, 255, 1));
            }
            .transition(all                 .35s ease-in .6s,
                        color               .2s ease-in 0s,
                        background-color    .2s ease-in 0s,
                        text-shadow    .2s ease-in 0s;);
        }
        .title {
            padding-bottom: 0;
            margin: 0;
            left: -100%;
            display: inline-block;
            &:hover {
            > *{
                color: @main-color-darker;
            }
            }
        }
        .description {
            padding-top: @padding-small-vertical;
            left: 100%;
        }
    }

    .slide {
        &-closed .info {
            .opacity(0);
            .transition(all .1s ease-in 0s);
        }
        &-open .info {
            .opacity(1);
            .title, .description {
                top: 0;
                right: 0;
                bottom: 0;
                left: 0;
            }
        }
    }
}