.slider {
    margin: 0;               
    .border-radius(0);
    overflow: hidden;
    display: inline-block;
    //border: @skin-border-width solid transparent;

    li{
       // border-left: 2px solid fade(@body-bg, 50%);
       // border-right: 2px solid fade(@body-bg, 50%);
        .box-shadow(-3px 0 12px rgba(0, 0, 0, .6));
        &:first-child {
            border-left: none;
        }           
    }
    .inner {
        background-color: #000;
        position: relative;
        height: 100%;
    }
    img {
        width: 100%;
        min-height: 100%;

    }
    img {
        .transition(all .3s ease-in);
    }
    .info {
       // width: 100%;
        @media screen and (max-width: 550px) {
          display: none;
        }
    }
    /*.title {
        font-size: @font-size-large;
    }*/
    a {
        border: none;
        .title {
            padding: 0;
            margin: 0;
        }
    }

    .slide {
        &-closed {
            img {.opacity(.6);}
        }
        &-open {
            img {.opacity(1);}
        }
    }


    @media screen and (max-width: 767px) {
      max-height: 300px !important;
    }

    @media screen and (max-width: 550px) {
      max-height: 200px !important;
    }

    @import "caption-1.less";
    @import "caption-2.less";
}