//== Tables
//
//## Customizes the `.table` component with basic values, each used across all table variations.

//** Padding for `<th>`s and `<td>`s.
@skin-table-cell-padding:            8px;
//** Padding for cells in `.table-condensed`.
@skin-table-condensed-cell-padding:  5px;

//** Default background color used for all tables.
@skin-table-bg:                      @body-bg;
@skin-thead-bg:                      @skin-table-bg;
@skin-tbody-bg:                      @skin-table-bg;
//** Background color used for `.table-striped`.
@skin-table-bg-accent:               mix(@skin-table-bg, #888, 80%);
//** Background color used for `.table-hover`.
@skin-table-bg-hover:                @main-color;
@skin-table-bg-active:               @skin-table-bg-hover;

//** Border color for table and cell borders.
@skin-table-border-color:            #ddd;
@skin-border-radius:    @border-radius-base;