
// Colors.less
// Variables to customize color inside SiteEditor
// -----------------------------------------------------

//Main Color For Theme

/* using for active items , icons , hover and ....
**********************************************************/

//@main-color :                		#0073aa;
@main-color-lighter:         		lighten(@main-color, 13.5%);
@main-color-light:           		lighten(@main-color, 8%);   
@main-color-dark:            		darken(@main-color, 8%);    
@main-color-darker:          		darken(@main-color, 13.5%); 


/* one perfect color for main color
**********************************************************/

//@perfect-main-color :        		#FAC300;
@perfect-main-color-lighter: 		lighten(@perfect-main-color, 13.5%);   
@perfect-main-color-light:   		lighten(@perfect-main-color, 8%);      
@perfect-main-color-dark:    		darken(@perfect-main-color, 8%);       
@perfect-main-color-darker:  		darken(@perfect-main-color, 13.5%);    


/* using for backgrounds in body , menu , other area basic and ...
**************************************************************************/

//@base-color-a :              		#FFFFFF;
@base-color-a-lighter:       		lighten(@base-color-a, 13.5%);	 //#fff
@base-color-a-light:         		lighten(@base-color-a, 6.5%); 	 //#fff
@base-color-a-dark:          		darken(@base-color-a, 6.5%);  	 // #eee
@base-color-a-darker:        		darken(@base-color-a, 13.5%); 	 // #ddd


/* using for border color , gradients , heading background and ...
**************************************************************************/

//@base-color-b :              		#D5D5D5;
@base-color-b-lighter:       		lighten(@base-color-b, 13.5%);   // #f7f7f7
@base-color-b-light:         		lighten(@base-color-b, 8%);      // #e9e9e9
@base-color-b-dark:          		darken(@base-color-b, 8%);       // #c1c1c1
@base-color-b-darker:        		darken(@base-color-b, 13.5%);    // #b3b3b3


/* using for footer , row backgrounds , base text color and ...
**************************************************************************/

//@base-color-c :              		#000;
@base-color-c-lighter:       		lighten(@base-color-c, 13.5%);   //#222
@base-color-c-light:         		lighten(@base-color-c, 8%);      //#141414
@base-color-c-dark:          		darken(@base-color-c, 8%);       //#000
@base-color-c-darker:        		darken(@base-color-c, 13.5%);    //#000

/* contrasted color
*****************/
@contrasted-main-color-la :         mix(contrast(@main-color),@main-color,100%); 
@contrasted-main-color-lb :         mix(contrast(@main-color),@main-color,80%);  
@contrasted-main-color-lc :         mix(contrast(@main-color),@main-color,40%);
@contrasted-main-color-ld :         mix(contrast(@main-color),@main-color,20%);


@contrasted-perfect-main-color-la : mix(contrast(@perfect-main-color),@perfect-main-color,100%); 
@contrasted-perfect-main-color-lb : mix(contrast(@perfect-main-color),@perfect-main-color,80%);  
@contrasted-perfect-main-color-lc : mix(contrast(@perfect-main-color),@perfect-main-color,40%);
@contrasted-perfect-main-color-ld : mix(contrast(@perfect-main-color),@perfect-main-color,20%);


@contrasted-base-color-a-la :  		mix(contrast(@base-color-a),@base-color-a,85%); 
@contrasted-base-color-a-lb :       mix(contrast(@base-color-a),@base-color-a,65%);  
@contrasted-base-color-a-lc :       mix(contrast(@base-color-a),@base-color-a,40%);
@contrasted-base-color-a-ld :       mix(contrast(@base-color-a),@base-color-a,20%);


@contrasted-base-color-b-la :       mix(contrast(@base-color-b),@base-color-b,85%); 
@contrasted-base-color-b-lb :       mix(contrast(@base-color-b),@base-color-b,65%);  
@contrasted-base-color-b-lc :       mix(contrast(@base-color-b),@base-color-b,40%);
@contrasted-base-color-b-ld :       mix(contrast(@base-color-b),@base-color-b,20%);


@contrasted-base-color-c-la :       mix(contrast(@base-color-c),@base-color-c,85%); 
@contrasted-base-color-c-lb :       mix(contrast(@base-color-c),@base-color-c,65%);  
@contrasted-base-color-c-lc :       mix(contrast(@base-color-c),@base-color-c,40%);
@contrasted-base-color-c-ld :     	mix(contrast(@base-color-c),@base-color-c,20%);



/* border color
*****************/
@base-border-color :          		lighten(@base-color-b, 9.7%);  	   //#eee
@base-border-color-b :        		darken(@base-border-color, 6.7%);  //#ddd
@base-border-color-light :    		lighten(@base-border-color, 2%);   //#f2f2f2





