.row_setting_box,
.settings-uploader {
    border: 1px solid #E6E6E6;
    border-radius: 4px;
    margin: 15px 12px;
    padding: 8px 12px;
  /*  width: 92%; */
}
.row_setting_box .row_setting_box {
  margin: 12px 0px;
}
.row_setting_box .row_settings {
    margin-bottom: 12px;
}
.row_setting_box .row_settings:last-child {
    margin-bottom: 0;
}
.row_setting_box .el_txt{
    float: none !important;
}
.sed-container-control-element, .sed-style-editor-element{
    position: relative;
}
.sed-container-control-element::after, .sed-container-control-element::before,
.sed-container-control-element .colorpicker::after, .sed-container-control-element .colorpicker::before {
    content: "";
    display: table;
}
.sed-container-control-element::after ,
.sed-container-control-element .colorpicker::after {
    clear: both;
}
.add-new-template label,
.clearfix label {
    margin: 0 !important;
    padding: 0 !important;
    line-height: 25px;
}
.row_setting_box .colorpicker .el_txt,
.add-new-template input,
.add-new-template textarea,
.add-new-template label ,
.row_setting_box label ,
.clearfix > textarea,.clearfix > input,
.row_setting_box > input  {
    font-size: 12px;
    margin: 0;
    padding: 5px 10px;
    vertical-align: middle;

}
.row_setting_box .colorselector,
.row_settings .after_field,
.row_settings .ui-spinner {
    float: right;
    display: block;
}
.row_settings .after_field{
  line-height: 25px;
  padding-left: 5px;
  min-width: 23px;
}

.flt-help{
   float: right;
   margin: 0 0 5px 7px
}
#sed-dialog-front_page_displays select ,
.add-new-template select ,
.add-new-template input,
.row_setting_box   select ,
.row_setting_box   textarea ,
.row_setting_box   input{
    background-color: #fafafa !important;
    border: 1px solid #d5d5d5;
    border-radius: 2px;
    box-shadow: none;
    color: #666;
    font-size: 12px;
    margin: 0;
    padding: 5px 10px;
    width: 100%;
}
.sed-bp-checkbox-input,
.sed-bp-radio-input,
input[type="checkbox"],
input[type="rodio"]
{
    margin: 0 5px 0 0 !important;
    vertical-align: middle;
    width: 13px !important;
}
.setting-img {
    margin: 0 auto;
    width: 218px;
}
.change-img-setting {
    display: table-cell;
    margin: 0 auto;
    vertical-align: middle;
}
.change_image {
    width: 100%;
}
.change-img-container{
   /* border: 1px solid #E6E6E6;   */
    box-shadow: 2px 2px 3px -2px #DCDCDC;
    height: 64px;
    margin: 0 20px 0 0;
    position: relative !important;
    width: 64px;
    overflow: hidden;
}
.change_img {
    width:100%;
    height: auto;
    min-height: 100%;
}
.pb-skins-modules-container:after,.pb-skins-modules-container:before {
    display: table;
    content: "";
}
.pb-skins-modules-container:after{
    clear: both;
}

.pb-skins-modules-container li {
    display: inline-block;
}
.pb-skins-modules-container a {
    display: block;
    margin: 5px 9px;
    padding: 5px;
    border: 1px solid #eee;
    border-radius: 4px;
    -moz-transition: all 400ms;
    -o-transition: all 400ms;
    -webkit-transition: all 400ms;
    transition: all 400ms;
}
.pb-skins-modules-container a:hover , a.pb-skin-item.pb-skin-item-selected,.hover-effect-item-selected {
    border: 1px solid #00CCFF;
    box-shadow: 0px 0px 5px #00B2DF;
}

.pb-skins-modules-container li a img {
    width: 100px;
}
button.change_image{
     cursor: pointer !important;
}
input.media-url-field {
  width: 90%;
  margin-bottom: 8px;
}
.remove-media-src-btn .fa{
  color: #aaa;
  border: 1px solid #ccc;
  border-radius: 1000px;
  margin-left: 3px;
  font-size: 14px;
  padding: 2px;
}
.remove-media-src-btn:hover .fa{
    color: #333;
    border: 1px solid #999;
}



