

@icon-ct-bace-bg:            @body-modules-bg;
@icon-ct-main-bg:            @main-color;
@icon-ct-pmain-bg:           @perfect-main-color;
@icon-ct-bace-c-bg:          @base-color-c;
@icon-ct-base-b-bg:          @base-color-b-lighter;
@icon-ct-border-color:       @base-border-color;
@icon-ct-border-light:       @base-border-color-light;
@icon-ct-main-border-color:  darken(@main-color,6%);
@icon-ct-pmain-border-color: darken(@perfect-main-color,6%);
@icon-ct-border-radius:      @border-radius-base;
@icon-ct-border-radius-cl:   @border-radius-circle;
@icon-ct-line-height:        @line-height-computed + 24;
@icon-ct-line-height-base:   @line-height-base;
@icon-ct-padding-horizontal: @padding-xs-horizontal;
@icon-ct-font-size:          @font-size-base;
@icon-ct-font-size-lg:       @font-size-large;
@icon-ct-color:              @main-color;
@icon-ct-color2:             #fcfcfc;