

 @mega-menu-bg:                   #fff;
 @mega-menu-bg-hover:             #fff;        //#111
 @mega-menu-hover:                @main-color;        //#111
 @mega-menu-boder-color:          @base-border-color;/*darken(#333,13%);   */
 @mega-menu-box-shadow:           fade(@base-color-c,13.5%);
 @mega-menu-navbar-max-width:     1170px;


@navbar-padding-vertical-base:    15px;
@navbar-padding-horizontal-base:  30px;

@dropdqwn-li-padding-vertical:    5px;
@dropdqwn-li-padding-horizontal:  30px;

//== Navbar
//
//##

// Basics of a navbar
@navbar-height:                    60px;
@navbar-margin-bottom:             @line-height-computed;
@navbar-border-radius:             @border-radius-base;
@navbar-padding-horizontal:        floor((@grid-gutter-width / 2));
@navbar-padding-vertical:          ((@navbar-height - @line-height-computed) / 2);
@navbar-collapse-max-height:       340px;


// Inverted navbar
// Reset inverted navbar basics
@navbar-color:                      #777 ;
@navbar-bg:                         #222;
@navbar-border:                     darken(@navbar-bg, 10%);

// Inverted navbar links
@navbar-link-color:                 #777 ;
@navbar-link-hover-color:           #fff;
@navbar-link-hover-bg:              transparent;
@navbar-link-active-color:          @navbar-link-hover-color;
@navbar-link-active-bg:             darken(@navbar-bg, 10%);
@navbar-link-disabled-color:        #444;
@navbar-link-disabled-bg:           transparent;



//** Point at which the navbar becomes uncollapsed.
@grid-float-breakpoint:     @screen-sm-min;
//** Point at which the navbar begins collapsing.
@grid-float-breakpoint-max: (@grid-float-breakpoint - 1);



@zindex-navbar:                  1000;
@zindex-navbar-fixed:            1030;
@zindex-navbar-caret:            1000;
@mega-menu-zindex-dropdown:      1000;

//== Dropdowns

@dropdown-link-disabled-color:    #777 ;
@dropdown-link-active-color:      @component-active-color;
@dropdown-link-active-bg:         @component-active-bg;
@mega-menu-link-hover-bg:         #f5f5f5;
@mega-menu-dropdown-divider-bg:   #e5e5e5;