/*
#less_info#(
"handle" => "social-bar-skin7",
"deps" => array('social-bar-main-less'),  
"ver" => "1.0.0",
"media" => "all"
)#
*/
.spcial-bar.social-bar-skin7{

            li {
                a {

                      padding: 2px;
                      background: none repeat scroll 0 0 rgba(0,0,0,0.07);
                      .border-radius(0);
                      box-shadow: 0 1px 0 0 rgba(0,0,0,0.2);
                      color: rgba(0,0,0,0.25);
                      text-align: center;
                      .transition(all 0.3s ease-out 0s);
                       
                      &:hover{
                          border-color: transparent;
                          color:#fff;
                      }
                }
            }
       .vine { a{&:hover{ background-color: #7AC043; border-color: #7AC043; }}}
       .linked-in { a{&:hover{ background-color:#419cca ; border-color:#419cca ; }}}
       .tumblr { a{&:hover{ background-color: #345574; border-color: #345574;  }}}
       .facebook { a{&:hover{ background-color: #37589b; border-color: #37589b; }}}
       .pinterest { a{&:hover{ background-color: #cb2027; border-color: #cb2027;  }}}
       .dribbble { a{&:hover{ background-color: #F4498B; border-color: #F4498B;  }}}
       .twitter { a{&:hover{ background-color: #46d4fe; border-color: #46d4fe;  }}}
       .google-plus { a{&:hover{ background-color: #de5a49; border-color: #de5a49;  }}}
       .behance { a{&:hover{ background-color: #0093FB; border-color: #0093FB;  }}}

}