/*#less_info#(
"handle"	=> "accordion-skin2" ,
"deps"		=> array() ,
"ver"		=> "1.0.0",
"media"		=> "all"
)#
*/
.module-accordion.accordion-skin2{

    /* header
    ------------------------*/
    .ui-accordion-header {
        display: block;
        cursor: pointer;
        position: relative;
        margin: 0px;
        padding: @padding-base 0;
        min-height: 0px;
        font-size: @font-size-base;
        font-weight: normal;
    }
    // this class apears when accordion have icons.
    .ui-accordion-icons {
        padding-right: 2 * @padding-lg;
    }
    .ui-icon{
        background: @main-color;
        .high-color(@main-color);
        width: 20px;
        height: 20px;
        .border-radius( 100% );
        display: table;
        text-align: center;
        margin-top: -10px;
        position: absolute;
        right: 0;
        top: 50%;
        .transition(all .35s ease-in);
        &:before{
          display: table-cell;
          vertical-align: middle;
          line-height: 0;
        }

    }
    .module-title{
        display: block;
        padding: 0;
    }
    .module-paragraph{
        padding: 0;    
    }
    .ui-icon-free-plus:before{ content: "+"; font-weight: bold; }
    .ui-icon-free-minus:before{ content: "+"; font-weight: bold;}
    .ui-icon-free-minus{
        background:@base-color-c;
        .high-color(@base-color-c);
        .rotate(45deg);
    }

    .ui-state-default,
    .ui-widget-content .ui-state-default,
    .ui-widget-header .ui-state-default {
        border: none;
        border-bottom: 1px solid @base-border-color;
        background: none;
    }

    .ui-state-active,
    .ui-widget-content .ui-state-active,
    .ui-widget-header .ui-state-active {
        border: none;
        border-bottom: none;
        //background: @body-bg;
        color: @main-color;
    }

    /* Default Stated Corner radius
    ------------------------ */
    .ui-state-default.ui-corner-all,
    .ui-state-default.ui-corner-top,
    .ui-state-default.ui-corner-left,
    .ui-state-default.ui-corner-tl {
        border-top-left-radius: 0;
    }
    .ui-state-default.ui-corner-all,
    .ui-state-default.ui-corner-top,
    .ui-state-default.ui-corner-right,
    .ui-state-default.ui-corner-tr {
        border-top-right-radius: 0;
    }
    .ui-state-default.ui-corner-all,
    .ui-state-default.ui-corner-bottom,
    .ui-state-default.ui-corner-left,
    .ui-state-default.ui-corner-bl {
        border-bottom-left-radius: 0;
    }
    .ui-state-default.ui-corner-all,
    .ui-state-default.ui-corner-bottom,
    .ui-state-default.ui-corner-right,
    .ui-state-default.ui-corner-br {
        border-bottom-right-radius: 0;
    }

    /* End Corner radius
    ------------------------ */
    .ui-widget-content {
        //background: @body-bg;
        border: none;
    }

    .ui-accordion-content {
        //background: @body-bg;
        padding: @padding-lg 0;
        border-bottom: 1px solid transparent;
        border-color:@base-border-color;
        margin-top: 0;  
        .base-color(@base-color-b-lighter);
        p{
          overflow: hidden;
          text-align: left;
          margin: 0px;
        }
    }

    .ui-widget-content a {
        .base-color(@body-bg;25%);
    }

}

.rtl-body .module-accordion.accordion-skin2{
    .ui-accordion-icons {
        padding-right: 0 !important ;
        padding-left: 2 * @padding-lg;
    }
    .ui-icon{
        left: 0px !important;
        right: auto !important;
    }
    .ui-accordion-content {
         p{
            text-align: right !important;
         }
    }
}