/*
#css_info#(
"handle" => "code-syntax-highlighter-default",
"deps" => array(),
"ver" => "1.0.0",
"media" => "all"
)#
*/
.module.module-code-syntax-highlighter{
  position: relative;
}

.module.module-code-syntax-highlighter .code-syntax-highlighter-textarea {
    font-size: 13px;
    border: dotted 1px #000;
    box-shadow: none;
    resize: none;
    display: none;
    white-space: nowrap;
}

.module.module-code-syntax-highlighter .close-code-editor{
   position: absolute;
   right: 10px;
   top: 10px;
   height: 50px;
   width: 50px;
   display : none;
   z-index: 10;
}
.module.module-code-syntax-highlighter .close-code-editor .close-text{
   text-indent: -99999px;
   overflow: hidden;
}
