/*#less_info#(
"handle"	=> "accordion-skin1" ,
"deps"		=> array() ,
"ver"		=> "1.0.0",
"media"		=> "all"
)#
*/
.module-accordion.accordion-skin1{ 

    @accordion-bg:                        @body-bg;
    @accordion-border-radius:             @border-radius-base;
    @accordion-box-shadow:                none; 
    @accordion-title-font-size:           @font-size-base; 
    @accordion-content-padding:           @padding-lg;
    @accordion-header-padding-vertical:   @padding-base;
    @accordion-header-padding-horizontal: @padding-lg;

    //** Border color for elements within accordions

    @accordion-text:                      @component-heading-color;
    @accordion-border:                    1px solid @base-border-color;
    @accordion-header-bg:                 @component-bg;

    @accordion-active-text:               @primary-heading-color;
    @accordion-active-border:             @brand-primary;
    @accordion-active-header-bg:          @brand-primary;

    /* header
    ------------------------*/
    .ui-accordion-header {
        display: block;
        cursor: pointer;
        position: relative;
        margin: 5px 0px 0px;
        padding: @accordion-header-padding-vertical @accordion-header-padding-horizontal;
        min-height: 0px;
        font-size: @accordion-title-font-size;
        font-weight: normal;
    }
    .ui-accordion-icons {
        .padding-right(40px;@accordion-header-padding-horizontal); 
    } 
    .ui-icon{
        background: none;
        text-indent: 0;
        text-align: center;
        padding-top: 0;
        font-size: 18px;
        font-weight: normal;
        top: 0;
        bottom: 0;
        .right(0px;auto);
        width: 30px;  
        line-height: 18px;
        padding: @accordion-header-padding-vertical 0;
        position: absolute;
    }

    .ui-icon-free-plus:before{ content: "\f106"; font-family: FontAwesome; color: @accordion-text; }
    .ui-icon-free-minus:before{ content: "\f107"; font-family: FontAwesome; color: @accordion-active-text;}

    .ui-state-default,
    .ui-widget-content .ui-state-default,
    .ui-widget-header .ui-state-default {
        border: @accordion-border;
        background: @accordion-header-bg;
        color: @accordion-text;
        font-weight: normal;
        text-transform: uppercase;
    }

    .ui-state-active,
    .ui-widget-content .ui-state-active,
    .ui-widget-header .ui-state-active {
        border-color: @accordion-active-border;
        border-bottom: none;
        background: @accordion-active-header-bg;
        color: @accordion-active-text;
    }

    /* Corner radius
    ------------------------ */
    .ui-corner-all,
    .ui-corner-top,
    .ui-corner-left,
    .ui-corner-tl {
        border-top-left-radius: @accordion-border-radius;
    }
    .ui-corner-all,
    .ui-corner-top,
    .ui-corner-right,
    .ui-corner-tr {
        border-top-right-radius: @accordion-border-radius;
    }
    .ui-corner-all,
    .ui-corner-bottom,
    .ui-corner-left,
    .ui-corner-bl {
        border-bottom-left-radius: @accordion-border-radius;
    }
    .ui-corner-all,
    .ui-corner-bottom,
    .ui-corner-right,
    .ui-corner-br {
        border-bottom-right-radius: @accordion-border-radius;
    }

    /* Corner radius
    ------------------------ */
    .ui-widget-content {
        font-weight: normal;
        //background: @body-bg;
    }
    .module-paragraph{
        padding: 0;    
    }
    .module-title{
        display: block;
        padding: 0;
    }
    .ui-accordion .ui-accordion-header .ui-accordion-header-icon {
        position: absolute;
    }
    .ui-accordion-content {
        padding: @accordion-content-padding;
        border: @accordion-border;
        margin-top: 0;
        overflow: auto;
        border-top: none;
         p{
            overflow: hidden;
            .textleft();
            margin: 0;
         }
    }

    .ui-widget-content a {
        color: @accordion-active-text;
    } 

}