// Progress bars

.progress-bar-variant(@color) {
  background-color: @color;
  .high-color(@color);
  border: 1px solid darken(@color,4%);

  // Deprecated parent class requirement as of v3.2.0
  .progress-striped & {
    .striped();
  }
  .progress {
    .progressbar-text{
        .high-color(@color);
    }
  }
}

.progress-bg(@color) when (luma(@color) >= @luma-upper-break) {
    @progress-bg: darken(@color, 4%);
}

.progress-bg(@color) when (luma(@color) < @luma-upper-break) {
    @progress-bg: lighten(@color, 10%);
}