//== Progress bars
//
//##

//** Background color of the whole progress component
.progress-bg(@base-color-a);
//** Progress bar text color
@progress-bar-color:          #fff;

//** Default progress bar color
@progress-bar-bg:             @main-color;
//** Success progress bar color
@progress-bar-success-bg:     @success-color;
//** Warning progress bar color
@progress-bar-warning-bg:     @warning-color;
//** Danger progress bar color
@progress-bar-danger-bg:      @danger-color;
//** Info progress bar color
@progress-bar-info-bg:        @info-color;


@progressbarVerticalWidth:    @line-height-computed;
@progressbarFontSize:         @font-size-small;