/*#less_info#(
"handle"    => "counter-box-skin7",
"deps"      => array(),
"ver"       => "1.0.0",
"media"     => "all"
)#
*/
.counter-box-skin7{
    text-align: center;                        
    > .box {
        display: inline-block;
        padding: 15px;
        .counter-box-pr{
          margin: 0;
        }

    }
    > .box-info{
         display: block;
         padding: 0 15px;
    }
}