/*
#less_info#(
"handle"  =>"paragraph-main-less",
"deps"    => array(),
"ver"     => "1.0.0",
"media"   => "all",
)#
*/
.module.module-paragraph{
    > p ,p&{
        margin: 0px;
    }
    ul,ol{
      padding-left:30px;
      margin: 5px 0;
      .rtl-body &{
        padding-left:0px;
        padding-right:30px;
      }
    }
    ul{
        list-style-type: disc;
    }
    ol{
        list-style-type: decimal;
    }
}

