/*
#less_info#(
"handle" => "tape-style-img",
"deps" => array('single-image-main-less'),
"ver" => "1.0.0",
"media" => "all"
)#
*/

.module-single-image.single-image-tape-style{
  .box-shadow(0 1px 3px rgba(0, 0, 0, 0.4));
  //.rgba-box-shadow2(0 0 2px inset, rgb(0, 0, 0), 0.7, 0 2px 0 inset, rgb(255, 255, 255), 0.3, 0 -1px 0 inset, rgb(0, 0, 0), 0.5);
&:after {
    .radial( rgba(254, 243, 127, 0.6) 0%, rgba(240, 224, 54, 0.6) 100%);
    content: "";
    height: 25px;
    left: 30%;
    position: absolute;
    top: -10px;
    width: 40%;
    z-index: 12;
    border: 1px solid rgba(137, 130, 48, 0.2);

}
}