/* testimonial-skin3 Variables
================================= */
@skin-border-color:         @base-border-color;
@skin-bar-bg:               @skin-border-color;

@panel-border-radius:       @border-radius-base;

@skin-panel-bg:             @body-modules-bg;
@skin-heading-bg:           @skin-panel-bg;
@skin-body-bg:              @skin-panel-bg;
@skin-footer-bg:            @skin-panel-bg;

@skin-arrow:                9px;
@skin-arrow-border:         2px;