/*
#less_info#(
"handle"  =>"icon-content-box-skin2",
"deps"    => array("main-icon-content-box"),
"ver"     => "1.0.0",
"media"   => "all",
"import"  => array(
    "@sed-modules-root/icon-content-box/less/variables.less" 
)
)#
*/
@import "../../../less/variables.less";
.module-icon-content-box.icon-content-box-skin2 {
  text-align: center;  
  .sed-boxed-icon{
   .hi-icon, .heading-box{
     display: block;
     text-align: center;
   }
  }
}