/*#less_info#(
"handle"	=> "testimonial-skin3",
"deps"		=> array(),
"ver"		=> "1.0.0",
"media"		=> "all"
)#*/
.testimonial-skin3 {
  .thumbnail{
      padding: @padding-sm;
      margin: 0 auto;
      width: 120px;
      height: 120px;
      background: @base-color-b-lighter;
      .border-radius(100%);
      overflow: hidden;
      .img{
        border: 5px solid @base-border-color;
        .border-radius(100%);
        height: 100%;
        overflow: hidden;
        width: 100%;
        img{
            width: 100%;
            height: auto;
            .border-radius(100%);
        }
      }
  }
  .customer{
      text-align: center;
      margin: 10px 0;
  }

  blockquote{
      background: @base-color-b-lighter;
      .border-radius(@border-radius-small);
      .base-color(@base-color-b-lighter);
      padding: @padding-xl + 5;
      margin-top: 15px;
      position: relative;
      font-size: @font-size-base;
      margin: 0;
      border:0;

      &:before{
          position: absolute;
          content: "";
          width: 0;
          height: 0;
          bottom: 100%;
          left: 50%;
          border-bottom: 12px solid @base-color-b-lighter;
          border-right: 10px solid transparent;
          border-left:10px solid transparent;
          margin-left: -6px;
      }
      > p{
          margin: 0;
      }
  }
}