/*#less_info#(
"handle"    => "sed-countdown-sale-default",
"deps"      => array(),
"ver"       => "1.0.0",
"media"     => "all"
)#*/
.module-countdown-sale{
//borders , bg
@woo-border-color:      @base-border-color-light;
@woo-bg-color-dark:     @base-border-color-light;
@woo-bg-color-light:    @base-color-b-lighter;
@woo-body-bg:           @body-bg;
                                                   
//titles
@woo-title-lg:          @font-size-h4;
@woo-line-height-lg:    @font-size-h4 + 9;
@woo-title-md:          @font-size-h4;
@woo-line-height-md:    @font-size-h4 + 9;
@woo-title-sm:          @font-size-base;
@woo-line-height-sm:    @font-size-base + 9;

//price
@woo-price-color:       @main-color;
@woo-price-color-del:   @base-color-b-darker;

//colors
@woo-success-color:     @success-color;
@woo-info-color:        #9da3b1;
@woo-warning-color:     @warning-color;
@woo-danger-color:      @danger-color;

//countdown
@woo-countdown-sale-bg: #222;


  .sed-sale-products{
    .sed-countdown-sale-carousel{
          margin-bottom: 0;
          padding: 0 37px;
          height: 37px;
          background: @main-color;
          position: relative;
          z-index: 2;
          .slick-track {
              margin: 0 auto;
          }           
          .slick-list {
              padding: 0 !important;
              line-height: 47px;
              height: 47px;
              .slick-slide{
                  position: relative;
                  line-height: 37px;  
                  height: 37px;
                  overflow: visible;
                  text-align: center;
                  .transition(all 1s ease-in-out);
                  a.product-name {
                      display: inline-block;
                      font-size: @woo-title-sm;  
                      .high-color(@main-color);           
                      white-space: nowrap;
                      padding: 0 10px;
                      overflow: hidden;
                      text-overflow: ellipsis;
                      width: 100%;
                  }
                  &::before {
                      content: "";
                      margin-right: -1px;
                      margin-top: -10px;
                      right: 0;
                      top: 50%;
                      position: absolute;
                      z-index: 1;
                      width: 1px;
                      height: 20px;
                      background-color: @body-bg;
                      .transition(all 0.15s ease-in-out);
                  }
                  &::after {
                      content: "";
                      display: block;
                      width: 0;
                      position: absolute;
                      left: 50%;
                      margin-left: -5px;
                      bottom: 0px;
                      height: 0;
                      border-top: 5px solid @woo-countdown-sale-bg;
                      border-right: 5px solid transparent;
                      border-left: 5px solid transparent;
                      border-bottom: 5px solid transparent;
                      z-index: 1;
                      opacity: 0;
                      .transition(all 0.35s ease-in-out);
                  }
                  
                  &.sc-active{
                      background: @woo-countdown-sale-bg;
                      a.product-name {
                          .high-color(@woo-countdown-sale-bg);
                      }
                      &::before{
                          background-color: transparent;
                          visibility: hidden;
                      }
                      &::after{
                          bottom: -10px;
                          opacity: 1;
                          .transition(all 0.5s ease-in-out);
                      }
                      & + .slick-slide{
                        &::before{
                            background-color: transparent;
                            visibility: hidden;
                        }
                      }

                  }
                  &:first-child{  
                      &::before {
                          content: none;
                      }    
                  } 

              }

          }

          span.slide-nav-bt {
              position: absolute;
              top: 0;
              width: 37px;
              height: 37px;
              line-height: 40px;
              text-align: center;
              background: rgba(0,0,0,0.1);
              .high-color(@main-color);
              font-size: 20px;
              cursor: pointer;
          }
          span.slide-nav-bt.slide-prev {
              right: 0px;
              .rotateY(180deg);
          }
          span.slide-nav-bt.slide-next {
              left: 0;
              .rotateY(180deg);
          }
    }
    .products-banner{
        position: relative;
        > .product{
            position: absolute;
            left: 0;
            right: 0;
            top: 0;
            bottom: 0;
            height: 100%;
            .transition(all 1s ease-in-out);
            opacity: 0;
            display: block !important;
            z-index: -1;
            &.current{
                opacity: 1;
                z-index: 1;
                position: relative;
            }
            .banner-item{
              img{
                max-width: 100%;
                min-width: 100%;
                min-height: 100%;
                height: auto;
              }

            }

        }

    }

  }
.counter-group {
    margin: 15px;
    display: inline-block;
    background: rgba(255,255,255,0.4);
    padding: 15px 15px 5px;  
    position: absolute;
    right: 0;
    bottom: 0;
}
.counter-group:before,
.counter-group:after {
  content: " ";
  display: table;
}
.counter-group:after {
  clear: both;
}
.counter-block {
  float: left;
  margin-right: 10px;
}
.counter-block:last-child {
    margin-right: 0;
}
.counter-block .counter {
  position: relative;
  width: 5em;   
  height: 2em;
  font-size: 14px;
  overflow: hidden;
  font-family: Iceberg, sans-serif;
}
.counter-block .counter .number {
    background-color: @woo-countdown-sale-bg;
    .high-color(@woo-countdown-sale-bg);
    position: absolute;
    font-size: 14px;
    line-height: 2em;
    width: 2em;
    height: 2em;
    text-align: center;
    top: -10000px
}
.counter-block .counter .number.tens {
  left: 0;
}
.counter-block .counter .number.units {
  left: 50%;
}
.counter-block .counter .number.hundreds {
  display: none !important;
}
.counter-block .counter .number.show {
  top: 0;
  z-index: 2;
}
.counter-block .counter .number.hidden-down {
  top: 100%;
}
.counter-block .counter .number.hidden-up {
  top: -100%;
  z-index: 100;
}
.counter-block .counter.with-hundreds {
  width: 300px;
}
.counter-block .counter.with-hundreds .number {
  width: 30.66%;
}
.counter-block .counter.with-hundreds .number.tens {
  left: 33.33%;
}
.counter-block .counter.with-hundreds .number.units {
  left: 66.66%;
}
.counter-block .counter.with-hundreds .number.hundreds {
  display: block;
  left: 0;
}
.counter-block .counter-caption {
  font-size: @woo-title-sm - 1;
  text-align: center;
  .high-color(@body-bg);
  line-height: 20px;
  padding-top: 6px;
  
}


}


.sed_mobile_version{
  @woo-countdown-sale-bg: #222;
    .module-countdown-sale{
        .counter-group {
            margin: 5px;
            padding: 8px;
        }      
        .counter-block {
          margin-right: 5px;
        }
        .counter-block .counter {  
            background-color: @woo-countdown-sale-bg;
            width: 2em;
            text-align: center;
            padding: 0 5px; 
            font-size: 14px;
        }
        .counter-block .counter .number.tens {
          left: 6px; 
        }
        .counter-block .counter .number {
            background-color: transparent;
            font-size: 14px;
            width: auto;
        }
        .counter-block .counter-caption {
          font-size: 11px;
          line-height: 17px;
        }


    }
}
