@skin-bg :                  @body-bg;
@skin-footer-bg :           darken(@skin-bg, 3%);

@skin-font-size-base:       @font-size-base - 1;
@skin-font-size-small:      @font-size-small;

@skin-border-color:         @base-border-color-light;
@skin-bar-bg:               @skin-border-color;

@panel-border-radius:       @border-radius-base;

@skin-panel-bg:             @body-modules-bg;
@skin-heading-bg:           @skin-panel-bg;
@skin-body-bg:              @skin-panel-bg;
@skin-footer-bg:            @skin-panel-bg;

@skin-arrow:                9px;
@skin-arrow-border:         2px;