.module-alert.alert-skin-default {

  .alert {
    padding: @alert-padding;
    border-style: solid;
    border-width: 0 0 0 4px;
    border-radius: 0;
  }
  .alert-title {
    margin-top: 10px;
    font-size: @font-size-h4;
    font-weight: normal;
    //display: table-cell;
    display: inline-block;
    vertical-align: middle;
    padding: 0 @padding-sm;
  }
  .alert-description{
    margin: 10px 0 0;
    padding: 0;
  }
  .alert-icons {  
    //display: table-cell;
    display: inline-block;
    vertical-align: middle;
    font-size: @font-size-h4 - 1;
    margin: 0 3px;
    position: relative;
    top: 1px;
  }
  &.style-success{
  .alert-variant-style {
    .alert-variant(@default-alert-success-bg; @default-alert-success-border);
  }
 }
  &.style-info{
   .alert-variant-style {
     .alert-variant(@default-alert-info-bg; @default-alert-info-border);
   }
  }
  &.style-warning{
   .alert-variant-style {
     .alert-variant(@default-alert-warning-bg; @default-alert-warning-border);
   }
  }
  &.style-danger{
   .alert-variant-style {
     .alert-variant(@default-alert-danger-bg; @default-alert-danger-border);
   }
  }
}
.rtl-body .module-alert.alert-skin-default {
  .alert {
      border-width: 0 4px 0 0 !important;
  }
}