a {
    &:focus,
    &:active,
    &:hover {border-width: 0px;}
}
.jp-video {
    &-full { 
        /* styling the player in fullscreen mode
         ======================================== */

        /* Rules for IE6 (full-screen) */
        width:480px;
        height:270px;
        /* Rules for IE7 (full-screen) - Otherwise the relative container causes other page items that are not position:static (default) to appear over the video/gui. */
        position:static !important; position:relative;
        
        /* The z-index rule is defined in this manner to enable Popcorn plugins that add overlays to video area. EG. Subtitles. */
        div div {
            z-index:1000;
        }
        .jp-jplayer {
            top: 0;
            left: 0;
            position: fixed !important; position: relative; /* Rules for IE6 (full-screen) */
            overflow: hidden;
            z-index:1000;
        }

        .jp-gui {
            position: fixed !important; position: static; /* Rules for IE6 (full-screen) */
            bottom: 0;
            left: 0;
            width: 100%;
            height: 100%;  
            z-index:1001; /* 1 layer above the others. */
        }

        .jp-interface-wrapper {
            position: absolute !important; position: relative; /* Rules for IE6 (full-screen) */
            bottom: 0px !important;
            padding:20px 10px !important;
            .jp-interface {
                width: 640px;
                margin: 0 auto;
                .jp-details {display: none !important;}
            }
            li.progress-holder {
                width: 100%;
            }
        }
    } // .jp-video-full

    .jp-type-playlist {
        position: relative;
    }

    .jp-jplayer {
       // border: 2px solid @skin-bg;
        overflow: hidden;
    }

    .jp-details {
        background: fade(@skin-bg, @skin-bg-fade);
        .base-color(fade(@skin-bg, @skin-bg-fade));
    }
    .jp-gui {
        //position: relative;
        //top: 0;
        //left: 0;
        //height: 100%;

        .jp-video-play {
            position: absolute;
            top: 0;
            height: 100%;
            width: 100%;
            > a {
                width: 100%;
                height: 100%;
                display: block;
                position: relative;
                > .icon {
                    width: 80px;
                    height: 50px;
                    border-radius: @border-radius-large;
                    background: fade(@skin-bg, @skin-bg-fade);
                    position: absolute;
                    top: 50%;
                    left: 50%;
                    margin-top: -25px;
                    margin-left: -40px;
                    display: table;
                    text-align: center;
                    .smart-variant(color; @skin-bg; 95%);
                    &:hover { background:@main-color; .high-color(@main-color);  }
                    > i {
                        font-size: 25px;
                        display: table-cell;
                        vertical-align: middle;
                    }
                }
            }
        } //.jp-video-play

        .jp-toggle-playlist {
            .icon {
                border-radius: @border-radius-large;
                background: fade(@skin-bg, @skin-bg-fade);
                i {
                    .smart-variant(color; @skin-bg; 90%);
                }
            } //.icon
        } //.jp-toggle-playlist

        .jp-interface-wrapper {
            width: 100%;
        }


        .jp-interface {
            .transition(all .1s ease-in);
            height: 34px;
            padding: 3px 10px;
            //border-radius: @border-radius-base;
            background: fade(@skin-bg, @skin-bg-fade);
            width: auto;
            li {
                > .jp-current-time,
                > .jp-duration,
                > a {
                    .smart-variant(color; @skin-bg; 95%);
                    &:hover {
                        .smart-variant(color; @skin-bg; @fade: 85%); 
                    }

                    &.jp-restore-screen,
                    &.jp-shuffle-off,
                    &.jp-repeat-off {
                        color: @skin-bg;
                        &:hover {
                            color: fade(@main-color, 70%);
                        }
                        i:before {
                            .smart-variant(background-color; @skin-bg; 95%);
                            border-radius: @border-radius-base;
                        }
                    } //.jp-*-off
                } // tag a styling
            } // end of styling li tag
        } //.jp-interface

        .jp-controls-holder {
            width: 100%;
            display: inline-block;
            text-align: center;
        }

        .jp-controls {
            .progress-holder {
                width: 100%;
                .jp-progress { padding: 10px 8px; }
                .jp-seek-bar {
                    height: 7px;
                    overflow: hidden;
                    border-radius: @border-radius-large;
                    //background-color: darken(@skin-bg, 30%);
                    .smart-variant(background-color; @skin-bg; @fade: 30%);
                    .jp-play-bar {
                        height: 100%;
                        .smart-variant(background-color; @skin-bg; 95%);
                        border-radius: @border-radius-large;
                        //.box-shadow(0 0 8px fade(@main-color, 100%););
                        &:after {
                            content: '';
                            display: none;
                            position: absolute;
                            top: 50%;
                            right: 0;
                            margin-top: -3px;
                            margin-right: -2px;
                            width: 3px;
                            height: 6px;
                            //border-radius: 100%;
                            background-color: @main-color-darker;
                            border: 1px solid darken(@skin-bg, 30%);
                            //.smart-variant(background-color; @skin-bg; 90%);
                        }
                    }
                }
                .jp-duration,
                .jp-current-time {}
            } //.progress-holder  

            .volume-controls {
                &:hover .fader {}     
                .f ader {
                    .wrapper {
                        background: fade(@skin-bg, @skin-bg-fade);
                        border-radius: @border-radius-base;
                    }
                    .jp-volume-bar {
                        position: relative;
                        top: 0px;
                        left: 0px;
                        width: 7px;
                        height: 100%;
                        border-radius: @border-radius-large;
                        //background-color: darken(@skin-bg, 30%);
                        .smart-variant(background-color; @skin-bg; @fade: 30%);
                        &-value {
                            position: absolute;
                            bottom: 0;
                            width: 100%;
                            .smart-variant(background-color; @skin-bg; 95%);
                            //.box-shadow(0 0 8px fade(@main-color, 100%););
                            border-radius: @border-radius-large;
                            .transition(all .1s ease-in);
                            &:after {
                                content: '';
                                display: none;
                                position: absolute;
                                top: 0;
                                right: 50%;
                                margin-top: -2px;
                                margin-right: -3px;
                                width: 6px;
                                height: 3px;
                                //border-radius: 100%;
                                background-color: @main-color-darker;
                                border: 1px solid darken(@skin-bg, 30%);
                                //.smart-variant(background-color; @skin-bg; 90%);
                            }
                        }
                    }
                } //.fader
            } //.volume-controls

            .quality-change {
                &:hover .fader {}
                .fader {
                    .wrapper {
                        background: fade(@skin-bg, @skin-bg-fade);
                        border-radius: @border-radius-base;
                    }
                    a {
                        .smart-variant(color; @skin-bg);
                        .smart-variant(color; @skin-bg; 90%; @fade: 50%);
                        &:hover {
                            .smart-variant(color; @skin-bg; 90%);
                        }
                    }
                } //.fader
            } //.quality-change
        } //.jp-controls
    } //.jp-gui

    .jp-playlist-wrapper {
        border: 2px solid @skin-bg;
        .jp-playlist {
            background-color: @skin-playlist-bg;
            ul {
                > li {
                    border-bottom: 1px solid @skin-playlist-bg-curr;
                    &:hover {
                        background: lighten(@skin-playlist-bg-curr, 3%);
                    }
                    .img {
                        border-radius: @border-radius-base;
                    }
                    p {
                        .smart-variant(color; @skin-playlist-bg; 75%; @fade: 50%;);
                    }
                    a {
                        .smart-variant(color; @skin-playlist-bg; 75%);
                        .transition(all .1s ease-in);
                    }
                } // > li

                > .jp-playlist-current {
                    background: @skin-playlist-bg-curr;
                    p { .smart-variant(color; @skin-playlist-bg-curr; 75%; @fade: 70%;); }
                    a { color: @main-color; }
                }
            }
        }
    } //.jp-playlist
} //.jp-video