/*#less_info#(
"handle"    => "count-up-counter-box-skin2",
"deps"      => array(),
"ver"       => "1.0.0",
"media"     => "all"
)#*/
.counter-box-skin2{
    background: @main-color;
    padding: 5px 10px;
    padding-left: 6px;
    display: inline-block;
    > .box {
        display: inline-block;
        background: @main-color-lighter;
        padding: 2px 4px;
        text-align: center;
        font-size: @font-size-base + 1;
        .high-color(@main-color-lighter);
    }
    > .box-info{
        .high-color(@main-color);
        font-size: @font-size-base;
    }

}
.rtl-body .counter-box-skin2{
    padding-left: 10px;
    padding-right: 6px;
}