

@blockquote-base-font-family :    @font-family-sans-serif;
@blockquote-font-size :           @font-size-base + 2;
@blockquote-line-height :         @line-height-base;
@blockquote-base-border-color:    @base-border-color;
@blockquote-main-border-color:    @main-color;
@blockquote-border-radius:        @border-radius-base;
@blockquote-base-color-b-ltr-bg:  @base-color-b-lighter;
@blockquote-main-color-bg:        @main-color;
@blockquote-base-color-a-bg:      @body-modules-bg;
                                                                               
@blockquote-quote-font-family :   @font-family-serif;
@blockquote-quote-color:          @main-color;