#site-editor-megamenu-options .condition-depth-field{
  display: none;
}

.menu-item-depth-0 .field-active-mega-menu-item ,
.menu-item-depth-0 .field-full-width-submenu-item ,
.menu-item-depth-0 .field-width-submenu-item ,
.menu-item-depth-0 .field-background-image-item ,
.menu-item-depth-0 .field-background-position-item ,
.menu-item-depth-1 .field-module-area-submenu-item,
.menu-item-depth-1 .field-column-title-megamenu-submenu-item{
    display : block !important;
}

.field-thumb-item > label{
    display: inline-block;
    height: 100%;
    vertical-align: middle;
}
.field-thumb-item .sed-image-show {
    display: inline-block;
    margin: 0 20px;
    text-align: center;
    vertical-align: middle;
}
.field-thumb-item .remove-image{
    display: inline-block;
    vertical-align: middle;
    color: #D60000;
    cursor: pointer;
}
.field-thumb-item .remove-image:hover{
  text-decoration: underline;
}

.field-thumb-item img , .field-background-image-item img {
    border: 2px solid #eee;
    max-height: 64px;
    max-width: 64px;
}

.field-column-title-megamenu-submenu-item select,
.field-width-submenu-item input,
.field-icon-item input{
    display: block;
}
.field-column-title-megamenu-submenu-item,
.field-width-submenu-item{
  margin-top: 15px;
}
.field-thumb-item{
  margin: 15px 0;
}

