.module-separator.separator-skin2 {
    margin: 0
}

.module-separator.separator-skin2 .module-separator-inner { 
    display: inline-block;
    margin: 0;
    vertical-align: top;
    width: 100%;
}

.module-separator.separator-skin2 .separator-inner {
    display: table
}

.module-separator.separator-skin2 .special-spr-left {
    display: table-cell;
    line-height: normal;
    white-space: nowrap;
    text-align: center;
    margin: 0;
    padding: 0 8px 0 0
}

.module-separator.separator-skin2 .spr-container {
    display: table-cell;
    position: relative;
    vertical-align: middle;
    width: 100%
}

.module-separator.separator-skin2 .spr-container .separator {
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    box-sizing: content-box;
    display: block;
    position: relative;
    width: 100%
}

.rtl-body .module-separator.separator-skin2 .special-spr-left {
    padding: 0 0 0 8px
}