/*#less_info#(
"handle"	=> "separator-skin10",
"deps"		=> array("separator-main-less"),
"ver"		=> "1.0.0",
"media"		=> "all"
)#
*/
.module-separator.separator-skin10{
    border-color: @main-color;
    &::after {
        border-top: 5px solid @main-color;
        display: inline-block;
        left: 50%;
        margin-top: -3px !important;
        margin-left: -22px !important;
        margin-right: -22px !important;
        padding: 0 22px;
        position: absolute;
        text-align: center;
        top: 50%;
        max-width: 100%;
        content: "";
        right: 50%;
    }
}


