/*#less_info#(
"handle"	=> "pricing-table-default",
"deps"		=> array(),
"ver"		=> "1.0.0",
"media"		=> "all"
)#*/

.pricing-table-default{


@pricing-tb-bg:                        @body-bg;
@pricing-tb-border-radius:             @border-radius-base;
@pricing-tb-box-shadow:                none; 
@pricing-tb-title-font-size:           @font-size-base; 
@pricing-tb-content-padding:           @padding-lg 0;
@pricing-tb-header-padding-vertical:   @padding-base;
@pricing-tb-header-padding-horizontal: @padding-lg;

//** Border color for elements within accordions

@pricing-tb-text:                      @component-heading-color;
@pricing-tb-border:                    1px solid @base-border-color;
@pricing-tb-bg:                        @component-bg;

@pricing-tb-active-text:               @primary-heading-color;
@pricing-tb-active-border:             @brand-primary;
@pricing-tb-active-bg:                 @brand-primary;

 
@pricing-tb-border-outer:             6px solid @component-bg;
@pricing-tb-border-outer-featured:    4px solid @pricing-tb-active-bg;
@pricing-tb-border-inner:             1px solid @base-border-color;
@pricing-tb-border-inner-featured:    1px solid @pricing-tb-active-bg;

@pricing-tb-panel-bg:                 @body-bg;
@pricing-tb-panel-bg-accent:          @component-bg;


border-radius: @pricing-tb-border-radius;
.row{
    margin: 0px 0px 20px;
    & > .column{
        @media screen{
            @media (min-width: @screen-lg){
                min-width: 150px;
            }
            @media (max-width: @screen-lg){
                min-width: 150px;
            }
            @media (max-width: @screen-md){
                min-width: 25%;
            }
            @media (max-width: @screen-sm) {
                min-width: 33.333%;
                float: left;
            }
            @media (max-width: 600px) {
                min-width: 50%;
                float: left;
            }
            @media (max-width: @screen-xs) {
                min-width: 100%;
                &.panel-wrapper-outer{
                    .panel-wrapper{
                      border: @pricing-tb-border-outer !important;
                        .panel-container{
                            .panel{
                                border: @pricing-tb-border-inner !important;
                            }
                        }
                    }
                    &.featured{
                      .panel-wrapper{
                        .panel-container{
                            .panel{
                                border-color: @pricing-tb-active-bg !important;
                            }//.panel
                        }
                      }
                    } 
                }
            }
        }
    }
    &.pt_without_spacing.columns-1{
        .panel-wrapper-outer{
            .panel-wrapper{
              border: @pricing-tb-border-outer !important;
                .panel-container{
                    .panel{
                        border: @pricing-tb-border-inner !important;
                    }
                }
            }
        }
        &.featured{
          .panel-wrapper{
            .panel-container{
                .panel{
                    border-color: @pricing-tb-active-bg !important;
                }//.panel
            }
          }
        } 
    }

    &.pt_with_spacing .panel-wrapper-outer{
        .panel-wrapper{
          border: @pricing-tb-border-outer !important;
            .panel-container{
                .panel{
                    border: @pricing-tb-border-inner !important;
                }
            }
        }
        &.featured{
          .panel-wrapper{
            .panel-container{
                .panel{
                    border-color: @pricing-tb-active-bg !important;
                }//.panel
            }
          }
        }        
    }
    &.pt_without_spacing .panel-wrapper-outer{
        padding:0;
        &:first-child > .panel-wrapper{
            border-left: @pricing-tb-border-outer;
            .panel-container .panel{
                .border-left-radius(@pricing-tb-border-radius);
            }
        }
        &:last-child > .panel-wrapper{
            border-right: @pricing-tb-border-outer;
            .panel-container .panel{
                .border-right-radius(@pricing-tb-border-radius);
                border-right: @pricing-tb-border-inner;
            }
        }
    }

    .sed-title.module.module-title {
        padding: 0;
    }
    .panel-wrapper{
        padding: 0;
        cursor: default;
        //background: @base-color-b-lighter;
        border: @pricing-tb-border-outer;
        border-left: none;
        border-right: none;
        .panel-container{
            padding: 0px 0px;
            //background-color: @base-color-b-lighter;
            .panel{
                border: @pricing-tb-border-inner;
                .border-radius(0);
                border-right: none;
                overflow: hidden;
                margin: 0;
                background-clip: padding-box;
                text-align: center;
                background: @pricing-tb-panel-bg;

                .panel-heading{
                    padding: 15px;
                    border-top: @pricing-tb-border-inner;
                    border-bottom: @pricing-tb-border-inner;
                    background-color: @pricing-tb-panel-bg-accent;
                }
                &:hover{
                    background-color: @pricing-tb-panel-bg-accent;
                    .panel-heading{
                        color: @pricing-tb-active-text;
                        background-color: @pricing-tb-active-bg;
                        border-color: @pricing-tb-active-bg;
                        *{
                            color: @pricing-tb-active-text;    
                        } 
                    }
                }
                .panel-body{
                    padding: 25px 15px;
                    .price{
                        position: relative;
                        .currency{
                            position: relative;
                            top: -20px;
                            font-size: 21px;
                            //.base-color(@pricing-tb-panel-bg-accent;58%);
                        }
                        .integer-part{
                            color: @pricing-tb-active-bg;
                            font-size: 55px;
                            line-height: 1em;
                            display: block;
                            font-weight: 400;
                        }
                        .decimal-part{
                            color: @pricing-tb-active-bg;
                            top: -20px;
                            font-size: 17px;
                            font-weight: bold;
                            position: relative;
                        }
                        .time{
                            font-size: 11px;
                            display: block;
                            text-transform: uppercase;
                        }
                    }
                }
                .list-group{
                    //.base-color( @pricing-tb-panel-bg);
                    margin: 0;    
                    list-style-type: none;
                    padding: 0;
                    padding: 15px 0px;

                    .list-group-item{
                        padding: 10px 15px;
                        //border-bottom: @pricing-tb-border-inner;
                        border-right: none;
                        border-left: none;
                        &:first-child{
                          //border-top: @pricing-tb-border-inner;
                        }

                    }
                }
                .panel-footer{
                    padding: 0;
                    background-color: @pricing-tb-panel-bg-accent;
                    border-top: @pricing-tb-border-inner;
                    border-radius: 0;
                    //.border-top-radius(0);
                    //font-weight: bold;
                    .foot-text{
                        color: @pricing-tb-active-bg;
                        display: inline-block;
                        width: 100%;
                        padding: 15px;
                        line-height: 1em;
                        text-decoration: none;
                        > *{
                            color: @pricing-tb-active-bg;
                        }
                        &:hover{
                            color: @pricing-tb-active-text;
                            background-color: @pricing-tb-active-bg;
                            > * {
                                color: @pricing-tb-active-text;
                            }
                        }
                    }
                }
            } // .panel
        } // .panel-container

    } // .panel wrapper
        /*  styling featured pricing column
         * --------------------------------- */
        .featured{
          .panel-wrapper{
            border: none;
            .panel-container{
                border: @pricing-tb-border-outer-featured;
                position: relative;
                box-sizing: content-box;
                margin: -10px -9px;
                .box-shadow(0px 0px 6px 6px rgba(0, 0, 0, 0.1));
                z-index: 2;
                .panel{
                    border-color: @pricing-tb-active-bg !important;
                    .panel-heading,
                    .panel-footer a{
                        //padding: 20px;
                    }
                    .panel-heading{
                        color: @pricing-tb-active-text;
                        background-color: @pricing-tb-active-bg;
                        border-color: @pricing-tb-active-bg;
                        *{
                            color: @pricing-tb-active-text;    
                        }
                    }
                    .panel-body{
                        padding: 30px 15px;  
                        .price{
                            .integer-part{
                                color: @pricing-tb-active-bg;
                            }
                        }
                    }
                    .list-group{
                        padding: 20px 0px; 
                    }
                    .panel-footer{
                        .foot-text{
                            color: @pricing-tb-active-text;
                            background-color: @pricing-tb-active-bg;
                            > * {
                                color: @pricing-tb-active-text;
                            }
                        }
                    }
                }//.panel
            }
          }
        }
}

}
.rtl-body .module.module-pricing-table.pricing-table-default{
@pricing-tb-bg:                        @body-bg;
@pricing-tb-border-radius:             @border-radius-base;
@pricing-tb-box-shadow:                none; 
@pricing-tb-title-font-size:           @font-size-base; 
@pricing-tb-content-padding:           @padding-lg 0;
@pricing-tb-header-padding-vertical:   @padding-base;
@pricing-tb-header-padding-horizontal: @padding-lg;

//** Border color for elements within accordions

@pricing-tb-text:                      @component-heading-color;
@pricing-tb-border:                    1px solid @base-border-color;
@pricing-tb-bg:                        @component-bg;

@pricing-tb-active-text:               @primary-heading-color;
@pricing-tb-active-border:             @brand-primary;
@pricing-tb-active-bg:                 @brand-primary;

    
@pricing-tb-border-outer:             6px solid @component-bg;
@pricing-tb-border-outer-featured:    4px solid @pricing-tb-active-bg;
@pricing-tb-border-inner:             1px solid @base-border-color;
@pricing-tb-border-inner-featured:    1px solid @pricing-tb-active-bg;

@pricing-tb-panel-bg:                 @body-bg;
@pricing-tb-panel-bg-accent:          @component-bg;
.row{
    &.pt_without_spacing .panel-wrapper-outer{
        padding:0;
        &:first-child > .panel-wrapper{
            border-left: none;
            border-right: @pricing-tb-border-outer;
            .panel-container .panel{
                .border-left-radius(0);
                .border-right-radius(@pricing-tb-border-radius);
            }
        }
        &:last-child > .panel-wrapper{
            border-right: none;
            border-left: @pricing-tb-border-outer;
            .panel-container .panel{
                .border-left-radius(@pricing-tb-border-radius);
                .border-right-radius(0);
                border-left: @pricing-tb-border-inner;
            }
        }
    }
     .panel-wrapper{
        .panel-container{
            .panel{
                border-right: @pricing-tb-border-inner;
                border-left: none;
                .panel-body{
                        .time{
                            margin-left: 0;
                            margin-right: -14px;
                        }
                    }
                }
        }
     }
}
}