/*
#less_info#(
"handle" => "image-content-box-skin1",
"deps" => array(),
"ver" => "1.0.0",
"media" => "all"
)#
*/
.module.module-image-content-box.image-content-box-skin1{
  @media (min-width: 768px) {
  .item {
      .inner {
          display: table;
          .clearfix();
          .content-box-item {
              width: 50%;
              max-width: 50%;
              display: table-cell;
              overflow: hidden;
              vertical-align: top;
          }
          &.item_arrow{
              .module-image::before {
                  border-bottom:  18px solid transparent;
                  border-top:     18px solid transparent;
                  border-right:   18px solid @body-bg;
                  border-left:    0px solid transparent;
                  top: 15%;
                  right: -4px;
                  left: auto !important;
                  bottom: auto !important;
              }
          }
          &.item_center_arrow{
              .module-image::before {
                  border-bottom:  18px solid transparent;
                  border-top:     18px solid transparent;
                  border-right:   18px solid @body-bg;
                  border-left:    0px solid transparent;
                  top: 50%;
                  right: -4px;
                  left: auto !important;
                  bottom: auto !important;
                  margin-top: -18px;
                  margin-left: 0;
              }
          }
          .img-item {
              float: left;
              text-align: left;
              .module-image{
                  width: 100%;
                  img {
                      width: 100%;
                  }
              }
          }
          .content {
              float: right;
              text-align:  left;
              padding: 0 0 0 25px;
          }
      }
  }
  }
}
.rtl-body .module.module-image-content-box.image-content-box-skin1{
  @media (min-width: 768px) {
  .item {
      .inner {
          &.item_arrow{
              .module-image::before {
                  right: -4px;
              }
          }
          .content {
              text-align:  right;
          }
      }
  }
  }
}