/*#less_info#(
"handle"    => "pagination-default",
"deps"      => array(),
"ver"       => "1.0.0",
"media"     => "all"
)#*/
.module-pagination.pagination-default {
    position: relative;
    margin-top: 40px;    
    ul {
          text-align: center;
          background: none repeat scroll 0 0 transparent;
          border: 2px solid @base-border-color-b;
          .border-radius(4px);
          display: inline-block;
          margin: 0;
          overflow: hidden;
          padding: 0;
          .clearfix();
        .previous,.next,.older,.newer{

            a{
                background: none repeat scroll 0 0 transparent;
                border: medium none;
                .border-radius(0);
                color: @base-border-color-b;
                font-size: @font-size-base + 1;
                .box-shadow(none);
                line-height: 2em;
                width: 1.8em;
                &:hover,&:focus{
                    border-color: @main-color;
                }
            }
        }
        .previous.icon,.older.icon{
            a{
                border-right: 2px solid @base-border-color-b;
                margin: 0 4px 0 0;
            }
        }
        .next.icon,.newer.icon{
            a{
                border-left: 2px solid @base-border-color-b;
                margin: 0 0 0 4px;
            }
        }
        .older,.newer{
            a{
                margin: 0 !important;
            }
        }

        li {
            //display: inline-block;
            //margin-right: -3px;
            //vertical-align: middle;
            display: block;
            float: left;
            &:last-child{
                margin-right:0;
            }
            &:first-child a {
                margin-left: 8px;
            }
            &.previous:first-child a {
                margin-left: 0px;
            }
            &:last-child a {
                margin-right: 8px;
            }
            &.next:last-child a {
                margin-right: 0px;
            }
            span,a{
                  background: none repeat scroll 0 0 transparent;
                  border: 3px solid transparent;
                  .box-shadow(0 0 0 2px @base-border-color-b inset);
                  .border-radius(50px);
                  color: transparent;
                  display: inline-block;
                  font-size: @font-size-small - 1;
                  height: 2em;
                  line-height: 1.6em;
                  margin: 4px 2px;
                  text-decoration: none;
                  width: 2em;
                .transition-multi(all .2s ease-out, border-color 0s ease-out, color .2s ease-out) ;

                &.current-page,&:hover,&:focus,&:active{
                    background-color: @main-color;
                    border-color: @main-color;
                    box-shadow: 0 0 0 3px @main-color inset;
                    .high-color(@main-color);
                    .transition-multi( all .2s ease-out, border-color .2s ease-out, color .2s ease-out);
                }

            }
        }
    }
}
.rtl-body .module.module-pagination.pagination-default {
    ul {
        .previous.icon,.older.icon{
            a{
                margin: 0 0 0 4px;
            }
        }
        .next.icon,.newer.icon{
            a{
                margin: 0 4px 0 0;
            }
        }
        li {
              float: right;
           // margin: 0 0 0 -3px;
            &:last-child{
           //     margin-left:0;
            }
            a.fa{
              .rotate(180deg);
            }

            &:first-child a {
                margin-right: 8px;
                margin-left: 2px;
            }
            &.previous:first-child a {
                margin-right: 0px;
                margin-left: 4px;
            }
            &:last-child a {
                margin-left: 8px;
                margin-right: 2px;
            }
            &.next:last-child a {
                margin-left: 0px;
                margin-right: 4px;
            }
        }
    }
}
