/*#less_info#(
"handle"  => "page-title-skin3",
"deps"    => array(),
"ver"     => "1.0.0",
"media"   => "all"
)#
*/
.module-page-title.page-title-skin3{
    background: none repeat scroll 0 0 lighten(@base-color-c, 10%);
    border-color: @base-border-color-dark;
    border-style: solid none;
    border-width: 1px medium;
    padding: @padding-xl 0;
    box-shadow: 0 -2px 0 -1px rgba(0, 0, 0, 0.08) inset;
    width: 100%;
    .page-title-inner {
        display: table;
        height: 100%;
        margin: 0 auto;
        overflow: hidden;
        //padding: 0 30px;
        position: relative;
        width: 100%;
        .page-title-continer {
            display: table-cell;
            vertical-align: middle;
            width: 45%;
            &.module-title > *{
                line-height: @line-height-small;
                margin: 0;
                .high-color(lighten(@base-color-c, 10%));
            }
        }
    }
    .module-breadcrumbs {
        display: table-cell;
        line-height: @line-height-small;
        margin: 0;
        padding: 0;
        vertical-align: middle;
        width: 35%;
    }
    .breadcrumbs-skin2,
    .breadcrumbs-skin3,
    .breadcrumbs-skin4{
        text-align: right;
    }
    .breadcrumbs-skin4 {
        ul{
            li{
                a{
                    .high-color(lighten(@base-color-c, 10%));
                    &:after {
                        .base-color(lighten(@base-color-c, 10%));
                        content: "\00bb";
                    }
                }
                &.current span {
                    .base-color(lighten(@base-color-c, 10%));
                }
            }
        }
    }
@media (max-width: @screen-sm-max) {
    padding: @padding-lg 0;
}
}
.rtl-body .module.module-page-title.page-title-skin3{
    .breadcrumbs-skin2,
    .breadcrumbs-skin3,
    .breadcrumbs-skin4{
        text-align: left;
    }
}
