/*#less_info#(
"handle"	=> "separator-skin9",
"deps"		=> array("separator-main-less"),
"ver"		=> "1.0.0",
"media"		=> "all"
)#
*/
.module-separator.separator-skin9{
    //display: inline-block;
    margin: 0;
    .separator-inner{
      display: table;
      overflow: hidden;
    }
    .spr-special{
        span{
            border: 2px solid @base-border-color-light;
            .border-radius(100%);
            display: block;
            padding: 3px;
        }
    }
    .special-spr-left{
        display: table-cell;
        line-height: normal;
        white-space: nowrap;
        margin: 0;
        padding: 0 5px 0 0;
    }

    .spr-container {
        display: table-cell;
        position: relative;
        vertical-align: middle;
        width: 100%;
        .separator {
            .box-sizing(content-box);
            border-color: @base-border-color-light;
            display: block;
            position: relative;
            width: 100%;
        }
    }
}
.rtl-body .module-separator.separator-skin9{
  .special-spr-left{
      padding: 0 0 0 5px;
  }
}

