@skin-bg:               @main-color-light;
@skin-thead-bg:         @main-color-darker;
@skin-tbody-bg:         @skin-bg;

@skin-border:           @main-color-darker;
@skin-thead-border:     @main-color-darker;
@skin-tbody-border:     @main-color-dark;

@table-bg-accent:       @main-color-lighter;
@table-bg-hover:        @main-color;