/*#less_info#(
"handle"  => "page-title-skin2",
"deps"    => array(),
"ver"     => "1.0.0",
"media"   => "all"
)#
*/
.module-page-title.page-title-skin2{          
    background-image: url("@{sed-modules-root}page-title/skins/skin2/images/1.jpg");
    padding: 2*@padding-xl 0;
    width: 100%;
    background-position: top left;
    .page-title-inner {
        display: table;
        height: 100%;
        margin: 0 auto;
        overflow: hidden;
        //padding: 0 30px;
        position: relative;
        width: 100%;
        .page-title-continer {
            display: table-cell;
            vertical-align: middle;
            width: 45%;
            &.module-title > *{
                line-height: @line-height-small;
                margin: 0;
                color:#fff;
            }
        }
    }
    .module-breadcrumbs {
        display: table-cell;
        line-height: @line-height-small;
        margin: 0;
        padding: 0;
        vertical-align: middle;
        width: 35%;
    }
    .breadcrumbs-skin2,
    .breadcrumbs-skin3,
    .breadcrumbs-skin4{
        text-align: right;
    }
    .breadcrumbs-skin4 {
        ul{
            li{
                a{
                    color:#fff;
                    &:after {
                        color:#d2d2d2;
                        content: "/";
                    }
                }
                &.current span {
                    color:#d2d2d2;
                }
            }
        }
    }
@media (max-width: @screen-sm-max) {
    padding: @padding-lg 0;
}
}
.rtl-body .module.module-page-title.page-title-skin2{
    .breadcrumbs-skin2,
    .breadcrumbs-skin3,
    .breadcrumbs-skin4{
        text-align: left;
    }
    .breadcrumbs-skin4 {
        ul{
            li{
                a{
                    &:after {
                        content: "\\";
                    }
                }
            }
        }
    }
}

/*
.module-page-title + .module-breadcrumbs {
    border-bottom: 1px solid #eee;
    padding: 0 30px 20px;
}
.module-page-title + .breadcrumbs-skin2 ul {

}
*/