/*#less_info#(
"handle" => "portfolio-details-default",
"deps" => array(),
"ver" => "1.0.0",
"media" => "all"
)#
*/
.module.module-portfolio-details.portfolio-details-default {

@portfolio-media-width:  768px;

.table.table-portfolio-details{
    margin-bottom: 20px;
    tr {
          vertical-align: middle;
      td,th {
          border-color: @base-border-color-light;
          vertical-align: middle;
      }
    }
    tbody:first-child tr:first-child{
      td,th {
         border-color: transparent;
      }
    }
    tbody th,
    thead th{
      .high-color(@body-bg);
    }

    th , td {
       // color: @main-color-darker;//#627f9a
        display: table-cell;
        padding: @padding-base - 3 @padding-base;
        text-align: left;
        .rtl-body &{
            text-align: right;
        }
    }
}

}