/*#less_info#(
"handle"    => "counter-box-skin6",
"deps"      => array(),
"ver"       => "1.0.0",
"media"     => "all"
)#
*/
.counter-box-skin6{
    border-radius: @border-radius-base;
    //margin: 10px;
    background: @main-color-dark;
    cursor: default;
    padding: 20px 15px;
    .counter-box-inner{
        display: table;
    }
    .box{
        .high-color(@main-color-dark);
        //float: right;
        //margin: 0;
        //padding-left: 5px;
        position: relative;
        text-align: center;
        overflow: hidden;
        .counter-box-pr{
            padding-top: 10px;
            //font-weight: bold;
            width: 100%;
            font-size: 32px;
            @media ( max-width: 480px) {
                font-size: 20px;
            }
        }
        .counter-box-title{
            .high-color(@main-color-dark);
            display: block;
            //font-size: 20px;
            text-align: center;
            width: 100%;
            margin: 10px 0 0;
            @media ( max-width: 480px) {
                //font-size: 13px;
            }
        }
    }
    .box,
    .image-icon{
        display: table-cell;
        vertical-align: middle;
        width: 50%;
        padding: 0 10px;
    }
    .image-icon{
        //float: left;
        //margin: 0;
        //padding-right: 5px;
        position: relative;
        text-align: center;
        img{
          width: 100%;
          //max-height: 80px;
          //max-width: 65px;
          overflow: hidden;
        }
    }
}