/*#less_info#(
"handle"  =>"button-skin3",
"deps"    => array("main-button"),
"ver"     => "1.0.0",
"media"   => "all",
)#*/

.module-button.button-skin3{

  .btn{
   padding: 0;
   border-width:0px ;
    border-radius:4px;

}
  span{
    display: table-cell;
    vertical-align: middle;
  }
  .module.module-icons.icon-button-df{
    background: contrast(@body-bg);
    display: table-cell;
    vertical-align: middle;
    border-radius: 4px 0 0 4px;
    position: relative;
    z-index: 1;
    &:after {
      background: contrast(@body-bg);
      height: 28%;
      left: 83%;
      top: 36%;
      transform: rotate(45deg);
      width: 28%;
      z-index: -26;
    }
    &:after {
    content: "";
    position: absolute;
    transition: all 0.3s ease 0s;
    z-index: 0;
    }
}

}

.rtl-body .module.module-button.button-skin3{
  .module.module-icons.icon-button-df{
    border-radius: 0 4px 4px 0;
    &:after {
      left: auto;
      right: 83%;
    }
  }
}
