/*
#less_info#(
"handle" => "icon-default-less",
"deps" => array('icon-main-less'),
"ver" => "1.0.0",
"media" => "all"
)#
*/

.module.module-single-icon.single-icon-default{
  display: inline-block;
  //margin-bottom: -4px;
  //.low-color(@body-bg);
  .hi-icon {
      height: 1.2em;
      line-height: 1.2em !important;
      width: 1.2em;

      &:after {
        width: 0 ;                      
        height: 0;
        content: none !important;
        position: relative;
      }

  }
}
